Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

chore: update pipeline setup
  codecov.yml
Due: none

chore: update pipeline setup
  .github/workflows/reusable-test.yaml
  codecov.yml
Due: none

chore: add zot dependency for config
  .golangci.yml
  server/go.mod
  server/go.sum
  server/sync/worker.go
  utils/zot/config.go
  utils/zot/zot.go
Due: server

chore(deps): remove replaces
  .golangci.yml
  server/go.mod
  server/go.sum
Due: server

feat: implement dynamic authentication for zot with generated credentials
  Taskfile.yml
Due: none

fix: update authentication configuration in Taskfile and environment variables
  Taskfile.yml
Due: none

feat: add zot authentication configuration with hardcoded credentials
  Taskfile.yml
Due: none

feat: update authentication handling in zot and cosign
  server/store/oci/referrers.go
  server/sync/monitor/monitor.go
  utils/cosign/sign.go
Due: server

feat: add sync user credentials
  Taskfile.yml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/controller/sync.go
  server/sync/config/config.go
Due: server

fix(sdk): solve cache clash
  .github/workflows/reusable-test.yaml
Due: none

ci(dir): update all action version to the latest
  .github/actions/trigger-integrations/action.yaml
  .github/workflows/buf-ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/demo-dir.yaml
  .github/workflows/post-release.yml
  .github/workflows/pr.yaml
  .github/workflows/project.yaml
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-sdk.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
  .github/workflows/reusable-test.yaml
  sdk/dir-js/package.json
Due: none

ci(sdk): revert back to old release action
  .github/workflows/reusable-release.yaml
Due: none

ci(sdk): use gha type caching in docker
  .github/workflows/reusable-build.yaml
Due: none

feat: add sync with credential management
  Taskfile.yml
  server/controller/sync.go
  server/sync/worker.go
  utils/zot/zot.go
Due: server

feat(dir/api): support storage of generic record referrers
  api/sign/v1/sign_service.pb.go
  api/sign/v1/sign_service_grpc.pb.go
  api/sign/v1/signature.pb.go
  api/store/v1/referrer.pb.go
  api/store/v1/store_service.pb.go
  proto/agntcy/dir/sign/v1/sign_service.proto
  proto/agntcy/dir/sign/v1/signature.proto
  proto/agntcy/dir/store/v1/referrer.proto
  proto/agntcy/dir/store/v1/store_service.proto
Due: none

feat(dir/api): support storage of generic record referrers
  proto/agntcy/dir/sign/v1/signature.proto
Due: none

feat(dir/api): support storage of generic record referrers
  api/sign/v1/signature.pb.go
  proto/agntcy/dir/sign/v1/signature.proto
Due: none

feat(dir/api): support storage of generic record referrers
  api/core/v1/record.pb.go
  api/store/v1/referrer.pb.go
  api/store/v1/store_service.pb.go
  proto/agntcy/dir/core/v1/record.proto
  proto/agntcy/dir/store/v1/referrer.proto
  proto/agntcy/dir/store/v1/store_service.proto
Due: none

feat: add validator
  Taskfile.yml
  api/core/v1/record.go
  e2e/client/01_client_test.go
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  e2e/local/03_routing_test.go
  e2e/shared/testdata/record_v031.json
  e2e/shared/testdata/record_v070.json
  server/controller/store.go
  server/sync/monitor/monitor.go
Due: api, server

refactor: move zot configuration management to utils
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  server/sync/worker.go
  utils/go.mod
  utils/go.sum
  utils/zot/config.go
  utils/zot/credentials.go
  utils/zot/zot.go
Due: client, server, cli

test: add tests for zot configuration and credentials management
  e2e/network/02_sync_test.go
  server/sync/worker.go
  utils/zot/config.go
  utils/zot/config_test.go
  utils/zot/credentials.go
  utils/zot/credentials_test.go
  utils/zot/zot_test.go
Due: server

feat: add validator
  e2e/local/02_search_test.go
  e2e/network/01_deploy_test.go
  e2e/network/02_sync_test.go
  e2e/network/03_search_test.go
  e2e/shared/testdata/record_v070_sync_v4.json
  e2e/shared/testdata/record_v070_sync_v5.json
Due: none

feat: add validator
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

feat: add validator
  sdk/dir-js/test/client.test.ts
Due: none

docs(dir): remove broken links from readme
  README.md
Due: none

feat(dir/api): support storage of generic record referrers
  proto/agntcy/dir/core/v1/record.proto
  proto/agntcy/dir/store/v1/store_service.proto
Due: none

feat(dir/api): support storage of generic record referrers
  api/core/v1/record.pb.go
  api/store/v1/store_service.pb.go
Due: none

fix: update bug report template to allow version input
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

refactor: code review
  install/docker/apiserver.env
Due: none

refactor: unify extensions to modules
  api/routing/v1/record_query.pb.go
  api/routing/v1/routing_service.pb.go
  api/search/v1/record_query.go
  api/search/v1/record_query.pb.go
  cli/cmd/routing/list.go
  cli/cmd/routing/search.go
  cli/cmd/search/search.go
  e2e/README.md
  e2e/client/01_client_test.go
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  e2e/network/03_search_test.go
  e2e/shared/utils/cli.go
  e2e/shared/utils/common.go
  proto/agntcy/dir/routing/v1/record_query.proto
  proto/agntcy/dir/routing/v1/routing_service.proto
  proto/agntcy/dir/search/v1/record_query.proto
  server/database/sqlite/extension.go
  server/database/sqlite/module.go
  server/database/sqlite/record.go
  server/database/sqlite/record_test.go
  server/database/sqlite/sqlite.go
  server/database/utils/utils.go
  server/routing/ROUTING.md
  server/routing/cleanup_core_test.go
  server/routing/label_utils_test.go
  server/routing/query_matching.go
  server/routing/routing_remote.go
  server/routing/validators/validators.go
  server/routing/validators/validators_test.go
  server/store/oci/annotations.go
  server/store/oci/annotations_test.go
  server/store/oci/constants.go
  server/store/oci/integration_test.go
  server/types/README.md
  server/types/adapters/oasf_v1alpha0.go
  server/types/adapters/oasf_v1alpha1.go
  server/types/labels/types.go
  server/types/record.go
  server/types/search.go
Due: api, server, cli

move fallback version to constants
  server/store/oci/annotations.go
  server/store/oci/annotations_test.go
  server/store/oci/constants.go
Due: server

fix: fail if signature empty
  client/verify.go
Due: client

feat: attach cosign signatures using OCI 1.1+ spec
  server/store/oci/referrers.go
  utils/cosign/sign.go
Due: server

test: record verification after full sync and sync by cid
  e2e/network/02_sync_test.go
Due: none

update e2e data and comments
  e2e/client/01_client_test.go
Due: none

fix v0.3.1 expected label
  e2e/client/01_client_test.go
Due: none

refactor: code review
  server/store/oci/referrers.go
Due: server

fix: locator based remote record search
  server/routing/ROUTING.md
  server/routing/cleanup_core_test.go
  server/routing/query_matching_test.go
  server/routing/routing_local.go
  server/routing/routing_remote.go
  server/routing/search_simple_test.go
Due: server

fix: misleading log when record is published
  cli/cmd/routing/publish.go
  e2e/local/03_routing_test.go
Due: cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
