Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

test(e2e): use AI Catalog SDK media type constants
  tests/e2e/local/18_ai_catalog_sdk_test.go
  tests/go.mod
  tests/go.sum
Due: none

feat(cli): add semver comparison and the install manifest
  api/exportfmt/exportfmt_test.go
  api/exportfmt/skill_bundle_extract.go
  cli/cmd/install/batch.go
  cli/cmd/install/batch_test.go
  cli/cmd/install/flags.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/manifest.go
  cli/cmd/install/manifest_test.go
  cli/cmd/install/options.go
  cli/cmd/install/run.go
  cli/cmd/install/uninstall.go
  cli/internal/agentcfg/mcp_engine.go
  cli/internal/agentcfg/result.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/agentinstall/apply.go
  cli/internal/agentinstall/derive.go
  cli/internal/agentinstall/entry.go
  cli/internal/agentinstall/entry_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  cli/util/pkgver/pkgver.go
  cli/util/pkgver/pkgver_test.go
  docs/content/dir/dir-cli-reference.md
Due: api, cli

fix(cli/dir): record shared skills per agent and route ordering through pkgver
  api/exportfmt/skill_bundle_extract.go
  cli/internal/agentinstall/apply.go
  cli/internal/agentinstall/apply_test.go
  cli/internal/agentinstall/derive.go
  cli/internal/agentinstall/entry.go
  cli/internal/agentinstall/entry_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/util/records/records.go
  cli/util/records/records_test.go
  docs/content/dir/dir-cli-reference.md
Due: api, cli

fix(cli/dir): keep manifest rows honest on partial installs and skips
  cli/cmd/install/manifest.go
  cli/cmd/install/manifest_test.go
  cli/internal/agentinstall/entry.go
  cli/internal/agentinstall/entry_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

feat(cli/dir): add semver comparison and the install manifest (#2123)
  api/exportfmt/exportfmt_test.go
  api/exportfmt/skill_bundle_extract.go
  cli/cmd/install/batch.go
  cli/cmd/install/batch_test.go
  cli/cmd/install/flags.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/manifest.go
  cli/cmd/install/manifest_test.go
  cli/cmd/install/options.go
  cli/cmd/install/run.go
  cli/cmd/install/uninstall.go
  cli/internal/agentcfg/mcp_engine.go
  cli/internal/agentcfg/result.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/agentinstall/apply.go
  cli/internal/agentinstall/apply_test.go
  cli/internal/agentinstall/derive.go
  cli/internal/agentinstall/entry.go
  cli/internal/agentinstall/entry_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  cli/util/pkgver/pkgver.go
  cli/util/pkgver/pkgver_test.go
  cli/util/records/records.go
  cli/util/records/records_test.go
  docs/content/dir/dir-cli-reference.md
Due: api, cli

chore(deps): update dir-importer and oasf-sdk/pkg
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

chore(deps): update dir-importer and oasf-sdk/pkg (#2131)
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

refactor(cli/dir): install by pipe, uninstall from the manifest
  .skill/SKILL.md
  .skill/references/install.md
  CHANGELOG.md
  cli/cmd/install/flags.go
  cli/cmd/install/helpers_test.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/manifest.go
  cli/cmd/install/manifest_test.go
  cli/cmd/install/multi.go
  cli/cmd/install/multi_test.go
  cli/cmd/install/options.go
  cli/cmd/install/output.go
  cli/cmd/install/piped.go
  cli/cmd/install/piped_test.go
  cli/cmd/install/prune.go
  cli/cmd/install/prune_test.go
  cli/cmd/install/scope.go
  cli/cmd/install/uninstall.go
  cli/cmd/install/uninstall_recorded.go
  cli/cmd/install/uninstall_recorded_test.go
  cli/cmd/root.go
  cli/internal/agentcfg/plan.go
  cli/internal/agentcfg/plan_test.go
  cli/internal/agentcfg/result.go
  cli/internal/agentcfg/selection.go
  cli/internal/agentcfg/summary.go
  cli/internal/agentcfg/summary_test.go
  cli/internal/agentinstall/installed.go
  cli/internal/agentinstall/installed_test.go
  cli/internal/agentinstall/remove.go
  cli/internal/agentinstall/remove_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  cli/presenter/output.go
  cli/presenter/output_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

fix: local e2e tests bootstrap node config
  tests/e2e/client/testenv/kind/dir-chart-values.yaml
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
  tests/e2e/network/testenv/kind/dir-chart-values-bootstrap.yaml
Due: none

fix(cli/dir): drop --all-versions, which could not do what it said
  .skill/references/install.md
  CHANGELOG.md
  cli/cmd/install/flags.go
  cli/cmd/install/install.go
  cli/cmd/install/multi.go
  cli/cmd/install/multi_test.go
  cli/cmd/install/options.go
  docs/content/dir/dir-cli-reference.md
Due: cli

fix(cli/dir): act on confirmed absence, not on doubt
  .skill/references/install.md
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/prune.go
  cli/cmd/install/prune_test.go
  cli/cmd/install/uninstall.go
  cli/cmd/install/uninstall_recorded.go
  cli/cmd/install/uninstall_recorded_test.go
  cli/internal/agentcfg/mcp_engine.go
  cli/internal/agentinstall/installed.go
  cli/internal/agentinstall/installed_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

feat(cli/dir): add install list, agents, outdated, and pin/unpin
  .skill/SKILL.md
  .skill/references/install.md
  CHANGELOG.md
  cli/cmd/install/agents.go
  cli/cmd/install/context.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/list.go
  cli/cmd/install/list_test.go
  cli/cmd/install/manifest.go
  cli/cmd/install/outdated.go
  cli/cmd/install/outdated_test.go
  cli/cmd/install/output.go
  cli/cmd/install/pin.go
  cli/cmd/install/pin_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  cli/internal/pkgupdate/pkgupdate.go
  cli/internal/pkgupdate/pkgupdate_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-features-scenarios.md
Due: cli

fix(ui): remove verified catalog filter
  server/gateway/static/_app/immutable/chunks/Bn-971iz.js
  server/gateway/static/_app/immutable/chunks/DPGp9GGy.js
  server/gateway/static/_app/immutable/entry/app.BhLOuJw7.js
  server/gateway/static/_app/immutable/entry/app.CfO-sDfw.js
  server/gateway/static/_app/immutable/nodes/2.BhdK8VO4.js
  server/gateway/static/_app/immutable/nodes/2.BhzUFajO.js
  server/gateway/static/_app/immutable/nodes/3.CmeNs_Hj.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.test.ts
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/routes/about/+page.svelte
Due: server

test(e2e): isolate batch record queries
  tests/e2e/local/10_export_test.go
  tests/e2e/local/11_pull_test.go
Due: none

fix(ui): remove the Verified catalog filter (#2117)
  server/gateway/static/_app/immutable/chunks/Bn-971iz.js
  server/gateway/static/_app/immutable/chunks/DPGp9GGy.js
  server/gateway/static/_app/immutable/entry/app.BhLOuJw7.js
  server/gateway/static/_app/immutable/entry/app.CfO-sDfw.js
  server/gateway/static/_app/immutable/nodes/2.BhdK8VO4.js
  server/gateway/static/_app/immutable/nodes/2.BhzUFajO.js
  server/gateway/static/_app/immutable/nodes/3.CmeNs_Hj.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.test.ts
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/routes/about/+page.svelte
  tests/e2e/local/10_export_test.go
  tests/e2e/local/11_pull_test.go
Due: server

docs(proposal): treat derived facts as three-valued in the quality gate
  proposals/quality-gate/README.md
  proposals/quality-gate/open-questions.md
  proposals/quality-gate/policy-model.md
  proposals/quality-gate/tombstones.md
Due: none

feat(dir): adds policies directory config & Helm configmap for policy files
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/policies-configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/policy/config/config.go
  server/policy/config/config_test.go
Due: server, cli

feat(api): ans identity scheme, certificate-carrying claim signer, x5c helpers
  api/core/v1/record.go
  api/core/v1/record_identity_test.go
  api/identity/v1/ans_signer_test.go
  api/identity/v1/claim.go
  api/identity/v1/jws.go
  api/identity/v1/sign.go
  api/identity/v1/sign_verify_test.go
  api/identity/v1/verify.go
Due: api

feat(server): configuration of the ans identity scheme
  server/identity/ans/config/config.go
  server/identity/ans/config/config_test.go
Due: server

feat(config): ans block in both identity configurations, bound from the environment
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon_test.go
  cli/cmd/daemon/start.go
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/tasks/identity/config.go
  server/config/config.go
  server/config/config_test.go
  server/identity/config/config.go
Due: server, cli

fix(cli): identity claim accepts --key alone and picks the signer from the certificate
  cli/cmd/identity/identity.go
  cli/cmd/identity/identity_test.go
Due: cli

feat(install): reconciler volume hooks and identity.ans configuration samples
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/apiserver.env
  install/docker/reconciler.env
Due: cli

docs(dir): describe ans:// identity claims
  .skill/references/verification.md
  docs/codespellrc
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-deployment-kubernetes.md
Due: none

refactor(server,reconciler): extract the identity wiring of both composition roots
  reconciler/service/service.go
  server/server.go
Due: server

test(reconciler): cover the identity task constructor; name the ans scheme in the registry docs
  reconciler/service/service_test.go
  server/identity/registry.go
Due: server

feat(identity): build both claim registries through one constructor
  reconciler/service/service.go
  reconciler/service/service_test.go
  server/identity/registry.go
  server/identity/registry_test.go
  server/server.go
Due: server

feat(server): leaf helpers of the ans identity resolver
  cli/go.mod
  cli/go.sum
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  server/identity/ans/badge.go
  server/identity/ans/badge_test.go
  server/identity/ans/breaker.go
  server/identity/ans/breaker_test.go
  server/identity/ans/certificate.go
  server/identity/ans/certificate_test.go
  server/identity/ans/classify.go
  server/identity/ans/classify_test.go
  server/identity/ans/client.go
  server/identity/ans/client_test.go
  server/identity/ans/doc.go
  server/identity/ans/event.go
  server/identity/ans/event_test.go
  server/identity/ans/logging_test.go
  server/identity/ans/mint_test.go
  server/identity/ans/name.go
  server/identity/ans/name_test.go
  tests/go.mod
  tests/go.sum
Due: server, cli

feat(server): ans identity resolver
  server/identity/ans/badge.go
  server/identity/ans/badge_test.go
  server/identity/ans/doc.go
  server/identity/ans/golden_test.go
  server/identity/ans/name.go
  server/identity/ans/name_test.go
  server/identity/ans/resolver.go
  server/identity/ans/resolver_test.go
  server/identity/ans/testdata/fixture.json
  server/identity/ans/testdata/identity-cert.pem
  server/identity/ans/testdata/receipt.cbor
  server/identity/ans/testdata/root-keys.txt
  server/identity/ans/testdata/status-token.cbor
  server/identity/ans/transport.go
Due: server

fix(identity): count ans log strikes across verifications
  server/identity/ans/breaker.go
  server/identity/ans/breaker_test.go
  server/identity/ans/client.go
  server/identity/ans/client_test.go
  server/identity/ans/resolver.go
  server/identity/ans/resolver_test.go
Due: server

add patched proposal
  plan/00-overview.md
  plan/01-architecture.md
  plan/02-cli-and-sdk-usage.md
  plan/03-adoption-plan.md
  plan/04-concept.md
  plan/05-rfc.md
  plan/06-highlights.md
  plan/README.md
Due: none

add patched proposal
  plan/00-overview.md
  plan/01-architecture.md
  plan/02-cli-and-sdk-usage.md
  plan/03-adoption-plan.md
Due: none

refactor(cli/dir): install by pipe, uninstall from the manifest, and project-scope tracking (#2134)
  .skill/SKILL.md
  .skill/references/install.md
  CHANGELOG.md
  cli/cmd/install/flags.go
  cli/cmd/install/helpers_test.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/manifest.go
  cli/cmd/install/manifest_test.go
  cli/cmd/install/multi.go
  cli/cmd/install/multi_test.go
  cli/cmd/install/options.go
  cli/cmd/install/output.go
  cli/cmd/install/piped.go
  cli/cmd/install/piped_test.go
  cli/cmd/install/prune.go
  cli/cmd/install/prune_test.go
  cli/cmd/install/scope.go
  cli/cmd/install/uninstall.go
  cli/cmd/install/uninstall_recorded.go
  cli/cmd/install/uninstall_recorded_test.go
  cli/cmd/root.go
  cli/internal/agentcfg/mcp_engine.go
  cli/internal/agentcfg/plan.go
  cli/internal/agentcfg/plan_test.go
  cli/internal/agentcfg/result.go
  cli/internal/agentcfg/selection.go
  cli/internal/agentcfg/summary.go
  cli/internal/agentcfg/summary_test.go
  cli/internal/agentinstall/installed.go
  cli/internal/agentinstall/installed_test.go
  cli/internal/agentinstall/remove.go
  cli/internal/agentinstall/remove_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  cli/presenter/output.go
  cli/presenter/output_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

fix(cli/dir): reconcile the manifest on a no-op, and record the Directory
  .skill/references/install.md
  CHANGELOG.md
  cli/cmd/install/context.go
  cli/cmd/install/install.go
  cli/cmd/install/manifest.go
  cli/cmd/install/manifest_test.go
  cli/cmd/install/multi.go
  cli/cmd/install/outdated.go
  cli/cmd/install/outdated_test.go
  cli/cmd/install/uninstall_recorded.go
  cli/cmd/install/uninstall_recorded_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  cli/internal/pkgupdate/pkgupdate.go
  cli/internal/pkgupdate/pkgupdate_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

feat(cli/dir): dirctl install list, agents, outdated, and pin/unpin (#2132)
  .skill/SKILL.md
  .skill/references/install.md
  CHANGELOG.md
  cli/cmd/install/agents.go
  cli/cmd/install/context.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/list.go
  cli/cmd/install/list_test.go
  cli/cmd/install/manifest.go
  cli/cmd/install/manifest_test.go
  cli/cmd/install/multi.go
  cli/cmd/install/outdated.go
  cli/cmd/install/outdated_test.go
  cli/cmd/install/output.go
  cli/cmd/install/pin.go
  cli/cmd/install/pin_test.go
  cli/cmd/install/uninstall_recorded.go
  cli/cmd/install/uninstall_recorded_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  cli/internal/pkgupdate/pkgupdate.go
  cli/internal/pkgupdate/pkgupdate_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-features-scenarios.md
Due: cli

feat(dir): adds policies directory config & Helm configmap for policy files (#2151)
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/policies-configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/policy/config/config.go
  server/policy/config/config_test.go
Due: server, cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
