Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

fix(gui): restrict mcp write access to agent directory
  gui/lib/mcp/client.dart
Due: none

docs: update runtime docs
  runtime/README.md
Due: none

docs: update runtime docs
  README.md
Due: none

feat(mcp): add signature verification tool
  mcp/server/server.go
  mcp/tools/verify_record.go
  mcp/tools/verify_record_test.go
Due: none

feat(mcp): add signature verification tool (#906)
  mcp/server/server.go
  mcp/tools/verify_record.go
  mcp/tools/verify_record_test.go
Due: none

docs(runtime): extend docs around discovery and runtime (#903)
  README.md
  runtime/README.md
Due: none

fix(gui): restrict mcp write access to agent directory (#902)
  gui/lib/mcp/client.dart
Due: none

feat(gui): add record signature verification support
  gui/.metadata
  gui/lib/env/env.dart
  gui/lib/services/analytics_service.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/widgets/search_results_widget.dart
Due: none

fix(runtime): enable oasf resolvers with annotations
  runtime/discovery/resolver/oasf/resolver.go
Due: none

fix(runtime): enable oasf resolvers with annotations (#910)
  runtime/discovery/resolver/oasf/resolver.go
Due: none

fix(runtime): enable oasf resolvers with annotations
  runtime/discovery/resolver/oasf/resolver_test.go
Due: none

feat(gui): add record signature verification support (#909)
  gui/.metadata
  gui/lib/env/env.dart
  gui/lib/services/analytics_service.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/widgets/search_results_widget.dart
Due: none

fix(runtime): enable oasf resolvers with annotations (#911)
  runtime/discovery/resolver/oasf/resolver_test.go
Due: none

chore(ci): add security scanning for runtime images
  .github/workflows/container-security-scan.yml
Due: none

chore(ci): add security scanning for runtime images (#912)
  .github/workflows/container-security-scan.yml
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

docs: update CHANGELOG (#913)
  CHANGELOG.md
Due: none

chore: update brew formula version (#914)
  HomebrewFormula/dirctl.rb
Due: none

feat(sign): propagate signer metadata in verification response
  api/sign/v1/sign_service.pb.go
  cli/cmd/verify/verify.go
  mcp/tools/verify_record.go
  proto/agntcy/dir/sign/v1/sign_service.proto
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.js
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.py
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.pyi
  server/controller/sign.go
  server/signing/eventswrap/eventswrap.go
  server/signing/verify.go
  server/types/signing.go
  utils/cosign/verify.go
Due: server, cli

fix(server): resolve wsl linting errors in verify.go
  server/signing/verify.go
Due: server

fix(cli): resolve wsl linting errors in verify.go
  cli/cmd/verify/verify.go
Due: cli

release(dir): prepare release v1.0.0-rc.3
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

Prepare directory for version v1.0.0-rc.3
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  server/go.mod
Due: client, server, cli

release(dir): prepare release v1.0.0-rc.3 (#919)
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

feat(sign): propagate signer metadata in verification response (#917)
  api/sign/v1/sign_service.pb.go
  cli/cmd/verify/verify.go
  mcp/tools/verify_record.go
  proto/agntcy/dir/sign/v1/sign_service.proto
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.js
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.py
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.pyi
  server/controller/sign.go
  server/signing/eventswrap/eventswrap.go
  server/signing/verify.go
  server/types/signing.go
  utils/cosign/verify.go
Due: server, cli

chore(release): update version to v1.0.0-rc.3
  CHANGELOG.md
Due: none

chore(release): update version to v1.0.0-rc.3 (#920)
  CHANGELOG.md
Due: none

refactor(dir): remove unused OCI annotations
  server/store/oci/annotations.go
  server/store/oci/annotations_test.go
  server/store/oci/constants.go
Due: server

refactor: remove description, authors and authors-count annotations
  server/store/oci/annotations.go
  server/store/oci/annotations_test.go
  server/store/oci/constants.go
Due: server

refactor(dir): remove unused OCI annotations (#923)
  server/store/oci/annotations.go
  server/store/oci/annotations_test.go
  server/store/oci/constants.go
Due: server

Revert "chore: switch to client-side verification"
  e2e/sdk/Dockerfile
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

chore: switch to client-side verification
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

chore: switch to client-side verification
  cli/cmd/verify/verify.go
  cli/presenter/output.go
Due: cli

chore: switch to client-side verification
  cli/cmd/verify/options.go
  cli/cmd/verify/verify.go
  cli/presenter/output.go
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: cli

chore: switch to client-side verification
  docker-bake.hcl
  e2e/sdk/Dockerfile
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

fix(server): use explicit verification service
  Taskfile.yml
  api/sign/v1/sign_service.pb.go
  api/sign/v1/signature.go
  cli/cmd/verify/verify.go
  client/sign.go
  proto/agntcy/dir/sign/v1/sign_service.proto
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.js
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.py
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.pyi
  server/controller/sign.go
  server/database/gorm/gorm.go
  server/database/gorm/signature_verification.go
  server/server.go
  server/signing/eventswrap/eventswrap.go
  server/signing/signing.go
  server/signing/verify.go
  server/store/oci/referrers.go
  server/types/database.go
  server/types/signature_verification.go
  server/types/signing.go
  utils/cosign/bundle.go
  utils/cosign/sign.go
  utils/cosign/trustroot.go
  utils/cosign/verify_oidc.go
Due: api, client, server, cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
