Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

refactor(dir): replace port-forward to kind extraPortMapping
  Taskfile.vars.yml
  install/charts/dir/apiserver/templates/service.yaml
  install/charts/dir/apiserver/values.yaml
  tests/Taskfile.test-env.yml
  tests/Taskfile.yml
  tests/kind-config.yaml
Due: none

fix(tests): update database configuration in tests to include SQLite support
  server/config/config_test.go
Due: server

fix(e2e): use new ports for local e2e testing
  tests/e2e/client/01_client_test.go
  tests/e2e/client/02_events_test.go
  tests/e2e/client/03_ratelimit_test.go
  tests/e2e/local/01_storage_test.go
  tests/e2e/local/02_search_test.go
  tests/e2e/local/03_routing_test.go
  tests/e2e/local/04_signature_test.go
  tests/e2e/local/05_network_cmd_test.go
  tests/e2e/local/06_events_test.go
  tests/e2e/local/06_import_test.go
  tests/e2e/local/07_metrics_test.go
  tests/e2e/local/08_resolve_test.go
  tests/e2e/local/09_naming_test.go
  tests/e2e/local/10_referrers_test.go
  tests/e2e/shared/utils/cli.go
Due: none

feat(database/config): database path
  server/database/config/config.go
  server/database/database.go
Due: server

feat(database): add in-memory SQLite connection string support
  server/database/database.go
Due: server

feat(server/database): add SQLite support and configuration (#1195)
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/go.sum
  server/config/config.go
  server/config/config_test.go
  server/database/config/config.go
  server/database/database.go
  server/database/database_test.go
  server/go.mod
  server/go.sum
Due: server

fix(ci): switch to native kind networking for e2e tests
  tests/Taskfile.test-env.yml
  tests/Taskfile.yml
  tests/e2e.kind-config.yaml
Due: none

fix(ci): switch to native kind networking for e2e tests
  tests/Taskfile.test-env.yml
Due: none

fix(ci): switch to native kind networking for e2e tests
  tests/Taskfile.yml
Due: none

fix(ci): switch to native kind networking for e2e tests
  importer/go.sum
  install/charts/dir/apiserver/templates/service.yaml
  install/charts/dir/apiserver/values.yaml
  sdk/Taskfile.yml
  tests/README.md
  tests/Taskfile.test-env.yml
  tests/Taskfile.yml
  tests/e2e.kind-config.yaml
  tests/e2e/README.md
  tests/e2e/local/07_metrics_test.go
  tests/e2e/network/02_sync_test.go
  tests/e2e/network/05_name_resolution_test.go
  tests/e2e/shared/utils/constants.go
Due: none

fix(ci): switch to native kind networking for e2e tests
  tests/Taskfile.test-env.yml
  tests/e2e/network/02_sync_test.go
  tests/e2e/network/05_name_resolution_test.go
Due: none

fix(ci): switch to native kind networking for e2e tests
  tests/e2e/client/client_suite_test.go
  tests/e2e/local/local_suite_test.go
  tests/e2e/mcp/mcp_suite_test.go
  tests/e2e/network/network_suite_test.go
  tests/e2e/shared/utils/common.go
Due: none

fix(ci): switch to native kind networking for e2e tests
  tests/e2e/shared/utils/common.go
Due: none

fix(ci): switch to native kind networking for e2e tests (#1199)
  importer/go.sum
  install/charts/dir/apiserver/templates/service.yaml
  install/charts/dir/apiserver/values.yaml
  sdk/Taskfile.yml
  tests/README.md
  tests/Taskfile.test-env.yml
  tests/Taskfile.yml
  tests/e2e/README.md
  tests/e2e/client/client_suite_test.go
  tests/e2e/local/07_metrics_test.go
  tests/e2e/local/local_suite_test.go
  tests/e2e/mcp/mcp_suite_test.go
  tests/e2e/network/02_sync_test.go
  tests/e2e/network/network_suite_test.go
  tests/e2e/shared/utils/common.go
  tests/e2e/shared/utils/constants.go
Due: none

ci(dir): bump codecov reusable action
  .github/workflows/ci.yaml
  .github/workflows/gui-ci.yaml
Due: none

chore(workflows): update demo-dir workflow to use dirctl v1.1.0 and revert back to GitHub token handling
  .github/workflows/demo-dir.yaml
Due: none

chore(workflows): enhance import-records workflow with image version input and update authentication method
  .github/workflows/import-records.yaml
Due: none

refactor(workflow): pin demo and import workflows to dirctl version (#1207)
  .github/workflows/demo-dir.yaml
  .github/workflows/import-records.yaml
Due: none

ci(dir): bump codecov reusable action (#1206)
  .github/workflows/ci.yaml
  .github/workflows/gui-ci.yaml
Due: none

chore: add example interactive oidc login flow
  cli/cmd/auth/login_test.go
  cli/go.mod
Due: cli

feat(dir): add pre-commit hooks
  .pre-commit-config.yaml
  Taskfile.deps.yml
  Taskfile.vars.yml
  Taskfile.yml
Due: none

chore: fix naming and parallel linting in taskfile
  Taskfile.deps.yml
  Taskfile.vars.yml
  Taskfile.yml
Due: none

feat(dir): add pre-commit hooks (#1209)
  .pre-commit-config.yaml
  Taskfile.deps.yml
  Taskfile.vars.yml
  Taskfile.yml
Due: none

feat(daemon): implement start, stop, and status commands for local directory daemon
  cli/cmd/daemon/start.go
  cli/cmd/daemon/status.go
  cli/cmd/daemon/stop.go
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

fix(reconciler): use registry.TagLister interface for indexer to fix local store
  cli/cmd/daemon/start.go
  reconciler/service/service.go
  reconciler/tasks/indexer/task.go
Due: cli

refactor(reconciler): consolidate task registration into a new setup package
  reconciler/main.go
  reconciler/service/service.go
  reconciler/service/service_test.go
  server/server.go
Due: server

feat(daemon): add daemon command for local directory server management
  cli/cmd/daemon/daemon.go
  cli/cmd/root.go
Due: cli

feat(tests): add end-to-end tests for daemon
  .github/workflows/reusable-test-e2e.yaml
  cli/cmd/daemon/daemon.go
  server/store/oci/referrers.go
  tests/Taskfile.yml
  tests/e2e/README.md
  tests/e2e/daemon/01_daemon_test.go
  tests/e2e/daemon/daemon_suite_test.go
Due: server, cli

feat(store): add support fallback to predecessors API in WalkReferrers
  server/store/oci/referrers.go
Due: server

refactor: code review
  .github/workflows/reusable-test-e2e.yaml
  cli/cmd/daemon/daemon.go
  cli/cmd/daemon/start.go
  cli/cmd/daemon/status.go
  cli/cmd/daemon/stop.go
  tests/Taskfile.yml
  tests/e2e/daemon/daemon_suite_test.go
Due: cli

refactor: code review
  tests/e2e/daemon/daemon_suite_test.go
  tests/e2e/mcp/mcp_suite_test.go
Due: none

chore(renovate): update schedule for dependency updates and vulnerability alerts
  .github/workflows/dependencies.yaml
  renovate.json
Due: none

chore(renovate): add minimum release age for dependency updates and vulnerability alerts
  renovate.json
Due: none

feat(cli): add daemon command (#1200)
  .github/workflows/reusable-test-e2e.yaml
  cli/cmd/daemon/daemon.go
  cli/cmd/daemon/start.go
  cli/cmd/daemon/status.go
  cli/cmd/daemon/stop.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  reconciler/main.go
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/indexer/task.go
  server/server.go
  server/store/oci/referrers.go
  tests/Taskfile.yml
  tests/e2e/README.md
  tests/e2e/daemon/01_daemon_test.go
  tests/e2e/daemon/daemon_suite_test.go
  tests/go.mod
  tests/go.sum
Due: server, cli

fix(dir): test file instead of directory
  Taskfile.deps.yml
Due: none

fix(dir): test file instead of directory (#1214)
  Taskfile.deps.yml
Due: none

chore: enable lockfile maintanance
  renovate.json
Due: none

fix(dir): skip installing pre-commit if hooksPath is set
  Taskfile.deps.yml
Due: none

fix(dir): skip installing pre-commit if hooksPath is set (#1215)
  Taskfile.deps.yml
Due: none

feat(dir): add integration tests for server
  .github/workflows/reusable-test-integration.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.deps.yml
  Taskfile.vars.yml
  cli/cmd/daemon/start.go
  server/database/database.go
  server/server.go
  tests/Taskfile.yml
  tests/go.mod
  tests/go.sum
  tests/integration-server/README.md
  tests/integration-server/docker-compose.yml
  tests/integration-server/integration_server_suite_test.go
  tests/integration-server/push_test.go
  tests/integration-server/server.env
  tests/integration-server/setup.go
  tests/test_utils/gofakeit.go
  tests/test_utils/oasf_100.go
Due: server, cli
