Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat(server/database): add signature verification schema and related methods
  server/database/gorm/gorm.go
  server/database/gorm/record.go
  server/database/gorm/signature.go
  server/types/database.go
  server/types/signature.go
Due: server

refactor(client,server): streamline signature verification process and update server handling
  client/verify.go
  e2e/local/04_signature_test.go
  reconciler/tasks/signature/task.go
  server/controller/sign.go
  server/database/gorm/signature.go
  server/server.go
  server/types/signature.go
Due: client, server

feat(reconciler): implement signature verification task
  Taskfile.yml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.env
  reconciler/README.md
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/main.go
  reconciler/tasks/signature/config.go
  reconciler/tasks/signature/config_test.go
  reconciler/tasks/signature/task.go
  reconciler/tasks/signature/task_test.go
  server/database/gorm/signature.go
  server/types/database.go
Due: server

feat(reconciler): add unit tests for config and task functionalities
  reconciler/config/config_test.go
  reconciler/service/service_test.go
  reconciler/tasks/indexer/config_test.go
  reconciler/tasks/indexer/task_test.go
  reconciler/tasks/name/config_test.go
  reconciler/tasks/name/task_test.go
  reconciler/tasks/regsync/config_test.go
  reconciler/tasks/regsync/task_test.go
  reconciler/tasks/task_test.go
Due: none

fix(reconciler): remove old reverification config and update name task config
  Taskfile.yml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  install/docker/reconciler.env
Due: none

feat(reconciler): add signed info in indexing process
  Taskfile.yml
  e2e/network/02_sync_test.go
  reconciler/tasks/indexer/task.go
Due: none

feat(search): add support for trusted records filtering
  api/search/v1/record_query.go
  api/search/v1/record_query.pb.go
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  proto/agntcy/dir/search/v1/record_query.proto
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.js
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.py
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.pyi
  server/database/gorm/record.go
  server/database/utils/utils.go
  server/types/search.go
Due: api, server, cli

refactor(sdk): update signature verification
  Taskfile.yml
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  sdk/examples/example-py/uv.lock
Due: none

refactor(tests): remove redundant TestStart_StopCancelsTaskLoop test case
  reconciler/service/service_test.go
Due: none

feat(verification): add provider verification support on client-side
  client/utils/cosign/verify.go
  client/verify.go
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: client

test(importer): extend unit tests
  importer/config/config_test.go
  importer/enricher/enricher_test.go
  importer/mcp/importer_test.go
  importer/pipeline/dedup_test.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
  importer/pipeline/pusher_test.go
  importer/types/importer_test.go
Due: none

refactor(tests): remove redundant test cases and clean up config tests
  reconciler/config/config_test.go
  reconciler/service/service_test.go
  reconciler/tasks/indexer/config_test.go
  reconciler/tasks/indexer/task_test.go
  reconciler/tasks/name/config_test.go
  reconciler/tasks/name/task_test.go
  reconciler/tasks/regsync/config_test.go
  reconciler/tasks/regsync/task_test.go
  reconciler/tasks/signature/config_test.go
  reconciler/tasks/task_test.go
Due: none

docs: add verify name mcp tool (#983)
  mcp/README.md
Due: none

docs: update README for Directory CLI with concise command descriptions and installation instructions
  cli/README.md
Due: cli

docs: update README for Directory CLI with concise command descriptions and installation instructions (#987)
  cli/README.md
Due: cli

chore(deps): bump rollup from 4.55.1 to 4.59.0 in /sdk/dir-js
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/examples/example-js/package-lock.json
Due: none

chore(deps): bump github.com/modelcontextprotocol/go-sdk
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
Due: cli

chore: add 'mit-0' license to approved list in .licensei.toml
  .licensei.toml
Due: none

chore(dir): update postgresql
  .github/workflows/container-security-scan.yml
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/postgresql-18.2.6.tgz
  install/charts/dir/apiserver/charts/postgresql-18.5.1.tgz
  install/docker/docker-compose.yml
Due: none

chore(sdk): update example package-lock.json
  sdk/examples/example-js/package-lock.json
Due: none

chore(sdk): update packages
  sdk/dir-js/package-lock.json
  sdk/examples/example-js/package-lock.json
Due: none

chore(dir): update postgresql (#995)
  .github/workflows/container-security-scan.yml
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/postgresql-18.2.6.tgz
  install/charts/dir/apiserver/charts/postgresql-18.5.1.tgz
  install/docker/docker-compose.yml
Due: none

test(importer): extend unit tests
  importer/config/config_test.go
  importer/enricher/enricher.go
  importer/enricher/enricher_test.go
  importer/mcp/importer_test.go
  importer/mcp/transformer.go
  importer/mcp/transformer_test.go
  importer/pipeline/dedup_test.go
  importer/pipeline/pipeline_test.go
  importer/pipeline/pusher_test.go
  importer/types/importer_test.go
Due: none

chore(sdk): update example package-lock.json (#996)
  sdk/examples/example-js/package-lock.json
Due: none

chore(sdk): update packages (#997)
  sdk/dir-js/package-lock.json
Due: none

test(importer): extend unit tests (#998)
  importer/config/config_test.go
  importer/enricher/enricher.go
  importer/enricher/enricher_test.go
  importer/mcp/importer_test.go
  importer/mcp/transformer.go
  importer/mcp/transformer_test.go
  importer/pipeline/dedup_test.go
  importer/pipeline/pipeline_test.go
  importer/pipeline/pusher_test.go
  importer/types/importer_test.go
Due: none

feat(verification): add server verification option in VerifyRequest
  api/sign/v1/sign_service.pb.go
  cli/cmd/verify/options.go
  cli/cmd/verify/verify.go
  client/verify.go
  e2e/local/04_signature_test.go
  e2e/network/02_sync_test.go
  proto/agntcy/dir/sign/v1/sign_service.proto
  reconciler/README.md
  reconciler/tasks/signature/task.go
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.js
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.py
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.pyi
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: client, cli

fix(dir): bump postgres version in docker compose
  .github/workflows/container-security-scan.yml
  install/docker/docker-compose.yml
Due: none

refactor: code review
  api/sign/v1/sign_service.pb.go
  cli/cmd/verify/options.go
  cli/cmd/verify/verify.go
  client/verify.go
  e2e/network/02_sync_test.go
  proto/agntcy/dir/sign/v1/sign_service.proto
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.js
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.py
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.pyi
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: client, cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
