Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(safefetch): add an option that refuses redirects
  utils/safefetch/fetch.go
  utils/safefetch/fetch_test.go
Due: none

chore(deps): group ans-sdk-go updates in renovate
  renovate.json
Due: none

feat(client): add the ans identity key resolver
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  client/utils/identity/resolvers/ans/ans.go
  client/utils/identity/resolvers/ans/ans_test.go
  client/utils/identity/resolvers/ans/badge.go
  client/utils/identity/resolvers/ans/badge_test.go
  client/utils/identity/resolvers/ans/certificate.go
  client/utils/identity/resolvers/ans/certificate_test.go
  client/utils/identity/resolvers/ans/config.go
  client/utils/identity/resolvers/ans/config_test.go
  client/utils/identity/resolvers/ans/fixtures_test.go
  client/utils/identity/resolvers/ans/golden_test.go
  client/utils/identity/resolvers/ans/log.go
  client/utils/identity/resolvers/ans/log_test.go
  client/utils/identity/resolvers/ans/mint_test.go
  client/utils/identity/resolvers/ans/name.go
  client/utils/identity/resolvers/ans/name_test.go
  client/utils/identity/resolvers/ans/testdata/fixture.json
  client/utils/identity/resolvers/ans/testdata/identity-cert.pem
  client/utils/identity/resolvers/ans/testdata/root-keys.txt
  client/utils/identity/resolvers/ans/testdata/status-token.cbor
  client/utils/identity/resolvers/resolvers.go
  client/utils/identity/resolvers/resolvers_test.go
  reconciler/go.mod
  reconciler/go.sum
  tests/go.mod
  tests/go.sum
Due: client, cli

refactor(identity): resolve AGNTCY claims through external verifier
  client/utils/identity/claim_resolution.go
  client/utils/identity/evidence.go
  client/utils/identity/resolvers/agntcy/protocol.go
  client/utils/identity/resolvers/agntcy/protocol_test.go
  client/utils/identity/resolvers/agntcy/resolver.go
  client/utils/identity/resolvers/agntcy/resolver_test.go
  client/utils/identity/resolvers/agntcy/testdata/request.json
  client/utils/identity/resolvers/agntcy/testdata/result.json
  docs/content/dir/dir-component-identity-agntcy.md
  reconciler/tasks/identity/agntcy_test.go
  reconciler/tasks/identity/task.go
  server/cmd/agntcy-identity-verifier/main.go
  server/cmd/agntcy-identity-verifier/main_test.go
  server/go.mod
  server/go.sum
  tests/e2e/agntcy/README.md
  tests/e2e/agntcy/requirements.txt
  tests/e2e/agntcy/run.py
Due: client, server

refactor(identity): simplify verification flow and align wire vectors
  client/utils/identity/resolvers/agntcy/resolver.go
  client/utils/identity/resolvers/agntcy/resolver_test.go
  client/utils/identity/resolvers/agntcy/testdata/request.json
  client/utils/identity/resolvers/agntcy/testdata/result.json
  docs/content/dir/dir-component-identity-agntcy.md
  reconciler/tasks/identity/task.go
Due: client

docs(identity): clarify verifier configuration failures
  docs/content/dir/dir-component-identity-agntcy.md
Due: none

refactor(identity): clarify public badge policy version constant
  client/utils/identity/resolvers/agntcy/protocol.go
  client/utils/identity/resolvers/agntcy/protocol_test.go
  client/utils/identity/resolvers/agntcy/resolver.go
  client/utils/identity/resolvers/agntcy/resolver_test.go
Due: client

test(identity): discard stale E2E success results before reruns
  tests/e2e/agntcy/run.py
Due: none

chore(deps): align k8s.io/api and client-go with apimachinery v0.37.1
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  tests/go.mod
  tests/go.sum
Due: client, cli

feat(dir): add sync-netsec job
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/main.go
  reconciler/service/service.go
  reconciler/tasks/metrics/grpc.go
  reconciler/tasks/sync/config.go
  reconciler/tasks/sync/config_test.go
  reconciler/tasks/sync/group.go
  reconciler/tasks/sync/task.go
  reconciler/tasks/sync/task_test.go
Due: cli

fix(ans): leave lookup failures to the task and mark terminal log answers final
  client/utils/identity/resolvers/ans/ans.go
  client/utils/identity/resolvers/ans/ans_test.go
  client/utils/identity/resolvers/ans/badge.go
  client/utils/identity/resolvers/ans/badge_test.go
  client/utils/identity/resolvers/ans/log.go
  client/utils/identity/resolvers/ans/log_test.go
Due: client

fix(ans): validate the status cache lifetime instead of flooring it
  client/utils/identity/resolvers/ans/ans.go
  client/utils/identity/resolvers/ans/ans_test.go
  client/utils/identity/resolvers/ans/config.go
  client/utils/identity/resolvers/ans/config_test.go
  client/utils/identity/resolvers/ans/log.go
Due: client

perf(ans): share in-flight lookups and sweep the memo once per lifetime
  client/utils/identity/resolvers/ans/ans.go
  client/utils/identity/resolvers/ans/ans_test.go
  client/utils/identity/resolvers/ans/fixtures_test.go
Due: client

docs(ans): describe the fixture snapshot and the refusal of private logs
  client/utils/identity/resolvers/ans/config.go
  client/utils/identity/resolvers/ans/golden_test.go
Due: client

refactor(reconciler): give routing its own client and interface
  reconciler/main.go
  reconciler/routing/client.go
  reconciler/routing/client_test.go
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/metrics/grpc.go
  reconciler/tasks/metrics/task.go
  reconciler/tasks/sync/task.go
Due: none

fix(daemon): keep sync in dry run when --config omits it
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon_test.go
Due: cli

fix(reconciler): split the advertised OCI address for sync
  reconciler/tasks/sync/group.go
  reconciler/tasks/sync/task.go
  reconciler/tasks/sync/task_test.go
Due: none

feat(client): add the ans identity key resolver (#2300)
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  client/utils/identity/resolvers/ans/ans.go
  client/utils/identity/resolvers/ans/ans_test.go
  client/utils/identity/resolvers/ans/badge.go
  client/utils/identity/resolvers/ans/badge_test.go
  client/utils/identity/resolvers/ans/certificate.go
  client/utils/identity/resolvers/ans/certificate_test.go
  client/utils/identity/resolvers/ans/config.go
  client/utils/identity/resolvers/ans/config_test.go
  client/utils/identity/resolvers/ans/fixtures_test.go
  client/utils/identity/resolvers/ans/golden_test.go
  client/utils/identity/resolvers/ans/log.go
  client/utils/identity/resolvers/ans/log_test.go
  client/utils/identity/resolvers/ans/mint_test.go
  client/utils/identity/resolvers/ans/name.go
  client/utils/identity/resolvers/ans/name_test.go
  client/utils/identity/resolvers/ans/testdata/fixture.json
  client/utils/identity/resolvers/ans/testdata/identity-cert.pem
  client/utils/identity/resolvers/ans/testdata/root-keys.txt
  client/utils/identity/resolvers/ans/testdata/status-token.cbor
  client/utils/identity/resolvers/resolvers.go
  client/utils/identity/resolvers/resolvers_test.go
  reconciler/go.mod
  reconciler/go.sum
  renovate.json
  tests/go.mod
  tests/go.sum
  utils/safefetch/fetch.go
  utils/safefetch/fetch_test.go
Due: client, cli

feat(api): add locators to runtime workloads
  api/runtime/crd/v1/discovered_workload.go
  api/runtime/v1/workload.pb.go
  api/runtime/v1/workload_test.go
  proto/agntcy/dir/runtime/v1/workload.proto
Due: api

fix: e2e test cases
  tests/e2e/local/10_export_test.go
  tests/e2e/local/14_skill_record_test.go
Due: none

refactor!(dirctl): remove mcp serve subcommand
  .gitignore
  .skill/SKILL.md
  README.md
  RELEASE.md
  api/naming/v1/compat.go
  cli/README.md
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/cmd/init/context.go
  cli/cmd/init/init.go
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/install/upgrade.go
  cli/cmd/mcp/mcp.go
  cli/cmd/mcp/serve.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  cli/internal/agentinstall/derive.go
  cli/internal/agentinstall/derive_test.go
  cli/internal/dirpkg/dirpkg.go
  cli/internal/dirpkg/dirpkg_test.go
  client/naming_compat.go
  client/naming_compat_test.go
  docs/content/community.md
  docs/content/dir/.index
  docs/content/dir/dir-api-reference.md
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-mcp-server.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/index.md
  docs/mkdocs/mkdocs.yml
  renovate.json
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/authz/policy_examples_test.go
  server/skill/skill.go
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

fix(dirctl): replace dirctl mcp serve in import
  .github/actions/setup-dir-mcp/action.yml
  .github/workflows/import-records.yaml
  .github/workflows/scripts/enricher_ci.json.template
  cli/cmd/import/config.go
  cli/cmd/import/config_test.go
  cli/cmd/import/import.config.yaml
  cli/cmd/import/import.go
  cli/cmd/import/mcpserver.go
  cli/cmd/import/mcpserver_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
Due: cli

feat(api): add locators to runtime workloads (#2302)
  api/runtime/crd/v1/discovered_workload.go
  api/runtime/v1/workload.pb.go
  api/runtime/v1/workload_test.go
  proto/agntcy/dir/runtime/v1/workload.proto
Due: api

docs(resolvers): state the one rule for a final error
  client/utils/identity/resolvers/resolvers.go
Due: client

fix(ans): judge an answer that the badge name does not exist
  client/utils/identity/resolvers/ans/ans_test.go
  client/utils/identity/resolvers/ans/badge.go
  client/utils/identity/resolvers/ans/badge_test.go
  client/utils/identity/resolvers/ans/golden_test.go
Due: client

refactor(safefetch): let a StatusError say whether a retry may help
  client/utils/identity/resolvers/ans/log.go
  utils/safefetch/fetch.go
  utils/safefetch/fetch_test.go
Due: client

fix(ans): give a waiter that gave up its own cause
  client/utils/identity/resolvers/ans/ans.go
  client/utils/identity/resolvers/ans/ans_test.go
  client/utils/identity/resolvers/ans/log.go
Due: client

feat(identity): require a certificate on ans:// claims
  api/identity/v1/claim.pb.go
  cli/cmd/identity/claim.go
  cli/cmd/identity/identity.go
  cli/cmd/identity/identity_test.go
  client/identity.go
  client/identity_test.go
  client/utils/identity/sign_verify_test.go
  client/utils/identity/verify.go
  proto/agntcy/dir/identity/v1/claim.proto
  reconciler/tasks/identity/task_test.go
Due: client, cli

feat(reconciler): verify ans:// claims through the ans resolver
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  cli/go.mod
  cli/go.sum
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.config.yml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/identity/config.go
  reconciler/tasks/identity/resolve.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
  tests/go.mod
  tests/go.sum
Due: cli

docs(dir): describe the ans identity scheme
  .skill/references/publishing.md
  CHANGELOG.md
  docs/codespellrc
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-identity.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-sdk-go.md
  reconciler/README.md
Due: none

refactor(ans): take the review nits on #2300
  .golangci.yml
  client/utils/identity/resolvers/ans/ans.go
  client/utils/identity/resolvers/ans/badge.go
  client/utils/identity/resolvers/ans/log.go
Due: client

refactor(dir): nest validators config in policy
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/policy.go
  cli/cmd/daemon/policy_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-content-policy-enforcement.md
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-federation-aws-eks.md
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.config.yml
  install/docker/server.config.yml
  reconciler/config/config.go
  reconciler/dry_run_test.go
  reconciler/dryrun/candidate.go
  reconciler/dryrun/dryrun_test.go
  reconciler/main.go
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/config/testdata/validators.yml
  server/policy/config/config.go
  server/server.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
  tests/e2e/policy/02_dry_run_test.go
  tests/e2e/policy/testenv/default/dir-daemon-config.yaml
  tests/integration/server/testenv/test-config.yaml
Due: server, cli

refactor(dir): nest validators config in policy (#2303)
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/policy.go
  cli/cmd/daemon/policy_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-content-policy-enforcement.md
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-federation-aws-eks.md
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.config.yml
  install/docker/server.config.yml
  reconciler/config/config.go
  reconciler/dry_run_test.go
  reconciler/dryrun/candidate.go
  reconciler/dryrun/dryrun_test.go
  reconciler/main.go
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/config/testdata/validators.yml
  server/policy/config/config.go
  server/server.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
  tests/e2e/policy/02_dry_run_test.go
  tests/e2e/policy/testenv/default/dir-daemon-config.yaml
  tests/integration/server/testenv/test-config.yaml
Due: server, cli

docs: add GoDaddy to CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: none

test(reconciler): cover a record whose annotations cannot be read
  reconciler/tasks/identity/task_test.go
Due: none

docs: add GoDaddy to CONTRIBUTORS.md (#2305)
  CONTRIBUTORS.md
Due: none

refactor(identity): name the subject schemes in one place
  client/utils/identity/scheme.go
  client/utils/identity/scheme_test.go
  client/utils/identity/verify.go
  reconciler/tasks/identity/resolve.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
Due: client

fix(ans): forget the memo between runs
  client/utils/identity/resolvers/ans/ans.go
  client/utils/identity/resolvers/ans/ans_test.go
  client/utils/identity/resolvers/ans/config.go
  docs/content/dir/dir-component-identity.md
  reconciler/tasks/identity/config.go
  reconciler/tasks/identity/resolve.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
Due: client

fix(reconciler): let a zero stale_grace keep nothing
  docs/content/dir/dir-component-identity.md
  reconciler/tasks/identity/config.go
  reconciler/tasks/identity/resolve.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
Due: none
