Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

refactor: code review
  cli/cmd/routing/search.go
Due: cli

feat(routing): add natural-language search to dirctl routing search (#1783)
  cli/cmd/routing/nlsearch.go
  cli/cmd/routing/search.go
  cli/internal/extractor/load.go
  cli/internal/nlsearch/decompose.go
Due: cli

feat(routing): add routing.autosync config block
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/routing/config/config.go
  server/routing/config/config_test.go
Due: server, cli

feat(routing): add routing.autosync config block (#1797)
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/routing/config/config.go
  server/routing/config/config_test.go
Due: server, cli

feat(server): extract shared ingestion service (Ingestor)
  server/controller/store.go
  server/ingest/ingest.go
  server/ingest/ingest_test.go
Due: server

fix: linter issues
  server/ingest/ingest_test.go
Due: server

feat(server): extract shared ingestion service (Ingestor) (#1798)
  server/controller/store.go
  server/ingest/ingest.go
  server/ingest/ingest_test.go
Due: server

feat(server): inject shared Ingestor + autosync config into routing
  server/controller/store.go
  server/routing/routing.go
  server/routing/routing_remote.go
  server/routing/test_utils.go
  server/server.go
Due: server

test(dir): cover a2a-scanner runner exec path
  utils/scanner/a2a_exec_test.go
  utils/scanner/testdata/fakescanner/main.go
Due: none

fix(dir): read a2a card_data directly from module data
  utils/scanner/a2a.go
  utils/scanner/a2a_test.go
Due: none

feat(dir): add a2a-scanner support
  Taskfile.deps.yml
  cli/cmd/daemon/daemon.config.yaml
  reconciler/config/config.go
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/config_test.go
  reconciler/tasks/scan/task.go
  utils/scanner/a2a.go
  utils/scanner/a2a_test.go
Due: cli

refactor(dir): deduplicate scanner severity mapping and azure env test
  utils/scanner/a2a.go
  utils/scanner/a2a_test.go
  utils/scanner/mcp.go
  utils/scanner/mcp_test.go
  utils/scanner/scanner.go
  utils/scanner/scanner_test.go
  utils/scanner/skill.go
  utils/scanner/skill_test.go
Due: none

feat(server): inject shared Ingestor + autosync config into routing (#1800)
  server/controller/store.go
  server/routing/routing.go
  server/routing/routing_remote.go
  server/routing/test_utils.go
  server/server.go
Due: server

feat(dir): add listreferrers, pullreferrer rpc
  server/routing/rpc/rpc.go
Due: server

feat(dir): add listreferrers, pullreferrer rpc (#1799)
  server/routing/rpc/rpc.go
Due: server

fix(dir): parse real a2a-scanner output schema
  utils/scanner/a2a.go
  utils/scanner/a2a_exec_test.go
  utils/scanner/a2a_test.go
  utils/scanner/testdata/fakescanner/main.go
Due: none

feat(routing): add DHT autosync manager, trigger & worker
  server/routing/autosync.go
  server/routing/autosync_test.go
  server/routing/constants.go
  server/routing/routing.go
  server/routing/routing_remote.go
  server/routing/test_utils.go
  server/server.go
Due: server

chore(cli): bump dir-importer
  cli/cmd/import/import.config.yaml
  cli/go.mod
  cli/go.sum
  tests/e2e/local/10_export_test.go
  tests/go.mod
  tests/go.sum
Due: cli

chore(cli): bump dir-importer (#1801)
  cli/cmd/import/import.config.yaml
  cli/go.mod
  cli/go.sum
  tests/e2e/local/10_export_test.go
  tests/go.mod
  tests/go.sum
Due: cli

feat(dir): add a2a-scanner support (#1776)
  Taskfile.deps.yml
  cli/cmd/daemon/daemon.config.yaml
  reconciler/config/config.go
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/config_test.go
  reconciler/tasks/scan/task.go
  utils/scanner/a2a.go
  utils/scanner/a2a_exec_test.go
  utils/scanner/a2a_test.go
  utils/scanner/mcp.go
  utils/scanner/mcp_test.go
  utils/scanner/scanner.go
  utils/scanner/scanner_test.go
  utils/scanner/skill.go
  utils/scanner/skill_test.go
  utils/scanner/testdata/fakescanner/main.go
Due: cli

ci(codeql): use official taskfile action (#1772)
  .github/workflows/codeql.yml
Due: none

refactor: move autosync into separate package
  server/routing/autosync/autosync.go
  server/routing/autosync/autosync_test.go
  server/routing/constants.go
  server/routing/routing_remote.go
Due: server

release(dir): prepare api release v1.6.0
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  versions.yaml
Due: none

release(dir): prepare api release v1.6.0
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: client, server, cli

feat(routing): add DHT autosync manager, trigger & worker (#1802)
  server/routing/autosync/autosync.go
  server/routing/autosync/autosync_test.go
  server/routing/routing.go
  server/routing/routing_remote.go
  server/routing/test_utils.go
  server/server.go
Due: server

chore(dir): bump go version to v1.26.5
  .github/actions/build-dirctl/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yaml
  .github/workflows/oidc-test.yml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.vars.yml
  api/go.mod
  cli/Dockerfile
  cli/go.mod
  client/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/Dockerfile
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: api, client, server, cli

chore(dir): bump go version to v1.26.5 (#1805)
  .github/actions/build-dirctl/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yaml
  .github/workflows/oidc-test.yml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.vars.yml
  api/go.mod
  cli/Dockerfile
  cli/go.mod
  client/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/Dockerfile
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: api, client, server, cli

feat(routing): NAT hardening for autosync (relay + backoff)
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/routing/autosync/autosync.go
  server/routing/autosync/autosync_test.go
  server/routing/config/config.go
  server/routing/internal/p2p/host.go
  server/routing/internal/p2p/options.go
  server/routing/internal/p2p/server.go
  server/routing/routing_remote.go
Due: server, cli

fix(build): correct golang:1.26.5 image digest in Dockerfiles
  cli/Dockerfile
  reconciler/Dockerfile
  server/Dockerfile
Due: server, cli

fix(build): correct golang:1.26.5 image digest in Dockerfiles (#1809)
  cli/Dockerfile
  reconciler/Dockerfile
  server/Dockerfile
Due: server, cli

fix: search with postgres db
  server/database/gorm/record.go
Due: server

feat(cli): add MCP server & skills step to dirctl init
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/install/batch.go
  cli/cmd/install/batch_test.go
  cli/cmd/install/flags.go
  cli/cmd/install/flags_test.go
  cli/cmd/install/install.go
  cli/cmd/install/uninstall.go
  cli/internal/agentcfg/selection.go
  cli/internal/agentcfg/selection_test.go
  cli/internal/agentinstall/apply.go
  cli/internal/agentinstall/apply_test.go
  cli/internal/agentinstall/derive.go
  cli/internal/agentinstall/derive_test.go
  cli/internal/agentinstall/testdata/a2a.json
  cli/internal/agentinstall/testdata/bare.json
  cli/internal/agentinstall/testdata/mcp.json
  cli/internal/agentinstall/testdata/multi.json
  cli/internal/agentinstall/testdata/skill.json
Due: cli

fix(e2e): use valid oasf image for integration tests
  tests/integration/server/testenv/docker-compose.yml
Due: none

fix(cli): propagate ESC-decode errors and correct stale selector comment
  cli/cmd/init/agents.go
  cli/cmd/init/select.go
Due: cli

feat(cli): split dirctl init into per-artifact agent selection
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/cmd/init/select.go
  cli/internal/agentinstall/filter.go
Due: cli

fix: search with postgres db (#1807)
  server/database/gorm/record.go
Due: server

feat(cli): `dirctl init` to install directory Agent Skill and MCP server (#1787)
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/init/select.go
  cli/cmd/install/batch.go
  cli/cmd/install/batch_test.go
  cli/cmd/install/flags.go
  cli/cmd/install/flags_test.go
  cli/cmd/install/install.go
  cli/cmd/install/uninstall.go
  cli/internal/agentcfg/selection.go
  cli/internal/agentcfg/selection_test.go
  cli/internal/agentinstall/apply.go
  cli/internal/agentinstall/apply_test.go
  cli/internal/agentinstall/derive.go
  cli/internal/agentinstall/derive_test.go
  cli/internal/agentinstall/filter.go
  cli/internal/agentinstall/testdata/a2a.json
  cli/internal/agentinstall/testdata/bare.json
  cli/internal/agentinstall/testdata/mcp.json
  cli/internal/agentinstall/testdata/multi.json
  cli/internal/agentinstall/testdata/skill.json
  tests/integration/server/testenv/docker-compose.yml
Due: cli

release(dir): prepare api release v1.6.0 (#1804)
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
  versions.yaml
Due: client, server, cli

feat(cli/importer): leverage extractor enricher
  cli/cmd/import/config.go
  cli/cmd/import/config_test.go
  cli/cmd/import/extractor_adapter.go
  cli/cmd/import/import.config.yaml
  cli/go.mod
  cli/go.sum
  tests/e2e/local/10_export_test.go
  tests/go.mod
  tests/go.sum
Due: cli

feat(cli/importer): remove scanner config
  cli/cmd/import/config.go
  cli/cmd/import/config_test.go
  cli/cmd/import/import.config.yaml
  cli/cmd/import/import.go
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli
