Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix(dirctl): latest brew formulae missing env (#1608)
  .github/workflows/reusable-brew-update.yaml
  HomebrewFormula/README.md
  HomebrewFormula/dirctl/dirctl.rb
Due: none

chore(docs): verifying docs (#1639)
  cli/README.md
  docs/content/dir/dir-api-reference.md
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-event-streaming.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-sdk.md
  docs/content/dir/dir-validation.md
  server/README.md
Due: server, cli

test: fix test
  tests/e2e/local/14_skill_record_test.go
Due: none

chore: updating announcement
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

chore: updating announcement
  docs/content/index.md
Due: none

chore: updating introduction
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

refactor: use existing struct
  server/server.go
  server/skill/SKILL.md
  server/skill/publisher.go
  server/skill/skill.go
  tests/e2e/local/14_skill_record_test.go
Due: server

chore(docs): remove dir-validation.md and update mkdocs configuration
  docs/content/dir/dir-validation.md
  docs/mkdocs/mkdocs.yml
Due: none

chore(docs): update dirctl installation instructions in deployment guides
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-deployment-local.md
Due: none

chore: updating main page
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

fix(docs): correct indentation for trustDomain in AWS EKS federation guide
  docs/content/dir/dir-federation-aws-eks.md
Due: none

chore(docs): ai catalog links (#1645)
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

fix: test
  server/skill/skill.go
Due: server

feat(dir): add SKILL.md file (#1640)
  server/server.go
  server/skill/SKILL.md
  server/skill/publisher.go
  server/skill/skill.go
  tests/e2e/local/14_skill_record_test.go
Due: server

chore: graph highlights
  docs/content/javascripts/dir-graph.js
  docs/content/stylesheets/dir-landing.css
Due: none

chore: graph update
  docs/content/index.md
  docs/content/javascripts/dir-graph.js
Due: none

refactor: ingest and consume flow
  docs/content/javascripts/dir-graph.js
Due: none

chore: graph updates
  docs/content/index.md
  docs/content/javascripts/dir-graph.js
  docs/content/stylesheets/dir-landing.css
Due: none

chore(docs): website main page graph update (#1647)
  docs/content/index.md
  docs/content/javascripts/dir-graph.js
  docs/content/stylesheets/dir-landing.css
Due: none

chore: update icons
  docs/content/javascripts/dir-graph.js
Due: none

chore: animations
  docs/content/javascripts/dir-graph.js
Due: none

feat(ci): docs CI update
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/docs-ci.yaml
  .github/workflows/docs-deploy.yml
Due: none

chore: qol changes
  docs/content/javascripts/dir-graph.js
  docs/content/stylesheets/dir-landing.css
Due: none

chore: capitalization
  docs/content/javascripts/dir-graph.js
Due: none

chore(docs): further diagram updates (#1650)
  docs/content/javascripts/dir-graph.js
  docs/content/stylesheets/dir-landing.css
Due: none

feat(ci): docs CI update (#1649)
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/docs-ci.yaml
  .github/workflows/docs-deploy.yml
Due: none

chore: adding ARD spec
  docs/content/index.md
Due: none

chore: adding ARD spec (#1652)
  docs/content/index.md
Due: none

fix: ai catalog name
  server/gateway/static/_app/immutable/nodes/2.De2Jrqva.js
  server/gateway/static/index.html
  server/gateway/ui/src/app.html
  server/gateway/ui/src/routes/+page.svelte
Due: server

chore: rebiuld gateway ui static assets
  server/gateway/static/_app/immutable/entry/app.DrBb4eN3.js
  server/gateway/static/_app/immutable/entry/app.sceGekqU.js
  server/gateway/static/_app/immutable/nodes/2.DQzdLCVQ.js
  server/gateway/static/index.html
Due: server

fix(dir): ai catalog name (#1654)
  server/gateway/static/_app/immutable/entry/app.DrBb4eN3.js
  server/gateway/static/_app/immutable/entry/app.sceGekqU.js
  server/gateway/static/_app/immutable/nodes/2.DQzdLCVQ.js
  server/gateway/static/index.html
  server/gateway/ui/src/app.html
  server/gateway/ui/src/routes/+page.svelte
Due: server

fix(docs): adds back header shadow
  docs/content/stylesheets/agntcy-docs.css
  docs/content/stylesheets/dir-landing.css
Due: none

docs(docs): remove duplicate validation page and consolidate CLI install instructions (#1646)
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-deployment-local.md
  docs/content/dir/dir-federation-aws-eks.md
  docs/content/dir/dir-validation.md
  docs/mkdocs/mkdocs.yml
Due: none

docs: move error codes and store backend configuration out of usage
  docs/content/dir/dir-api-reference.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-features-scenarios.md
Due: none

fix(docs/overview): content routing not only with skills
  docs/content/dir/dir-overview.md
Due: none

fix(docs/mkdocs): swap Features and Usage Scenarios section and Quickstart
  docs/mkdocs/mkdocs.yml
Due: none

refactor(docs/overview): move naming and routing out of overview
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-overview.md
Due: none

docs(dir-overview): match http://spec.dir.agntcy.org/draft-mp-agntcy-ads.html#name-core-capabilities
  docs/content/dir/dir-overview.md
Due: none

docs(dir-component-store): remove unnecessary environment variable for OCI type configuration
  docs/content/dir/dir-component-store.md
  server/config/config_test.go
Due: server
