Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

refactor(server/store): abstract oci registry interface (#801)
  Taskfile.yml
  server/config/config.go
  server/config/config_test.go
  server/controller/sign.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/config/config.go
  server/store/oci/internal.go
  server/store/oci/oci.go
  server/store/oci/referrers.go
  server/store/oci/signatures.go
  server/types/store.go
Due: server

release(dir): prepare release v0.6.1
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

Prepare directory for version v0.6.1
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

Prepare cli for version v0.6.1
  e2e/go.mod
Due: none

feat(pkg/cmd): add provider interface and Envoy AuthZ server
  .gitignore
  cmd/envoy-authz/Dockerfile
  cmd/envoy-authz/TESTING.md
  cmd/envoy-authz/docker-compose.yml
  cmd/envoy-authz/go.mod
  cmd/envoy-authz/go.sum
  cmd/envoy-authz/main.go
  cmd/envoy-authz/test/Dockerfile.mock
  cmd/envoy-authz/test/envoy.yaml
  cmd/envoy-authz/test/mock-directory.go
  cmd/envoy-authz/test/test.sh
  pkg/authprovider/github/provider.go
  pkg/authprovider/github/provider_test.go
  pkg/authprovider/go.mod
  pkg/authprovider/go.sum
  pkg/authprovider/provider.go
  pkg/authzserver/go.mod
  pkg/authzserver/go.sum
  pkg/authzserver/server.go
Due: none

Add degraded directory sample example
  examples/directory_sample_degraded.json
Due: none

fix: address code review comments on gui implementation
  Taskfile.yml
  gui/README.md
  gui/lib/mcp/client.dart
  gui/lib/ui/chat_screen.dart
  gui/test/mcp_integration_test.dart
Due: none

fix(gui): address review comments
  Taskfile.yml
  gui/lib/ui/chat_screen.dart
Due: none

chore: fix README
  gui/README.md
Due: none

feat(gui): implement initial flutter ui with mcp integration (#804)
  .gitignore
  Taskfile.yml
  gui/.gitignore
  gui/.metadata
  gui/README.md
  gui/analysis_options.yaml
  gui/lib/main.dart
  gui/lib/mcp/client.dart
  gui/lib/mcp/model.dart
  gui/lib/services/ai_service.dart
  gui/lib/services/gemini_wrapper.dart
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/widgets/record_card.dart
  gui/pubspec.lock
  gui/pubspec.yaml
  gui/test/mcp/client_test.dart
  gui/test/mcp_integration_test.dart
  gui/test/services/ai_service_test.dart
  gui/test/ui/chat_screen_test.dart
Due: none

docs: update version in readme
  README.md
Due: none

chore(deps): bump github.com/sigstore/cosign/v3
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
Due: client, server, cli

release(dir): prepare v0.6.1 (#813)
  README.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

feat: secure domains initial commit
  server/config/config.go
  server/store/config/config.go
  server/store/oci/constants.go
  server/store/store.go
  server/store/verificationwrap/verificationwrap.go
  server/verification/dns.go
  server/verification/domain.go
  server/verification/domain_test.go
  server/verification/keys.go
  server/verification/keys_test.go
  server/verification/types.go
  server/verification/verifier.go
  server/verification/wellknown.go
Due: server

feat: secure domains
  cli/cmd/naming/check.go
  cli/cmd/naming/list.go
  cli/cmd/naming/verify.go
  cli/cmd/sign/sign.go
  e2e/local/08_domain_verification_test.go
  server/controller/naming.go
  server/server.go
  server/verification/dns.go
  server/verification/domain.go
  server/verification/keys.go
  server/verification/keys_test.go
  server/verification/types.go
  server/verification/verifier.go
  server/verification/wellknown.go
Due: server, cli

feat: secure domains
  api/core/v1/referrer_types.go
  api/naming/v1/domain_verification.go
  api/naming/v1/domain_verification.pb.go
  api/naming/v1/naming_service.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/naming/check.go
  cli/cmd/naming/list.go
  cli/cmd/naming/naming.go
  cli/cmd/naming/verify.go
  cli/cmd/root.go
  cli/cmd/sign/sign.go
  client/client.go
  client/sign.go
  e2e/local/08_domain_verification_test.go
  e2e/shared/testdata/record_080.json
  e2e/shared/utils/cli.go
  proto/agntcy/dir/naming/v1/domain_verification.proto
  proto/agntcy/dir/naming/v1/naming_service.proto
  proto/buf.gen.yaml
  sdk/dir-js/src/models/agntcy/dir/naming/v1/domain_verification_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/domain_verification_pb.js
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/domain_verification_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/domain_verification_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/domain_verification_pb2_grpc.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
  server/config/config.go
  server/controller/naming.go
  server/server.go
  server/store/config/config.go
  server/store/oci/constants.go
  server/store/oci/types.go
  server/store/store.go
  server/store/verificationwrap/verificationwrap.go
  server/verification/types.go
  server/verification/verifier.go
Due: api, client, server, cli

test: fix tests
  e2e/local/08_domain_verification_test.go
  e2e/shared/testdata/record_080.json
  e2e/shared/utils/cli.go
  server/config/config_test.go
  server/go.mod
Due: server

refactor: remove ListVerifiedAgents procedure
  api/naming/v1/naming_service.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/naming/list.go
  cli/cmd/naming/naming.go
  client/sign.go
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
  server/controller/naming.go
Due: client, server, cli

refactor: add protocol prefix to name
  api/naming/v1/naming_service.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/naming/check.go
  cli/cmd/naming/naming.go
  cli/cmd/naming/verify.go
  cli/cmd/sign/sign.go
  client/naming.go
  client/sign.go
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
  server/controller/naming.go
  server/verification/domain.go
  server/verification/domain_test.go
  server/verification/verifier.go
Due: client, server, cli

refactor: restructure package from verification to naming
  server/controller/naming.go
  server/naming/config/config.go
  server/naming/dns/config/config.go
  server/naming/dns/parser.go
  server/naming/dns/parser_test.go
  server/naming/dns/resolver.go
  server/naming/keys.go
  server/naming/name.go
  server/naming/name_test.go
  server/naming/provider.go
  server/naming/types.go
  server/naming/wellknown/config/config.go
  server/naming/wellknown/fetcher.go
  server/naming/wellknown/parser.go
  server/server.go
  server/verification/domain_test.go
  server/verification/keys_test.go
  server/verification/verifier.go
Due: server

refactor: rename DomainVerification to Verification referrer type
  api/core/v1/referrer_types.go
  api/naming/v1/domain_verification.go
  api/naming/v1/domain_verification.pb.go
  api/naming/v1/name_verification.go
  api/naming/v1/name_verification.pb.go
  api/naming/v1/naming_service.pb.go
  proto/agntcy/dir/naming/v1/name_verification.proto
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/name_verification_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/name_verification_pb.js
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/name_verification_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/name_verification_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/name_verification_pb2_grpc.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  server/controller/naming.go
  server/store/oci/types.go
Due: api, server

refactor: rename matched_key_id to key_id
  api/naming/v1/name_verification.pb.go
  cli/cmd/naming/check.go
  cli/cmd/naming/verify.go
  proto/agntcy/dir/naming/v1/name_verification.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/name_verification_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/name_verification_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/name_verification_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/name_verification_pb2.pyi
  server/controller/naming.go
Due: server, cli

refactor: generalize Name Verification info
  api/naming/v1/name_verification.go
  api/naming/v1/name_verification.pb.go
  cli/cmd/naming/check.go
  cli/cmd/naming/verify.go
  cli/cmd/sign/sign.go
  proto/agntcy/dir/naming/v1/name_verification.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/name_verification_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/name_verification_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/name_verification_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/name_verification_pb2.pyi
  server/controller/naming.go
Due: api, server, cli

refactor: adopt RFC7517 JWKS
  server/go.mod
  server/go.sum
  server/naming/types.go
  server/naming/wellknown/config/config.go
  server/naming/wellknown/fetcher.go
  server/naming/wellknown/parser.go
  server/naming/wellknown/parser_test.go
Due: server

refactor: change DNS TXT record format
  cli/cmd/naming/naming.go
  cli/cmd/naming/verify.go
  server/naming/dns/parser.go
  server/naming/dns/parser_test.go
  server/naming/dns/resolver.go
Due: server, cli

fix: JWKS bug
  api/naming/v1/name_verification.go
Due: api

refactor: change wellknown to http and https
  cli/cmd/naming/naming.go
  server/config/config.go
  server/naming/config/config.go
  server/naming/name.go
  server/naming/name_test.go
  server/naming/provider.go
  server/naming/wellknown/config/config.go
  server/naming/wellknown/fetcher.go
  server/server.go
  server/store/config/config.go
Due: server, cli

refactor: change wellknown to http and https
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/naming/verify.go
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
Due: cli

fix: linter
  server/go.mod
  server/go.sum
Due: server

refactor: move client side verification logic to server side
  client/go.mod
  client/verify.go
  server/go.mod
  server/go.sum
  server/store/oci/signatures.go
  utils/cosign/verify.go
  utils/go.mod
  utils/go.sum
Due: client, server

refactor: verification returns not trusted if no signature or key found
  server/store/oci/signatures.go
  utils/cosign/verify.go
Due: server

refactor: new server/signing package
  api/events/v1/event_service.pb.go
  proto/agntcy/dir/events/v1/event_service.proto
  sdk/dir-js/src/models/agntcy/dir/events/v1/event_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/events/v1/event_service_pb.js
  sdk/dir-py/agntcy/dir/events/v1/event_service_pb2.py
  sdk/dir-py/agntcy/dir/events/v1/event_service_pb2.pyi
  server/controller/sign.go
  server/controller/store.go
  server/events/builder.go
  server/events/safe.go
  server/server.go
  server/signing/eventswrap/eventswrap.go
  server/signing/publickey.go
  server/signing/signatures.go
  server/signing/signing.go
  server/signing/verify.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/oci.go
  server/store/oci/referrers.go
  server/store/oci/signatures.go
  server/types/signing.go
  server/types/store.go
Due: server

refactor: move push sign and upload key back to store
  server/controller/store.go
  server/server.go
  server/signing/eventswrap/eventswrap.go
  server/signing/publickey.go
  server/signing/signatures.go
  server/signing/signing.go
  server/signing/verify.go
  server/store/oci/referrers.go
  server/types/signing.go
Due: server

refactor(dir): move signature verification from client to server (#809)
  api/events/v1/event_service.pb.go
  client/go.mod
  client/verify.go
  proto/agntcy/dir/events/v1/event_service.proto
  sdk/dir-js/src/models/agntcy/dir/events/v1/event_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/events/v1/event_service_pb.js
  sdk/dir-py/agntcy/dir/events/v1/event_service_pb2.py
  sdk/dir-py/agntcy/dir/events/v1/event_service_pb2.pyi
  server/controller/sign.go
  server/controller/store.go
  server/events/builder.go
  server/events/safe.go
  server/go.mod
  server/go.sum
  server/server.go
  server/signing/eventswrap/eventswrap.go
  server/signing/signing.go
  server/signing/verify.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/oci.go
  server/store/oci/referrers.go
  server/store/oci/signatures.go
  server/types/signing.go
  server/types/store.go
  utils/cosign/verify.go
  utils/go.mod
  utils/go.sum
Due: client, server

chore: update brew formula version (#819)
  HomebrewFormula/dirctl.rb
Due: none

chore(dir): update taskfile binaries versions
  Taskfile.yml
Due: none

chore(dir): update go versions
  .github/workflows/ci.yaml
  .github/workflows/demo-dir.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  cli/Dockerfile
  e2e/sdk/Dockerfile
  server/Dockerfile
Due: server, cli

chore(dir): update deps in helm chart
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/zot-0.1.91.tgz
  install/charts/dir/apiserver/charts/zot-0.1.95.tgz
Due: none

chore(dir): update go.mod files
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
