Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

fix e2e network test env warm-up
  e2e/network/network_suite_test.go
Due: none

fix: auth mode mtls
  server/config/config_test.go
Due: server

test: update with new cli outputs
  cli/presenter/output.go
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  e2e/local/03_routing_test.go
  e2e/local/04_signature_test.go
  e2e/network/01_deploy_test.go
  e2e/network/02_sync_test.go
  e2e/network/03_search_test.go
  e2e/network/04_gossipsub_test.go
Due: cli

feat(cli): add output format options to commands and refactor output handling
  cli/cmd/delete/delete.go
  cli/cmd/info/info.go
  cli/cmd/pull/options.go
  cli/cmd/pull/pull.go
  cli/cmd/push/options.go
  cli/cmd/push/push.go
  cli/cmd/routing/info.go
  cli/cmd/routing/list.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/routing.go
  cli/cmd/routing/search.go
  cli/cmd/routing/unpublish.go
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  cli/cmd/sign/options.go
  cli/cmd/sign/sign.go
  cli/cmd/sync/options.go
  cli/cmd/sync/sync.go
  cli/cmd/verify/verify.go
  cli/go.mod
  cli/presenter/output.go
  e2e/shared/utils/cli.go
Due: cli

refactor: code review
  cli/cmd/delete/delete.go
  cli/cmd/info/info.go
  cli/cmd/pull/pull.go
  cli/cmd/push/push.go
  cli/cmd/routing/list.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/search.go
  cli/cmd/routing/unpublish.go
  cli/cmd/search/search.go
  cli/cmd/sign/sign.go
  cli/cmd/sync/sync.go
  cli/cmd/verify/verify.go
  cli/go.mod
  cli/presenter/output.go
  e2e/local/03_routing_test.go
  e2e/local/04_signature_test.go
  e2e/network/01_deploy_test.go
  e2e/network/02_sync_test.go
  e2e/network/03_search_test.go
  e2e/network/04_gossipsub_test.go
Due: cli

fix(helm): support multiple federation artifacts via charts
  install/charts/dir/apiserver/templates/clusterspiffefederation.yaml
Due: none

fix(helm): support multiple federation artifacts via charts
  install/charts/dirctl/templates/clusterspiffefederation.yaml
Due: none

fix config test
  server/config/config_test.go
Due: server

fix: chmod o-r hub/api/v1alpha1/*
  hub/api/v1alpha1/category.pb.go
  hub/api/v1alpha1/category.proto
  hub/api/v1alpha1/oasf_category.pb.go
  hub/api/v1alpha1/oasf_category.proto
  hub/api/v1alpha1/order.pb.go
  hub/api/v1alpha1/order.proto
  hub/api/v1alpha1/order_param.pb.go
  hub/api/v1alpha1/order_param.proto
  hub/api/v1alpha1/paginated_response.pb.go
  hub/api/v1alpha1/paginated_response.proto
  hub/api/v1alpha1/pagination_param.pb.go
  hub/api/v1alpha1/pagination_param.proto
  hub/api/v1alpha1/repo_version_id.pb.go
  hub/api/v1alpha1/repo_version_id.proto
  hub/api/v1alpha1/timestamp_range.pb.go
  hub/api/v1alpha1/timestamp_range.proto
Due: none

refactor(cli): update search cmd to use routing search cmd flags
  cli/README.md
  cli/cmd/search/options.go
  cli/cmd/search/query.go
  cli/cmd/search/search.go
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  e2e/network/02_sync_test.go
  e2e/shared/utils/cli.go
  e2e/shared/utils/common.go
Due: cli

chore: remove useless files
  Taskfile.yml
  hub/api/v1alpha1/a2a.proto
  hub/api/v1alpha1/apikey.proto
  hub/api/v1alpha1/apikey_service.proto
  hub/api/v1alpha1/category.proto
  hub/api/v1alpha1/category_service.proto
  hub/api/v1alpha1/invite.proto
  hub/api/v1alpha1/invite_service.proto
  hub/api/v1alpha1/mcp.proto
  hub/api/v1alpha1/oasf_category.proto
  hub/api/v1alpha1/order.proto
  hub/api/v1alpha1/order_param.proto
  hub/api/v1alpha1/organization.proto
  hub/api/v1alpha1/organization_service.proto
  hub/api/v1alpha1/paginated_response.proto
  hub/api/v1alpha1/pagination_param.proto
  hub/api/v1alpha1/record.proto
  hub/api/v1alpha1/record_dir_service.proto
  hub/api/v1alpha1/record_hub_service.proto
  hub/api/v1alpha1/record_id.proto
  hub/api/v1alpha1/record_id_response.proto
  hub/api/v1alpha1/repo_version_id.proto
  hub/api/v1alpha1/repository.proto
  hub/api/v1alpha1/repository_id.proto
  hub/api/v1alpha1/repository_service.proto
  hub/api/v1alpha1/roles.proto
  hub/api/v1alpha1/search_hub_service.proto
  hub/api/v1alpha1/search_service.proto
  hub/api/v1alpha1/timestamp_range.proto
  hub/api/v1alpha1/translation.proto
  hub/api/v1alpha1/user.proto
  hub/api/v1alpha1/user_service.proto
Due: none

add PullStreamWithReceiver function
  client/store.go
Due: client

feat: add client streaming apis
  client/store.go
  client/streaming/README.md
  client/streaming/delete.go
  client/streaming/lookup.go
  client/streaming/pull.go
  client/streaming/push.go
Due: client

fix linter errors
  .golangci.yml
  client/store.go
  client/streaming/delete.go
  client/streaming/lookup.go
  client/streaming/pull.go
  client/streaming/push.go
Due: client

chore: cleanup interfaces
  client/store.go
  client/streaming/delete.go
  client/types.go
Due: client

example: switch to functional approach for streaming
  client/store.go
  client/streaming/delete.go
  client/streaming/types.go
Due: client

chore: cleanup interfaces
  client/store.go
Due: client

chore: cleanup interfaces
  client/store.go
  client/types.go
Due: client

chore: cleanup interfaces
  client/store.go
  client/streaming/README.md
  client/streaming/lookup.go
  client/streaming/pull.go
  client/streaming/push.go
  client/types.go
Due: client

refactor pull methods
  client/store.go
  client/types.go
Due: client

chore: decouple streaming helpers from client
  client/store.go
  client/streaming/client.go
  client/streaming/server.go
  client/types.go
Due: client

fix race on firstErr, context awerness, silent errors...
  client/store.go
  client/streaming/client.go
  client/streaming/server.go
Due: client

refactor streaming package
  client/store.go
  client/streaming/README.md
  client/streaming/bidirectional.go
  client/streaming/client.go
  client/streaming/sequential.go
  client/streaming/types.go
Due: client

fix: linter issues
  e2e/mcp/01_protocol_test.go
Due: none

chore: update Go version to 1.25.2
  Taskfile.yml
  api/go.mod
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  server/go.mod
  utils/go.mod
Due: api, client, server, cli

chore: bump go-libp2p to v0.44.0
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  server/go.mod
  server/go.sum
Due: server, cli

chore: bump golangci-lint to 2.5.0 and migrate configuration
  .golangci.yml
  Taskfile.yml
Due: none

fix: linter issues
  cli/cmd/sync/sync.go
  client/options.go
  e2e/client/client_suite_test.go
  e2e/local/local_suite_test.go
  e2e/network/network_suite_test.go
  e2e/shared/utils/cli.go
  hub/auth/apikey.go
  hub/auth/internal/browser/open.go
  hub/auth/internal/webserver/handler.go
  hub/auth/login.go
  hub/auth/utils/utils.go
  hub/client/hub/client.go
  hub/cmd/login/login.go
  hub/cmd/logout/logout.go
  server/authn/jwt.go
  server/database/sqlite/record_test.go
  server/publication/publication.go
  server/routing/internal/p2p/server.go
  server/routing/label_utils_test.go
  server/routing/routing_local.go
  server/routing/routing_local_test.go
  server/routing/routing_remote.go
  server/routing/validators/validators_test.go
  server/server.go
  server/store/oci/integration_test.go
  server/store/oci/oci_test.go
  server/store/oci/signatures.go
  server/sync/monitor/monitor.go
  server/sync/sync.go
Due: client, server, cli

chore: update Go version in Dockerfiles to bookworm 1.25.2
  cli/Dockerfile
  server/Dockerfile
Due: server, cli

chore: update Go version to 1.25.2 in workflow files
  .github/workflows/demo-dir.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
Due: none

chore: update interface docs
  client/streaming/types.go
Due: client

chore: update interface docs
  client/streaming/bidirectional.go
  client/streaming/client.go
  client/streaming/types.go
Due: client

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
