Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

ci(dir): collect coverage and upload at once (#1038)
  .github/workflows/ci.yaml
  .github/workflows/gui-ci.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.vars.yml
  Taskfile.yml
  tests/Taskfile.yml
Due: none

chore(sdk): update python packages
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-py/uv.lock
Due: none

chore(sdk): update pyasn1 package
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-py/uv.lock
Due: none

refactor(dir): add google.rpc.Status for error messages
  api/store/v1/store_service.pb.go
  proto/agntcy/dir/store/v1/store_service.proto
  proto/buf.lock
  proto/buf.yaml
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/controller/store.go
  tests/e2e/local/10_referrers_test.go
Due: server

feat: update token cache, auth commands
  cli/cmd/auth/auth.go
  cli/cmd/auth/login.go
  cli/cmd/options.go
  cli/cmd/root.go
  cli/config/config.go
  client/config.go
  client/token_cache.go
  client/token_cache_test.go
Due: client, cli

fix: github.com/muhlemmer/gu license
  .licensei.toml
Due: none

fix: linter issues and refactor RunPKCEFlow
  cli/cmd/auth/login.go
  cli/cmd/auth/status.go
  cli/cmd/options.go
  client/config.go
  client/oidc.go
  client/token_cache.go
  client/token_cache_test.go
Due: client, cli

fix: pr comments
  auth/authzserver/oidc_server.go
Due: none

fix: linter issues, pr comments
  auth/authzserver/config.go
  auth/authzserver/config_test.go
  auth/authzserver/oidc_server.go
  auth/authzserver/payload.go
  auth/authzserver/payload_test.go
  auth/authzserver/rbac_test.go
  auth/cmd/envoy-authz/config.yaml
  auth/cmd/envoy-authz/test/config.test.yaml
Due: none

feat: update ext-authz configuration
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/config.yaml
  install/charts/dir/apiserver/charts/envoy-authz-0.2.0.tgz
  install/charts/dir/apiserver/values.yaml
  install/charts/envoy-authz/templates/configmap-authz.yaml
  install/charts/envoy-authz/values.yaml
Due: none

ci(dir): update actions
  .github/workflows/buf-ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/container-security-scan.yml
  .github/workflows/project.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
Due: none

chore(dir): update spire image
  Taskfile.vars.yml
Due: none

chore(dir): update go modules
  api/go.mod
  api/go.sum
  auth/authprovider/go.mod
  auth/authprovider/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/api/go.mod
  runtime/api/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/go.mod
  runtime/store/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

refactor: introduced OIDCProvider and package-level OIDC
  cli/cmd/auth/login.go
  client/oidc.go
Due: client, cli

refactor(dir): refactor PushReferrer
  api/core/v1/record.pb.go
  api/store/v1/store_service.pb.go
  client/sign.go
  proto/agntcy/dir/core/v1/record.proto
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  server/controller/store.go
  tests/e2e/local/10_referrers_test.go
  tests/e2e/local/local_suite_test.go
Due: client, server

ci(dir): update actions (#1070)
  .github/workflows/buf-ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/container-security-scan.yml
  .github/workflows/project.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
Due: none

chore(dir): update go modules (#1077)
  api/go.mod
  api/go.sum
  auth/authprovider/go.mod
  auth/authprovider/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/api/go.mod
  runtime/api/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/go.mod
  runtime/store/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

chore(sdk): update python sdk pyasn1 package (#1066)
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-py/uv.lock
Due: none

refactor(dir): refactor PushReferrer (#1065)
  api/core/v1/record.pb.go
  api/store/v1/store_service.pb.go
  client/sign.go
  proto/agntcy/dir/core/v1/record.proto
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  server/controller/store.go
  tests/e2e/local/10_referrers_test.go
  tests/e2e/local/local_suite_test.go
Due: client, server

chore(deps): bump oasf-sdk to v1.0.3 across Go modules
  api/go.mod
  api/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  mcp/tools/list_versions.go
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

chore(deps): bump oasf-sdk to v1.0.3 across Go modules (#1079)
  api/go.mod
  api/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  mcp/tools/list_versions.go
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

chore(dir): update spire image (#1069)
  Taskfile.vars.yml
Due: none

feat(dir): add signoff to release commits
  Taskfile.yml
Due: none

release(dir): prepare release v1.1.0
  Taskfile.yml
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

release(dir): prepare release v1.1.0
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  server/go.mod
  tests/go.mod
Due: client, server, cli

chore(changelog): update CHANGELOG for v1.1.0 release
  CHANGELOG.md
Due: none

release(dir): prepare release v1.1.0 (#1080)
  CHANGELOG.md
  Taskfile.yml
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  tests/go.mod
  versions.yaml
Due: client, server, cli

fix: chart dependencies
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/charts/envoy-authz-0.1.0.tgz
  install/charts/dir/apiserver/charts/envoy-authz-0.2.0.tgz
Due: none

feat: add OIDC support for Envoy and ext-authz helm charts
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/envoy-authz/Chart.yaml
  install/charts/envoy-authz/templates/configmap-authz.yaml
  install/charts/envoy-authz/templates/configmap-envoy.yaml
  install/charts/envoy-authz/templates/deployment-authz.yaml
  install/charts/envoy-authz/templates/deployment-envoy.yaml
  install/charts/envoy-authz/values.yaml
Due: none

feat(cli/client): implement OIDC support cli and client (#1063)
  .licensei.toml
  auth/authprovider/constants.go
  auth/authprovider/github/provider.go
  auth/authprovider/github/provider_test.go
  auth/authprovider/go.mod
  auth/authprovider/go.sum
  auth/authprovider/provider.go
  cli/cmd/auth/auth.go
  cli/cmd/auth/login.go
  cli/cmd/auth/status.go
  cli/cmd/options.go
  cli/cmd/root.go
  cli/config/config.go
  cli/go.mod
  cli/go.sum
  client/config.go
  client/github.go
  client/github_test.go
  client/go.mod
  client/go.sum
  client/oauth_device.go
  client/oauth_device_test.go
  client/oauth_web.go
  client/oauth_web_test.go
  client/oidc.go
  client/options.go
  client/options_test.go
  client/token_cache.go
  client/token_cache_test.go
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: client, cli

fix: duplicated code block
  server/store/oci/referrers.go
Due: server

chore: update brew formula version (#1082)
  HomebrewFormula/dirctl.rb
Due: none

chore(dir): move deps tasks to repo root
  .gitignore
  Taskfile.deps.yml
  Taskfile.yml
Due: none

chore(dir): move bin to .bin
  .github/workflows/gui-ci.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
  .gitignore
  Taskfile.deps.yml
  Taskfile.vars.yml
  Taskfile.yml
  cli/Taskfile.yml
Due: cli

chore(dir): update binaries versions
  Taskfile.vars.yml
Due: none

fix(dir): update image version in readme
  README.md
Due: none

fix: generate subcharts
  install/charts/dir/apiserver/charts/envoy-authz-0.2.0.tgz
  install/charts/envoy-authz/values.yaml
Due: none

fix: envoy jwt auth token decode and cli oidc flag
  auth/authzserver/payload.go
  auth/authzserver/payload_test.go
  client/oidc_grpc.go
  client/oidc_grpc_test.go
  client/options.go
Due: client

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
