Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

fix: linter issue
  server/controller/publication_test.go
Due: server

chore(github): add com.atlassian/ to import records
  .github/workflows/scripts/import-records.json
Due: none

chore(github): add com.atlassian/ to import records (#2007)
  .github/workflows/scripts/import-records.json
Due: none

chore: sidebar
  docs/content/community.md
  docs/content/dir/dir-api-reference.md
  docs/content/dir/dir-architecture.md
  docs/content/dir/dir-choosing-a-setup.md
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
  docs/content/dir/dir-component-mcp-server.md
  docs/content/dir/dir-component-oidc-authentication.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-component-runtime-discovery.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-deployment-local.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-federation-aws-eks.md
  docs/content/dir/dir-federation-overview.md
  docs/content/dir/dir-federation-profiles.md
  docs/content/dir/dir-federation-setup.md
  docs/content/dir/dir-federation-troubleshooting.md
  docs/content/dir/dir-overview.md
  docs/content/dir/dir-prod-deployment.md
  docs/content/dir/dir-quickstart.md
  docs/content/dir/dir-sdk-go.md
  docs/content/dir/dir-sdk-javascript.md
  docs/content/dir/dir-sdk-python.md
  docs/content/dir/dir-sdk.md
  docs/content/javascripts/dir-header-scroll.js
  docs/content/stylesheets/agntcy-docs.css
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/overrides/partials/nav-item.html
Due: none

chore: GH link
  docs/content/community.md
  docs/content/index.md
Due: none

fix: lint
  docs/content/community.md
  docs/pymarkdown.yaml
Due: none

chore(docs): sidebar and link update (#2011)
  docs/content/community.md
  docs/content/dir/dir-api-reference.md
  docs/content/dir/dir-architecture.md
  docs/content/dir/dir-choosing-a-setup.md
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
  docs/content/dir/dir-component-mcp-server.md
  docs/content/dir/dir-component-oidc-authentication.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-component-runtime-discovery.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-deployment-local.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-federation-aws-eks.md
  docs/content/dir/dir-federation-overview.md
  docs/content/dir/dir-federation-profiles.md
  docs/content/dir/dir-federation-setup.md
  docs/content/dir/dir-federation-troubleshooting.md
  docs/content/dir/dir-overview.md
  docs/content/dir/dir-prod-deployment.md
  docs/content/dir/dir-quickstart.md
  docs/content/dir/dir-sdk-go.md
  docs/content/dir/dir-sdk-javascript.md
  docs/content/dir/dir-sdk-python.md
  docs/content/dir/dir-sdk.md
  docs/content/index.md
  docs/content/javascripts/dir-header-scroll.js
  docs/content/stylesheets/agntcy-docs.css
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/overrides/partials/nav-item.html
  docs/pymarkdown.yaml
Due: none

chore(github): add additional vendor prefixes to import records
  .github/workflows/scripts/import-records.json
Due: none

chore: linking oasf issues
  docs/content/index.md
Due: none

chore: linking oasf issues (#2014)
  docs/content/index.md
Due: none

fix(cli): keep dirctl logs off stdout
  cli/cli.go
  cli/cmd/daemon/start.go
  utils/logging/config.go
  utils/logging/config_test.go
  utils/logging/logging.go
  utils/logging/logging_test.go
Due: cli

chore(dir): upgrade go-libp2p-pubsub to v0.17
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: server, cli

chore(github): add additional vendor prefixes to import records (#2013)
  .github/workflows/scripts/import-records.json
Due: none

feat(dir): split OCI address
  cli/cmd/daemon/config.go
  docs/content/dir/dir-federation-aws-eks.md
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/controller/sync.go
  server/routing/routing_remote.go
  server/store/oci/config/config.go
  server/store/oci/config/config_test.go
Due: server, cli

feat(catalog): add POST /v1/extract for OASF taxonomy extraction
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  server/controller/ai_finder.go
  server/controller/ai_finder_extract.go
  server/controller/ai_finder_extract_test.go
Due: api, server

fix(catalog): count text length in runes and preserve context status
  server/controller/ai_finder_extract.go
  server/controller/ai_finder_extract_test.go
Due: server

feat(client/cli): refresh OIDC token on the fly
  .github/workflows/import-records.yaml
  cli/cmd/context/show.go
  cli/cmd/options.go
  cli/config/config.go
  client/config.go
  client/config/config.go
  client/oidc_github.go
  client/oidc_github_test.go
  client/oidc_grpc.go
  client/oidc_grpc_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-oidc-authentication.md
Due: client, cli

fix(dir): upgrade dir-importer
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

fix(dir): upgrade dir-importer (#2020)
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

feat(dir): add extractor to import-records workflow
  .github/actions/init-dirctl/README.md
  .github/actions/init-dirctl/action.yaml
  .github/workflows/import-records.yaml
  .github/workflows/scripts/import-records-summary.sh
  cli/cmd/import/config_test.go
Due: cli

feat(dir): add extractor to import-records workflow (#2015)
  .github/actions/init-dirctl/README.md
  .github/actions/init-dirctl/action.yaml
  .github/workflows/import-records.yaml
  .github/workflows/scripts/import-records-summary.sh
  cli/cmd/import/config_test.go
Due: cli

fix: advertised_insecure and scheme
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/store/oci/config/config.go
  server/store/oci/config/config_test.go
Due: server

fix: oidc_audience is now a third accepted way to satisfy auth_mode: oidc
  client/config/config.go
  client/config/config_test.go
  client/oidc_github.go
  client/oidc_github_test.go
  client/oidc_grpc.go
Due: client

feat(catalog): add POST /v1/extract for OASF taxonomy extraction (#2023)
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  server/controller/ai_finder.go
  server/controller/ai_finder_extract.go
  server/controller/ai_finder_extract_test.go
Due: api, server

refactor(nlsearch): share the search fan-out and make ranking deterministic
  cli/cmd/search/nlsearch.go
  utils/nlsearch/fanout.go
  utils/nlsearch/fanout_test.go
Due: cli

feat(search): add POST /v1/search with dirctl search parity
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  server/controller/ai_finder.go
  server/controller/ai_finder_search.go
  server/controller/ai_finder_search_test.go
  server/controller/ai_finder_test.go
Due: api, server

feat(search): reject unusable queries instead of returning an empty page
  server/controller/ai_finder_search.go
  server/controller/ai_finder_search_test.go
Due: server

fix(search): bound query length and rank only projectable records
  server/controller/ai_finder_search.go
  server/controller/ai_finder_search_test.go
Due: server

fix(search): count the query length in characters, not bytes
  server/controller/ai_finder_search.go
  server/controller/ai_finder_search_test.go
Due: server

feat(dir): split OCI address (#2021)
  cli/cmd/daemon/config.go
  docs/content/dir/dir-federation-aws-eks.md
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/controller/sync.go
  server/routing/routing_remote.go
  server/store/oci/config/config.go
  server/store/oci/config/config_test.go
Due: server, cli

fix: actions id token env vars in tests
  client/oidc_grpc_test.go
  client/options_test.go
Due: client

docs(cli): document directory input and the oasf type in import help
  cli/cmd/import/import.go
  cli/cmd/import/options.go
Due: cli

fix(ownership): restore --exclude-owner support lost from merge commit
  cli/cmd/search/filters.go
  server/database/gorm/record_exclude.go
  server/database/utils/utils.go
  server/types/search.go
Due: server, cli

feat(search): add POST /v1/search with dirctl search parity (#2005)
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  cli/cmd/search/nlsearch.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  server/controller/ai_finder.go
  server/controller/ai_finder_search.go
  server/controller/ai_finder_search_test.go
  server/controller/ai_finder_test.go
  utils/nlsearch/fanout.go
  utils/nlsearch/fanout_test.go
Due: api, server, cli

feat(routing): carry v1 publish state across the upgrade automatically
  CHANGELOG.md
  server/routing/advertise.go
  server/routing/datastore_dir.go
  server/routing/datastore_dir_test.go
  server/routing/migrate_published.go
  server/routing/migrate_published_test.go
  server/routing/routing.go
  server/routing/routing_remote.go
Due: server

feat(client/cli): refresh OIDC token on the fly (#2026)
  .github/workflows/import-records.yaml
  cli/cmd/context/show.go
  cli/cmd/options.go
  cli/config/config.go
  client/config.go
  client/config/config.go
  client/config/config_test.go
  client/oidc_github.go
  client/oidc_github_test.go
  client/oidc_grpc.go
  client/oidc_grpc_test.go
  client/options_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-oidc-authentication.md
Due: client, cli

fix(github): renew Directory token while signing records
  .github/actions/sign-record/README.md
  .github/actions/sign-record/action.yaml
  .github/actions/sign-record/sign.sh
  .github/workflows/import-records.yaml
Due: none

fix(github): renew Directory token while signing records (#2034)
  .github/actions/sign-record/README.md
  .github/actions/sign-record/action.yaml
  .github/actions/sign-record/sign.sh
  .github/workflows/import-records.yaml
Due: none

release(dir): prepare api release v1.7.0
  versions.yaml
Due: none

release(dir): prepare api release v1.7.0
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: client, server, cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
