Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

refactor(dir/quickstart): clarify record discovery process and command usage
  docs/content/dir/dir-quickstart.md
Due: none

docs(dir-overview): update ADS specification section with new references
  docs/content/dir/dir-overview.md
Due: none

fix(docs/quickstart): brew installation
  HomebrewFormula/README.md
  cli/README.md
  docs/content/dir/dir-quickstart.md
Due: cli

refactor(docs/overview): simplify diagram
  docs/content/dir/dir-overview.md
Due: none

fix(docs): adds back header shadow (#1655)
  docs/content/stylesheets/agntcy-docs.css
  docs/content/stylesheets/dir-landing.css
Due: none

chore(ci): install mcp-scanner once and reuse via artifact
  .github/workflows/import-records.yaml
Due: none

fix(ci): run 1 import job at a time
  .github/workflows/import-records.yaml
Due: none

feat(ci): build dirctl binary once to be used in jobs
  .github/workflows/import-records.yaml
Due: none

fix(ci): guard import workflow concurrency and cap import runtime
  .github/workflows/import-records.yaml
Due: none

chore: bump oasf-sdk and dir-importer to latest
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

chore(ci): reuse Task from build-dirctl for mcp-scanner install
  .github/workflows/import-records.yaml
Due: none

refactor(ci): reuse sign-record action in import-records workflow
  .github/workflows/import-records.yaml
Due: none

feat(ci): retry signing and cleanup unsigned records on failure
  .github/actions/sign-record/README.md
  .github/actions/sign-record/action.yaml
  .github/actions/sign-record/sign.sh
  .github/workflows/import-records.yaml
  .github/workflows/scripts/import-records-summary.sh
Due: none

chore(ci): render mcphost enricher config from template
  .github/workflows/import-records.yaml
  .github/workflows/scripts/mcphost_ci.json.template
Due: none

feat(ci): add optional debug input to import-records workflow
  .github/workflows/import-records.yaml
  .github/workflows/scripts/import-records-summary.sh
Due: none

fix(ci): tighten MCP registry search filters with namespace slashes
  .github/workflows/scripts/import-records.json
Due: none

feat(ci): add import-records run summary job
  .github/workflows/import-records.yaml
  .github/workflows/scripts/import-records-summary.sh
Due: none

chore(ci): download dirctl before cloning agent-skill repos
  .github/workflows/import-records.yaml
Due: none

fix(ci): use correct upload-artifact pin in import-records
  .github/workflows/import-records.yaml
Due: none

fix(ci): raise import step timeout to 360 minutes
  .github/workflows/import-records.yaml
Due: none

chore(ci): update paths-filter action to use 'every' for predicate-quantifier
  .github/workflows/ci.yaml
Due: none

fix(ci): harden import-records workflow for nightly catalog sync (#1651)
  .github/actions/sign-record/README.md
  .github/actions/sign-record/action.yaml
  .github/actions/sign-record/sign.sh
  .github/workflows/import-records.yaml
  .github/workflows/scripts/import-records-summary.sh
  .github/workflows/scripts/import-records.json
  .github/workflows/scripts/mcphost_ci.json.template
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

docs(docs/get-started): trim and reorder the Get Started pages for easier onboarding (#1656)
  .github/workflows/ci.yaml
  HomebrewFormula/README.md
  cli/README.md
  docs/content/dir/dir-api-reference.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-overview.md
  docs/content/dir/dir-quickstart.md
  docs/mkdocs/mkdocs.yml
  server/config/config_test.go
Due: server, cli

perf: add static asset cache headers, gzip, and self-hosted fonts
  server/gateway/gateway.go
  server/gateway/static.go
  server/gateway/static/_app/immutable/assets/0.B4E8APYH.css
  server/gateway/static/_app/immutable/assets/0.DVhh6woJ.css
  server/gateway/static/_app/immutable/assets/inter-latin-400-normal.C38fXH4l.woff2
  server/gateway/static/_app/immutable/assets/inter-latin-400-normal.CyCys3Eg.woff
  server/gateway/static/_app/immutable/assets/inter-latin-500-normal.BL9OpVg8.woff
  server/gateway/static/_app/immutable/assets/inter-latin-500-normal.Cerq10X2.woff2
  server/gateway/static/_app/immutable/assets/inter-latin-600-normal.CiBQ2DWP.woff
  server/gateway/static/_app/immutable/assets/inter-latin-600-normal.LgqL8muc.woff2
  server/gateway/static/_app/immutable/assets/inter-latin-700-normal.BLAVimhd.woff
  server/gateway/static/_app/immutable/assets/inter-latin-700-normal.Yt3aPRUw.woff2
  server/gateway/static/_app/immutable/entry/app.CikNHcT3.js
  server/gateway/static/_app/immutable/entry/app.sceGekqU.js
  server/gateway/static/_app/immutable/nodes/0.BQrbt6Dk.js
  server/gateway/static/index.html
  server/gateway/static_test.go
  server/gateway/ui/README.md
  server/gateway/ui/package-lock.json
  server/gateway/ui/package.json
  server/gateway/ui/src/app.css
  server/gateway/ui/src/app.html
Due: server

fix: gzip text/javascript static assets and skip fs.Stat
  server/gateway/gateway.go
  server/gateway/static.go
  server/gateway/static_test.go
Due: server

fix: harden static asset negotiation and error handling
  server/gateway/gateway.go
  server/gateway/static.go
  server/gateway/static_test.go
Due: server

fix: validate static paths and no-cache version.json
  server/gateway/gateway.go
  server/gateway/static.go
  server/gateway/static_test.go
Due: server

docs: remove Event Streaming and GUI components from documentation
  docs/content/dir/.index
  docs/content/dir/dir-architecture.md
  docs/content/dir/dir-component-event-streaming.md
  docs/content/dir/dir-component-gui.md
  docs/mkdocs/mkdocs.yml
Due: none

docs: remove duplicated Directory Security Trust Schema documentation
  docs/content/security-schema.md
Due: none

docs: update README and remove obsolete RFC files
  docs/README.md
  docs/rfc/01-security-schema.md
  docs/rfc/template.md
Due: none

docs: remove obsolete integration files and update README
  docs/README.md
  docs/content/integrations.md
  docs/content/research-integration-slides.md
  docs/research/integrations/.env.example
  docs/research/integrations/SLIDES.md
  docs/research/integrations/SLIDES.pdf
  docs/research/integrations/Taskfile.yml
  docs/research/integrations/demo.record.json
  docs/research/integrations/importer.py
  docs/research/integrations/integrations.md
  docs/research/integrations/mcp-to-oasf-agent/context/example.record.json
  docs/research/integrations/mcp-to-oasf-agent/context/skills.json
  docs/research/integrations/mcp-to-oasf-agent/extracted-records/aws.record.json
  docs/research/integrations/mcp-to-oasf-agent/extracted-records/azure.record.json
  docs/research/integrations/mcp-to-oasf-agent/extracted-records/gcp.record.json
  docs/research/integrations/mcp-to-oasf-agent/extracted-records/github.record.json
  docs/research/integrations/mcp-to-oasf-agent/extracted-records/slack.record.json
  docs/research/integrations/mcp-to-oasf-agent/extractor.record.json
  docs/research/integrations/mcp-to-oasf-agent/validator.record.json
  docs/research/signing/01-deploy-sigstore.sh
  docs/research/signing/02-poc-cosign.sh
  docs/research/signing/agent.json
  docs/research/signing/scaffold.values.yaml
  docs/research/token/fetcher.sh
  docs/research/token/fetcher.yaml
Due: none

docs: move OpenShift installation guide
  install/charts/dir/values-openshift.yaml
  install/openshift-install.md
Due: none

fix: 404 missing _app assets and use gzip BestSpeed
  server/gateway/gateway.go
  server/gateway/static.go
  server/gateway/static_test.go
  server/gateway/ui/README.md
Due: server

fix: only reject traversal paths before static read
  server/gateway/gateway.go
  server/gateway/static.go
  server/gateway/static_test.go
Due: server

perf(ui): add static asset cache headers, gzip, and self-hosted fonts (#1653)
  server/gateway/gateway.go
  server/gateway/static.go
  server/gateway/static/_app/immutable/assets/0.B4E8APYH.css
  server/gateway/static/_app/immutable/assets/0.DVhh6woJ.css
  server/gateway/static/_app/immutable/assets/inter-latin-400-normal.C38fXH4l.woff2
  server/gateway/static/_app/immutable/assets/inter-latin-400-normal.CyCys3Eg.woff
  server/gateway/static/_app/immutable/assets/inter-latin-500-normal.BL9OpVg8.woff
  server/gateway/static/_app/immutable/assets/inter-latin-500-normal.Cerq10X2.woff2
  server/gateway/static/_app/immutable/assets/inter-latin-600-normal.CiBQ2DWP.woff
  server/gateway/static/_app/immutable/assets/inter-latin-600-normal.LgqL8muc.woff2
  server/gateway/static/_app/immutable/assets/inter-latin-700-normal.BLAVimhd.woff
  server/gateway/static/_app/immutable/assets/inter-latin-700-normal.Yt3aPRUw.woff2
  server/gateway/static/_app/immutable/entry/app.CikNHcT3.js
  server/gateway/static/_app/immutable/entry/app.sceGekqU.js
  server/gateway/static/_app/immutable/nodes/0.BQrbt6Dk.js
  server/gateway/static/index.html
  server/gateway/static_test.go
  server/gateway/ui/README.md
  server/gateway/ui/package-lock.json
  server/gateway/ui/package.json
  server/gateway/ui/src/app.css
  server/gateway/ui/src/app.html
Due: server

chore: updating main intro
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

chore: updating main intro (#1659)
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

feat(ui): add About page, header link, and favicon
  server/gateway/static/_app/immutable/assets/0.B4E8APYH.css
  server/gateway/static/_app/immutable/assets/0.VoXJbESq.css
  server/gateway/static/_app/immutable/chunks/6ttYrQHF.js
  server/gateway/static/_app/immutable/chunks/B5WpyDK1.js
  server/gateway/static/_app/immutable/chunks/BIP6Shgx.js
  server/gateway/static/_app/immutable/chunks/BVcZFfsS.js
  server/gateway/static/_app/immutable/chunks/fOEf90SS.js
  server/gateway/static/_app/immutable/chunks/mLKf-Tym.js
  server/gateway/static/_app/immutable/chunks/z-ED023R.js
  server/gateway/static/_app/immutable/entry/app.CikNHcT3.js
  server/gateway/static/_app/immutable/entry/app.VFDz3-hk.js
  server/gateway/static/_app/immutable/entry/start.BQXDC4l2.js
  server/gateway/static/_app/immutable/entry/start.DwGuDGxZ.js
  server/gateway/static/_app/immutable/nodes/0.BQrbt6Dk.js
  server/gateway/static/_app/immutable/nodes/0.oQx2QRtJ.js
  server/gateway/static/_app/immutable/nodes/1.DDtPNr4j.js
  server/gateway/static/_app/immutable/nodes/1.DadlH0Ml.js
  server/gateway/static/_app/immutable/nodes/2.B0O4_Ro-.js
  server/gateway/static/_app/immutable/nodes/2.DQzdLCVQ.js
  server/gateway/static/_app/immutable/nodes/3.CsJmtfqs.js
  server/gateway/static/about.html
  server/gateway/static/favicon.ico
  server/gateway/static/index.html
  server/gateway/static_test.go
  server/gateway/ui/src/app.html
  server/gateway/ui/src/lib/components/CatalogHeader.svelte
  server/gateway/ui/src/lib/header-stats.svelte.ts
  server/gateway/ui/src/routes/+layout.svelte
  server/gateway/ui/src/routes/+page.svelte
  server/gateway/ui/src/routes/about/+page.svelte
  server/gateway/ui/static/favicon.ico
Due: server

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
