Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

Prepare cli for version v0.5.4
  cli/go.mod
  e2e/go.mod
  hub/go.mod
Due: cli

ci(dir): fail when unit test fail
  .github/workflows/reusable-test.yaml
  Taskfile.yml
Due: none

release(client): prepare release/v0.5.4 (#736)
  CHANGELOG.md
  README.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

ci(dir): fail when unit test fail (#733)
  .github/workflows/reusable-test.yaml
  Taskfile.yml
Due: none

chore: update brew formula version (#738)
  HomebrewFormula/dirctl.rb
Due: none

fix(dir): add cleanup and sudo to spire task
  Taskfile.yml
Due: none

fix(dir): add cleanup and sudo to spire task (#734)
  Taskfile.yml
Due: none

feat: add workflow for building images and charts from feature branches
  .github/workflows/build-feature.yaml
Due: none

feat: add component as image name suffix and helm path
  .github/workflows/build-feature.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-helm.yaml
  docker-bake.hcl
Due: none

feat(dir): add workflow for building images and charts from feature branches (#739)
  .github/workflows/build-feature.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-helm.yaml
  docker-bake.hcl
Due: none

fix: retry logic check SPIFFEID
  client/options.go
  client/options_test.go
Due: client

fix: reusable build workflow use the component tag if presented
  .github/workflows/reusable-build.yaml
Due: none

fix: reusable build workflow use the component tag if presented (#742)
  .github/workflows/reusable-build.yaml
Due: none

fix: add debug logging
  client/options.go
Due: client

fix: add x509source wrapper to support tls handshake
  client/options.go
Due: client

fix: add wrapper log
  client/options.go
Due: client

fix: initX509 for wait for the svid and uri san
  server/authn/service.go
Due: server

fix: server svid
  server/authn/service.go
Due: server

docs: add instructions how to test with local OASF instance
  README.md
  mcp/README.md
  server/README.md
Due: server

feat(mcp): configuration to use OASF API validator
  importer/enricher/mcphost.json
  mcp/README.md
  mcp/server/server.go
Due: none

fix: test records to be valid against OASF API validator
  e2e/shared/testdata/record_031.json
  e2e/shared/testdata/record_070.json
  e2e/shared/testdata/record_070_sync_v4.json
  e2e/shared/testdata/record_070_sync_v5.json
  e2e/shared/testdata/record_080.json
Due: none

feat(dir/api): configuration to use OASF API validator
  api/core/v1/record.go
  api/core/v1/record_test.go
Due: api

feat(dir/server): configuration to use OASF API validator
  README.md
  server/config/config.go
  server/config/config_test.go
  server/server.go
  server/server_test.go
Due: server

fix: e2e tests
  Taskfile.yml
  e2e/client/01_client_test.go
  e2e/local/02_search_test.go
Due: none

feat: default API validation to be diabled with env
  Taskfile.yml
  api/core/v1/record.go
  mcp/README.md
  mcp/server/server.go
  server/README.md
  server/config/config.go
  server/server.go
Due: api, server

fix: use mutex for api configuration
  api/core/v1/record.go
Due: api

feat: update to oasf-sdk 0.0.12
  Taskfile.yml
  api/core/v1/record.go
  api/core/v1/record_test.go
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.sum
  e2e/local/01_storage_test.go
  e2e/shared/testdata/embed.go
  e2e/shared/testdata/record_warnings_080.json
  hub/go.mod
  hub/go.sum
  importer/go.sum
  mcp/README.md
  mcp/go.sum
  mcp/server/server.go
  mcp/tools/push_record.go
  mcp/tools/validate_record.go
  server/README.md
  server/config/config.go
  server/controller/store.go
  server/go.sum
  server/server.go
  server/sync/monitor/monitor.go
Due: api, client, server, cli

fix(dir/api): create new context for Validate()
  api/core/v1/record.go
Due: api

feat: increase test coverage
  api/core/v1/record_test.go
  mcp/server/server_test.go
  mcp/tools/push_record_test.go
  mcp/tools/validate_record_test.go
  server/config/config_test.go
  server/server_test.go
Due: api, server

chore: update to oasf-sdk 0.0.13
  Taskfile.yml
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/go.sum
  mcp/go.sum
  server/go.sum
Due: api, client, server, cli

chore: update to oasf-sdk 0.0.14
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

feat(dir/client): centralize X509-SVID retry logic in utils/spiffe package
  client/options.go
  client/options_test.go
  server/authn/service.go
  utils/go.mod
  utils/spiffe/retry.go
  utils/spiffe/retry_test.go
Due: client, server

chore(deps): bump golang.org/x/crypto from 0.43.0 to 0.45.0
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, cli

chore(deps-dev): bump js-yaml from 4.1.0 to 4.1.1 in /sdk/examples/example-js
  sdk/examples/example-js/package-lock.json
Due: none

chore: rename env vars
  Taskfile.yml
  mcp/README.md
  mcp/server/server.go
  mcp/server/server_test.go
  server/README.md
  server/config/config.go
  server/config/config_test.go
Due: server

feat: add job to fetch latest release version for container security scan workflow
  .github/workflows/container-security-scan.yml
Due: none

feat(importer): prioritize dedup checker
  importer/mcp/importer.go
  importer/pipeline/dedup.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
  importer/pipeline/pusher.go
Due: none

feat: add records with older OASF versions to the dedup cache
  importer/pipeline/dedup.go
Due: none

feat: add duplicate checker to dry-run
  importer/mcp/importer.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
