Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

fix(import): scope extractor enricher to the record's OASF schema version
  cli/cmd/import/config.go
  cli/cmd/import/extractor_adapter.go
Due: cli

chore(deps): bump dir-importer to OASF 1.1.0
  cli/go.mod
  cli/go.sum
  tests/e2e/local/10_export_test.go
  tests/go.mod
  tests/go.sum
Due: cli

fix(init): project client context connection env onto the DIR MCP entry
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/internal/agentinstall/derive.go
  cli/internal/agentinstall/derive_test.go
Due: cli

fix(dir): add ListTags endpoint
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  api/catalog/v1/models.pb.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  proto/agntcy/dir/catalog/v1/models.proto
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/database_test.go
  server/database/gorm/catalog.go
  server/types/database.go
Due: api, server

fix(init): project client context connection env onto the DIR MCP entry (#1876)
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/internal/agentinstall/derive.go
  cli/internal/agentinstall/derive_test.go
Due: cli

chore(reconciler): bump scanner versions
  Taskfile.vars.yml
  docker-bake.hcl
  install/docker/docker-compose.yml
Due: none

chore(reconciler): bump scanner versions (#1879)
  Taskfile.vars.yml
  docker-bake.hcl
  install/docker/docker-compose.yml
Due: none

fix(dir): fix IsReady errors
  server/routing/routing.go
Due: server

fix(dir): add ListTags endpoint (#1877)
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  api/catalog/v1/models.pb.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  proto/agntcy/dir/catalog/v1/models.proto
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/database_test.go
  server/database/gorm/catalog.go
  server/types/database.go
Due: api, server

feat(dir): add wait check for dependencies for apiserver
  api/go.mod
  api/go.sum
  client/go.mod
  client/go.sum
  install/charts/dir/apiserver/values.yaml
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/main.go
  server/config/config.go
  server/config/config_test.go
  server/go.mod
  server/go.sum
  server/server.go
  server/startup/config/config.go
  server/startup/config/config_test.go
  server/startup/dependencies.go
  server/startup/dependencies_test.go
Due: api, client, server

refactor(dir): use single value for healthcheck
  install/charts/dir/apiserver/values.yaml
  reconciler/config/config.go
  reconciler/config/config_test.go
  server/config/config.go
  server/config/config_test.go
  server/startup/config/config.go
  server/startup/config/config_test.go
  server/startup/dependencies.go
  server/startup/dependencies_test.go
Due: server

test(datastore): reproduce concurrent memory access
  server/datastore/datastore_test.go
Due: server

fix(datastore): synchronize in-memory access
  server/datastore/datastore.go
Due: server

fix(datastore): synchronize in-memory routing datastore
  server/datastore/datastore.go
  server/datastore/datastore_test.go
Due: server

fix(cli): avoid blocking on non-interactive key passwords
  cli/cmd/sign/options.go
  cli/cmd/sign/sign.go
  cli/cmd/sign/sign_test.go
Due: cli

feat(ownership): add SPIFFE-based ownership claims via Signature referrer
  api/core/v1/referrer_types.go
  api/ownership/v1/sign.go
  api/ownership/v1/sign_test.go
  api/search/v1/record_query.pb.go
  cli/cmd/daemon/config.go
  cli/cmd/ownership/ownership.go
  cli/cmd/root.go
  cli/cmd/search/filters.go
  proto/agntcy/dir/search/v1/record_query.proto
  reconciler/config/config.go
  reconciler/service/service.go
  reconciler/tasks/ownership/config.go
  reconciler/tasks/ownership/task.go
  reconciler/tasks/signature/task_test.go
  server/database/gorm/migration.go
  server/database/gorm/owners.go
  server/database/gorm/record.go
  server/database/utils/utils.go
  server/ingest/ingest.go
  server/types/database.go
  server/types/search.go
  tests/e2e/local/13_ownership_search_test.go
  tests/e2e/local/14_ownership_signing_test.go
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/shared/utils/cli.go
  tests/e2e/shared/utils/sign.go
Due: api, server, cli

fix(dir): fix IsReady errors (#1881)
  server/routing/routing.go
Due: server

fix(datastore): synchronize in-memory routing datastore (#1890)
  server/datastore/datastore.go
  server/datastore/datastore_test.go
Due: server

fix(ui): use new ListTags API in UI
  server/gateway/static/_app/immutable/entry/app.Bep00XJ_.js
  server/gateway/static/_app/immutable/entry/app.D8PkTIGZ.js
  server/gateway/static/_app/immutable/nodes/2.BEnsDIve.js
  server/gateway/static/_app/immutable/nodes/2.C7jNcfIL.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

fix(cli): import extractor schema version scope (#1870)
  cli/cmd/import/config.go
  cli/cmd/import/extractor_adapter.go
  cli/go.mod
  cli/go.sum
  tests/e2e/local/10_export_test.go
  tests/go.mod
  tests/go.sum
Due: cli

fix(ui): use new ListTags API in UI (#1893)
  server/gateway/static/_app/immutable/entry/app.Bep00XJ_.js
  server/gateway/static/_app/immutable/entry/app.D8PkTIGZ.js
  server/gateway/static/_app/immutable/nodes/2.BEnsDIve.js
  server/gateway/static/_app/immutable/nodes/2.C7jNcfIL.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

fix(dir): add trusted, verified, safe filters
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
Due: server

feat(cli): add --project scope to dirctl install/uninstall
  cli/cmd/init/agents.go
  cli/cmd/install/batch.go
  cli/cmd/install/flags.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/list.go
  cli/cmd/install/options.go
  cli/cmd/install/uninstall.go
  cli/internal/agentcfg/mcp_engine.go
  cli/internal/agentcfg/mcp_engine_test.go
  cli/internal/agentcfg/mcp_remove_test.go
  cli/internal/agentcfg/paths.go
  cli/internal/agentcfg/registry.go
  cli/internal/agentcfg/registry_test.go
  cli/internal/agentcfg/result.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/agentcfg/skill_engine_test.go
  cli/internal/agentcfg/skill_path.go
  cli/internal/agentcfg/types.go
  cli/internal/agentinstall/apply.go
  cli/internal/agentinstall/apply_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-features-scenarios.md
  docs/superpowers/plans/2026-07-21-dirctl-install-project-scope.md
  docs/superpowers/specs/2026-07-21-dirctl-install-project-scope-design.md
Due: cli

fix: address review comments
  cli/internal/agentcfg/skill_engine.go
  docs/content/dir/dir-cli-reference.md
Due: cli

fix(dir): add trusted, verified, safe filters (#1896)
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
Due: server

fix(dir): add Annotations to RecordFilters
  server/database/database_test.go
  server/database/gorm/record.go
  server/database/utils/wildcard.go
  server/types/search.go
Due: server

fix(dir): add Annotations to RecordFilters (#1898)
  server/database/database_test.go
  server/database/gorm/record.go
  server/database/utils/wildcard.go
  server/types/search.go
Due: server

fix(dir): add tags filter to ListAgents endpoint
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
Due: server

fix(dir): add tags filter to ListAgents endpoint (#1897)
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
Due: server

fix(dir): add TrustStatus & Verified badge
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
  server/database/gorm/record.go
  server/gateway/static/_app/immutable/chunks/B0kElV95.js
  server/gateway/static/_app/immutable/chunks/DLOukV94.js
  server/gateway/static/_app/immutable/entry/app.BWptuy2e.js
  server/gateway/static/_app/immutable/entry/app.D8PkTIGZ.js
  server/gateway/static/_app/immutable/nodes/2.BEnsDIve.js
  server/gateway/static/_app/immutable/nodes/2.y66trQ44.js
  server/gateway/static/_app/immutable/nodes/3.44uEOxjf.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/TrustedBadge.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
Due: api, server

fix(dir): add TrustStatus & Verified badge (#1899)
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
  server/database/gorm/record.go
  server/gateway/static/_app/immutable/chunks/B0kElV95.js
  server/gateway/static/_app/immutable/chunks/DLOukV94.js
  server/gateway/static/_app/immutable/entry/app.BWptuy2e.js
  server/gateway/static/_app/immutable/entry/app.D8PkTIGZ.js
  server/gateway/static/_app/immutable/nodes/2.BEnsDIve.js
  server/gateway/static/_app/immutable/nodes/2.y66trQ44.js
  server/gateway/static/_app/immutable/nodes/3.44uEOxjf.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/TrustedBadge.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
Due: api, server

feat(cli): add --project scope to dirctl install/uninstall (#1894)
  cli/cmd/init/agents.go
  cli/cmd/install/batch.go
  cli/cmd/install/flags.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/list.go
  cli/cmd/install/options.go
  cli/cmd/install/uninstall.go
  cli/internal/agentcfg/mcp_engine.go
  cli/internal/agentcfg/mcp_engine_test.go
  cli/internal/agentcfg/mcp_remove_test.go
  cli/internal/agentcfg/paths.go
  cli/internal/agentcfg/registry.go
  cli/internal/agentcfg/registry_test.go
  cli/internal/agentcfg/result.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/agentcfg/skill_engine_test.go
  cli/internal/agentcfg/skill_path.go
  cli/internal/agentcfg/types.go
  cli/internal/agentinstall/apply.go
  cli/internal/agentinstall/apply_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-features-scenarios.md
  docs/superpowers/plans/2026-07-21-dirctl-install-project-scope.md
  docs/superpowers/specs/2026-07-21-dirctl-install-project-scope-design.md
Due: cli

fix(dir): apply catalog module filter to SQL
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
Due: api, server

fix(dir): apply catalog module filter to SQL (#1901)
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
Due: api, server

fix(cli): register cloud KMS providers
  cli/cmd/sign/kms_providers.go
  cli/cmd/sign/kms_providers_test.go
  cli/go.mod
Due: cli

fix(tests): keep CLI replacement module tidy
  tests/go.mod
Due: none

fix(ci): recognize Vault API license
  .licensei.toml
Due: none

docs(dir): document KMS-backed signing
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
Due: none

docs(dir): explain non-interactive key passwords
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-features-scenarios.md
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
