Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

docs: add Oracle and Dell to CONTRIBUTORS.md (#1846)
  CONTRIBUTORS.md
Due: none

docs: add SourceFuse to legitimate contributors based on Rahul Sharma
  CONTRIBUTORS.md
Due: none

docs: add SourceFuse to legitimate contributors based on Rahul Sharma (#1847)
  CONTRIBUTORS.md
Due: none

docs: update importer documentation
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-federation-aws-eks.md
Due: none

refactor(cli, server): unify store configuration by removing 'oci' prefix and updating related references
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  cli/cmd/daemon/start.go
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/controller/sync.go
  server/routing/test_utils.go
  server/store/config/config.go
  server/store/store.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
  tests/integration/server/setup.go
  tests/integration/server/testenv/test-config.yaml
Due: server, cli

refactor(dir/server): remove verification configuration from store config
  cli/cmd/daemon/daemon.config.yaml
  server/config/config.go
  server/config/config_test.go
  server/naming/config/config.go
  server/store/config/config.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
Due: server, cli

test(e2e): add extractor enricher coverage for dirctl import
  tests/e2e/local/16_extractor_enricher_test.go
Due: none

fix(dir): increase db connection pool
  server/database/database.go
Due: server

docs: nl search no longer future feature
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-quickstart.md
Due: none

fix(dir): increase db connection pool (#1850)
  server/database/database.go
Due: server

docs: NL search for dirctl search and dirctl routing search
  docs/content/dir/dir-cli-reference.md
Due: none

docs: add a2a-scanner to security scanning documentation
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
Due: none

docs: add extractor enrichment
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
Due: none

test(e2e): add extractor enricher coverage for dirctl import (#1849)
  tests/e2e/local/16_extractor_enricher_test.go
Due: none

docs(dir): document NL search, a2a-scanner, and extractor enrichment (#1851)
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-quickstart.md
Due: none

feat(routing): configurable republish interval with default
  server/routing/cleanup_tasks.go
  server/routing/config/config.go
  server/routing/routing_remote.go
Due: server

feat(dir): add JWT-TLS auth mode
  cli/cmd/doctor/config.go
  cli/cmd/doctor/config_test.go
  cli/cmd/options.go
  client/config/config.go
  client/config/config_test.go
  client/jwt_tls_test.go
  client/options.go
  client/options_test.go
  reconciler/tasks/regsync/credentials_test.go
  server/authn/config/config.go
  server/authn/config/config_test.go
  server/authn/service.go
Due: client, server, cli

feat(routing): configurable republish interval with default (#1858)
  server/routing/cleanup_tasks.go
  server/routing/config/config.go
  server/routing/routing_remote.go
Due: server

feat(dir): add JWT-TLS auth mode (#1857)
  cli/cmd/doctor/config.go
  cli/cmd/doctor/config_test.go
  cli/cmd/options.go
  client/config/config.go
  client/config/config_test.go
  client/jwt_tls_test.go
  client/options.go
  client/options_test.go
  reconciler/tasks/regsync/credentials_test.go
  server/authn/config/config.go
  server/authn/config/config_test.go
  server/authn/service.go
Due: client, server, cli

fix(dir): fix failing test
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/e2e/local/16_extractor_enricher_test.go
Due: none

fix(import): align extractor-enriched record schema version with OASF latest
  cli/cmd/import/config.go
  cli/cmd/import/import.config.yaml
Due: cli

fix(import): align extractor-enriched record schema version with OASF latest (#1862)
  cli/cmd/import/config.go
  cli/cmd/import/import.config.yaml
Due: cli

release(dir): prepare api release v1.6.1
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  versions.yaml
Due: none

release(dir): prepare api release v1.6.1
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: client, server, cli

fix(import): reset SchemaVersion per loadConfig to avoid in-process leak
  cli/cmd/import/config.go
Due: cli

fix(import): reset SchemaVersion per loadConfig to avoid in-process leak (#1863)
  cli/cmd/import/config.go
Due: cli

release(dir): prepare api release v1.6.1 (#1860)
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/go.mod
  tests/go.mod
  utils/go.mod
  versions.yaml
Due: client, server, cli

release(dir): prepare server release v1.6.1
  versions.yaml
Due: none

release(dir): prepare server release v1.6.1
  cli/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  tests/go.mod
Due: cli

release(dir): prepare server release v1.6.1 (#1859)
  cli/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  tests/go.mod
  versions.yaml
Due: cli

chore: update brew formula version (#1868)
  HomebrewFormula/dirctl/v1/v1.6/dirctl@1.6.1.rb
Due: none

chore(dirctl): add brew formula v1.6.0
  HomebrewFormula/dirctl/v1/v1.6/dirctl@1.6.0.rb
Due: none

chore(dirctl): add brew formula v1.6.0 (#1869)
  HomebrewFormula/dirctl/v1/v1.6/dirctl@1.6.0.rb
Due: none

fix(dir): remove DisclaimerBanner
  server/gateway/static/_app/immutable/assets/0.CDdpV59d.css
  server/gateway/static/_app/immutable/assets/0.CcySkaXt.css
  server/gateway/static/_app/immutable/entry/app.B16X0335.js
  server/gateway/static/_app/immutable/entry/app.Dl0oYVfz.js
  server/gateway/static/_app/immutable/nodes/0.BwaDtrKH.js
  server/gateway/static/_app/immutable/nodes/2.BRmMdTHU.js
  server/gateway/static/_app/immutable/nodes/2.IOCHqJP8.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/DisclaimerBanner.svelte
  server/gateway/ui/src/routes/+page.svelte
Due: server

feat(dir): add wait check for dependencies for apiserver
  api/go.mod
  api/go.sum
  client/go.mod
  client/go.sum
  install/charts/dir/apiserver/values.yaml
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/main.go
  server/config/config.go
  server/config/config_test.go
  server/go.mod
  server/go.sum
  server/server.go
  server/startup/config/config.go
  server/startup/config/config_test.go
  server/startup/dependencies.go
  server/startup/dependencies_test.go
Due: api, client, server

fix(database): resolve ambiguous column reference in usage metrics upserts
  server/database/gorm/usage_metrics.go
Due: server

fix(dir): remove DisclaimerBanner (#1871)
  server/gateway/static/_app/immutable/assets/0.CDdpV59d.css
  server/gateway/static/_app/immutable/assets/0.CcySkaXt.css
  server/gateway/static/_app/immutable/entry/app.B16X0335.js
  server/gateway/static/_app/immutable/entry/app.Dl0oYVfz.js
  server/gateway/static/_app/immutable/nodes/0.BwaDtrKH.js
  server/gateway/static/_app/immutable/nodes/2.BRmMdTHU.js
  server/gateway/static/_app/immutable/nodes/2.IOCHqJP8.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/DisclaimerBanner.svelte
  server/gateway/ui/src/routes/+page.svelte
Due: server

feat(dir): use total_count in ListAgents and AI Catalog UI
  api/catalog/v1/ai_finder_service.pb.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
  server/gateway/static/_app/immutable/entry/app.Bep00XJ_.js
  server/gateway/static/_app/immutable/entry/app.Dl0oYVfz.js
  server/gateway/static/_app/immutable/nodes/0.BwaDtrKH.js
  server/gateway/static/_app/immutable/nodes/0.SWV3q6k5.js
  server/gateway/static/_app/immutable/nodes/2.BRmMdTHU.js
  server/gateway/static/_app/immutable/nodes/2.C7jNcfIL.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/CatalogHeader.svelte
  server/gateway/ui/src/lib/header-stats.svelte.ts
  server/gateway/ui/src/routes/+page.svelte
  server/types/database.go
Due: server

fix(database): resolve ambiguous column reference in usage metrics upserts (#1873)
  server/database/gorm/usage_metrics.go
Due: server

feat(dir): use total_count in ListAgents and AI Catalog UI (#1875)
  api/catalog/v1/ai_finder_service.pb.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
  server/gateway/static/_app/immutable/entry/app.Bep00XJ_.js
  server/gateway/static/_app/immutable/entry/app.Dl0oYVfz.js
  server/gateway/static/_app/immutable/nodes/0.BwaDtrKH.js
  server/gateway/static/_app/immutable/nodes/0.SWV3q6k5.js
  server/gateway/static/_app/immutable/nodes/2.BRmMdTHU.js
  server/gateway/static/_app/immutable/nodes/2.C7jNcfIL.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/CatalogHeader.svelte
  server/gateway/ui/src/lib/header-stats.svelte.ts
  server/gateway/ui/src/routes/+page.svelte
  server/types/database.go
Due: server
