Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

refactor(dir): rename content_policies ConfigMap to policies
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/policies-configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

refactor(dir): rename content_policies ConfigMap to policies (#2210)
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/policies-configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

fix(proto): restore the naming/v1 go_package override until #2126 removes the protos
  proto/buf.gen.yaml
Due: none

fix(cli): accept a key-only identity claim
  cli/cmd/identity/identity.go
  cli/cmd/identity/identity_test.go
Due: cli

fix(config): bind the identity task keys from the environment and show the task in the samples
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  install/charts/dir/apiserver/values.yaml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
Due: cli

refactor(server,reconciler): extract the identity wiring and clear the reconciler lint findings
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
  server/server.go
  server/server_test.go
Due: server

refactor(api): share the certificate-signer loader and report certificate expiry
  api/identity/v1/claim.go
  api/identity/v1/jws.go
  api/identity/v1/loader_test.go
  api/identity/v1/sign.go
  api/identity/v1/sign_verify_test.go
  api/identity/v1/verify.go
  cli/cmd/identity/identity.go
  cli/cmd/identity/identity_test.go
Due: api, cli

chore(deps): tidy the reconciler and tests modules
  reconciler/go.mod
  tests/go.mod
  tests/go.sum
Due: none

wip: cgo library implementation
  Taskfile.yml
  signlib/Taskfile.yml
  signlib/go.mod
  signlib/go.sum
  signlib/wrapper.go
Due: none

chore(deps): bump sigstore/rekor to v1.5.4 to drop x/crypto/openpgp [security]
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
Due: client

chore(deps): bump sigstore/rekor to v1.5.4 to drop x/crypto/openpgp [security] (#2225)
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
Due: client

feat: add all client functions to cgo wrapper
  Taskfile.yml
  signlib/wrapper.go
  wrapperlib/Taskfile.yml
  wrapperlib/client_lifecycle.go
  wrapperlib/client_lifecycle_test.go
  wrapperlib/events.go
  wrapperlib/events_test.go
  wrapperlib/go.mod
  wrapperlib/go.sum
  wrapperlib/handle.go
  wrapperlib/helpers.go
  wrapperlib/helpers_test.go
  wrapperlib/naming.go
  wrapperlib/naming_test.go
  wrapperlib/routing.go
  wrapperlib/routing_test.go
  wrapperlib/runtime.go
  wrapperlib/runtime_test.go
  wrapperlib/search.go
  wrapperlib/search_test.go
  wrapperlib/server_test.go
  wrapperlib/sign.go
  wrapperlib/sign_test.go
  wrapperlib/store.go
  wrapperlib/store_test.go
  wrapperlib/sync.go
  wrapperlib/sync_test.go
  wrapperlib/testbridge.go
  wrapperlib/verify.go
  wrapperlib/verify_test.go
  wrapperlib/wrapper.go
  wrapperlib/wrapper_test.go
Due: none

refactor: remove pure grpc calls
  wrapperlib/events.go
  wrapperlib/events_test.go
  wrapperlib/go.mod
  wrapperlib/helpers.go
  wrapperlib/helpers_test.go
  wrapperlib/naming.go
  wrapperlib/naming_test.go
  wrapperlib/routing.go
  wrapperlib/routing_test.go
  wrapperlib/runtime.go
  wrapperlib/runtime_test.go
  wrapperlib/search.go
  wrapperlib/search_test.go
  wrapperlib/server_test.go
  wrapperlib/store.go
  wrapperlib/store_test.go
  wrapperlib/sync.go
  wrapperlib/sync_test.go
  wrapperlib/wrapper.go
Due: none

chore(deps): rebuild gateway UI static assets
  server/gateway/static/_app/immutable/assets/0.BQICZlSq.css
  server/gateway/static/_app/immutable/assets/0.CAlm59r1.css
  server/gateway/static/_app/immutable/chunks/BE3mKSrw.js
  server/gateway/static/_app/immutable/chunks/Bn-971iz.js
  server/gateway/static/_app/immutable/chunks/BvFvB0xU.js
  server/gateway/static/_app/immutable/chunks/C-E_BKFG.js
  server/gateway/static/_app/immutable/chunks/C-S5hJo3.js
  server/gateway/static/_app/immutable/chunks/C2WbNiF0.js
  server/gateway/static/_app/immutable/chunks/CNRCT1r_.js
  server/gateway/static/_app/immutable/chunks/Cel4C7WY.js
  server/gateway/static/_app/immutable/chunks/CgUIEzt5.js
  server/gateway/static/_app/immutable/chunks/D0e8kos2.js
  server/gateway/static/_app/immutable/chunks/DXUfRo93.js
  server/gateway/static/_app/immutable/chunks/DsJNZJ3t.js
  server/gateway/static/_app/immutable/chunks/kNaey6uv.js
  server/gateway/static/_app/immutable/entry/app.BdcPpQFD.js
  server/gateway/static/_app/immutable/entry/app.C-KdtAzo.js
  server/gateway/static/_app/immutable/entry/start.Dt6pNuls.js
  server/gateway/static/_app/immutable/entry/start.IuC63T2i.js
  server/gateway/static/_app/immutable/nodes/0.Du2Ixcjd.js
  server/gateway/static/_app/immutable/nodes/0.YAJeYxhr.js
  server/gateway/static/_app/immutable/nodes/1.CU_Es10c.js
  server/gateway/static/_app/immutable/nodes/1.y-TS4hvm.js
  server/gateway/static/_app/immutable/nodes/2.BlgC-aZM.js
  server/gateway/static/_app/immutable/nodes/2.DIl6rWWX.js
  server/gateway/static/_app/immutable/nodes/3.D5dfhSL-.js
  server/gateway/static/index.html
Due: server

chore(deps): update sigstore kms modules to v1.11.0
  cli/go.mod
  cli/go.sum
  reconciler/tasks/name/task.go
  tests/go.mod
  tests/go.sum
Due: cli

fix(reconciler): drop the deprecated cryptoutils.MarshalPublicKeyToDER
  reconciler/tasks/name/task.go
Due: none

chore(deps): update sigstore kms modules to v1.11.0 (#2230)
  cli/go.mod
  cli/go.sum
  reconciler/tasks/name/task.go
  tests/go.mod
  tests/go.sum
Due: cli

chore(deps): update testenv postgresql and zot images [security]
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

chore(deps): update testenv postgresql and zot images [security] (#2236)
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

feat(proto,api): add identity.v1 claim types
  api/core/v1/identity.go
  api/core/v1/identity_test.go
  api/core/v1/record.go
  api/core/v1/referrer_types.go
  api/identity/v1/claim.pb.go
  api/identity/v1/referrer.go
  api/identity/v1/referrer_test.go
  proto/agntcy/dir/identity/v1/claim.proto
  proto/buf.gen.yaml
Due: api

feat(proto,api): add identity.v1 claim types (#2221)
  api/core/v1/identity.go
  api/core/v1/identity_test.go
  api/core/v1/record.go
  api/core/v1/referrer_types.go
  api/identity/v1/claim.pb.go
  api/identity/v1/referrer.go
  api/identity/v1/referrer_test.go
  proto/agntcy/dir/identity/v1/claim.proto
  proto/buf.gen.yaml
Due: api

feat(dir): add CEL validator
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  reconciler/go.mod
  reconciler/go.sum
  server/README.md
  server/go.mod
  server/validators/cel.go
  server/validators/cel_test.go
  server/validators/config/config.go
  server/validators/config/config_test.go
  server/validators/registry.go
Due: server, cli

feat(dir): add CEL validator (#2224)
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  reconciler/go.mod
  reconciler/go.sum
  server/README.md
  server/go.mod
  server/validators/cel.go
  server/validators/cel_test.go
  server/validators/config/config.go
  server/validators/config/config_test.go
  server/validators/registry.go
Due: server, cli

chore(renovate): scan testenv compose and helm image pins
  renovate.json
Due: none

chore(renovate): scan testenv compose and helm image pins (#2239)
  renovate.json
Due: none

fix(utils): simplify the safefetch scheme check for the pinned linter
  utils/safefetch/fetch.go
  utils/safefetch/fetch_test.go
Due: none

fix(client): verify Ed25519ph signatures from dirctl sign
  client/utils/cosign/verify.go
  client/utils/cosign/verify_test.go
Due: client

fix(dir): count only a real 404 as a reachable registry in IsReady
  server/store/oci/internal_test.go
  server/store/oci/oci.go
Due: server

fix(client): verify Ed25519ph signatures from dirctl sign (#2243)
  client/utils/cosign/verify.go
  client/utils/cosign/verify_test.go
Due: client

fix(dir): recognize registry not-found and unsupported errors by type
  reconciler/tasks/indexer/task.go
  reconciler/tasks/indexer/task_test.go
  server/store/oci/internal.go
  server/store/oci/internal_test.go
  server/store/oci/oci.go
  server/store/oci/registry_errors.go
  server/store/oci/registry_errors_test.go
Due: server

fix(ci): fail the Success gate explicitly and report on merge groups
  .github/workflows/ci.yaml
Due: none

test(dir): run the tag-listing subtests in parallel
  server/store/oci/registry_errors_test.go
Due: server

fix(ci): fail the Success gate explicitly and report on merge groups (#2247)
  .github/workflows/ci.yaml
Due: none

feat(dir): add OPA validators
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/go.sum
  docs/content/dir/dir-component-records-validation.md
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/main.go
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/go.mod
  server/go.sum
  server/policy/config/config.go
  server/policy/config/config_test.go
  server/server.go
  server/validators/cel_test.go
  server/validators/config/config.go
  server/validators/config/config_test.go
  server/validators/opa.go
  server/validators/opa_test.go
  server/validators/registry.go
  server/validators/registry_test.go
  tests/go.sum
Due: server, cli

feat(dir): add OPA validators (#2204)
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/go.sum
  docs/content/dir/dir-component-records-validation.md
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/main.go
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/go.mod
  server/go.sum
  server/policy/config/config.go
  server/policy/config/config_test.go
  server/server.go
  server/validators/cel_test.go
  server/validators/config/config.go
  server/validators/config/config_test.go
  server/validators/opa.go
  server/validators/opa_test.go
  server/validators/registry.go
  server/validators/registry_test.go
  tests/go.sum
Due: server, cli

fix(dir): count only a real 404 as a reachable registry in IsReady (#2252)
  reconciler/tasks/indexer/task.go
  reconciler/tasks/indexer/task_test.go
  server/store/oci/internal.go
  server/store/oci/internal_test.go
  server/store/oci/oci.go
  server/store/oci/registry_errors.go
  server/store/oci/registry_errors_test.go
Due: server

fix: resolve expiry time
  client/utils/identity/verify.go
Due: client

refactor(client): drop the jws file-loading constructors
  client/utils/jws/jws_test.go
  client/utils/jws/signer.go
Due: client

refactor(client): replace KeyCertSigner with an identity.WithCertificate option
  client/utils/identity/sign.go
  client/utils/identity/sign_verify_test.go
  client/utils/jws/jws_test.go
  client/utils/jws/signer.go
Due: client

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
