Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix(skill): add reference for mcp-scanner prerequisites
  .skill/references/setup.md
Due: none

chore(deps): bump bitnami/postgresql digest to fix CVE-2026-40469 (#1952)
  Taskfile.vars.yml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/docker-compose.yml
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

docs(skill): add security scanner install step to setup reference (#1961)
  .skill/references/setup.md
Due: none

Update docs/content/dir/dir-prod-deployment.md
  docs/content/dir/dir-prod-deployment.md
Due: none

Apply suggestion from @conorbronsdon
  docs/content/dir/dir-prod-deployment.md
Due: none

Apply suggestions from code review
  docs/content/dir/dir-prod-deployment.md
Due: none

docs(dir): restore the S3 option snippets the suggestion dropped
  docs/content/dir/dir-prod-deployment.md
Due: none

refactor(extractor): move OASF extractor and nlsearch from client to utils
  cli/cmd/import/config.go
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
  cli/cmd/routing/nlsearch.go
  cli/cmd/search/nlsearch.go
  client/config/extractor.go
  client/config/extractor_test.go
  client/go.mod
  reconciler/go.mod
  reconciler/go.sum
  utils/extractor/assets.go
  utils/extractor/assets_test.go
  utils/extractor/config.go
  utils/extractor/config_test.go
  utils/extractor/extractor.go
  utils/extractor/load_test.go
  utils/extractor/local.go
  utils/extractor/provision_integration_test.go
  utils/extractor/remote.go
  utils/extractor/remote_test.go
  utils/extractor/resolve.go
  utils/extractor/resolve_test.go
  utils/go.mod
  utils/go.sum
  utils/nlsearch/decompose.go
  utils/nlsearch/decompose_test.go
Due: client, cli

feat(server): add extract-then-filter POST /v1/search handler
  server/controller/ai_finder.go
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_search.go
  server/controller/ai_finder_search_test.go
  server/controller/ai_finder_test.go
  server/go.mod
  server/go.sum
Due: server

feat(search): add record count RPC
  api/search/v1/search_service.pb.go
  api/search/v1/search_service_grpc.pb.go
  proto/agntcy/dir/search/v1/search_service.proto
  reconciler/tasks/signature/task_test.go
  server/controller/search.go
  server/controller/search_test.go
  server/database/database_test.go
  server/database/gorm/record.go
  server/types/database.go
Due: server

feat(server): resolve OASF extractor for the gateway search path
  server/config/config.go
  server/config/config_test.go
  server/server.go
Due: server

feat(cli): configure a remote extractor in dirctl init
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
Due: cli

feat(search): add record count RPC (#1962)
  api/search/v1/search_service.pb.go
  api/search/v1/search_service_grpc.pb.go
  proto/agntcy/dir/search/v1/search_service.proto
  reconciler/tasks/signature/task_test.go
  server/controller/search.go
  server/controller/search_test.go
  server/database/database_test.go
  server/database/gorm/record.go
  server/types/database.go
Due: server

docs(dir): document zot storage config for remote object storage (#1954)
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-prod-deployment.md
  install/charts/dir/values.yaml
Due: none

feat(helm): optional OASF-SDK extractor server for gateway search
  cli/cmd/daemon/config.go
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
Due: cli

feat(search): consider two score tiers in gateway natural-language search
  server/controller/ai_finder_search.go
  utils/extractor/extractor.go
  utils/extractor/local.go
  utils/extractor/remote.go
  utils/nlsearch/decompose.go
  utils/nlsearch/decompose_test.go
Due: server

fix(server): enforce SQLite foreign keys per connection
  server/database/database.go
  server/database/gorm/migrations/004_purge_orphaned_record_children.go
  server/database/gorm/record_orphan_test.go
  server/database/sqlite_test.go
  server/skill/publisher.go
Due: server

docs(dir): add guide for choosing a Directory setup
  docs/content/dir/.index
  docs/content/dir/dir-choosing-a-setup.md
  docs/content/javascripts/dir-repobeats-data.js
  docs/content/javascripts/dir-setup-chooser.js
  docs/content/stylesheets/dir-setup-chooser.css
  docs/mkdocs/mkdocs.yml
Due: none

fix(routing): unpublished records were remotely discoverable
  server/routing/rpc/query_records.go
  server/routing/rpc/query_records_test.go
Due: server

feat(cli): support batch delete from stdin
  cli/cmd/delete/delete.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/unpublish.go
Due: cli

refactor(cli): share CID input parsing
  cli/util/cids/cids.go
  cli/util/cids/cids_test.go
Due: cli

feat(cli): add batch delete and shared CID input helpers
  cli/cmd/delete/delete.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/unpublish.go
  cli/util/cids/cids.go
  cli/util/cids/cids_test.go
  docs/content/dir/dir-cli-reference.md
  tests/e2e/local/17_delete_test.go
  tests/e2e/shared/utils/cli.go
Due: cli

build(cli): switch dirctl image runtime to alpine
  cli/Dockerfile
  install/charts/dirctl/templates/cronjob.yaml
Due: cli

refactor: code review
  cli/util/cids/cids.go
  docs/content/dir/dir-cli-reference.md
Due: cli

build(cli): switch dirctl image runtime to alpine (#1979)
  cli/Dockerfile
  install/charts/dirctl/templates/cronjob.yaml
Due: cli

feat(cli): support batch delete via variadic CIDs and --stdin (#1978)
  cli/cmd/delete/delete.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/unpublish.go
  cli/util/cids/cids.go
  cli/util/cids/cids_test.go
  docs/content/dir/dir-cli-reference.md
  tests/e2e/local/17_delete_test.go
  tests/e2e/shared/utils/cli.go
Due: cli

chore: dark mode setup selection and buttons
  docs/content/javascripts/dir-setup-chooser.js
  docs/content/stylesheets/dir-setup-chooser.css
Due: none

chore: gitignore
  .gitignore
  docs/content/javascripts/dir-repobeats-data.js
Due: none

fix: local build
  docs/mkdocs/hooks.py
  docs/mkdocs/mkdocs.yml
Due: none

test(api): gate the live-validation record test behind OASF_SCHEMA_URL
  api/core/v1/record_test.go
Due: api

fix(ui): remove all media type filter
  server/gateway/static/_app/immutable/entry/app.CZz7TUU9.js
  server/gateway/static/_app/immutable/entry/app.CehxT47Y.js
  server/gateway/static/_app/immutable/nodes/2.CbQJ0XIc.js
  server/gateway/static/_app/immutable/nodes/2.RFW7vt78.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
Due: server

feat(search): support negating a RecordQuery for exclude filters
  api/search/v1/record_query.pb.go
  proto/agntcy/dir/search/v1/record_query.proto
  server/controller/search_test.go
  server/database/database_test.go
  server/database/gorm/record.go
  server/database/gorm/record_exclude.go
  server/database/gorm/record_exclude_test.go
  server/database/utils/utils.go
  server/database/utils/utils_test.go
  server/database/utils/wildcard.go
  server/database/utils/wildcard_test.go
  server/types/search.go
Due: server

fix: setup selector buttons
  docs/content/stylesheets/dir-setup-chooser.css
Due: none

fix(search): OR-combine excluded skill/domain/module ID and name matches
  server/database/database_test.go
  server/database/gorm/record_exclude.go
Due: server

chore: editorial changes
  docs/content/dir/dir-choosing-a-setup.md
Due: none

feat(search): support negating a RecordQuery for exclude filters (#1983)
  api/search/v1/record_query.pb.go
  proto/agntcy/dir/search/v1/record_query.proto
  server/controller/search_test.go
  server/database/database_test.go
  server/database/gorm/record.go
  server/database/gorm/record_exclude.go
  server/database/gorm/record_exclude_test.go
  server/database/utils/utils.go
  server/database/utils/utils_test.go
  server/database/utils/wildcard.go
  server/database/utils/wildcard_test.go
  server/types/search.go
Due: server

chore: selector highlighting
  docs/content/dir/dir-choosing-a-setup.md
  docs/content/javascripts/dir-setup-chooser.js
  docs/content/stylesheets/dir-setup-chooser.css
Due: none

fix: markdown
  docs/content/dir/dir-choosing-a-setup.md
Due: none
