Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix values indention
  install/charts/dir/values.yaml
Due: none

fix linter error
  server/routing/internal/p2p/server.go
Due: server

feat(dir): add release please artifacts
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
  cli/.release-please-config.yml
  client/.release-please-config.yml
  sdk/dir-js/.release-please-config.yml
  sdk/dir-py/.release-please-config.yml
  server/.release-please-config.yml
Due: client, server, cli

set Docker env DHT refresh interval to 30s
  install/docker/apiserver.env
Due: none

feat: add public key exports to sign_v1 models in JS and Python
  sdk/dir-js/src/models/sign_v1.ts
  sdk/dir-py/agntcy/dir_sdk/models/sign_v1.py
Due: none

refactor: replace hardcoded referrer type constants with model schema references in JS and Python utils
  sdk/dir-js/src/utils.ts
  sdk/dir-py/agntcy/dir_sdk/utils.py
Due: none

fix: sdk test after encoded referrer refactor
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/index.ts
  sdk/dir-js/src/utils.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  sdk/dir-py/agntcy/dir_sdk/utils.py
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
Due: none

chore: CR remarks
  client/README.md
  client/client.go
  client/config.go
  client/jwt.go
  client/options.go
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  sdk/dir-js/README.md
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/README.md
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
  server/authn/config/config.go
  server/authn/jwt.go
  server/authn/mtls.go
  server/authn/service.go
  server/authz/config/config.go
  server/authz/interceptor.go
  server/authz/service.go
  server/config/config.go
  server/config/config_test.go
  server/server.go
Due: client, server

feat(dir): add initial public deployment docs
  deployment/README.md
Due: none

feat(dir): add initial public deployment docs
  deployment/README.md
  deployment/onboarding/spire.template.yaml
  deployment/spire.directory.yaml
Due: none

chore: CR remarks
  client/client.go
  install/docker/apiserver.env
  server/authz/config/config.go
  server/authz/service.go
Due: client, server

chore: CR remarks
  sdk/dir-js/src/client/client.ts
Due: none

fix peerid sec vulnerability
  server/routing/pubsub/events.go
  server/routing/pubsub/manager.go
  server/routing/routing_remote.go
Due: server

feat: enable nat traversal features of p2p
  server/go.mod
  server/go.sum
  server/routing/internal/p2p/constants.go
  server/routing/internal/p2p/host.go
  server/routing/internal/p2p/server.go
Due: server

fix: testdata file for demo workflow
  .github/workflows/demo-dir.yaml
Due: none

fix: remove flaky test
  server/routing/internal/p2p/server_test.go
Due: server

fix(helm): dynamic load test record in dirctl chart
  install/charts/dirctl/files/record.json
  install/charts/dirctl/templates/configmaps.yaml
  install/charts/dirctl/values.yaml
Due: none

chore(dir): bump log level
  Taskfile.yml
Due: none

test(dir): add spire tests action
  .github/workflows/reusable-test-spire.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.yml
Due: none

fix(sdk/js): proxy dirctl binary error
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/test/client.test.ts
Due: none

ci(sdk): fix job name
  .github/workflows/reusable-test-spire.yaml
Due: none

fix(sdk-python): uv sync package
  Taskfile.yml
  e2e/sdk/Dockerfile
Due: none

chore(sdk): uv bin version bump
  Taskfile.yml
Due: none

fix(sdk): add missing flags
  Taskfile.yml
Due: none

fix(sdk): proper oidc test case handling
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

fix(sdk): add auth mode to spiffe test run
  e2e/sdk/Dockerfile
  e2e/sdk/chart/templates/job.yaml
  e2e/sdk/chart/values.yaml
Due: none

fix(sdk): change default directory server addr
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/agntcy/dir_sdk/client/config.py
Due: none

fix(dir): enable authn & authz on spire kind setup
  Taskfile.yml
Due: none

fix(sdk): skip failing test case check
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

fix empty peer addr issue
  server/routing/routing_remote.go
Due: server

fix linter errors
  server/routing/routing_remote.go
Due: server

fix config unit tests
  server/config/config_test.go
Due: server

refactor: rename mTLS to x.509
  client/README.md
  client/options.go
  docs/security-schema.md
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  sdk/dir-js/README.md
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/README.md
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
  server/authn/config/config.go
  server/authn/service.go
  server/authn/x509.go
  server/config/config.go
Due: client, server

refactor: rename mTLS to x.509
  e2e/sdk/Dockerfile
  e2e/sdk/chart/values.yaml
Due: none

feat: add mcp server
  mcp/go.mod
  mcp/go.sum
  mcp/main.go
Due: none
