Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

chore: optimizations
  discovery/watcher/main.py
  discovery/watcher/models.py
  discovery/watcher/runtimes/containerd.py
  discovery/watcher/runtimes/docker.py
  discovery/watcher/runtimes/kubernetes.py
  discovery/watcher/storage/etcd.py
  discovery/watcher/storage/interface.py
Due: none

chore: update deps
  server/go.mod
  server/go.sum
Due: server

Update README.md
  discovery/README.md
Due: none

chore: add inspector component
  discovery/README.md
  discovery/docker-compose.containerd.yml
  discovery/docker-compose.swarm.yml
  discovery/docker-compose.yml
  discovery/inspector/Dockerfile
  discovery/inspector/config.py
  discovery/inspector/main.py
  discovery/inspector/models.py
  discovery/inspector/processors/__init__.py
  discovery/inspector/processors/health.py
  discovery/inspector/processors/interface.py
  discovery/inspector/processors/openapi.py
  discovery/inspector/requirements.txt
  discovery/inspector/storage/__init__.py
  discovery/inspector/storage/etcd.py
  discovery/inspector/storage/interface.py
  discovery/k8s.discovery.yaml
  discovery/server/main.py
Due: none

chore: cleanup and decouple discovery components
  discovery/README.md
  discovery/docker-compose.containerd.yml
  discovery/docker-compose.swarm.yml
  discovery/docker-compose.yml
  discovery/go/cmd/discovery/Dockerfile
  discovery/go/cmd/discovery/main.go
  discovery/go/cmd/inspector/Dockerfile
  discovery/go/cmd/inspector/main.go
  discovery/go/cmd/server/main.go
  discovery/go/cmd/watcher/Dockerfile
  discovery/go/cmd/watcher/main.go
  discovery/go/pkg/storage/etcd.go
  discovery/go/pkg/storage/reader.go
  discovery/go/pkg/storage/writer.go
  discovery/go/pkg/types/store.go
  discovery/go/pkg/types/workload.go
  discovery/k8s.discovery.yaml
Due: none

chore: update dir structure
  discovery/README.md
  discovery/cmd/discovery/Dockerfile
  discovery/cmd/discovery/main.go
  discovery/cmd/server/Dockerfile
  discovery/cmd/server/main.go
  discovery/docker-compose.containerd.yml
  discovery/docker-compose.swarm.yml
  discovery/docker-compose.yml
  discovery/go.mod
  discovery/go.sum
  discovery/pkg/config/config.go
  discovery/pkg/config/config_test.go
  discovery/pkg/processor/config/config.go
  discovery/pkg/processor/factory.go
  discovery/pkg/processor/health/config.go
  discovery/pkg/processor/health/processor.go
  discovery/pkg/processor/openapi/config.go
  discovery/pkg/processor/openapi/processor.go
  discovery/pkg/runtime/config/config.go
  discovery/pkg/runtime/docker/adapter.go
  discovery/pkg/runtime/docker/config.go
  discovery/pkg/runtime/factory.go
  discovery/pkg/runtime/k8s/adapter.go
  discovery/pkg/runtime/k8s/config.go
  discovery/pkg/storage/config.go
  discovery/pkg/storage/reader.go
  discovery/pkg/storage/writer.go
  discovery/pkg/types/runtime.go
  discovery/pkg/types/store.go
  discovery/pkg/types/workload.go
Due: none

chore(deps): bump github.com/theupdateframework/go-tuf/v2
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
Due: client, server, cli

chore(deps-dev): bump lodash from 4.17.21 to 4.17.23
  sdk/examples/example-js/package-lock.json
Due: none

feat: add a2a discovery details
  discovery/README.md
  discovery/docker-compose.containerd.yml
  discovery/docker-compose.swarm.yml
  discovery/docker-compose.yml
  discovery/k8s.discovery.yaml
  discovery/pkg/config/config.go
  discovery/pkg/config/config_test.go
  discovery/pkg/processor/a2a/config.go
  discovery/pkg/processor/a2a/processor.go
  discovery/pkg/processor/config/config.go
  discovery/pkg/processor/factory.go
  discovery/pkg/processor/health/config.go
  discovery/pkg/processor/health/processor.go
  discovery/pkg/processor/openapi/config.go
  discovery/pkg/processor/openapi/processor.go
Due: none

feat(reconciler): implement reconciler service with regsync task and configuration
  docker-bake.hcl
  install/charts/dir/apiserver/templates/deployment.yaml
  reconciler/Dockerfile
  reconciler/README.md
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/main.go
  reconciler/service/service.go
  reconciler/tasks/regsync/config.go
  reconciler/tasks/regsync/regsync_config.go
  reconciler/tasks/regsync/task.go
  reconciler/tasks/task.go
  server/database/database.go
  server/database/gorm/gorm.go
  server/sync/credentials.go
Due: server

refactor(server): new registry types package
  server/config/config.go
  server/config/config_test.go
  server/signing/signing.go
  server/store/oci/config/config.go
  server/store/oci/oci.go
  server/store/oci/referrers.go
  server/types/registry/registry.go
Due: server

feat(sync): add regsync required field to sync
  server/controller/sync.go
  server/database/gorm/sync.go
  server/sync/credentials.go
  server/sync/scheduler.go
  server/sync/worker.go
  server/types/database.go
  server/types/registry/registry.go
  server/types/sync.go
Due: server

feat(task): add local ghcr deployment task for kubernetes
  Taskfile.yml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

chore(golangci): update copyright year in golangci configuration
  .golangci.yml
Due: none

feat(sync): add SYNC_STATUS_COMPLETED to SyncStatus enum
  api/store/v1/sync_service.pb.go
  proto/agntcy/dir/store/v1/sync_service.proto
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.js
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.pyi
Due: none

feat(apiserver): remove zot deploy when using other registry types
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/zot-config-pvc.yaml
Due: none

feat(sync): update RequestRegistryCredentialsResponse to include registry address and repository name
  api/store/v1/sync_service.pb.go
  install/charts/dir/apiserver/Chart.lock
  proto/agntcy/dir/store/v1/sync_service.proto
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.js
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.pyi
  server/controller/sync.go
  server/sync/config/config.go
  server/sync/worker.go
Due: server

chore(deps): update indirect dependencies and improve error handling
  reconciler/go.mod
  reconciler/go.sum
  reconciler/main.go
  reconciler/tasks/regsync/task.go
Due: none

feat(sync): update CreateSync method to include remote registry address and adjust sync logic
  reconciler/go.mod
  reconciler/go.sum
  server/controller/sync.go
  server/database/gorm/sync.go
  server/sync/worker.go
  server/types/database.go
Due: server

feat: add a2a discovery details
  discovery/README.md
  discovery/cmd/discovery/main.go
  discovery/cmd/server/main.go
  discovery/docker-compose.containerd.yml
  discovery/docker-compose.swarm.yml
  discovery/docker-compose.yml
  discovery/k8s.discovery.yaml
  discovery/pkg/config/config.go
  discovery/pkg/config/config_test.go
  discovery/pkg/storage/config.go
  discovery/pkg/storage/reader.go
  discovery/pkg/storage/writer.go
  discovery/pkg/types/store.go
Due: none

chore: enable quick retry for processors
  discovery/cmd/discovery/main.go
Due: none

feat: add base oasf processor structure
  discovery/docker-compose.yml
  discovery/pkg/config/config.go
  discovery/pkg/processor/a2a/config.go
  discovery/pkg/processor/a2a/processor.go
  discovery/pkg/processor/config/config.go
  discovery/pkg/processor/factory.go
  discovery/pkg/processor/oasf/config.go
  discovery/pkg/processor/oasf/processor.go
Due: none

feat(install/charts): add reconciler
  Taskfile.yml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/templates/secret.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

feat: add base oasf processor structure
  discovery/docker-compose.yml
  discovery/go.mod
  discovery/go.sum
  discovery/pkg/processor/factory.go
  discovery/pkg/processor/oasf/processor.go
Due: none

feat: add base oasf processor structure
  discovery/README.md
  discovery/cmd/discovery/Dockerfile
  discovery/cmd/server/Dockerfile
  discovery/docker-compose.containerd.yml
  discovery/docker-compose.yml
  discovery/pkg/processor/oasf/processor.go
Due: none

test: regsync
  Taskfile.yml
  scripts/record_080_ghcr.json
  scripts/record_080_zot.json
  scripts/test-sync.sh
Due: none

feat(ci): add scheduled MCP import workflow
  .github/workflows/import-records.yaml
Due: none

fix(ci): enable debug logging for import workflow
  .github/workflows/import-records.yaml
Due: none

feat(reconciler): move registry config to reconciler config
  reconciler/config/config.go
  reconciler/main.go
  reconciler/tasks/regsync/config.go
  reconciler/tasks/regsync/task.go
Due: none

feat(reconciler): add indexer task for indexing records from OCI registry
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/main.go
  reconciler/tasks/indexer/config.go
  reconciler/tasks/indexer/task.go
Due: none

ci: initial commit
  .github/actions/push-record/README.md
  .github/actions/push-record/action.yaml
  .github/actions/push-record/push.sh
  .github/actions/validate-record/README.md
  .github/actions/validate-record/action.yaml
  .github/actions/validate-record/validate.sh
Due: none

fix(reconciler): init validator
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  reconciler/config/config.go
  reconciler/main.go
Due: none

fix(reconciler): add local registry type to reconciler
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  reconciler/config/config.go
Due: none

ci: validate and push oasf records
  .github/actions/push-record/push.sh
  .github/actions/validate-record/validate.sh
Due: none

ci: validate and push oasf records
  .github/actions/push-record/action.yaml
  .github/actions/push-record/push.sh
Due: none

feat(apiserver): update database configuration to default to PostgreSQL
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/database/config/config.go
Due: server
