Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat: update go client streaming interface
  client/store.go
  client/streaming/README.md
  client/streaming/bidirectional.go
  client/streaming/client.go
  client/streaming/sequential.go
  client/streaming/types.go
  client/streaming/utils.go
Due: client

example: switch to functional approach for streaming
  client/store.go
  client/streaming/delete.go
  client/streaming/types.go
Due: client

chore: cleanup interfaces
  client/store.go
Due: client

refactor pull methods
  client/store.go
  client/types.go
Due: client

chore: update interface docs
  client/go.mod
  client/streaming/bidi_stream.go
  client/streaming/client_stream.go
  client/streaming/stream_result.go
Due: client

refactor streaming package
  client/store.go
  client/streaming/README.md
  client/streaming/bidirectional.go
  client/streaming/client.go
  client/streaming/sequential.go
  client/streaming/types.go
Due: client

chore: cleanup interfaces
  client/store.go
  client/types.go
Due: client

chore: cleanup interfaces
  client/store.go
  client/streaming/delete.go
  client/types.go
Due: client

chore: cleanup interfaces
  client/store.go
  client/streaming/README.md
  client/streaming/lookup.go
  client/streaming/pull.go
  client/streaming/push.go
  client/types.go
Due: client

chore: update interface docs
  client/streaming/bidi_stream.go
  client/streaming/client_stream.go
  client/streaming/stream_result.go
Due: client

fix race on firstErr, context awerness, silent errors...
  client/store.go
  client/streaming/client.go
  client/streaming/server.go
Due: client

chore: decouple streaming helpers from client
  client/store.go
  client/streaming/client.go
  client/streaming/server.go
  client/types.go
Due: client

fix linter errors
  client/store.go
  client/streaming/delete.go
  client/streaming/lookup.go
  client/streaming/pull.go
  client/streaming/push.go
Due: client

chore: update interface docs
  client/store.go
  client/streaming/bidi_stream.go
  client/streaming/client_stream.go
Due: client

fix: delete client handling
  client/store.go
Due: client

chore: update interface docs
  client/streaming/stream_result.go
Due: client

refactor(server): separate auth mode in server config
  server/authn/config/config.go
Due: server

feat: init new importer module
  importer/config/config.go
  importer/config/config_test.go
  importer/go.mod
  importer/go.sum
  importer/types/factory.go
  importer/types/factory_test.go
  importer/types/interface.go
  importer/types/types.go
Due: none

fix: start-up ci failure
  .github/workflows/pr.yaml
Due: none

fix: update taskfile to enable spire tests
  Taskfile.yml
Due: none

fix: enable configurable auth-mode spire test
  Taskfile.yml
Due: none

refactor: code review
  importer/types/factory.go
  importer/types/factory_test.go
Due: none

refactor: code review
  importer/types/factory.go
Due: none

wip(dir): multiple grpc server
  Taskfile.yml
  config-change.yml
  install/charts/dir/values.yaml
  server/authn/config/config.go
  server/authn/service.go
  server/config/config.go
  server/server.go
Due: server

chore(helm): update missing chart values
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/charts/dirctl/files/record.json
  install/charts/dirctl/templates/configmaps.yaml
  install/charts/dirctl/values.yaml
Due: none

Allow hub pull records by CID
  hub/service/agent.go
Due: none

chore: remove backport references
  .golangci.yml
  .licensei.toml
  e2e/go.mod
  e2e/go.sum
  hub/client/hub/client.go
Due: none

fix: resolve rebase
  hub/go.mod
  hub/go.sum
Due: none

Revert "chore: update versions"
  cli/go.mod
  client/go.mod
  e2e/go.mod
  server/go.mod
Due: client, server, cli

chore: update versions
  versions.yaml
Due: none

docs(dir): add v0.4.0 changelog summary
  CHANGELOG.md
Due: none

Prepare directory for version v0.4.0
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  server/go.mod
Due: client, server, cli

chore: update versions
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  server/go.mod
Due: client, server, cli

fix: update changelog
  CHANGELOG.md
Due: none
