Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

chore(helm): fix ingress deployment
  .github/workflows/reusable-release.yaml
Due: none

chore(helm): fix ingress deployment (#600)
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-release.yaml
  install/charts/dir/apiserver/templates/ingress.yaml
Due: none

feat(helm): add routing service deployment configuration (#599)
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/routing_service.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

chore(helm): fix helm deployment
  .github/workflows/reusable-release-helm.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/routing_service.yaml
Due: none

chore(helm): fix helm deployment (#601)
  .github/workflows/reusable-release-helm.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/routing_service.yaml
Due: none

feat(auth): add health check endpoint bypass for authentication and authorization
  install/charts/dir/apiserver/templates/deployment.yaml
  server/authn/jwt.go
  server/authn/x509.go
  server/authz/interceptor.go
Due: server

chore: bump oasf-sdk v0.0.8 -> v0.0.9
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

chore(sdk): update vite version in package-lock.json to 7.1.12 CVE-2025-62522
  sdk/examples/example-js/package-lock.json
Due: none

refactor(sdk): clean up imports in client.py by removing unused spiffe dependencies
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

refactor(helm): remove password from values file
  Taskfile.yml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/secret.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

refactor: code review
  .github/workflows/codeql.yml
  Taskfile.yml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/secret.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

chore(dir): security fixes (#602)
  .github/workflows/codeql.yml
  Taskfile.yml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/secret.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/examples/example-js/package-lock.json
Due: none

chore: reuse test coverage task and update coverage outputs path
  .github/workflows/reusable-test.yaml
  .gitignore
  Taskfile.yml
Due: none

feat: build with coverage profiling
  Taskfile.yml
Due: none

feat: run e2e tests with coverage
  Taskfile.yml
  docker-bake.hcl
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  server/Dockerfile
Due: server

feat: add e2e coverage processing coverage from pods
  Taskfile.yml
Due: none

feat: extend ci with coverage image buildbing and e2e test coverage upload
  .github/workflows/ci.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  codecov.yml
Due: none

feat(helm): support extra envs in dir chart
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

feat(helm): support extra envs in dir chart (#605)
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

fix: merge
  install/charts/dir/apiserver/values.yaml
Due: none

feat(client): token-based auth support for go dir client
  cli/cmd/options.go
  client/config.go
  client/options.go
  install/charts/dirctl/values.yaml
Due: client, cli

fix: linting
  client/options.go
Due: client

feat: sdk auth
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
  sdk/examples/example-js/example.js
  sdk/examples/example-js/package-lock.json
  sdk/examples/example-js/spiffe-dev.json
  sdk/examples/example-py/example.py
  sdk/examples/example-py/spiffe-dev.json
  sdk/examples/example-py/spiffe-prod.json
  sdk/examples/example-py/uv.lock
Due: none

fix: context propagation for client
  client/options.go
Due: client

chore: bump oasf-sdk v0.0.8 -> v0.0.9 (#603)
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

release: update module sets to version v0.5.0-rc.1
  versions.yaml
Due: none

release: prepare for version v0.5.0-rc.1
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

fix: missing mcp mod replace
  mcp/go.mod
  mcp/go.sum
Due: none

fix initial context handling
  client/options.go
  client/options_test.go
Due: client

fix linter error
  client/options.go
Due: client

feat(client): tls token-based auth support for go client/cli (#606)
  cli/cmd/options.go
  client/config.go
  client/options.go
  client/options_test.go
  install/charts/dirctl/values.yaml
Due: client, cli

release(dir): prepare version v0.5.0-rc.1 (#607)
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  versions.yaml
Due: client, server, cli

refactor(sdk/js): use relative import
  Taskfile.yml
  sdk/dir-js/api-extractor.json
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/rollup.config.mjs
  sdk/dir-js/src/models/core_v1.ts
  sdk/dir-js/src/models/package.json
  sdk/dir-js/src/models/routing_v1.ts
  sdk/dir-js/src/models/search_v1.ts
  sdk/dir-js/src/models/sign_v1.ts
  sdk/dir-js/src/models/store_v1.ts
Due: none

fix(sdk/python): add pyi stubs
  proto/buf.gen.yaml
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.pyi
  sdk/dir-py/agntcy/dir/events/v1/event_service_pb2.pyi
  sdk/dir-py/agntcy/dir/routing/v1/peer_pb2.pyi
  sdk/dir-py/agntcy/dir/routing/v1/publication_service_pb2.pyi
  sdk/dir-py/agntcy/dir/routing/v1/record_query_pb2.pyi
  sdk/dir-py/agntcy/dir/routing/v1/routing_service_pb2.pyi
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.pyi
  sdk/dir-py/agntcy/dir/search/v1/search_service_pb2.pyi
  sdk/dir-py/agntcy/dir/sign/v1/public_key_pb2.pyi
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.pyi
  sdk/dir-py/agntcy/dir/sign/v1/signature_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.pyi
Due: none

fix(sdk/js): move api stubs
  Taskfile.yml
  proto/buf.gen.yaml
  sdk/dir-js/api-extractor.json
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.js
  sdk/dir-js/src/models/agntcy/dir/events/v1/event_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/events/v1/event_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/routing/v1/peer_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/routing/v1/peer_pb.js
  sdk/dir-js/src/models/agntcy/dir/routing/v1/publication_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/routing/v1/publication_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/routing/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/routing/v1/record_query_pb.js
  sdk/dir-js/src/models/agntcy/dir/routing/v1/routing_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/routing/v1/routing_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.js
  sdk/dir-js/src/models/agntcy/dir/search/v1/search_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/search_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/sign/v1/public_key_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/public_key_pb.js
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/sign/v1/signature_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/signature_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.js
  sdk/dir-js/src/models/core_v1.ts
  sdk/dir-js/src/models/package.json
  sdk/dir-js/src/models/routing_v1.ts
  sdk/dir-js/src/models/search_v1.ts
  sdk/dir-js/src/models/sign_v1.ts
  sdk/dir-js/src/models/store_v1.ts
Due: none

chore(sdk): remove api stubs from gitignore
  sdk/dir-js/.gitignore
  sdk/dir-py/.gitignore
Due: none

refactor: code review
  .github/workflows/reusable-test-e2e.yaml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
