Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat(docs): add main page, community page and re-organize the site (#1594)
  docs/README.md
  docs/Taskfile.yml
  docs/content/assets/lf-horizontal-black.png
  docs/content/assets/lf-horizontal-white.png
  docs/content/assets/lf-stacked-black.png
  docs/content/assets/lf-stacked-white.png
  docs/content/community.md
  docs/content/dir/dir-overview.md
  docs/content/index.md
  docs/content/javascripts/card-links.js
  docs/content/javascripts/external-links.js
  docs/content/llms.txt
  docs/content/robots.txt
  docs/content/stylesheets/agntcy-docs.css
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/overrides/main.html
  docs/mkdocs/overrides/partials/logo.html
  docs/mkdocs/overrides/partials/nav.html
Due: none

refactor(cli, api): move formatters from cli to api
  api/exportfmt/a2a.go
  api/exportfmt/exportfmt.go
  api/exportfmt/exportfmt_test.go
  api/exportfmt/mcp.go
  api/exportfmt/oasf.go
  api/exportfmt/skill.go
  cli/cmd/export/batch.go
  cli/cmd/export/batch_test.go
  cli/cmd/export/export.go
  cli/cmd/export/format/a2a_test.go
  cli/cmd/export/format/batch.go
  cli/cmd/export/format/format.go
  cli/cmd/export/format/format_test.go
  cli/cmd/export/format/mcp.go
  cli/cmd/export/format/mcp_test.go
  cli/cmd/export/format/skill.go
  cli/cmd/export/format/skill_test.go
Due: api, cli

feat(server, api): add GetAgent and ExportAgent endpoints to AI Finder
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  proto/buf.yaml
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
  server/database/gorm/record.go
  server/server.go
  server/types/search.go
Due: api, server

feat(dir/api, dir/cli): add AI Finder agent export (#1610)
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  api/exportfmt/a2a.go
  api/exportfmt/exportfmt.go
  api/exportfmt/exportfmt_test.go
  api/exportfmt/mcp.go
  api/exportfmt/oasf.go
  api/exportfmt/skill.go
  cli/cmd/export/batch.go
  cli/cmd/export/batch_test.go
  cli/cmd/export/export.go
  cli/cmd/export/format/a2a_test.go
  cli/cmd/export/format/batch.go
  cli/cmd/export/format/format.go
  cli/cmd/export/format/format_test.go
  cli/cmd/export/format/mcp.go
  cli/cmd/export/format/mcp_test.go
  cli/cmd/export/format/skill.go
  cli/cmd/export/format/skill_test.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  proto/buf.yaml
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
  server/database/gorm/record.go
  server/server.go
  server/types/search.go
Due: api, server, cli

ci(brew): add completion test
  .github/workflows/reusable-brew-update.yaml
Due: none

fix(brew): update documentation to add trust step
  HomebrewFormula/README.md
Due: none

Revert "chore(dir): revert fix brew formula v1.4 (#1567) (#1569)"
  HomebrewFormula/dirctl/dirctl.rb
Due: none

fix(gateway): enable authenticated client usage in gateway
  server/authn/jwt.go
  server/authn/service.go
  server/gateway/gateway.go
  server/server.go
Due: server

fix(gateway): enable authenticated client usage in gateway (#1614)
  server/authn/jwt.go
  server/authn/service.go
  server/gateway/gateway.go
  server/server.go
Due: server

feat(docs): add dev(main) and latest(v1.2.3) to docs deployment
  .github/workflows/docs-ci.yaml
  .github/workflows/docs-deploy.yml
  .github/workflows/reusable-docs.yml
  docs/README.md
  docs/Taskfile.yml
  docs/content/404.html
  docs/content/javascripts/card-links.js
  docs/content/llms.txt
  docs/content/stylesheets/agntcy-docs.css
  docs/mike_version.py
  docs/mike_versions.ini
  docs/mkdocs/hooks.py
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/pyproject.toml
  docs/mkdocs/uv.lock
  docs/scripts/deploy_root_files.sh
Due: none

ci(docs): harden and pin docs workflows, scope triggers to docs changes
  .github/workflows/buf-ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/docs-ci.yaml
  .github/workflows/docs-deploy.yml
  .github/workflows/reusable-docs.yml
Due: none

feat(docs): add dev(main) and latest(vX.Y.Z) to docs deployment (#1611)
  .github/workflows/buf-ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/docs-ci.yaml
  .github/workflows/docs-deploy.yml
  .github/workflows/reusable-docs.yml
  docs/README.md
  docs/Taskfile.yml
  docs/content/404.html
  docs/content/javascripts/card-links.js
  docs/content/llms.txt
  docs/content/stylesheets/agntcy-docs.css
  docs/mike_version.py
  docs/mike_versions.ini
  docs/mkdocs/hooks.py
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/pyproject.toml
  docs/mkdocs/uv.lock
  docs/scripts/deploy_root_files.sh
Due: none

chore: updating reused docs and links
  README.md
  docs/content/dir/dir-component-runtime-discovery.md
  docs/content/dir/dir-federation-profiles.md
  docs/content/dir/dir-federation-setup.md
  docs/content/dir/dir-federation-troubleshooting.md
Due: none

chore: fixing broken link
  docs/content/dir/dir-federation-setup.md
Due: none

feat: update with latest importer supporting agent skill repos
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

feat(ci): add agent skill import job from trusted repos
  .github/workflows/import-records.yaml
  .github/workflows/scripts/import-records.json
Due: none

feat(ci): improve agent-skill repo caching in import workflow
  .github/workflows/import-records.yaml
Due: none

feat(ci): write per-record JSON files in import-records dry-run
  .github/workflows/import-records.yaml
Due: none

feat(dir/cli, ci): add Agent Skill import workflow (#1617)
  .github/workflows/import-records.yaml
  .github/workflows/scripts/import-records.json
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

chore(docs): updating reused docs and links (#1615)
  README.md
  docs/content/dir/dir-component-runtime-discovery.md
  docs/content/dir/dir-federation-profiles.md
  docs/content/dir/dir-federation-setup.md
  docs/content/dir/dir-federation-troubleshooting.md
Due: none

feat: adding agent version to the demo
  docs/content/index.md
  docs/content/javascripts/dirctl-demo-data.js
  docs/content/javascripts/dirctl-terminal.js
  docs/content/stylesheets/dirctl-terminal.css
Due: none

chore: minor updates
  docs/content/index.md
  docs/content/javascripts/dirctl-terminal.js
  docs/content/stylesheets/dirctl-terminal.css
Due: none

feat: homepage cli demo
  docs/content/index.md
  docs/content/javascripts/dirctl-demo-data.js
  docs/content/javascripts/dirctl-terminal.js
  docs/content/stylesheets/dirctl-terminal.css
  docs/mkdocs/mkdocs.yml
Due: none

chore: lint fix
  docs/content/index.md
Due: none

chore: adding graph to home page
  docs/content/assets/dir-graph-light.svg
  docs/content/index.md
  docs/content/stylesheets/agntcy-docs.css
Due: none

chore: minor edits
  docs/content/assets/dir-graph-dark.svg
  docs/content/index.md
  docs/content/stylesheets/dirctl-terminal.css
Due: none

feat(catalog): add base record to catalog mappings
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  api/core/types/record.go
  api/core/v1/adapters/oasf_v1.go
  api/core/v1/adapters/oasf_v1alpha1.go
  api/core/v1/adapters/oasf_v1alpha2.go
  api/core/v1/adapters/record.go
  api/core/v1/oasf.go
  api/core/v1/record.go
  api/core/v1/record_test.go
  server/types/adapters/oasf_v1.go
  server/types/adapters/oasf_v1alpha1.go
  server/types/adapters/oasf_v1alpha2.go
  server/types/adapters/record.go
  server/types/database.go
  server/types/label.go
  server/types/label_test.go
  server/types/record.go
  server/types/routing.go
Due: api, server

chore: migrate adapter into reusable package
  api/catalog/v1/catalog.go
  api/core/adapters/oasf_v1.go
  api/core/adapters/oasf_v1alpha1.go
  api/core/adapters/oasf_v1alpha2.go
  api/core/adapters/objects.go
  api/core/types/record.go
  api/core/v1/record.go
  server/database/catalog_test.go
  server/database/database_test.go
  server/database/gorm/module.go
Due: api, server

feat: resolve full catalog mappings inc signatures
  api/catalog/v1/catalog.go
  api/core/types/signature.go
  client/utils/verify/fetcher.go
  reconciler/tasks/signature/task.go
  server/controller/ai_finder_filter.go
  server/database/gorm/catalog.go
  server/database/gorm/record.go
  server/database/gorm/signature.go
  server/gateway/static/_app/immutable/entry/app.CLqLIz1B.js
  server/gateway/static/_app/immutable/entry/app.NZolFfh6.js
  server/gateway/static/_app/immutable/nodes/2.CooEPZtk.js
  server/gateway/static/_app/immutable/nodes/2.HqbmRsBv.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/MediaTypeBadge.svelte
  server/gateway/ui/src/lib/utils.ts
Due: api, client, server

feat: extend catalog mapping with migrations
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  api/go.mod
  server/database/gorm/catalog.go
  server/database/gorm/gorm.go
  server/database/gorm/migration.go
  server/database/gorm/migrations/01_catalog_sync.go
  server/database/gorm/migrations/migrations.go
Due: api, server

chore: remove unused publishers from catalog
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
Due: api

chore(UI): rename Agent Finder -> AI Catalog
  server/gateway/static/_app/immutable/entry/app.NZolFfh6.js
  server/gateway/static/_app/immutable/entry/app.ad-hApmn.js
  server/gateway/static/_app/immutable/nodes/2.B38_ARxL.js
  server/gateway/static/_app/immutable/nodes/2.CooEPZtk.js
  server/gateway/static/index.html
  server/gateway/ui/README.md
  server/gateway/ui/src/app.html
  server/gateway/ui/src/routes/+page.svelte
Due: server

fix(UI): add disclaimer banner
  server/gateway/static/_app/immutable/assets/0.DtV84OBv.css
  server/gateway/static/_app/immutable/assets/0.Dw2COYac.css
  server/gateway/static/_app/immutable/entry/app.B4qwjA0E.js
  server/gateway/static/_app/immutable/entry/app.ad-hApmn.js
  server/gateway/static/_app/immutable/nodes/0.pKJcOfoR.js
  server/gateway/static/_app/immutable/nodes/2.9RtKhITG.js
  server/gateway/static/_app/immutable/nodes/2.B38_ARxL.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/DisclaimerBanner.svelte
  server/gateway/ui/src/routes/+page.svelte
Due: server

chore: resolve identifiers across catalog
  api/catalog/v1/catalog.go
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/routing/routing.go
  server/server.go
  server/types/routing.go
Due: api, server

feat(UI): use query parameters for type filtering
  server/gateway/static/_app/immutable/assets/0.DtV84OBv.css
  server/gateway/static/_app/immutable/assets/0.Dtw_yxP9.css
  server/gateway/static/_app/immutable/entry/app.B4qwjA0E.js
  server/gateway/static/_app/immutable/entry/app.JvTij5KW.js
  server/gateway/static/_app/immutable/nodes/0.BDRpNxGx.js
  server/gateway/static/_app/immutable/nodes/2.9RtKhITG.js
  server/gateway/static/_app/immutable/nodes/2.iUFrVaQ9.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

chore: fix migrations
  server/database/gorm/migrations/001_catalog_sync.go
Due: server

chore(docs): redesign main page and landing styles
  docs/content/assets/landing/feature-discovery.svg
  docs/content/assets/landing/feature-federation.svg
  docs/content/assets/landing/feature-trust.svg
  docs/content/index.md
  docs/content/javascripts/dir-hero-flip.js
  docs/content/javascripts/dirctl-demo-data.js
  docs/content/javascripts/dirctl-terminal.js
  docs/content/stylesheets/agntcy-docs.css
  docs/content/stylesheets/dir-landing.css
  docs/content/stylesheets/dirctl-terminal.css
  docs/mkdocs/mkdocs.yml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
