Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(importer): add conditional duplicate checker based on force flag
  importer/importer.go
  tests/e2e/local/11_export_test.go
Due: none

feat(record): add GetName and GetVersion methods to extract fields from record data
  api/core/v1/record.go
  api/core/v1/record_test.go
  cli/cmd/export/format/batch.go
  cli/cmd/export/format/batch_test.go
  tests/e2e/local/10_referrers_test.go
Due: api, cli

chore(helm): bump oidc-gateway chart version
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
Due: none

feat(sync): enhance CreateSyncRequest for direct registry sync support
  api/store/v1/sync_service.pb.go
  cli/cmd/sync/options.go
  cli/cmd/sync/sync.go
  client/sync.go
  proto/agntcy/dir/store/v1/sync_service.proto
Due: client, cli

feat(server): enhance CreateSync functionality to support remote registry URLs
  server/controller/sync.go
  server/database/gorm/sync.go
  server/types/database.go
  server/types/sync.go
Due: server

refactor(regsync): skip credential negotiation when syncing with registry
  cli/cmd/sync/sync_test.go
  reconciler/tasks/regsync/worker.go
  reconciler/tasks/signature/task_test.go
Due: cli

fix(security): 2 improvements across 2 files
  cli/cmd/daemon/stop.go
Due: cli

fix(security): 2 improvements across 2 files
  cli/cmd/export/format/skill.go
Due: cli

chore(dir/helm): remove oidc auth wiring
  .github/workflows/reusable-release-helm.yaml
  Taskfile.vars.yml
  auth/authzserver/config.go
  auth/authzserver/config_test.go
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/authzserver/model.conf
  auth/authzserver/oidc_server.go
  auth/authzserver/oidc_server_test.go
  auth/authzserver/payload.go
  auth/authzserver/payload_test.go
  auth/authzserver/rbac.go
  auth/authzserver/rbac_test.go
  auth/cmd/envoy-authz/Dockerfile
  auth/cmd/envoy-authz/TESTING.md
  auth/cmd/envoy-authz/config.yaml
  auth/cmd/envoy-authz/docker-compose.yml
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  auth/cmd/envoy-authz/main.go
  auth/cmd/envoy-authz/test/Dockerfile.mock
  auth/cmd/envoy-authz/test/config.test.yaml
  auth/cmd/envoy-authz/test/envoy.yaml
  auth/cmd/envoy-authz/test/mock-directory.go
  auth/cmd/envoy-authz/test/test.sh
  docker-bake.hcl
  install/charts/dir/apiserver/values.yaml
  install/charts/envoy-authz/Chart.yaml
  install/charts/envoy-authz/templates/_helpers.tpl
  install/charts/envoy-authz/templates/clusterspiffeid.yaml
  install/charts/envoy-authz/templates/configmap-authz.yaml
  install/charts/envoy-authz/templates/configmap-envoy.yaml
  install/charts/envoy-authz/templates/deployment-authz.yaml
  install/charts/envoy-authz/templates/deployment-envoy.yaml
  install/charts/envoy-authz/templates/ingress.yaml
  install/charts/envoy-authz/templates/service-authz.yaml
  install/charts/envoy-authz/templates/service-envoy.yaml
  install/charts/envoy-authz/templates/serviceaccount.yaml
  install/charts/envoy-authz/values.yaml
  versions.yaml
Due: none

fix: importer config file
  .github/workflows/import-records.yaml
Due: none

fix(e2e): retry export test cases
  tests/e2e/local/11_export_test.go
Due: none

feat(dir/helm): decouple oidc-gateway
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

feat(regsync): register remote registry with TLS mode support
  reconciler/tasks/regsync/worker.go
Due: none

feat(dir/helm): set testbed bootstrap address as default
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

refactor(dirctl): remove local oci storage from daemon
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/start.go
  server/routing/test_utils.go
  server/store/oci/config/config.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
Due: server, cli

fix: address review feedback — Thanks @tomaioo for the PR! My concern is it only checks “
  cli/cmd/daemon/stop.go
Due: cli

fix(e2e/export): move export batch test
  tests/e2e/local/11_export_test.go
Due: none

feat(client/cli): cache OIDC tokens per issuer
  cli/cmd/auth/login.go
  cli/cmd/auth/logout.go
  cli/cmd/auth/status.go
  cli/cmd/auth/status_logout_test.go
  client/oidc_grpc.go
  client/oidc_grpc_test.go
  client/options.go
  client/options_test.go
  client/token_cache.go
  client/token_cache_test.go
Due: client, cli

refactor(dir): add local zot registry option
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon.go
  cli/cmd/daemon/start.go
  server/store/oci/config/config.go
Due: server, cli

fix(dir): cleanup oci config getters
  server/store/oci/config/config.go
Due: server

chore(dir): migrate GUI
  .github/workflows/gui-ci.yaml
  Taskfile.yml
  gui/.gitignore
  gui/.metadata
  gui/README.md
  gui/Taskfile.yml
  gui/analysis_options.yaml
  gui/assets/images/a2a.svg
  gui/assets/images/agent-icon.svg
  gui/assets/images/logo-dark.svg
  gui/assets/images/logo-light.svg
  gui/assets/images/mcp-server-icon.svg
  gui/lib/env/env.dart
  gui/lib/main.dart
  gui/lib/mcp/client.dart
  gui/lib/mcp/model.dart
  gui/lib/services/ai_service.dart
  gui/lib/services/analytics_service.dart
  gui/lib/services/gemini_wrapper.dart
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/settings_screen.dart
  gui/lib/ui/widgets/record_card.dart
  gui/lib/ui/widgets/search_results_widget.dart
  gui/load_records.sh
  gui/pubspec.lock
  gui/pubspec.yaml
  gui/test/mcp/client_test.dart
  gui/test/mcp/client_unit_test.dart
  gui/test/mcp/model_test.dart
  gui/test/mcp_integration_test.dart
  gui/test/services/ai_service_azure_test.dart
  gui/test/services/ai_service_openai_test.dart
  gui/test/services/ai_service_test.dart
  gui/test/services/llm_provider_test.dart
  gui/test/ui/chat_screen_test.dart
  gui/test/ui/settings_screen_test.dart
  gui/test/ui/widgets/record_card_test.dart
  gui/test/ui/widgets/search_results_widget_test.dart
  gui/test/widget_test.dart
Due: none

refactor: remove importer
  cli/go.sum
  tests/go.sum
Due: cli

refactor: remove importer
  importer/go.mod
  importer/go.sum
Due: none

refactor: remove importer
  Taskfile.deps.yml
  Taskfile.yml
Due: none

refactor(dir): use zot go package instead of binary
  cli/cmd/daemon/daemon.go
  cli/go.mod
  cli/go.sum
Due: cli

refactor(dir): use go-containerregistry instead of zot
  cli/cmd/daemon/daemon.go
  cli/go.mod
  cli/go.sum
Due: cli
