Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix ClusterSPIFFEID className of workloads
  Taskfile.yml
  e2e/sdk/chart/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/charts/dirctl/values.yaml
Due: none

feat(helm/dir): add OASF configuration (#769)
  Taskfile.yml
  e2e/local/01_storage_test.go
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/oasf-v0.5.1.tgz
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/README.md
Due: server

fix(helm/dir/dirctl): add className field to ClusterSPIFFEID resources (#774)
  .github/workflows/codeql.yml
  Taskfile.yml
  e2e/sdk/chart/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/charts/dirctl/templates/clusterspiffeids.yaml
  install/charts/dirctl/values.yaml
Due: none

Prepare directory for version v0.5.7
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

release(dir): prepare release v0.5.7
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

Prepare cli for version v0.5.7
  cli/go.mod
  e2e/go.mod
  hub/go.mod
Due: cli

update docs
  CHANGELOG.md
  README.md
Due: none

release(helm/dir/dirctl): prepare release/v0.5.7 (#775)
  CHANGELOG.md
  README.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

fix: OASF helm chart issue
  install/charts/dir/apiserver/templates/deployment.yaml
Due: none

fix: OASF helm chart issue (#776)
  install/charts/dir/apiserver/templates/deployment.yaml
Due: none

chore: add helm linting to lint task
  .github/workflows/ci.yaml
  Taskfile.yml
Due: none

chore: update brew formula version (#778)
  HomebrewFormula/dirctl.rb
Due: none

chore: add helm linting to lint task (#780)
  .github/workflows/ci.yaml
  Taskfile.yml
Due: none

feat: remove update deployment tool, add deployment prompt
  mcp/prompts/deploy_agent.go
  mcp/prompts/deploy_agent_test.go
  mcp/server/server.go
  mcp/tools/update_kagenti.go
  mcp/tools/update_kagenti_test.go
Due: none

abc
  api/core/v1/record.go
  api/core/v1/record.pb.go
  api/core/v1/referrer.go
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  proto/agntcy/dir/core/v1/record.proto
  proto/agntcy/dir/sign/v1/signature.proto
  proto/agntcy/dir/store/v1/store_service.proto
  schema.md
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.js
  sdk/dir-js/src/models/agntcy/dir/sign/v1/signature_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.py
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2_grpc.py
  server/store/oci/annotations.go
  server/store/oci/annotations_test.go
  server/store/oci/integration_test.go
  server/store/oci/oasf.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/referrers.go
  server/store/oci/signatures.go
  server/store/oci/testdata/oci_local_store/blobs/sha256/8e653970b8f2da87426cf80575675e68849044c7cbd66f49bf73ec606135fef9
  server/store/oci/testdata/oci_local_store/blobs/sha256/fffb8129b491f3588692fd4d0adc780485cb49d3ecec82595a0e7c5a997352fb
  server/store/oci/testdata/oci_local_store/index.json
  server/store/oci/testdata/oci_local_store/oci-layout
  server/store/oci/utils.go
  server/types/store.go
Due: api, server

decoupled store
  Taskfile.yml
  api/store/v1/object.pb.go
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  proto/agntcy/dir/store/v1/object.proto
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/src/models/agntcy/dir/store/v1/object_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/object_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/store/v1/object_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/object_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/object_pb2_grpc.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2_grpc.py
  server/store/oci/oasf.go
  server/store/oci/object.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/testdata/oci_local_store/blobs/sha256/8e653970b8f2da87426cf80575675e68849044c7cbd66f49bf73ec606135fef9
  server/store/oci/testdata/oci_local_store/blobs/sha256/fffb8129b491f3588692fd4d0adc780485cb49d3ecec82595a0e7c5a997352fb
  server/store/oci/testdata/oci_local_store/index.json
  server/store/oci/testdata/oci_local_store/oci-layout
  server/store/oci/utils.go
  server/types/store.go
Due: server

feat: update spec
  api/store/v1/object.pb.go
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  proto/agntcy/dir/store/v1/object.proto
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/src/models/agntcy/dir/store/v1/object_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/object_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/store/v1/object_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/object_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2_grpc.py
  server/store/oci/object.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/testdata/oci_local_store/blobs/sha256/1608e7d04c5ecbeca35d44b06af629e6fedae5068689f1bd28156658c1f3dc90
  server/store/oci/testdata/oci_local_store/blobs/sha256/61114dbb37cfe30e0448b8e0b8dc97ea1c32d04d57182777617847e32b2d2dea
  server/store/oci/testdata/oci_local_store/blobs/sha256/6f462562c55d283b1223c69de4f336e3bb0434f2e082e9748aac1902873ad889
  server/store/oci/testdata/oci_local_store/blobs/sha256/743d574d79e49b8f7787be48a3be871e8980f59e4c8c93523ff1c24f5b4efb6e
  server/store/oci/testdata/oci_local_store/blobs/sha256/79bf0ca1a39221e1e1bf4b297dce647f90d770fc920565d11ccba39de98931b2
  server/store/oci/testdata/oci_local_store/blobs/sha256/8e653970b8f2da87426cf80575675e68849044c7cbd66f49bf73ec606135fef9
  server/store/oci/testdata/oci_local_store/blobs/sha256/af8ee0a3b5a815aa197b7bee86c09660e5b45fab8bfcbd5aa7f2e0cb67311157
  server/store/oci/testdata/oci_local_store/blobs/sha256/f4e7af71bfb6ea330365e5037915099a49da0b40d4913e5cba85c763816fa884
  server/store/oci/testdata/oci_local_store/index.json
  server/store/oci/testdata/oci_local_store/oci-layout
  server/store/oci/utils.go
  server/types/store.go
Due: server

feat: add call agent tool and prompt
  mcp/prompts/call_agent.go
  mcp/prompts/call_agent_test.go
  mcp/prompts/deploy_agent.go
  mcp/server/server.go
  mcp/tools/call_a2a_agent.go
  mcp/tools/call_a2a_agent_test.go
Due: none

feat: add delete agent deployment prompt
  mcp/prompts/delete_agent.go
  mcp/prompts/delete_agent_test.go
  mcp/server/server.go
Due: none

feat: rewrite string
  mcp/server/server.go
Due: none

feat: testing with different validation settings
  .github/workflows/reusable-test-e2e.yaml
  Taskfile.yml
  e2e/local/08_validation_test.go
Due: none

feat: use namespaces instead of different clusters
  .github/workflows/reusable-test-e2e.yaml
  Taskfile.yml
Due: none

feat: add test case for oasf record with warnings
  e2e/local/08_validation_test.go
Due: none

feat: set schema url via config only
  Taskfile.yml
  api/core/v1/record.go
  api/core/v1/record_test.go
  importer/enricher/mcphost.json
  install/charts/dir/values.yaml
  mcp/README.md
  mcp/server/server.go
  mcp/server/server_test.go
  mcp/tools/validate_record_test.go
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/server.go
  server/server_test.go
Due: api, server

feat: improve Taskfile
  Taskfile.yml
Due: none

feat(dir): add GitHub Personal Access Token support for authentication
  cli/cmd/options.go
  client/config.go
  client/github.go
  client/options.go
Due: client, cli

release(dir): prepare release v0.6.0
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

release(docs): update changelog docs
  CHANGELOG.md
Due: none

Prepare directory for version v0.6.0
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

Prepare cli for version v0.6.0
  e2e/go.mod
Due: none

release(dir): prepare release v0.6.0 (#787)
  CHANGELOG.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

chore: update brew formula version (#789)
  HomebrewFormula/dirctl.rb
Due: none

feat(auth): implement GitHub OAuth authentication support
  cli/README.md
  cli/cmd/auth/auth.go
  cli/cmd/auth/login.go
  cli/cmd/auth/logout.go
  cli/cmd/auth/status.go
  cli/cmd/options.go
  cli/cmd/root.go
  client/config.go
  client/github_api.go
  client/go.mod
  client/oauth.go
  client/options.go
  client/token_cache.go
Due: client, cli

feat: add trust ranking interface and stub implementation
  extensions/trust_ranking/interface.py
  extensions/trust_ranking/reference_ranker.py
Due: none

testdata: add sample directory entries for ranking demo
  examples/directory_sample.json
Due: none

chore: prefer behavior signal in trust explanations
  extensions/trust_ranking/reference_ranker.py
Due: none

chore: cap reference trust score to avoid perfect ratings
  extensions/trust_ranking/reference_ranker.py
Due: none
