Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

test(cli): raise unit coverage for install engine and command helpers
  cli/cmd/install/apply_test.go
  cli/cmd/install/derive_test.go
  cli/cmd/install/install_test.go
  cli/internal/agentcfg/codec/codec_test.go
  cli/internal/agentcfg/mcp_engine_test.go
  cli/internal/agentcfg/paths_test.go
  cli/internal/agentcfg/skill_render_test.go
Due: cli

refactor: code review
  api/core/v1/referrer_types.go
  api/scan/v1/scan_report.pb.go
  api/security/v1/scan_report.go
  api/security/v1/scan_report.pb.go
  api/security/v1/scan_report_test.go
  client/scan.go
  proto/agntcy/dir/security/v1/scan_report.proto
  proto/buf.gen.yaml
Due: api, client

feat(utils/scanner): add SkillRunner to scan agent skill bundles (#1746)
  Taskfile.deps.yml
  api/exportfmt/skill_bundle_extract.go
  utils/go.mod
  utils/go.sum
  utils/scanner/skill.go
  utils/scanner/skill_test.go
Due: api

feat(proto,api,client): define ScanReport proto and add referrer persistence (#1744)
  api/core/v1/referrer_types.go
  api/security/v1/scan_report.go
  api/security/v1/scan_report.pb.go
  api/security/v1/scan_report_test.go
  client/scan.go
  proto/agntcy/dir/security/v1/scan_report.proto
  proto/buf.gen.yaml
Due: api, client

feat(server): add scan report to db
  server/database/gorm/migration.go
  server/database/gorm/scan.go
  server/types/database.go
Due: server

feat(reconciler): new security scan task
  reconciler/README.md
  reconciler/config/config.go
  reconciler/service/service.go
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/config_test.go
  reconciler/tasks/scan/task.go
  reconciler/tasks/signature/task_test.go
Due: none

feat: search safe records
  api/search/v1/record_query.pb.go
  proto/agntcy/dir/search/v1/record_query.proto
  server/controller/store.go
  server/database/gorm/record.go
  server/database/utils/utils.go
  server/types/search.go
Due: server

chore(ci): bump actions/checkout to v7.0.0 in dependencies workflow
  .github/workflows/dependencies.yaml
Due: none

chore(renovate): only open PRs after upstream checks have passed
  renovate.json
Due: none

chore(ci): replace deprecated app-id with client-id in create-github-app-token
  .github/workflows/dependencies.yaml
Due: none

chore(renovate): run renovate three times a week instead of once
  renovate.json
Due: none

chore(ci): run CodeQL on renovate branches to unblock branch CI
  .github/workflows/codeql.yml
Due: none

chore(renovate): push schedule start time to 8am to let dependencies CI finish
  renovate.json
Due: none

chore(renovate): increase minimumReleaseAge to 7 days
  renovate.json
Due: none

feat(daemon): enable scan by default
  .github/workflows/import-records.yaml
  Taskfile.deps.yml
  cli/cmd/daemon/daemon.config.yaml
Due: cli

feat(cli): search safe records
  cli/cmd/search/filters.go
  cli/cmd/search/search.go
  cli/go.mod
Due: cli

feat(cli): pull scan referrer
  api/core/v1/rules.pb.go
  cli/cmd/pull/options.go
  cli/cmd/pull/pull.go
  proto/agntcy/dir/core/v1/rules.proto
Due: cli

feat(utils/scanner): fill scanner version and analyzers
  reconciler/tasks/scan/task.go
  utils/scanner/mcp.go
  utils/scanner/scanner.go
  utils/scanner/skill.go
Due: none

refactor(ci): update renovate bot config (#1748)
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yaml
  renovate.json
Due: none

docs: security scanner
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
Due: none

feat(security): add automated security scanning, scan search filters, and pull support (#1757)
  .github/workflows/import-records.yaml
  Taskfile.deps.yml
  api/core/v1/rules.pb.go
  api/search/v1/record_query.pb.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/pull/options.go
  cli/cmd/pull/pull.go
  cli/cmd/search/filters.go
  cli/cmd/search/search.go
  cli/go.mod
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
  proto/agntcy/dir/core/v1/rules.proto
  proto/agntcy/dir/search/v1/record_query.proto
  reconciler/README.md
  reconciler/config/config.go
  reconciler/service/service.go
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/config_test.go
  reconciler/tasks/scan/task.go
  reconciler/tasks/signature/task_test.go
  server/controller/store.go
  server/database/gorm/migration.go
  server/database/gorm/record.go
  server/database/gorm/scan.go
  server/database/utils/utils.go
  server/types/database.go
  server/types/search.go
  utils/scanner/mcp.go
  utils/scanner/scanner.go
  utils/scanner/skill.go
Due: server, cli

docs(cli): document dirctl init (CLI reference + quickstart)
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-quickstart.md
Due: none

docs(dir): add dirctl install to the operations graph and features guide
  docs/content/dir/dir-features-scenarios.md
  docs/content/javascripts/dir-graph.js
Due: none

docs(cli): dirctl init, dirctl install missing docs (#1758)
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-quickstart.md
  docs/content/javascripts/dir-graph.js
Due: none

feat(cli): provision the OASF extractor assets in dirctl init
  cli/README.md
  cli/cmd/init/init.go
  cli/cmd/init/init_test.go
  cli/cmd/init/options.go
  cli/cmd/init/progress.go
  cli/cmd/init/progress_test.go
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  cli/internal/extractor/assets.go
  cli/internal/extractor/assets_test.go
  cli/internal/extractor/config.go
  cli/internal/extractor/config_test.go
  cli/internal/extractor/provision.go
  cli/internal/extractor/provision_integration_test.go
  client/config/config.go
  client/config/config_test.go
  tests/go.mod
  tests/go.sum
Due: client, cli

fix(cli): address review — fail-fast config, absolute asset dir, verify errors, panic-safe progress
  cli/cmd/init/progress.go
  cli/cmd/init/progress_test.go
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
  cli/internal/extractor/config.go
  cli/internal/extractor/config_test.go
Due: cli

fix(cli): address review — flag-set detection, no-op ClearExtractor, absolute-path guard
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
  cli/internal/extractor/assets.go
  cli/internal/extractor/assets_test.go
  client/config/config.go
  client/config/config_test.go
Due: client, cli

feat(cli): make extractor provisioning opt-out for interactive init
  cli/cmd/init/init.go
  cli/cmd/init/init_test.go
  cli/cmd/init/run.go
Due: cli

feat(cli): add extractor load helpers for read-path consumers
  cli/internal/extractor/load.go
  cli/internal/extractor/load_test.go
  cli/internal/extractor/provision.go
Due: cli

feat(server/gateway): add security badge and scanner details
  api/catalog/v1/catalog.go
  server/database/gorm/catalog.go
  server/database/gorm/record.go
  server/gateway/static/_app/immutable/assets/0.-ZFJDsCK.css
  server/gateway/static/_app/immutable/assets/0.ZfrdqnFK.css
  server/gateway/static/_app/immutable/chunks/B0kElV95.js
  server/gateway/static/_app/immutable/chunks/BBEufOfa.js
  server/gateway/static/_app/immutable/chunks/BpqAFKsC.js
  server/gateway/static/_app/immutable/chunks/BvF_8YFY.js
  server/gateway/static/_app/immutable/chunks/BzzQN20o.js
  server/gateway/static/_app/immutable/chunks/CFxqcZwB.js
  server/gateway/static/_app/immutable/chunks/CwQddPBI.js
  server/gateway/static/_app/immutable/chunks/D5OVXhOq.js
  server/gateway/static/_app/immutable/chunks/DIJHpNDS.js
  server/gateway/static/_app/immutable/chunks/Da3xB4LP.js
  server/gateway/static/_app/immutable/chunks/Dg6A3w0c.js
  server/gateway/static/_app/immutable/chunks/Dv8eJwHb.js
  server/gateway/static/_app/immutable/entry/app.F6WSXxLQ.js
  server/gateway/static/_app/immutable/entry/app.GeMZGiPX.js
  server/gateway/static/_app/immutable/entry/start.C53OMLnh.js
  server/gateway/static/_app/immutable/entry/start.CeNzErKI.js
  server/gateway/static/_app/immutable/nodes/0.CMVLgSSF.js
  server/gateway/static/_app/immutable/nodes/0.vPkGD6gi.js
  server/gateway/static/_app/immutable/nodes/1.DON0qOd7.js
  server/gateway/static/_app/immutable/nodes/1.U9C4-TLX.js
  server/gateway/static/_app/immutable/nodes/2.CfyOU1oc.js
  server/gateway/static/_app/immutable/nodes/2.k5BMu-HB.js
  server/gateway/static/_app/immutable/nodes/3.D7sEmdfF.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/ScanBadge.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: api, server

feat(cli): provision the OASF extractor assets in dirctl init (#1756)
  cli/README.md
  cli/cmd/init/init.go
  cli/cmd/init/init_test.go
  cli/cmd/init/options.go
  cli/cmd/init/progress.go
  cli/cmd/init/progress_test.go
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  cli/internal/extractor/assets.go
  cli/internal/extractor/assets_test.go
  cli/internal/extractor/config.go
  cli/internal/extractor/config_test.go
  cli/internal/extractor/load.go
  cli/internal/extractor/load_test.go
  cli/internal/extractor/provision.go
  cli/internal/extractor/provision_integration_test.go
  client/config/config.go
  client/config/config_test.go
  tests/go.mod
  tests/go.sum
Due: client, cli

chore: adding discord link
  CONTRIBUTING.md
  docs/content/community.md
  docs/content/llms.txt
Due: none

chore: adding discord link (#1761)
  CONTRIBUTING.md
  docs/content/community.md
  docs/content/llms.txt
Due: none

refactor(docs): use include from external repository
  docs/content/dir/dir-sdk-javascript.md
  docs/content/dir/dir-sdk-python.md
Due: none

chore(dir, sdk): split and update sdk documentations
  docs/content/dir/.index
  docs/content/dir/dir-sdk-go.md
  docs/content/dir/dir-sdk-javascript.md
  docs/content/dir/dir-sdk-python.md
  docs/content/dir/dir-sdk.md
  docs/mkdocs/mkdocs.yml
Due: none

chore(dir, sdk): split and update sdk documentations (#1759)
  docs/content/dir/.index
  docs/content/dir/dir-sdk-go.md
  docs/content/dir/dir-sdk-javascript.md
  docs/content/dir/dir-sdk-python.md
  docs/content/dir/dir-sdk.md
  docs/mkdocs/mkdocs.yml
Due: none

refactor: code review
  api/catalog/v1/catalog.go
  server/gateway/static/_app/immutable/assets/0.Bh8mRVAR.css
  server/gateway/static/_app/immutable/assets/0.ZfrdqnFK.css
  server/gateway/static/_app/immutable/entry/app.DiJwkkG0.js
  server/gateway/static/_app/immutable/entry/app.GeMZGiPX.js
  server/gateway/static/_app/immutable/nodes/0.DyW2xHcX.js
  server/gateway/static/_app/immutable/nodes/2.C-Nu7IFs.js
  server/gateway/static/_app/immutable/nodes/2.CfyOU1oc.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/ScanBadge.svelte
  server/gateway/ui/src/lib/utils.ts
Due: api, server

feat: add mcp-claudecode export format for Claude Code
  api/exportfmt/exportfmt.go
  api/exportfmt/exportfmt_test.go
  api/exportfmt/mcp_claudecode.go
  api/exportfmt/mcp_claudecode_test.go
  cli/cmd/export/batch.go
  cli/cmd/export/batch_mcp_claudecode.go
  cli/cmd/export/batch_mcp_claudecode_test.go
  cli/cmd/export/export.go
  cli/cmd/export/format_test.go
  cli/cmd/export/options.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
Due: api, cli

feat: add mcp-cursor export format for Cursor IDE
  api/exportfmt/exportfmt.go
  api/exportfmt/exportfmt_test.go
  api/exportfmt/mcp_cursor.go
  api/exportfmt/mcp_cursor_test.go
  cli/cmd/export/batch.go
  cli/cmd/export/batch_mcp_cursor.go
  cli/cmd/export/batch_mcp_cursor_test.go
  cli/cmd/export/export.go
  cli/cmd/export/format_test.go
  cli/cmd/export/options.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
Due: api, cli
