Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

fix(dir): implement minimal CodeQL Go build approach
  .github/workflows/codeql.yml
Due: none

add moore unit tests
  client/client_test.go
  client/options_test.go
Due: client

fix(dir): switch CodeQL Go analysis to autobuild mode
  .github/workflows/codeql.yml
Due: none

feat: refactor to use new apis
  hub/client/hub/client.go
  hub/cmd/pull/pull.go
  hub/cmd/push/push.go
  hub/service/agent.go
Due: none

feat(dir): add workflow_dispatch trigger to CodeQL workflow
  .github/workflows/codeql.yml
Due: none

implement --output flag for cli commands
  cli/README.md
  cli/cmd/events/listen.go
  cli/cmd/routing/info.go
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  e2e/local/03_routing_test.go
  e2e/local/04_signature_test.go
  e2e/local/06_events_test.go
  e2e/local/06_import_test.go
  e2e/network/01_deploy_test.go
  e2e/network/02_sync_test.go
  e2e/network/03_search_test.go
  e2e/network/04_gossipsub_test.go
  e2e/shared/utils/cli.go
Due: cli

refactor(dir): remove CodeQL quick scan workflow from git
  .github/workflows/codeql-quick-scan.yml
Due: none

feat(dir): add CodeQL quick scan workflow to gitignore
  .gitignore
Due: none

security: pin all GitHub Actions to specific commit hashes
  .github/workflows/codeql.yml
Due: none

Update .gitignore
  .gitignore
Due: none

fix command descriptions and add more unit tests
  cli/cmd/events/events.go
  cli/cmd/events/listen.go
  cli/cmd/events/listen_test.go
  cli/cmd/routing/info_test.go
  cli/cmd/sync/sync.go
  cli/cmd/sync/sync_test.go
  cli/go.mod
  cli/presenter/output_test.go
Due: cli

fix: temporarily disable actions language in CodeQL
  .github/workflows/codeql.yml
Due: none

feat(dir): add CodeQL security workflows (#584)
  .github/workflows/codeql.yml
Due: none

fix(client): fix Critical Resource Leaks and Context Handling in Client Package (#577)
  cli/cmd/root.go
  client/README.md
  client/client.go
  client/client_test.go
  client/go.mod
  client/options.go
  client/options_test.go
  client/routing.go
  client/routing_test.go
  client/spiffe_test.go
  e2e/client/01_client_test.go
  e2e/client/02_events_test.go
  mcp/tools/push_record.go
Due: client, cli

fix: lint
  hub/client/hub/client.go
Due: none

feat(dir): add readiness checks to apiserver services (#582)
  .gitignore
  e2e/network/01_deploy_test.go
  e2e/network/04_gossipsub_test.go
  e2e/network/network_suite_test.go
  install/charts/dir/apiserver/templates/deployment.yaml
  server/database/sqlite/sqlite.go
  server/go.mod
  server/go.sum
  server/healthcheck/healthcheck.go
  server/healthcheck/healthcheck_test.go
  server/publication/publication.go
  server/routing/pubsub/manager.go
  server/routing/routing.go
  server/routing/routing_local_test.go
  server/routing/routing_remote.go
  server/server.go
  server/store/cache/cache.go
  server/store/cache/cache_test.go
  server/store/eventswrap/eventswrap.go
  server/store/eventswrap/eventswrap_test.go
  server/store/oci/oci.go
  server/sync/sync.go
  server/types/database.go
  server/types/routing.go
  server/types/store.go
  utils/zot/zot.go
  utils/zot/zot_test.go
Due: server

feat(dir): new api push pull (#585)
  hub/api/v1alpha1/record.pb.go
  hub/api/v1alpha1/record_dir_service.pb.go
  hub/api/v1alpha1/record_dir_service.pb.gw.go
  hub/api/v1alpha1/record_dir_service_grpc.pb.go
  hub/api/v1alpha1/record_hub_service.pb.go
  hub/api/v1alpha1/record_hub_service.pb.gw.go
  hub/api/v1alpha1/record_hub_service_grpc.pb.go
  hub/client/hub/client.go
  hub/cmd/pull/pull.go
  hub/cmd/push/push.go
  hub/service/agent.go
Due: none

fix(sdk): add spiffe flag to dirctl sign command
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

fix(sdk): enable spiffe sign test
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

implement basic rate limiting and config
  server/middleware/ratelimit/config/config.go
  server/middleware/ratelimit/config/config_test.go
  server/middleware/ratelimit/limiter.go
  server/middleware/ratelimit/limiter_test.go
Due: server

fix(sdk): add spiffe sign test (#592)
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

add interceptor and server settings
  server/go.mod
  server/middleware/ratelimit/interceptor.go
  server/middleware/ratelimit/interceptor_test.go
  server/middleware/ratelimit/server.go
  server/middleware/ratelimit/server_test.go
Due: server

replace custom rate limiting middleware to go-grpc-middleware rate limiting
  server/config/config.go
  server/config/config_test.go
  server/middleware/ratelimit/interceptor.go
  server/middleware/ratelimit/interceptor_test.go
  server/middleware/ratelimit/limiter.go
  server/middleware/ratelimit/limiter_test.go
  server/middleware/ratelimit/server.go
  server/server.go
Due: server

add e2e tests and config settings
  Taskfile.yml
  e2e/client/03_ratelimit_test.go
  e2e/go.mod
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
Due: none

feat(dir/server): implement Application-Layer Rate Limiting for gRPC (#593)
  Taskfile.yml
  e2e/client/03_ratelimit_test.go
  e2e/go.mod
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/go.mod
  server/middleware/ratelimit/config/config.go
  server/middleware/ratelimit/config/config_test.go
  server/middleware/ratelimit/limiter.go
  server/middleware/ratelimit/limiter_test.go
  server/middleware/ratelimit/server.go
  server/middleware/ratelimit/server_test.go
  server/server.go
Due: server

fix(sdk/js): move api stubs
  Taskfile.yml
  proto/buf.gen.yaml
  sdk/dir-js/api-extractor.json
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.js
  sdk/dir-js/src/models/agntcy/dir/events/v1/event_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/events/v1/event_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/routing/v1/peer_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/routing/v1/peer_pb.js
  sdk/dir-js/src/models/agntcy/dir/routing/v1/publication_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/routing/v1/publication_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/routing/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/routing/v1/record_query_pb.js
  sdk/dir-js/src/models/agntcy/dir/routing/v1/routing_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/routing/v1/routing_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.js
  sdk/dir-js/src/models/agntcy/dir/search/v1/search_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/search_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/sign/v1/public_key_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/public_key_pb.js
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/sign/v1/signature_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/signature_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.js
  sdk/dir-js/src/models/core_v1.ts
  sdk/dir-js/src/models/package.json
  sdk/dir-js/src/models/routing_v1.ts
  sdk/dir-js/src/models/search_v1.ts
  sdk/dir-js/src/models/sign_v1.ts
  sdk/dir-js/src/models/store_v1.ts
Due: none

chore(sdk): remove api stubs from gitignore
  sdk/dir-js/.gitignore
  sdk/dir-py/.gitignore
Due: none

refactor(sdk/js): use relative import
  Taskfile.yml
  sdk/dir-js/api-extractor.json
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/rollup.config.mjs
  sdk/dir-js/src/models/core_v1.ts
  sdk/dir-js/src/models/package.json
  sdk/dir-js/src/models/routing_v1.ts
  sdk/dir-js/src/models/search_v1.ts
  sdk/dir-js/src/models/sign_v1.ts
  sdk/dir-js/src/models/store_v1.ts
Due: none

fix rate limit e2e tests
  Taskfile.yml
  e2e/client/03_ratelimit_test.go
Due: none

fix rate limit e2e tests (#598)
  Taskfile.yml
  e2e/client/03_ratelimit_test.go
Due: none

feat(dir/server): replace http with gRPC health check implementation
  server/config/config.go
  server/config/config_test.go
  server/healthcheck/healthcheck.go
  server/healthcheck/healthcheck_test.go
  server/middleware/logging/options.go
  server/middleware/logging/options_test.go
  server/server.go
Due: server

refactor(dir): remove health check configuration and update deployment to use gRPC
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/service.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  install/docker/docker-compose.yml
Due: none

add routing service deployment configuration
  install/CLOUD_PROVIDER_AUTO_CONFIG.md
  install/ROUTING_SERVICE_GUIDE.md
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/routing_service.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

chore(helm): fix ingress deployment
  install/charts/dir/apiserver/templates/ingress.yaml
Due: none

chore(helm): fix ingress deployment
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-release.yaml
Due: none

remove some docs
  install/CLOUD_PROVIDER_AUTO_CONFIG.md
  install/ROUTING_SERVICE_GUIDE.md
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
