Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix(dir/zot): registry url handling and validation (#944)
  server/controller/sync.go
  server/store/oci/config/config.go
  utils/zot/config.go
  utils/zot/config_test.go
  utils/zot/credentials.go
  utils/zot/credentials_test.go
Due: server

chore: update packages to resolve security issues
  Taskfile.yml
Due: none

chore: update security gomod packages
  .licensei.toml
  Taskfile.yml
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  server/go.mod
  server/go.sum
Due: server, cli

chore: update security gomod packages
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  cli/go.sum
  client/go.mod
  e2e/go.mod
  e2e/go.sum
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  server/go.mod
Due: client, server, cli

chore: update security gomod packages
  importer/go.mod
  importer/go.sum
Due: none

chore: update security gomod packages
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  server/go.mod
Due: server, cli

chore: update go version to v1.25.7
  .github/workflows/ci.yaml
  .github/workflows/container-security-scan.yml
  .github/workflows/demo-dir.yaml
  .github/workflows/gui-ci.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.yml
  api/go.mod
  auth/authprovider/go.mod
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/Dockerfile
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/test/Dockerfile.mock
  cli/Dockerfile
  cli/go.mod
  cli/go.sum
  client/go.mod
  e2e/go.mod
  e2e/go.sum
  importer/enricher/enricher.go
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  runtime/api/go.mod
  runtime/discovery/Dockerfile
  runtime/discovery/go.mod
  runtime/server/Dockerfile
  runtime/server/go.mod
  runtime/store/go.mod
  runtime/utils/go.mod
  server/Dockerfile
  server/go.mod
  utils/go.mod
Due: api, client, server, cli

chore: solve security issues with regsync static binary
  reconciler/Dockerfile
Due: none

chore(security): bump go v1.25.7 and package versions (#945)
  .github/workflows/ci.yaml
  .github/workflows/container-security-scan.yml
  .github/workflows/demo-dir.yaml
  .github/workflows/gui-ci.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  .licensei.toml
  Taskfile.yml
  api/go.mod
  auth/authprovider/go.mod
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/Dockerfile
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/test/Dockerfile.mock
  cli/Dockerfile
  cli/go.mod
  cli/go.sum
  client/go.mod
  e2e/go.mod
  e2e/go.sum
  importer/enricher/enricher.go
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  runtime/api/go.mod
  runtime/discovery/Dockerfile
  runtime/discovery/go.mod
  runtime/server/Dockerfile
  runtime/server/go.mod
  runtime/store/go.mod
  runtime/utils/go.mod
  server/Dockerfile
  server/go.mod
  server/go.sum
  utils/go.mod
Due: api, client, server, cli

ci: revamp demo-dir action
  .github/actions/publish-record/README.md
  .github/actions/publish-record/action.yaml
  .github/actions/publish-record/publish.sh
  .github/actions/push-record/README.md
  .github/actions/push-record/action.yaml
  .github/actions/push-record/push.sh
  .github/actions/setup-dirctl/README.md
  .github/actions/setup-dirctl/action.yaml
  .github/actions/setup-dirctl/setup-dirctl.sh
  .github/actions/sign-record/README.md
  .github/actions/sign-record/action.yaml
  .github/actions/sign-record/sign.sh
  .github/workflows/demo-dir.yaml
  Taskfile.yml
Due: none

Prepare directory for version v1.0.0-rc.4
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  server/go.mod
Due: client, server, cli

release(dir): prepare release v1.0.0-rc.4
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

docs: update CHANGELOG for v1.0.0-rc.4 release
  CHANGELOG.md
Due: none

release(dir): prepare v1.0.0 rc.4 (#947)
  CHANGELOG.md
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

fix(ci): update module extraction command in post-release workflow
  .github/workflows/post-release.yml
Due: none

chore: update brew formula version (#949)
  HomebrewFormula/dirctl.rb
Due: none

chore: fix packages and maintainers
  MAINTAINERS.md
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/enricher/enricher.go
  importer/go.mod
  importer/go.sum
Due: cli

chore: fix packages and maintainers (#950)
  MAINTAINERS.md
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/enricher/enricher.go
  importer/go.mod
  importer/go.sum
Due: cli

chore: cleanup zot-based sync configuration
  Taskfile.yml
  api/store/v1/sync_service_grpc.pb.go
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  proto/agntcy/dir/store/v1/sync_service.proto
  reconciler/tasks/regsync/credentials.go
  reconciler/tasks/regsync/regsync_config.go
  reconciler/tasks/regsync/task.go
  reconciler/tasks/regsync/worker.go
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.d.ts
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2_grpc.py
  server/config/config.go
  server/config/config_test.go
  server/controller/sync.go
  server/database/gorm/sync.go
  server/server.go
  server/store/oci/oci.go
  server/sync/config/config.go
  server/sync/monitor/config/config.go
  server/sync/monitor/monitor.go
  server/sync/monitor/types.go
  server/sync/scheduler.go
  server/sync/sync.go
  server/sync/sync_events_test.go
  server/sync/types/types.go
  server/sync/worker.go
  server/types/database.go
  server/types/registry/registry.go
  server/types/sync.go
  utils/zot/config.go
  utils/zot/config_test.go
  utils/zot/credentials.go
  utils/zot/credentials_test.go
  utils/zot/zot.go
Due: server

feat: enable atomic sync processing
  reconciler/tasks/indexer/task.go
  reconciler/tasks/regsync/regsync_config.go
  reconciler/tasks/regsync/task.go
  reconciler/tasks/regsync/worker.go
  server/store/oci/annotations_test.go
  server/store/oci/config/config.go
  server/store/oci/utils.go
Due: server

chore: cleanup zot-based sync configuration
  client/utils/cosign/verify.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/tasks/regsync/task.go
  server/controller/store.go
  server/go.mod
  server/go.sum
  server/store/oci/config/config.go
  server/store/oci/oci.go
  server/store/oci/referrers.go
  utils/go.mod
  utils/go.sum
  utils/zot/zot.go
Due: client, server

chore: update helm chart for apiserver/reconciler
  Taskfile.yml
  install/charts/dir/Chart.lock
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/database-pvc.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/external-secret.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/templates/routing-service.yaml
  install/charts/dir/apiserver/templates/secret.yaml
  install/charts/dir/apiserver/templates/zot-config-pvc.yaml
  install/charts/dir/apiserver/templates/zot-config-storageclass.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/database/utils/wildcard.go
  server/types/README.md
Due: server

chore: cleanup zot-based sync configuration
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/main.go
  server/config/config.go
  server/config/config_test.go
  server/database/config/config.go
  server/database/database.go
  server/database/database_test.go
  server/database/gorm/domain.go
  server/database/gorm/locator.go
  server/database/gorm/module.go
  server/database/gorm/publication.go
  server/database/gorm/record.go
  server/database/gorm/skill.go
  server/database/gorm/sync.go
  server/database/utils/wildcard.go
  server/go.mod
  server/go.sum
  server/server.go
  server/types/database.go
Due: server

chore: update docker compose deployment
  install/docker/apiserver.env
  install/docker/docker-compose.yml
  install/docker/reconciler.env
  reconciler/config/config.go
  server/database/gorm/record.go
Due: server

chore: fix sdk reconcile timeouts
  Taskfile.yml
  e2e/network/02_sync_test.go
  reconciler/tasks/regsync/task.go
Due: none

chore: update helm chart and reconciler deps
  Taskfile.yml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  install/docker/docker-compose.yml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/tasks/regsync/task.go
  server/config/config.go
  server/config/config_test.go
  server/database/config/config.go
  server/database/database.go
  server/store/oci/config/config.go
  server/store/oci/oci.go
  server/types/registry/registry.go
Due: server

chore: update helm chart for apiserver/reconciler
  Taskfile.yml
  install/charts/dir/values.yaml
Due: none

chore: fix deployment and e2e taskfile issues
  AUTHZ.md
  Taskfile.yml
  e2e/network/02_sync_test.go
  e2e/network/05_name_resolution_test.go
  install/charts/dir/apiserver/values.yaml
  reconciler/tasks/regsync/task.go
Due: none

chore: fix deployment and e2e taskfile issues
  Taskfile.yml
  install/charts/dir/apiserver/values.yaml
Due: none

chore: fix deployment and e2e taskfile issues
  Taskfile.yml
Due: none

fix: taskfile image imports
  Taskfile.yml
Due: none

fix: bakefile coverage targets
  docker-bake.hcl
Due: none

fix: bakefile coverage targets
  Taskfile.yml
Due: none

fix(ci): update module extraction command in post-release workflow (#948)
  .github/workflows/post-release.yml
Due: none

fix: psql chart image
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

test: disable taskfile/e2e coverage exports
  Taskfile.yml
Due: none

fix(dirctl): make publish and unpublish message similar
  cli/cmd/routing/unpublish.go
Due: cli

fix(dirctl): make publish and unpublish message similar (#952)
  cli/cmd/routing/unpublish.go
Due: cli
