Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

chore: update oasf-sdk v0.0.9 -> v0.0.11 (#679)
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

feat: add get_schema_skills MCP tool
  mcp/README.md
  mcp/server/server.go
  mcp/tools/get_schema_skills.go
  mcp/tools/get_schema_skills_test.go
Due: none

feat: add get_schema_domains MCP tool
  mcp/README.md
  mcp/server/server.go
  mcp/tools/get_schema_domains.go
  mcp/tools/get_schema_domains_test.go
Due: none

ci: add `importer` and `mcp` to pr title scopes
  .github/workflows/lint-pr-title.yaml
Due: none

feat: optimize code
  mcp/tools/get_schema_domains.go
  mcp/tools/get_schema_domains_test.go
  mcp/tools/get_schema_skills.go
  mcp/tools/get_schema_skills_test.go
  mcp/tools/schema_helpers.go
Due: none

feat: Add dnsNameTemplates support to DIR API
  install/charts/dir/apiserver/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

ci: update upload-artifacts version
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
Due: none

ci(dir): fix artifact name
  .github/workflows/reusable-release.yaml
Due: none

ci(dir): update upload-artifacts version (#682)
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
Due: none

feat(mcp): tools for importer enricher (#680)
  .github/workflows/lint-pr-title.yaml
  mcp/README.md
  mcp/server/server.go
  mcp/tools/get_schema_domains.go
  mcp/tools/get_schema_domains_test.go
  mcp/tools/get_schema_skills.go
  mcp/tools/get_schema_skills_test.go
  mcp/tools/schema_helpers.go
Due: none

chore(dir): update readme versions
  README.md
Due: none

chore: update brew formula version (#684)
  HomebrewFormula/dirctl.rb
Due: none

chore(dir): update readme versions (#685)
  README.md
Due: none

fix(brew): use brew updater after release is public
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-release.yaml
Due: none

feat: Add dnsNameTemplates support to DIR API (#681)
  install/charts/dir/apiserver/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

feat: enable external secret config for api server and zot
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/external-secret.yaml
  install/charts/dir/apiserver/templates/secret.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

feat(importer): use oasf-sdk/translator
  importer/go.mod
  importer/mcp/transformer.go
Due: none

fix(server): keep push stream open on validation/storage errors
  server/controller/store.go
Due: server

fix: use adapter to get record data
  server/controller/store.go
Due: server

feat(importer): add --debug diagnostics for push failures
  importer/mcp/transformer.go
  importer/pipeline/pipeline.go
  importer/pipeline/pusher.go
Due: none

feat: enricher to start mcp server with dirctl
  importer/enricher/mcphost.json
Due: none

fix: use exact MCP module name
  importer/pipeline/pusher.go
Due: none

feat(importer): add deduplication and --force flag for MCP imports
  cli/cmd/import/import.go
  importer/config/config.go
  importer/mcp/importer.go
  importer/pipeline/pipeline.go
  importer/pipeline/pusher.go
  importer/types/factory/factory_test.go
  importer/types/importer.go
Due: cli

docs: add new features to cli README
  cli/README.md
Due: cli

fix: build record cache in batches and add limit
  importer/pipeline/pusher.go
Due: none

feat: enable external secret config for api server and zot (#691)
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/external-secret.yaml
  install/charts/dir/apiserver/templates/secret.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

fix: remove unnecessary cid hack
  importer/pipeline/pipeline.go
  importer/pipeline/pusher.go
  server/controller/store.go
Due: server

feat(importer): use oasf-sdk/translator (#624)
  cli/README.md
  cli/cmd/import/import.go
  importer/config/config.go
  importer/enricher/mcphost.json
  importer/go.mod
  importer/mcp/importer.go
  importer/mcp/transformer.go
  importer/pipeline/pipeline.go
  importer/pipeline/pusher.go
  importer/types/factory/factory_test.go
  importer/types/importer.go
  server/controller/store.go
Due: server, cli

release(dir): prepare release v0.5.1
  CHANGELOG.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

update CHANGELOG.md
  CHANGELOG.md
Due: none

release(dir): prepare release v0.5.1 (#695)
  CHANGELOG.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
