Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat(importer): prioritize dedup checker (#743)
  importer/mcp/importer.go
  importer/pipeline/dedup.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
  importer/pipeline/pusher.go
Due: none

fix code reviews
  client/options.go
  server/authn/service.go
Due: client, server

refactor: local search
  api/search/v1/record_query.go
  api/search/v1/record_query.pb.go
  api/search/v1/search_service.pb.go
  api/search/v1/search_service_grpc.pb.go
  cli/cmd/search/cids.go
  cli/cmd/search/options.go
  cli/cmd/search/records.go
  cli/cmd/search/search.go
  client/search.go
  importer/config/config.go
  importer/types/factory/factory_test.go
  mcp/prompts/search_records.go
  mcp/prompts/search_records_test.go
  mcp/tools/search.go
  mcp/tools/search_test.go
  proto/agntcy/dir/search/v1/record_query.proto
  proto/agntcy/dir/search/v1/search_service.proto
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.js
  sdk/dir-js/src/models/agntcy/dir/search/v1/search_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/search_service_pb.js
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.py
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.pyi
  sdk/dir-py/agntcy/dir/search/v1/search_service_pb2.py
  sdk/dir-py/agntcy/dir/search/v1/search_service_pb2.pyi
  sdk/dir-py/agntcy/dir/search/v1/search_service_pb2_grpc.py
  server/controller/search.go
  server/database/sqlite/module.go
  server/database/sqlite/record.go
  server/database/sqlite/record_test.go
  server/database/utils/utils.go
  server/server.go
  server/types/adapters/oasf_v1alpha0.go
  server/types/adapters/oasf_v1alpha1.go
  server/types/adapters/oasf_v1alpha2.go
  server/types/database.go
  server/types/record.go
  server/types/search.go
Due: api, client, server, cli

test: fix e2e tests
  cli/cmd/search/cids.go
  cli/cmd/search/records.go
  client/search.go
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  e2e/shared/utils/cli.go
  e2e/shared/utils/common.go
  importer/config/config.go
  importer/types/factory/factory_test.go
  mcp/tools/search.go
Due: client, cli

refactor: change docs, add tests
  cli/README.md
  e2e/local/02_search_test.go
  e2e/shared/utils/cli.go
Due: cli

refactor: fix linter issues
  client/routing.go
  client/search.go
  e2e/local/02_search_test.go
  importer/pipeline/pusher.go
  mcp/tools/search.go
  server/database/sqlite/module.go
  server/database/sqlite/record.go
  server/database/sqlite/record_test.go
  server/database/utils/utils.go
Due: client, server

refactor: merge conflict
  importer/pipeline/pusher.go
Due: none

refactor: fix errors
  importer/pipeline/dedup.go
Due: none

updates
  api/store/v1/object.pb.go
  proto/agntcy/dir/store/v1/object.proto
  server/store/oci/manifest.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/testdata/oci/blobs/sha256/0e646342623b54a2b97a2d6e6affb7a3afed6e188b76f0201023323e05f88ece
  server/store/oci/testdata/oci/blobs/sha256/1286c060c01710ae8fb79a1f60620c8baf9e22fe2abfbafaa7a43109984e1b75
  server/store/oci/testdata/oci/blobs/sha256/1c803ac0142c896cc20f3f4f75511f52538a9c42bf1877606c3ed88f74422fbe
  server/store/oci/testdata/oci/blobs/sha256/85561c57f38f82aedff3beed810d03e8271a524de108551ee7ce1bf18e83ecbf
  server/store/oci/testdata/oci/blobs/sha256/e6b4c6700918e9048a240bb93f63565fb75ed4b613c83934ae319dfb49a846ea
  server/store/oci/testdata/oci/index.json
Due: server

refactor: fix errors
  api/search/v1/search_service.pb.go
  api/search/v1/search_service_grpc.pb.go
  cli/cmd/search/cids.go
  cli/cmd/search/records.go
  client/search.go
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  importer/config/config.go
  importer/pipeline/dedup.go
  importer/types/factory/factory_test.go
  mcp/tools/search.go
  proto/agntcy/dir/search/v1/search_service.proto
  sdk/dir-js/src/models/agntcy/dir/search/v1/search_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/search_service_pb.js
  sdk/dir-py/agntcy/dir/search/v1/search_service_pb2.py
  sdk/dir-py/agntcy/dir/search/v1/search_service_pb2.pyi
  sdk/dir-py/agntcy/dir/search/v1/search_service_pb2_grpc.py
  server/controller/search.go
Due: client, server, cli

test: fix tests
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

test: fix tests
  sdk/dir-js/test/client.test.ts
Due: none

feat: add job to fetch latest release version for container security scan workflow (#746)
  .github/workflows/container-security-scan.yml
Due: none

fix(client): fix SPIFFE X509-SVID retry logic for timing issues (#741)
  client/options.go
  server/authn/service.go
  utils/go.mod
  utils/spiffe/retry.go
  utils/spiffe/retry_test.go
Due: client, server

release(dir): prepare release v0.5.5
  CHANGELOG.md
  README.md
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

Prepare directory for version v0.5.5
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

Prepare cli for version v0.5.5
  cli/go.mod
  e2e/go.mod
  hub/go.mod
Due: cli

fix(dir): release/v0.5.5 (#750)
  CHANGELOG.md
  README.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

fix: error in controller
  client/routing.go
Due: client

fix: linter
  client/routing.go
Due: client

chore: update brew formula version (#752)
  HomebrewFormula/dirctl.rb
Due: none

ci(dir): update reusable verisons
  .github/actions/trigger-integrations/action.yaml
  .github/workflows/buf-ci.yaml
  .github/workflows/build-feature.yaml
  .github/workflows/ci.yaml
  .github/workflows/container-security-scan.yml
  .github/workflows/demo-dir.yaml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/post-release.yml
  .github/workflows/project.yaml
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-release-sdk.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
  .github/workflows/reusable-test.yaml
Due: none

ci(dir): update deprecated subaction
  .github/workflows/reusable-build.yaml
Due: none

ci(dir): bump setup-go version
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
Due: none

ci(dir): fix redundant cache restore in go
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
Due: none

ci(dir): add cache deletion workflow
  .github/workflows/clear-docker-cache.yaml
Due: none

ci(dirctl): upload cli bin to artifact
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
  Taskfile.yml
Due: none

abc
  Taskfile.yml
  api/go.mod
  api/go.sum
  api/store/v1/object.pb.go
  api/store/v1/store_service.pb.go
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  proto/agntcy/dir/core/v1/record.proto
  proto/agntcy/dir/store/v1/object.proto
  proto/agntcy/dir/store/v1/store_service.proto
  server/go.mod
  server/store/oci/README.md
  server/store/oci/internal.go
  server/store/oci/manifest.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/referrers.go
  server/store/oci/signatures.go
  server/store/oci/testdata/oci/blobs/sha256/0e646342623b54a2b97a2d6e6affb7a3afed6e188b76f0201023323e05f88ece
  server/store/oci/testdata/oci/blobs/sha256/315f5bdb76d078c43b8ac0064e4a0164612b1fce77c869345bfc94c75894edd3
  server/store/oci/testdata/oci/index.json
  server/store/oci/testdata/oci/oci-layout
  server/store/oci/types.go
Due: api, client, server, cli

refactor: organize cli code
  cli/cmd/search/cids.go
  cli/cmd/search/options.go
  server/controller/search.go
Due: server, cli

test: add comparison tests
  e2e/local/02_search_test.go
Due: none

abc
  api/core/v1/record.go
  api/core/v1/record.pb.go
  api/core/v1/referrer.go
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  proto/agntcy/dir/core/v1/record.proto
  proto/agntcy/dir/sign/v1/signature.proto
  proto/agntcy/dir/store/v1/store_service.proto
  schema.md
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.js
  sdk/dir-js/src/models/agntcy/dir/sign/v1/signature_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.py
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2_grpc.py
  server/store/oci/annotations.go
  server/store/oci/annotations_test.go
  server/store/oci/integration_test.go
  server/store/oci/oasf.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/referrers.go
  server/store/oci/signatures.go
  server/store/oci/testdata/oci_local_store/blobs/sha256/8e653970b8f2da87426cf80575675e68849044c7cbd66f49bf73ec606135fef9
  server/store/oci/testdata/oci_local_store/blobs/sha256/fffb8129b491f3588692fd4d0adc780485cb49d3ecec82595a0e7c5a997352fb
  server/store/oci/testdata/oci_local_store/index.json
  server/store/oci/testdata/oci_local_store/oci-layout
  server/store/oci/utils.go
  server/types/store.go
Due: api, server

ci(dir): extend artifacts retention day from 1 to 7
  .github/workflows/reusable-build.yaml
Due: none

ci(dir): avoid no space left in runner (#749)
  .github/actions/trigger-integrations/action.yaml
  .github/workflows/buf-ci.yaml
  .github/workflows/build-feature.yaml
  .github/workflows/ci.yaml
  .github/workflows/clear-docker-cache.yaml
  .github/workflows/container-security-scan.yml
  .github/workflows/demo-dir.yaml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/post-release.yml
  .github/workflows/project.yaml
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-release-sdk.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.yml
Due: none

ci(dir): use fixed code for avoid pr label duplication
  .github/workflows/pr.yaml
Due: none

decoupled store
  Taskfile.yml
  api/store/v1/object.pb.go
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  proto/agntcy/dir/store/v1/object.proto
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/src/models/agntcy/dir/store/v1/object_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/object_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/store/v1/object_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/object_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/object_pb2_grpc.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2_grpc.py
  server/store/oci/oasf.go
  server/store/oci/object.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/testdata/oci_local_store/blobs/sha256/8e653970b8f2da87426cf80575675e68849044c7cbd66f49bf73ec606135fef9
  server/store/oci/testdata/oci_local_store/blobs/sha256/fffb8129b491f3588692fd4d0adc780485cb49d3ecec82595a0e7c5a997352fb
  server/store/oci/testdata/oci_local_store/index.json
  server/store/oci/testdata/oci_local_store/oci-layout
  server/store/oci/utils.go
  server/types/store.go
Due: server

feat: add basic prometheus metrics
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/service.yaml
  install/charts/dir/apiserver/templates/servicemonitor.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/go.mod
  server/go.sum
  server/metrics/server.go
  server/server.go
Due: server

feat: add metrics e2e tests
  Taskfile.yml
  e2e/local/07_metrics_test.go
  server/metrics/interceptors.go
  server/server.go
Due: server

feat(dir): add basic prometheus metrics (#757)
  Taskfile.yml
  e2e/local/07_metrics_test.go
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/service.yaml
  install/charts/dir/apiserver/templates/servicemonitor.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/go.mod
  server/go.sum
  server/metrics/interceptors.go
  server/metrics/server.go
  server/server.go
Due: server

ci(dir): use fixed code for avoid pr label duplication (#755)
  .github/workflows/pr.yaml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
