Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

docs: add report evaluating quality tooling for MCP, skills, and A2A
  agent-record-quality-evaluation.md
Due: none

fix(reconciler): readiness probe
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  server/store/oci/internal_test.go
  server/store/oci/oci.go
Due: server

chore: refresh buf.lock and matching protovalidate module
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  proto/buf.lock
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

fix(reconciler): readiness probe (#2071)
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  proto/buf.lock
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  server/store/oci/internal_test.go
  server/store/oci/oci.go
  tests/go.mod
  tests/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

feat(ci): raise import matrix max-parallel to 3 (fixes #2047)
  .github/workflows/import-records.yaml
Due: none

feat(helm): add optional OASF-SDK extractor server subchart
  docs/content/dir/dir-deployment-kubernetes.md
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
Due: none

chore(helm): bump OASF-SDK subchart to v1.3.0
  docs/content/dir/dir-deployment-kubernetes.md
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

feat(dir): add warning icon for unsafe records
  server/gateway/static/_app/immutable/entry/app.C0nMlhSZ.js
  server/gateway/static/_app/immutable/entry/app.Dnr0g9V_.js
  server/gateway/static/_app/immutable/nodes/2.D_54MLUH.js
  server/gateway/static/_app/immutable/nodes/2.TyhCkzvT.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/ScanBadge.svelte
Due: server

feat(helm): add optional OASF-SDK extractor server subchart (#2073)
  docs/content/dir/dir-deployment-kubernetes.md
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
Due: none

feat(dir): add warning icon for unsafe records (#2094)
  server/gateway/static/_app/immutable/entry/app.C0nMlhSZ.js
  server/gateway/static/_app/immutable/entry/app.Dnr0g9V_.js
  server/gateway/static/_app/immutable/nodes/2.D_54MLUH.js
  server/gateway/static/_app/immutable/nodes/2.TyhCkzvT.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/ScanBadge.svelte
Due: server

feat(search): add scan status and failure reason query types
  api/search/v1/record_query.pb.go
  proto/agntcy/dir/search/v1/record_query.proto
Due: none

feat(scanner): classify scan failures and partial coverage
  utils/scanner/a2a.go
  utils/scanner/failure_test.go
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/scanner.go
  utils/scanner/skill.go
Due: none

feat(server): persist scan outcomes with a bounded retry schedule
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/task.go
  reconciler/tasks/signature/task_test.go
  server/database/database_test.go
  server/database/gorm/migrations/004_scan_report_status.go
  server/database/gorm/migrations/004_scan_report_status_test.go
  server/database/gorm/record_remove_test.go
  server/database/gorm/scan.go
  server/database/gorm/scan_test.go
  server/ingest/ingest.go
  server/ingest/ingest_test.go
  server/types/database.go
Due: server

feat(search): filter records by scan status and failure reason
  server/database/database_test.go
  server/database/gorm/record.go
  server/database/gorm/record_exclude.go
  server/types/search.go
Due: server

ci: add OpenSSF Scorecard workflow
  .github/workflows/scorecard.yml
Due: none

ci: add OpenSSF Scorecard workflow (#2096)
  .github/workflows/scorecard.yml
Due: none

docs: add OpenSSF Scorecard badge to README
  README.md
Due: none

docs(dir): add OpenSSF Scorecard badge to README (#2097)
  README.md
Due: none

fix(tests): point nl-search e2e guard at the extractor manifest path
  tests/e2e/local/15_nl_search_test.go
Due: none

chore: fix GH release badge link
  README.md
Due: none

feat(search): map scan status and failure reason queries
  server/database/utils/utils.go
  server/database/utils/utils_test.go
Due: server

test(migrations): remove obsolete scan report status migration tests
  server/database/gorm/migrations/004_scan_report_status_test.go
Due: server

fix(server/catalog): exclude failed scan reports from catalog manifest
  server/database/catalog_test.go
  server/database/gorm/catalog.go
Due: server

feat(scan): prune superseded scan report referrers after push
  reconciler/tasks/scan/referrer_test.go
  reconciler/tasks/scan/task.go
Due: none

feat(cli): add --scan-status and --scan-failure-reason filters
  cli/cmd/search/filters.go
  cli/cmd/search/filters_test.go
  cli/cmd/search/search.go
Due: cli

feat(scan): back publisher-fault scan failures off to TTL
  reconciler/tasks/scan/task.go
  reconciler/tasks/scan/task_test.go
Due: none

refactor(server/database): simplify
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/task_test.go
  server/database/database_test.go
  server/database/gorm/migrations/004_scan_report_status.go
  server/database/gorm/record_exclude.go
  server/database/gorm/scan.go
  server/database/gorm/scan_test.go
  server/types/database.go
Due: server

refactor: add sql storage layer
  cli/cmd/daemon/config.go
  cli/cmd/daemon/start.go
  reconciler/service/service.go
  server/store/config/config.go
  server/store/sqlstore/bulkload_test.go
  server/store/sqlstore/models.go
  server/store/sqlstore/referrers.go
  server/store/sqlstore/sqlstore.go
  server/store/store.go
Due: server, cli

fix(scan): never prune scan reports under the shared UNSPECIFIED type
  reconciler/tasks/scan/referrer_test.go
  reconciler/tasks/scan/task.go
Due: none

chore(ci): restrict GITHUB_TOKEN to least privilege
  .github/workflows/buf-ci.yaml
  .github/workflows/build-feature.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/container-security-scan.yml
  .github/workflows/demo-dir.yaml
  .github/workflows/dependencies.yaml
  .github/workflows/docs-ci.yaml
  .github/workflows/import-records.yaml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/oidc-test.yml
  .github/workflows/post-release.yml
  .github/workflows/pr.yaml
  .github/workflows/project.yaml
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
Due: none

ci: remove demo dir workflow and oidc-test branch triggers
  .github/workflows/demo-dir.yaml
  .github/workflows/oidc-test.yml
Due: none

feat(scan): persist scan failures and expose them to search (#2095)
  api/search/v1/record_query.pb.go
  cli/cmd/search/filters.go
  cli/cmd/search/filters_test.go
  cli/cmd/search/search.go
  proto/agntcy/dir/search/v1/record_query.proto
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/referrer_test.go
  reconciler/tasks/scan/task.go
  reconciler/tasks/scan/task_test.go
  reconciler/tasks/signature/task_test.go
  server/database/catalog_test.go
  server/database/database_test.go
  server/database/gorm/catalog.go
  server/database/gorm/migrations/004_scan_report_status.go
  server/database/gorm/record.go
  server/database/gorm/record_exclude.go
  server/database/gorm/record_remove_test.go
  server/database/gorm/scan.go
  server/database/gorm/scan_test.go
  server/database/utils/utils.go
  server/database/utils/utils_test.go
  server/ingest/ingest.go
  server/ingest/ingest_test.go
  server/types/database.go
  server/types/search.go
  utils/scanner/a2a.go
  utils/scanner/failure_test.go
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/scanner.go
  utils/scanner/skill.go
Due: server, cli

feat(ui): recommend catalog tags from a description
  server/gateway/static/_app/immutable/assets/0.CAlm59r1.css
  server/gateway/static/_app/immutable/assets/0.D-6N7bNh.css
  server/gateway/static/_app/immutable/chunks/B9bhcfNd.js
  server/gateway/static/_app/immutable/chunks/BBm4RX7U.js
  server/gateway/static/_app/immutable/chunks/BE3mKSrw.js
  server/gateway/static/_app/immutable/chunks/BmdAKXA0.js
  server/gateway/static/_app/immutable/chunks/BvFvB0xU.js
  server/gateway/static/_app/immutable/chunks/C-S5hJo3.js
  server/gateway/static/_app/immutable/chunks/D0e8kos2.js
  server/gateway/static/_app/immutable/chunks/D5OVXhOq.js
  server/gateway/static/_app/immutable/chunks/DPGp9GGy.js
  server/gateway/static/_app/immutable/chunks/Da3xB4LP.js
  server/gateway/static/_app/immutable/chunks/DsJNZJ3t.js
  server/gateway/static/_app/immutable/entry/app.CKbpG_XR.js
  server/gateway/static/_app/immutable/entry/app.Dnr0g9V_.js
  server/gateway/static/_app/immutable/entry/start.IuC63T2i.js
  server/gateway/static/_app/immutable/entry/start.RV-5dyY6.js
  server/gateway/static/_app/immutable/nodes/0.D1TABI0x.js
  server/gateway/static/_app/immutable/nodes/0.YAJeYxhr.js
  server/gateway/static/_app/immutable/nodes/1.CWgtiKwJ.js
  server/gateway/static/_app/immutable/nodes/1.y-TS4hvm.js
  server/gateway/static/_app/immutable/nodes/2.BamhBAP1.js
  server/gateway/static/_app/immutable/nodes/2.D_54MLUH.js
  server/gateway/static/_app/immutable/nodes/3.gV4OOSVy.js
  server/gateway/static/index.html
  server/gateway/ui/Taskfile.yml
  server/gateway/ui/package-lock.json
  server/gateway/ui/package.json
  server/gateway/ui/src/lib/api.test.ts
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/TagFilterSection.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/vite.config.ts
Due: server

feat(ownership): add SPIFFE-based ownership claims via Signature referrer
  api/core/v1/referrer_types.go
  api/ownership/v1/sign.go
  api/ownership/v1/sign_test.go
  api/search/v1/record_query.pb.go
  cli/cmd/daemon/config.go
  cli/cmd/ownership/ownership.go
  cli/cmd/root.go
  cli/cmd/search/filters.go
  proto/agntcy/dir/search/v1/record_query.proto
  reconciler/config/config.go
  reconciler/service/service.go
  reconciler/tasks/ownership/config.go
  reconciler/tasks/ownership/task.go
  reconciler/tasks/signature/task_test.go
  server/database/gorm/migration.go
  server/database/gorm/owners.go
  server/database/gorm/record.go
  server/database/gorm/record_exclude.go
  server/database/utils/utils.go
  server/ingest/ingest.go
  server/types/database.go
  server/types/search.go
  tests/e2e/local/13_ownership_search_test.go
  tests/e2e/local/14_ownership_signing_test.go
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/shared/utils/cli.go
  tests/e2e/shared/utils/sign.go
Due: api, server, cli

ci(import-records): run workflow weekly instead of daily
  .github/workflows/import-records.yaml
Due: none

chore(deps): update dependency go to v1.27.1
  .github/actions/build-dirctl/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yaml
  .github/workflows/oidc-test.yml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.vars.yml
  api/go.mod
  api/go.sum
  cli/Dockerfile
  cli/go.mod
  client/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  server/Dockerfile
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: api, client, server, cli

chore(deps): update dependency golangci-lint to v2.13.2
  .golangci.yml
  Taskfile.vars.yml
Due: none

fix: linter errors
  client/config/config.go
  client/utils/cosign/sign.go
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder_extract_test.go
  server/controller/ai_finder_search_test.go
  server/gateway/gateway.go
  server/store/oci/config/config_test.go
  server/store/oci/internal_test.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  tests/e2e/shared/config/config.go
  utils/extractor/remote.go
  utils/nlsearch/decompose_test.go
  utils/scanner/scanner.go
Due: client, server

ci(import-records): run workflow weekly instead of daily (#2107)
  .github/workflows/import-records.yaml
Due: none

chore(docs): fix GH release badge link (#2100)
  README.md
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
