Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

refactor(runtime): remove runtime discovery proto files
  proto/Taskfile.yml
  proto/agntcy/dir/runtime/v1/discovery_service.proto
  proto/agntcy/dir/runtime/v1/workload.proto
  proto/buf.gen.runtime.yaml
  proto/buf.gen.yaml
  proto/buf.yaml
Due: none

refactor(helm): remove runtime chart reference from reusable release workflow
  .github/workflows/reusable-release-helm.yaml
Due: none

refactor(runtime): remove runtime server and discovery targets from docker-bake.hcl
  Taskfile.vars.yml
  docker-bake.hcl
Due: none

refactor(deps): update runtime module references to dir-runtime
  cli/cmd/daemon/config.go
  cli/cmd/daemon/start.go
  cli/go.mod
  client/client.go
  client/go.mod
  client/go.sum
  client/runtime.go
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  tests/go.mod
Due: client, server, cli

refactor(runtime): remove runtime references from README, Taskfile, and versions.yaml
  README.md
  Taskfile.yml
  cli/go.sum
  renovate.json
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: cli

refactor(deps): remove controller-gen installation task and related variables from Taskfile
  Taskfile.deps.yml
  Taskfile.vars.yml
Due: none

refactor(imports): reorder and clean up import statements in daemon and client files
  cli/cmd/daemon/config.go
  cli/cmd/daemon/start.go
  client/client.go
  client/runtime.go
Due: client, cli

chore: remove API specification document
  API_SPEC.md
Due: none

chore: remove unused API clean tasks for Python and JavaScript from Taskfile.yml
  proto/Taskfile.yml
Due: none

chore: update COVERAGE_PKGS in Taskfile.vars.yml to include additional packages for coverage analysis
  Taskfile.vars.yml
Due: none

chore: update README to remove references to unused auth and gui sections
  README.md
Due: none

chore: remove redundant bench task from Taskfile.yml
  Taskfile.yml
Due: none

chore: update README to reflect version bump to v1.2.0 for Docker images and Helm charts
  README.md
Due: none

fix: correct GitHub Release notes link in SECURITY.md
  SECURITY.md
Due: none

refactor: move integration proof-of-concept tasks to a new Taskfile in the integrations directory
  Taskfile.yml
  docs/research/integrations/Taskfile.yml
Due: none

chore: reorganize Taskfile structure and update dependency management tasks
  Taskfile.deps.yml
  Taskfile.yml
Due: none

docs: move authorization policies documentation for SPIFFE trust domains
  docs/AUTHZ.md
Due: none

chore: remove unused envoy dependency from Taskfile.vars.yml and .gitignore
  .gitignore
  Taskfile.vars.yml
Due: none

chore: increate enricher ratelimit
  .github/workflows/import-records.yaml
Due: none

chore(vars): remove SPIFFE server and agent images from vuln scan
  Taskfile.vars.yml
Due: none

chore(vars): remove unused UV_PUBLISH_TOKEN variable
  Taskfile.vars.yml
Due: none

docs(integrations): move documentation for ADS third-party integration options
  docs/research/integrations/integrations.md
Due: none

docs(security): remove Directory Security Trust Schema documentation
  docs/security-schema.md
Due: none

chore(install): remove spiffe helm repository from Taskfile.yml
  install/Taskfile.yml
Due: none

docs(authz): move authz documentation closer to authz code
  server/authz/README.md
Due: server

refactor(api): inject Validator, deprecate global init
  api/core/v1/record.go
  api/core/v1/record_test.go
  api/core/v1/record_testing.go
  cli/cmd/daemon/start.go
  cli/cmd/validate/validate.go
  reconciler/main.go
  reconciler/service/service.go
  reconciler/tasks/indexer/task.go
  reconciler/tasks/indexer/task_test.go
  server/config/config_test.go
  server/controller/store.go
  server/server.go
  server/server_test.go
Due: api, server, cli

refactor(reconciler): use fork to execute regsync
  Taskfile.vars.yml
  cli/go.mod
  cli/go.sum
  docker-bake.hcl
  install/docker/reconciler.env
  reconciler/Dockerfile
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/tasks/regsync/config.go
  reconciler/tasks/regsync/config_test.go
  reconciler/tasks/regsync/task.go
  reconciler/tasks/regsync/worker.go
  tests/go.mod
  tests/go.sum
Due: cli

chore(dir): format tests taskfile
  tests/Taskfile.yml
Due: none

test(dirctl): add embedded zot test case to daemon
  cli/cmd/daemon/daemon_test.go
Due: cli

feat(dirctl): add embedded zot into daemon
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon.go
  cli/cmd/daemon/start.go
  cli/go.mod
  cli/go.sum
Due: cli

fix(dir): downgrade k8s packages version to match zot
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  tests/go.mod
  tests/go.sum
Due: client, cli

feat(dirctl): enable regsync in daemon
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
Due: cli

fix(dirctl): add insecure to daemon default config
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/start.go
Due: cli

fix(ci): brew dirctl path
  .github/workflows/reusable-brew-update.yaml
Due: none

chore: fix e2e coverage
  tests/Taskfile.yml
Due: none

chore: fix e2e coverage
  .github/workflows/ci.yaml
Due: none

chore(dir): add agntcy split repos to renovate
  renovate.json
Due: none

Update renovate.json
  renovate.json
Due: none
