Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat: update PullSignature and PullPublicKey methods to return slices of signatures and public keys
  server/controller/store.go
  server/store/oci/referrers.go
  server/sync/monitor/monitor.go
  server/types/store.go
Due: server

feat: implement generic referrer handling in oci store
  server/controller/store.go
  server/store/oci/referrers.go
  server/types/store.go
Due: server

refactor: public key should use generic referrer methods
  api/store/v1/store_service.pb.go
  cli/cmd/pull/pull.go
  cli/presenter/presenter.go
  client/go.mod
  client/sign.go
  client/verify.go
  proto/agntcy/dir/store/v1/store_service.proto
  server/controller/store.go
  server/store/oci/referrers.go
  server/sync/monitor/monitor.go
  server/types/store.go
  utils/oci/oci.go
Due: client, server, cli

chore: bump oasf sdk version 0.0.6
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

refactor: update PullReferrer to return channels for streaming responses
  cli/cmd/pull/pull.go
  client/store.go
  client/verify.go
Due: client, cli

refactor: code review
  api/core/v1/referrer.go
  cli/cmd/pull/pull.go
  client/verify.go
  server/controller/store.go
  server/store/oci/referrers.go
  server/sync/monitor/monitor.go
  server/types/store.go
Due: api, client, server, cli

fix(ci): enable push to buf registry on merge
  .github/workflows/buf-ci.yaml
Due: none

chore(sdk): change e2e env to local for sdk testing
  Taskfile.yml
Due: none

ci(sdk): revert back to old release action
  .github/workflows/reusable-release.yaml
Due: none

ci(dir): update all action version to the latest
  .github/actions/trigger-integrations/action.yaml
  .github/workflows/buf-ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/demo-dir.yaml
  .github/workflows/post-release.yml
  .github/workflows/pr.yaml
  .github/workflows/project.yaml
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-sdk.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
  .github/workflows/reusable-test.yaml
  sdk/dir-js/package.json
Due: none

ci: fix read-only token issue with PR name linter
  .github/workflows/lint-pr-title.yaml
  .github/workflows/pr.yaml
Due: none

ci(sdk): use gha type caching in docker
  .github/workflows/reusable-build.yaml
Due: none

fix(sdk): solve cache clash
  .github/workflows/reusable-test.yaml
Due: none

fix: pull referrer in python client test
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

drop
  api/core/v1/referrer.go
  api/store/v1/store_service.pb.go
  cli/cmd/pull/pull.go
  cli/cmd/routing/publish.go
  cli/presenter/presenter.go
  client/go.mod
  client/sign.go
  client/store.go
  client/verify.go
  e2e/local/03_routing_test.go
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  server/controller/store.go
  server/store/oci/referrers.go
  server/sync/monitor/monitor.go
  server/types/store.go
  utils/oci/oci.go
Due: api, client, server, cli

refactor: log info when performing client-side verification
  client/verify.go
Due: client

refactor: push and pull referrer methods handle only referrer types
  api/store/v1/store_service.pb.go
  proto/agntcy/dir/store/v1/store_service.proto
Due: none

chore: bumbp oasf-sdk to v0.0.7
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

fix review, context handling, api update
  server/controller/routing.go
  server/publication/worker.go
  server/routing/cleanup_core_test.go
  server/routing/cleanup_tasks.go
  server/routing/label_utils.go
  server/routing/label_utils_test.go
  server/routing/metrics.go
  server/routing/pubsub/events.go
  server/routing/pubsub/manager.go
  server/routing/pubsub/messages.go
  server/routing/query_matching.go
  server/routing/query_matching_test.go
  server/routing/routing.go
  server/routing/routing_local.go
  server/routing/routing_local_test.go
  server/routing/routing_remote.go
  server/routing/routing_remote_or_logic_test.go
  server/routing/search_simple_test.go
  server/routing/validators/validators.go
  server/routing/validators/validators_test.go
  server/server.go
  server/types/adapters/oasf_v1alpha0.go
  server/types/adapters/oasf_v1alpha1.go
  server/types/label.go
  server/types/label_test.go
  server/types/record.go
  server/types/routing.go
Due: server

fix linter error
  server/routing/routing_remote.go
Due: server

fix: update test data schema_version
  api/core/v1/record_test.go
  e2e/README.md
  e2e/client/01_client_test.go
  e2e/local/01_storage_test.go
  e2e/network/01_deploy_test.go
  e2e/network/02_sync_test.go
  e2e/network/03_search_test.go
  e2e/shared/testdata/embed.go
  e2e/shared/testdata/record_031.json
  e2e/shared/testdata/record_070.json
  e2e/shared/testdata/record_070_sync_v4.json
  e2e/shared/testdata/record_070_sync_v5.json
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  sdk/examples/example-js/example.js
  sdk/examples/example-py/example.py
  server/database/sqlite/record_test.go
  server/routing/label_utils_test.go
  server/store/oci/annotations_test.go
  server/store/oci/oci_test.go
  server/types/README.md
Due: api, server

test(dir): add spire tests action
  .github/workflows/reusable-test-spire.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.yml
Due: none

fix(sdk): add missing flags
  Taskfile.yml
Due: none

refactor: client handling only referrer types
  api/core/v1/referrer.go
  cli/cmd/pull/pull.go
  client/go.mod
  client/sign.go
  client/verify.go
  hub/go.mod
  hub/go.sum
Due: api, client, cli

refactor: server changes to handle encode and decode referrers
  cli/cmd/pull/pull.go
  server/controller/sign.go
  server/controller/store.go
  server/store/oci/referrers.go
  server/sync/monitor/monitor.go
  server/types/store.go
  utils/go.mod
  utils/go.sum
  utils/oci/oci.go
  utils/referrer/referrer.go
Due: server, cli

refactor: separate signature handling into dedicated file
  server/store/oci/referrers.go
  server/store/oci/signatures.go
  utils/go.mod
Due: server

refactor: code review
  client/sign.go
  server/controller/store.go
Due: client, server

feat: add GossipSub for efficient label announcements
  .licensei.toml
  e2e/network/04_gossipsub_test.go
  e2e/network/cleanup.go
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/controller/routing.go
  server/go.mod
  server/go.sum
  server/publication/worker.go
  server/routing/cleanup_core_test.go
  server/routing/cleanup_tasks.go
  server/routing/config/config.go
  server/routing/label_utils.go
  server/routing/label_utils_test.go
  server/routing/metrics.go
  server/routing/pubsub/constants.go
  server/routing/pubsub/events.go
  server/routing/pubsub/manager.go
  server/routing/query_matching.go
  server/routing/query_matching_test.go
  server/routing/routing.go
  server/routing/routing_local.go
  server/routing/routing_local_test.go
  server/routing/routing_remote.go
  server/routing/routing_remote_or_logic_test.go
  server/routing/search_simple_test.go
  server/routing/validators/validators.go
  server/routing/validators/validators_test.go
  server/server.go
  server/types/adapters/oasf_v1alpha0.go
  server/types/adapters/oasf_v1alpha1.go
  server/types/label.go
  server/types/label_test.go
  server/types/record.go
  server/types/routing.go
Due: server

fix unit test
  server/types/label_test.go
Due: server

fix: client side verification with payload check
  client/verify.go
Due: client

refactor: separate signature handling into dedicated file
  server/store/oci/referrers.go
  server/store/oci/signatures.go
  utils/go.mod
  utils/go.sum
Due: server

refactor: sdk tests
  Taskfile.yml
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/index.ts
  sdk/dir-js/src/models/sign_v1.ts
  sdk/dir-js/src/utils.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  sdk/dir-py/agntcy/dir_sdk/models/sign_v1.py
  sdk/dir-py/agntcy/dir_sdk/utils.py
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-js/package-lock.json
Due: none

refactor: code review
  api/core/v1/referrer.go
  api/core/v1/referrer_types.go
  api/sign/v1/public_key.go
  api/sign/v1/public_key.pb.go
  api/sign/v1/signature.go
  cli/cmd/pull/pull.go
  client/sign.go
  client/verify.go
  proto/agntcy/dir/sign/v1/public_key.proto
  sdk/dir-js/src/utils.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  sdk/dir-py/agntcy/dir_sdk/utils.py
  server/store/oci/referrers.go
  server/store/oci/signatures.go
  server/store/oci/types.go
  server/sync/monitor/monitor.go
  utils/go.mod
  utils/go.sum
  utils/referrer/referrer.go
Due: api, client, server, cli

feat: add initial naming service
  server/identity/did/.gitignore
  server/identity/did/README.md
  server/identity/did/config/config.go
  server/identity/did/deploy/docker-compose.yml
  server/identity/did/deploy/nginx.conf
  server/identity/did/deploy/pds.env
  server/identity/did/did.go
  server/identity/did/did_test.go
  server/identity/did/example.go
  server/identity/did/example_test.go
Due: server

feat: use dht built-in connection manager
  Taskfile.yml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/routing/internal/p2p/constants.go
  server/routing/internal/p2p/dht.go
  server/routing/internal/p2p/discover.go
  server/routing/internal/p2p/host.go
  server/routing/internal/p2p/server.go
  server/routing/pubsub/manager.go
  server/routing/routing_remote.go
Due: server

fix: apiserver helm values
  install/charts/dir/apiserver/values.yaml
Due: none
