Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

chore: rename server config to align with env names
  Taskfile.yml
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/server.go
  server/server_test.go
Due: server

chore: replace non-existent OASF module names
  api/routing/v1/record_query.pb.go
  cli/cmd/routing/list.go
  cli/cmd/routing/search.go
  cli/cmd/search/options.go
  docs/research/signing/agent.json
  install/charts/dirctl/values.yaml
  proto/agntcy/dir/routing/v1/record_query.proto
  sdk/dir-js/src/models/agntcy/dir/routing/v1/record_query_pb.d.ts
  server/routing/label_utils_test.go
  server/routing/query_matching.go
  server/routing/query_matching_test.go
  server/types/label_test.go
Due: server, cli

chore(dir/server): update oasf api validation envs and remaining invalid records (#754)
  Taskfile.yml
  api/routing/v1/record_query.pb.go
  cli/cmd/routing/list.go
  cli/cmd/routing/search.go
  cli/cmd/search/options.go
  docs/research/signing/agent.json
  install/charts/dirctl/values.yaml
  proto/agntcy/dir/routing/v1/record_query.proto
  sdk/dir-js/src/models/agntcy/dir/routing/v1/record_query_pb.d.ts
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/routing/label_utils_test.go
  server/routing/query_matching.go
  server/routing/query_matching_test.go
  server/server.go
  server/server_test.go
  server/types/label_test.go
Due: server, cli

refactor: remove search subcommands
  cli/README.md
  cli/cmd/search/cids.go
  cli/cmd/search/options.go
  cli/cmd/search/records.go
  cli/cmd/search/search.go
  e2e/local/02_search_test.go
  e2e/shared/utils/cli.go
  e2e/shared/utils/common.go
Due: cli

refactor: model to record
  cli/README.md
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  e2e/local/02_search_test.go
  e2e/shared/utils/cli.go
Due: cli

refactor(dir): remove search subcommands (#759)
  cli/README.md
  cli/cmd/search/cids.go
  cli/cmd/search/options.go
  cli/cmd/search/records.go
  cli/cmd/search/search.go
  e2e/local/02_search_test.go
  e2e/shared/utils/cli.go
  e2e/shared/utils/common.go
Due: cli

Prepare directory for version v0.5.6
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

Prepare cli for version v0.5.6
  cli/go.mod
  e2e/go.mod
  hub/go.mod
Due: cli

release(dir): prepare release v0.5.6
  CHANGELOG.md
  README.md
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

release(dir/client): prepare release/v0.5.6 (#760)
  CHANGELOG.md
  README.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

chore(deps): update zot
  .github/workflows/container-security-scan.yml
  Taskfile.yml
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/zot-0.1.87.tgz
  install/charts/dir/apiserver/charts/zot-0.1.91.tgz
  install/docker/docker-compose.yml
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  utils/go.mod
  utils/go.sum
Due: client, server, cli

fix(codeql): update CodeQL workflow configuration to fix warning
  .github/workflows/codeql.yml
Due: none

fix(cosign): update Fulcio, Timestamp Authority, and Rekor options to use URL fields
  utils/cosign/sign.go
Due: none

feat: add OASF API validation settings to Helm chart
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

feat: install OASF with directory
  install/charts/dir/Chart.yaml
  install/charts/dir/values.yaml
Due: none

chore: update brew formula version (#763)
  HomebrewFormula/dirctl.rb
Due: none

chore: pin codeql-action version
  .github/workflows/codeql.yml
Due: none

chore: add Go setup step to CI workflow with version 1.25.2
  .github/workflows/ci.yaml
Due: none

chore(deps): update zot and fix codeql workflow warning (#761)
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/container-security-scan.yml
  Taskfile.yml
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/zot-0.1.87.tgz
  install/charts/dir/apiserver/charts/zot-0.1.91.tgz
  install/docker/docker-compose.yml
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  utils/cosign/sign.go
  utils/go.mod
  utils/go.sum
Due: client, server, cli

chore(deps): bump github.com/sigstore/cosign
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  client/verify.go
  e2e/go.mod
  e2e/go.sum
  hub/cmd/verify/verify.go
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  utils/cosign/keys.go
  utils/cosign/sign.go
  utils/go.mod
  utils/go.sum
Due: client, server, cli

chore(deps): bump github.com/sigstore/cosign (#773)
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  client/verify.go
  e2e/go.mod
  e2e/go.sum
  hub/cmd/verify/verify.go
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  utils/cosign/keys.go
  utils/cosign/sign.go
  utils/go.mod
  utils/go.sum
Due: client, server, cli

test(dir): use kagenti environment
  kaganti-env/README.md
  kaganti-env/Taskfile.yml
  kaganti-env/weather-mcp-tool.yaml
  kaganti-env/weather-service.yaml
Due: none

feat: add kagenti infra deployment and mcp server tools
  kagenti-env/README.md
  kagenti-env/Taskfile.yaml
Due: none

feat: mcp server tools
  mcp/go.mod
  mcp/server/server.go
  mcp/tools/delete_kagenti.go
  mcp/tools/delete_kagenti_test.go
  mcp/tools/deploy_kagenti.go
  mcp/tools/deploy_kagenti_test.go
  mcp/tools/update_kagenti.go
  mcp/tools/update_kagenti_test.go
Due: none

feat: taskfile changes
  kagenti-env/Taskfile.yaml
  kagenti-env/weather_agent.yaml
Due: none

docs: updated README about testing with local OASF
  server/README.md
Due: server

feat: install OASF with directory
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/oasf-v0.5.1.tgz
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

feat: add oasf.enabled to apiserver's chart values
  install/charts/dir/apiserver/values.yaml
Due: none

docs: about deployment with locally built OASF server
  server/README.md
Due: server

feat: add oasf-server to port-forward task as well
  Taskfile.yml
Due: none

ci: temp remove record with warnings test
  e2e/local/01_storage_test.go
Due: none

feat: taskfile and test changes
  kagenti-env/Taskfile.yaml
  mcp/tools/update_kagenti.go
  mcp/tools/update_kagenti_test.go
Due: none

feat: use local oasf-sdk package temporarily
  api/go.mod
  cli/Dockerfile
  cli/go.mod
  cli/go.sum
  client/go.mod
  docker-bake.hcl
  e2e/go.mod
  e2e/sdk/Dockerfile
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  mcp/go.sum
  server/Dockerfile
  server/go.mod
Due: api, client, server, cli

feat: add kagenti format to the importer mcp tool
  mcp/server/server.go
  mcp/tools/export_record.go
  mcp/tools/export_record_test.go
Due: none

fix(helm): add className field to ClusterSPIFFEID resources
  install/charts/dir/apiserver/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/charts/dirctl/templates/clusterspiffeids.yaml
  install/charts/dirctl/values.yaml
Due: none

fix(ci): pin CodeQL analyze action to match init version
  .github/workflows/codeql.yml
Due: none
