Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix(catalog): use decimal pagination tokens (#1936)
  server/controller/ai_finder_paging.go
  server/controller/ai_finder_test.go
  server/gateway/static/_app/immutable/entry/app.BsGn0wxn.js
  server/gateway/static/_app/immutable/entry/app.CehxT47Y.js
  server/gateway/static/_app/immutable/nodes/2.CbQJ0XIc.js
  server/gateway/static/_app/immutable/nodes/2.CvUONM7p.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
Due: server

fix: duplicate proto registration panics
  Taskfile.yml
  tests/Taskfile.yml
Due: none

chore(deps): migrate crypto11 replacement to eclipse-keypont and bump go modules
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  tests/go.sum
Due: client, server, cli

fix(dir): remove ARM from MCP registries
  .github/workflows/scripts/import-records.json
Due: none

fix(cli): create the data dir 0700 and use O_EXCL instead of a link dance
  cli/cmd/daemon/config_init.go
  cli/cmd/daemon/config_init_test.go
  cli/internal/fsutil/atomic.go
  docs/content/dir/dir-cli-reference.md
Due: cli

refactor(cli): adopt the named-options convention and promote fsutil
  cli/cmd/daemon/config_init.go
  cli/cmd/daemon/config_init_test.go
  cli/internal/agentcfg/mcp_engine.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/fsutil/atomic.go
  cli/internal/fsutil/atomic_test.go
Due: cli

fix(dir): close SSRF bypasses in endpoint validation and stabilize analyzer order
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/values.yaml
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/task.go
  reconciler/tasks/scan/task_test.go
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_test.go
  utils/scanner/mcp_endpoint_url_test.go
  utils/scanner/mcp_test.go
  utils/scanner/scanner.go
Due: cli

feat(dir): fold live-endpoint scanning into MCPRunner and validate endpoint URLs
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/task.go
  reconciler/tasks/scan/task_test.go
  server/database/gorm/scan.go
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_test.go
  utils/scanner/mcp_endpoint_url_test.go
  utils/scanner/remote.go
Due: server

fix(dir): cap endpoints scanned per record
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_url_test.go
Due: none

fix(dir): make the endpoint cap observable, configurable, and dedup-aware
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/values.yaml
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/task.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_url_test.go
  utils/scanner/scanner.go
Due: cli

fix(cli): scope the 0700 mode, close the chmod gap, and test the real flags
  cli/cmd/daemon/config_init.go
  cli/cmd/daemon/config_init_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

fix(config): preserve unknown top-level config sections across writes (lossless round-trip)
  client/config/config.go
  client/config/config_test.go
Due: client

fix(config): inline aliases and align the known-key set with the encoder
  client/config/config.go
  client/config/config_test.go
Due: client

fix(tests): start the discovery workload after its record exists
  .github/workflows/reusable-test-e2e.yaml
  tests/e2e/daemon/01_daemon_test.go
  tests/e2e/daemon/config/config.go
  tests/e2e/daemon/testenv/external/Taskfile.testenv.yml
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/e2e/daemon/testenv/external/test-config.yaml
Due: none

feat(dir): expand MCP scanner coverage with yara/readiness and remote runner (#1775)
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/values.yaml
  reconciler/tasks/scan/config.go
  reconciler/tasks/scan/task.go
  reconciler/tasks/scan/task_test.go
  utils/scanner/fakecli_test.go
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_test.go
  utils/scanner/mcp_endpoint_url_test.go
  utils/scanner/mcp_test.go
  utils/scanner/scanner.go
  utils/scanner/testdata/fakecli/main.go
Due: cli

fix(tests): start the discovery workload after its record exists (#1941)
  .github/workflows/reusable-test-e2e.yaml
  tests/e2e/daemon/01_daemon_test.go
  tests/e2e/daemon/config/config.go
  tests/e2e/daemon/testenv/external/Taskfile.testenv.yml
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/e2e/daemon/testenv/external/test-config.yaml
Due: none

feat(client/extractor): add shared extractor config and backend resolution
  client/config/config.go
  client/config/config_test.go
  client/extractor/assets.go
  client/extractor/config.go
  client/extractor/resolve.go
  client/extractor/resolve_test.go
Due: client

feat(client/extractor): add Extractor interface with local and remote backends
  client/extractor/extractor.go
  client/extractor/local.go
  client/extractor/remote.go
  client/extractor/remote_test.go
  client/extractor/resolve.go
  client/extractor/resolve_test.go
  client/go.mod
  client/go.sum
Due: client

refactor(client/nlsearch): decompose against the Extractor interface
  client/nlsearch/decompose.go
  client/nlsearch/decompose_test.go
Due: client

refactor(cli): move extractor/nlsearch to client, wire callers to the interface
  cli/cmd/import/config.go
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
  cli/cmd/routing/nlsearch.go
  cli/cmd/search/nlsearch.go
  cli/go.mod
  cli/go.sum
  cli/internal/extractor/assets.go
  cli/internal/extractor/config.go
  cli/internal/extractor/load.go
  cli/internal/extractor/provision.go
  cli/internal/nlsearch/decompose.go
  client/extractor/assets_test.go
  client/extractor/config_test.go
  client/extractor/load_test.go
  client/extractor/provision_integration_test.go
  client/extractor/resolve.go
  tests/go.mod
  tests/go.sum
Due: client, cli

fix: restore oasf-sdk grpc dep and allow-list it for licensei
  .licensei.toml
Due: none

refactor(client/extractor): address review — Close(), race-safe logger, docs
  cli/cmd/routing/nlsearch.go
  cli/cmd/search/nlsearch.go
  client/extractor/extractor.go
  client/extractor/local.go
  client/extractor/remote.go
  client/extractor/resolve.go
  client/extractor/resolve_test.go
  client/nlsearch/decompose_test.go
Due: client, cli

refactor(cli): shared pluggable extractor (#1925)
  .licensei.toml
  cli/cmd/import/config.go
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
  cli/cmd/routing/nlsearch.go
  cli/cmd/search/nlsearch.go
  cli/go.mod
  cli/go.sum
  cli/internal/extractor/load.go
  cli/internal/extractor/provision.go
  client/config/config.go
  client/config/config_test.go
  client/extractor/assets.go
  client/extractor/assets_test.go
  client/extractor/config.go
  client/extractor/config_test.go
  client/extractor/extractor.go
  client/extractor/load_test.go
  client/extractor/local.go
  client/extractor/provision_integration_test.go
  client/extractor/remote.go
  client/extractor/remote_test.go
  client/extractor/resolve.go
  client/extractor/resolve_test.go
  client/go.mod
  client/go.sum
  client/nlsearch/decompose.go
  client/nlsearch/decompose_test.go
  tests/go.mod
  tests/go.sum
Due: client, cli

fix(config): preserve unknown top-level config sections across writes (#1942)
  client/config/config.go
  client/config/config_test.go
Due: client

fix(dir): fix deleting from database
  server/database/gorm/migrations/003_record_fk_on_delete_cascade.go
  server/database/gorm/record.go
  server/database/gorm/record_remove_test.go
Due: server

fix(dir): fix deleting from database (#1951)
  server/database/gorm/migrations/003_record_fk_on_delete_cascade.go
  server/database/gorm/record.go
  server/database/gorm/record_remove_test.go
Due: server

feat(api): add SearchAgents RPC for POST /v1/search
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
Due: api

chore(deps): bump bitnami/postgresql digest to fix CVE-2026-40469
  Taskfile.vars.yml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/docker-compose.yml
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

refactor(cli): give fsutil both writers and a mode-carrying options struct
  cli/cmd/daemon/config_init.go
  cli/cmd/daemon/config_init_test.go
  cli/internal/agentcfg/mcp_engine.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/fsutil/atomic.go
  cli/internal/fsutil/atomic_test.go
  cli/internal/fsutil/umask_unix_test.go
  cli/internal/fsutil/umask_windows_test.go
Due: cli

test(cli): drop the redundant ErrExists assertion (testifylint)
  cli/internal/fsutil/atomic_test.go
Due: cli

test(cli): stop the validate unit tests calling a live schema service
  cli/cmd/validate/schema_server_test.go
  cli/cmd/validate/testdata/schema_response_invalid.json
  cli/cmd/validate/testdata/schema_response_valid.json
  cli/cmd/validate/testdata/schema_response_valid_with_warnings.json
  cli/cmd/validate/validate_test.go
Due: cli

docs(dir): document zot storage config for remote object storage
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-prod-deployment.md
  install/charts/dir/values.yaml
Due: none

docs(dir): correct zot version, scope the gc claim, document S3 credentials
  docs/content/dir/dir-prod-deployment.md
  install/charts/dir/values.yaml
Due: none

test(cli): cover the post-create cleanup and pin the mode defaults
  cli/internal/fsutil/atomic_test.go
Due: cli

test(cli): create TempDir before narrowing the umask
  cli/internal/fsutil/atomic_test.go
Due: cli

feat(cli): add dirctl daemon config init command (#1931)
  cli/cmd/daemon/config_init.go
  cli/cmd/daemon/config_init_test.go
  cli/cmd/daemon/daemon.go
  cli/internal/agentcfg/fsutil/atomic.go
  cli/internal/agentcfg/fsutil/atomic_test.go
  cli/internal/agentcfg/mcp_engine.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/fsutil/atomic.go
  cli/internal/fsutil/atomic_test.go
  cli/internal/fsutil/umask_unix_test.go
  cli/internal/fsutil/umask_windows_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

fix(tests): start the discovery workload after its record exists (#1941)
  .skill/references/setup.md
Due: none
