Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

chore(api): remove sync deletion across codebase
  AUTHZ.md
  api/store/v1/sync_service.pb.go
  api/store/v1/sync_service_grpc.pb.go
  cli/cmd/sync/options.go
  cli/cmd/sync/sync.go
  cli/cmd/sync/sync_test.go
  client/sync.go
  e2e/network/02_sync_test.go
  e2e/network/05_name_resolution_test.go
  e2e/shared/utils/cli.go
  install/charts/envoy-authz/values.yaml
  proto/agntcy/dir/store/v1/sync_service.proto
  reconciler/tasks/regsync/task.go
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/domain_verification_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/domain_verification_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.js
  sdk/dir-js/src/models/naming_v1.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2_grpc.py
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  server/authz/authorizer_test.go
  server/authz/testdata/externals_only_policies.csv
  server/controller/sync.go
Due: client, server, cli

chore(server): validate sync deletion requests
  reconciler/tasks/regsync/task.go
  server/controller/sync.go
Due: server

chore: bump oasf-sdk v1.0.0 -> v1.0.1
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

chore(reconciler): mark deleted when deleting
  reconciler/tasks/regsync/task.go
Due: none

fix(reconciler): fix reconciler deployment spiffe socket path
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
Due: none

fix: the reconciler should match the apiserver pattern for consistency
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
Due: none

fix(reconciler): use same auth as set for server
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

chore: bump oasf-sdk v1.0.0 -> v1.0.1 (#957)
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

fix(reconciler): fix reconciler deployment spiffe socket path (#959)
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
Due: none

chore: fix e2e sync deletion tests
  Taskfile.yml
  e2e/network/02_sync_test.go
  e2e/network/05_name_resolution_test.go
Due: none

fix(reconciler): create reconciler clusterspiffeid
  install/charts/dir/apiserver/templates/reconciler-clusterspiffeid.yaml
Due: none

fix(reconciler): create reconciler clusterspiffeid (#961)
  install/charts/dir/apiserver/templates/reconciler-clusterspiffeid.yaml
Due: none

chore(server): validate sync deletion requests (#956)
  Taskfile.yml
  e2e/network/02_sync_test.go
  e2e/network/05_name_resolution_test.go
  reconciler/tasks/regsync/task.go
  server/controller/sync.go
Due: server

ci: revamp demo-dir workflow
  .github/actions/publish-record/README.md
  .github/actions/publish-record/action.yaml
  .github/actions/publish-record/publish.sh
  .github/actions/push-record/README.md
  .github/actions/push-record/action.yaml
  .github/actions/push-record/push.sh
  .github/actions/setup-dirctl/README.md
  .github/actions/setup-dirctl/action.yaml
  .github/actions/setup-dirctl/setup-dirctl.sh
  .github/actions/sign-record/README.md
  .github/actions/sign-record/action.yaml
  .github/actions/sign-record/sign.sh
  .github/workflows/demo-dir.yaml
  Taskfile.yml
Due: none

refactor: rework dir demo workflow
  .github/workflows/demo-dir.yaml
  api/go.mod
  api/go.sum
Due: api

ci: rework demo-dir workflow
  api/go.sum
  cli/go.mod
  client/go.sum
  importer/go.sum
  mcp/go.sum
  reconciler/go.sum
  runtime/discovery/go.sum
  server/go.sum
Due: api, client, server, cli

ci: rework dir-demo workflow
  .github/workflows/demo-dir.yaml
Due: none

ci: rework dir-demo workflow
  Taskfile.yml
  reconciler/go.sum
  server/go.mod
  server/go.sum
Due: server

refactor: rework dir demo workflow
  api/go.sum
Due: api

fix(dirctl): add record check if no signature found
  client/verify.go
Due: client

refactor: rework dir demo workflow
  api/go.mod
  api/go.sum
  cli/go.mod
  client/go.sum
  importer/go.sum
  mcp/go.sum
  reconciler/go.sum
  runtime/discovery/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

refactor: rework dir demo workflow
  .github/workflows/demo-dir.yaml
Due: none

fix(dirctl): add record check if no signature found (#960)
  client/verify.go
Due: client

ci(dir): revamp demo-dir.yaml workflow (#941)
  .github/actions/publish-record/README.md
  .github/actions/publish-record/action.yaml
  .github/actions/publish-record/publish.sh
  .github/actions/push-record/README.md
  .github/actions/push-record/action.yaml
  .github/actions/push-record/push.sh
  .github/actions/setup-dirctl/README.md
  .github/actions/setup-dirctl/action.yaml
  .github/actions/setup-dirctl/setup-dirctl.sh
  .github/actions/sign-record/README.md
  .github/actions/sign-record/action.yaml
  .github/actions/sign-record/sign.sh
  .github/workflows/demo-dir.yaml
Due: none

release(dir): prepare release v1.0.0
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

release(dir): prepare release v1.0.0
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  server/go.mod
Due: client, server, cli

chore(changelog): update CHANGELOG for v1.0.0 release
  CHANGELOG.md
Due: none

release(dir): prepare v1.0.0 (#964)
  CHANGELOG.md
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

chore: update brew formula version (#965)
  HomebrewFormula/dirctl.rb
Due: none

chore(ci): bump days to mark items stale
  .github/workflows/project.yaml
Due: none

chore(ci): bump days to mark items stale (#970)
  .github/workflows/project.yaml
Due: none

chore: add dir-demo-bot
  .github/workflows/demo-dir.yaml
Due: none

test(dir): add logs
  Taskfile.yml
Due: none

chore(dir): remove broken cache cleaner workflow
  .github/workflows/clear-docker-cache.yaml
Due: none

Revert "test: disable taskfile/e2e coverage exports"
  Taskfile.yml
Due: none

ci(dir): add log
  .github/workflows/ci.yaml
  Taskfile.yml
Due: none

fix(dir): add apiserver charts to repo
  .gitignore
  install/charts/dir/apiserver/charts/envoy-authz-0.1.0.tgz
Due: none

chore(dir): update helm
  Taskfile.yml
Due: none

build(task,helm:gen): make dep tgz reproducible
  Taskfile.yml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
