Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix(sdk/py): remove duplicate package import
  sdk/dir-py/agntcy/dir_sdk/client/test_oidc_auth.py
Due: none

feat(sdk): add oauth authentucation
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/oauth_pkce.py
  sdk/examples/example-py/example.py
Due: none

chore(sdk-py): add documentation
  sdk/dir-py/README.md
Due: none

fix(sdk-py): remove duplicate grpc auth
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

feat(sdk-py): add oauth example to python sdk example
  sdk/examples/example-py/example.py
Due: none

feat: client credentials flow
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/examples/example-py/example.py
Due: none

feat(sdk-py): add oidc options
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
Due: none

feat(sdk/js): add oauth authentication type
  sdk/dir-js/README.md
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/client/oauthPkce.ts
  sdk/dir-js/src/client/tokenCache.ts
  sdk/dir-js/test/oidc-auth.test.ts
  sdk/examples/example-js/example_interactive_oidc.js
  sdk/examples/example-js/package.json
Due: none

fix(sdk/ts): use milliseconds in cached token timestamps
  sdk/dir-js/src/client/tokenCache.ts
Due: none

fix(dirctl): use utc timestamps for cached tokens with milliseconds
  cli/cmd/auth/login.go
  client/token_cache.go
Due: client, cli

fix(dirctl): use UTC time for unit test
  client/token_cache_test.go
Due: client

feat(runtime): add initial local process discovery
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/discovery/runtime/local/adapter.go
  runtime/discovery/runtime/local/adapter_test.go
  runtime/discovery/runtime/local/config.go
  runtime/discovery/runtime/local/process.go
  runtime/discovery/runtime/local/process_selectors.go
Due: none

feat(dir): add latest Helm releases
  .github/workflows/ci.yaml
Due: none

feat(dir): revert latest Helm version
  .github/workflows/ci.yaml
Due: none

fix(dir): fix Helm version
  .github/workflows/ci.yaml
Due: none

chore(dir): replace envoy image to distroless variant
  Taskfile.vars.yml
  auth/cmd/envoy-authz/docker-compose.yml
  install/charts/envoy-authz/values.yaml
Due: none

chore(dir): update postgresql image
  Taskfile.vars.yml
Due: none

chore(dir): update go.mod packages
  api/go.mod
  api/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/api/go.mod
  runtime/api/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/go.mod
  runtime/store/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

chore(dir): dump spire images
  Taskfile.vars.yml
Due: none

chore(dir): update go version
  .github/actions/build-dirctl/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yaml
  .github/workflows/gui-ci.yaml
  .github/workflows/oidc-test.yml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.vars.yml
  api/go.mod
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/Dockerfile
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/test/Dockerfile.mock
  cli/Dockerfile
  cli/go.mod
  client/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  runtime/api/go.mod
  runtime/discovery/Dockerfile
  runtime/discovery/go.mod
  runtime/server/Dockerfile
  runtime/server/go.mod
  runtime/store/go.mod
  runtime/utils/go.mod
  server/Dockerfile
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: api, client, server, cli

chore(dir/js): bump flatted transitive dependency
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/examples/example-js/package-lock.json
Due: none

chore(dir/js): bump lodash through api-extractor
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/examples/example-js/package-lock.json
Due: none

chore(dir): update grpc-health-probe image
  server/Dockerfile
Due: server

chore(dir/py): bump pygments through pytest
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-py/uv.lock
Due: none

chore(dir/js): bump vite and vitest
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/examples/example-js/package-lock.json
Due: none

fix(dir): add licensei exception
  .licensei.toml
Due: none

feat: update functions with oasf-sdk
  mcp/tools/get_schema.go
  mcp/tools/get_schema_domains.go
  mcp/tools/get_schema_skills.go
  mcp/tools/schema_helpers.go
Due: none

refactor(mcp): make schema domain/skill tools taxonomy-native
  mcp/tools/get_schema_domains.go
  mcp/tools/get_schema_domains_test.go
  mcp/tools/get_schema_skills.go
  mcp/tools/get_schema_skills_test.go
  mcp/tools/schema_helpers.go
Due: none

chore(deps): bump oasf-sdk pkg to v1.0.5 across go modules
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

perf(mcp): enable oasf schema client cache for enrichment tools
  mcp/tools/schema_helpers.go
Due: none

feat(mcp): improve import/export tools, add agentskills support
  mcp/server/server.go
  mcp/tools/export_record.go
  mcp/tools/export_record_test.go
  mcp/tools/import_record.go
  mcp/tools/import_record_test.go
Due: none

chore: fix formatting
  mcp/tools/export_record_test.go
  mcp/tools/get_schema_domains.go
  mcp/tools/get_schema_domains_test.go
  mcp/tools/get_schema_skills.go
  mcp/tools/get_schema_skills_test.go
  mcp/tools/import_record_test.go
Due: none

feat: import agent skill from file
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/config/config.go
  importer/config/config_test.go
  importer/dedup/dedup.go
  importer/factory/factory.go
  importer/fetcher/agent_skill_dir.go
  importer/fetcher/agent_skill_dir_test.go
  importer/go.mod
  importer/importer.go
  importer/skill/parse.go
  importer/skill/parse_test.go
  importer/transformer/transformer.go
  importer/types/source_item.go
  importer/types/source_item_test.go
Due: cli

feat: use oasf-sdk to import agentskill
  importer/fetcher/agent_skill_dir_test.go
  importer/skill/parse.go
  importer/skill/parse_test.go
  importer/transformer/transformer.go
Due: none

chore(deps): replace docker with moby in go.mod and update related imports in adapter.go
  cli/go.mod
  cli/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/discovery/runtime/docker/adapter.go
  tests/go.mod
  tests/go.sum
Due: cli

refactor(docker): update Docker client initialization to use NewClient instead of NewClientWithOpts
  runtime/discovery/runtime/docker/adapter.go
Due: none

chore(workflows): update pr-size-labeler action to version v1.10.4
  .github/workflows/pr.yaml
Due: none

feat(dir/helm) render routing service annotations
  install/charts/dir/apiserver/templates/routing-service.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

release(dir): prepare release v1.2.0
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

release(dir): prepare release v1.2.0
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  runtime/discovery/go.mod
  runtime/server/go.mod
  runtime/store/go.mod
  server/go.mod
  tests/go.mod
Due: client, server, cli
