Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

refactor(api): add runtime DiscoveryService and Workload definitions
  Taskfile.deps.yml
  Taskfile.vars.yml
  api/runtime/crd/v1/boilerplate.go.txt
  api/runtime/crd/v1/discovered_workload.go
  api/runtime/crd/v1/doc.go
  api/runtime/crd/v1/groupversion_info.go
  api/runtime/crd/v1/zz_generated.deepcopy.go
  api/runtime/v1/discovery_service.pb.go
  api/runtime/v1/discovery_service_grpc.pb.go
  api/runtime/v1/workload.go
  api/runtime/v1/workload.pb.go
  api/runtime/v1/workload_test.go
  proto/Taskfile.yml
  proto/agntcy/dir/runtime/v1/discovery_service.proto
  proto/agntcy/dir/runtime/v1/workload.proto
  proto/buf.gen.yaml
  proto/buf.yaml
Due: api

chore(deps): update dependencies and modules
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/client.go
  client/go.mod
  client/go.sum
  client/runtime.go
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

fix(task): update runtime:gen task description and command for CRD generation
  proto/Taskfile.yml
Due: none

chore(env): add GOLANG_PROTOBUF_REGISTRATION_CONFLICT warning for proto descriptor conflicts
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  Taskfile.yml
  tests/Taskfile.yml
Due: none

chore(dir): switch to action renovate
  .github/workflows/dependencies.yaml
  Taskfile.deps.yml
  Taskfile.vars.yml
Due: none

chore(dir): tag only server modules and releae artefacts
  .github/workflows/ci.yaml
  .github/workflows/post-release.yml
Due: none

chore(ci): separate api and server release
  Taskfile.yml
Due: none

docs(ci): update release doc
  RELEASE.md
Due: none

chore(ci): update multimod versions
  versions.yaml
Due: none

refactor(ci): add yq helper for release
  Taskfile.deps.yml
  Taskfile.vars.yml
  Taskfile.yml
Due: none

feat(ci): support multi staging release
  Taskfile.yml
Due: none

fix(ci): remove multimod verify
  Taskfile.yml
Due: none

release(dir): prepare api release v1.3.0
  versions.yaml
Due: none

release(dir): prepare api release v1.3.0
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  server/go.mod
  tests/go.mod
Due: client, server, cli

chore(deps): update github.com/distribution/distribution/v3 to v3.1.1
  tests/go.mod
  tests/go.sum
Due: none

fix(dir): linter issues
  server/events/mock_interface_test.go
  server/healthcheck/healthcheck_test.go
  server/naming/name_test.go
Due: server

chore(dir): bump deps
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

release(dir): prepare server release v1.3.0
  versions.yaml
Due: none

release(dir): prepare server release v1.3.0
  cli/go.mod
  reconciler/go.mod
  tests/go.mod
Due: cli

chore: cleanup testenv matrix
  tests/Taskfile.yml
Due: none

chore: cleanup
  .github/workflows/ci.yaml
  .github/workflows/reusable-build.yaml
  codecov.yml
Due: none

chore: fix codecov comment style
  codecov.yml
Due: none

chore: fix codecov comment style
  .github/workflows/ci.yaml
  codecov.yml
Due: none

chore: enable cross-daemon windows tests
  tests/modules/Taskfile.setup-dir-node.yml
Due: none

chore: fix testenv setup
  tests/Taskfile.yml
Due: none

chore: fix e2e test coverage
  .github/workflows/ci.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  .gitignore
  Taskfile.yml
  cli/Taskfile.yml
  tests/Taskfile.yml
  tests/e2e/client/testenv/kind/Taskfile.testenv.yml
  tests/e2e/client/testenv/local/Taskfile.testenv.yml
  tests/e2e/client/testenv/local/test-config.yaml
  tests/e2e/daemon/testenv/default/Taskfile.testenv.yml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/Taskfile.testenv.yml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/kind/Taskfile.testenv.yml
  tests/e2e/local/testenv/local/Taskfile.testenv.yml
  tests/e2e/network/testenv/kind/Taskfile.testenv.yml
  tests/e2e/network/testenv/local/Taskfile.testenv.yml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.yaml
  tests/e2e/shared/config/config.go
  tests/modules/README.md
  tests/modules/Taskfile.deploy-chart.yml
  tests/modules/Taskfile.deploy-kind.yml
  tests/modules/Taskfile.setup-dir-node.yml
  tests/modules/Taskfile.setup-testenv-k8s.yml
Due: cli

Revert "chore: create testenv taskfiles and modules"
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
Due: none

chore: disable coverage
  Taskfile.vars.yml
  tests/Taskfile.yml
Due: none

fix: key
  tests/Taskfile.yml
  tests/e2e/daemon/testenv/external/Taskfile.testenv.yml
  tests/e2e/local/testenv/local/Taskfile.testenv.yml
  tests/e2e/network/testenv/local/Taskfile.testenv.yml
  tests/e2e/network/testenv/local/bootstrap.key
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
  tests/modules/Taskfile.setup-dir-node.yml
Due: none

fix(tests): use proper shutdown for testenv:network:local
  tests/e2e/network/testenv/local/Taskfile.testenv.yml
Due: none

feat(tests): enable optional testenv setup/teardown
  tests/Taskfile.yml
Due: none

chore: create testenv taskfiles and modules
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
Due: none

release(dir): prepare for release v1.3.0
  CHANGELOG.md
Due: none

chore: deps tidy
  tests/go.mod
Due: none

refactor(api): remove deprecated validator globals from core/v1
  api/core/v1/record.go
  api/core/v1/record_test.go
  api/core/v1/record_testing.go
Due: api

fix(dir): fix renovate runner
  .github/workflows/dependencies.yaml
  Taskfile.deps.yml
  Taskfile.vars.yml
Due: none

fix(cli): skip auth for local commands
  cli/cmd/root.go
  cli/cmd/root_test.go
Due: cli
