Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(reconciler): index and evaluate a record as soon as it is pushed
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  cli/cmd/daemon/start.go
  docs/content/dir/dir-content-policy-enforcement.md
  install/charts/dir/apiserver/values.yaml
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/main.go
  reconciler/recordevents/config.go
  reconciler/recordevents/source.go
  reconciler/recordevents/source_test.go
  reconciler/recordevents/watch.go
  reconciler/recordevents/watch_test.go
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/indexer/task.go
  reconciler/tasks/indexer/task_test.go
  reconciler/tasks/policy/task.go
  server/server.go
  tests/e2e/README.md
  tests/e2e/policy/01_enforcement_test.go
  tests/e2e/policy/testenv/default/dir-daemon-config.yaml
Due: server, cli

refactor(dir): return a policy's version with its validator
  server/validators/cel.go
  server/validators/opa.go
  server/validators/registry.go
Due: server

fix(dir): separate a cleanup from the variable it restores in the daemon config test
  cli/cmd/daemon/daemon_test.go
Due: cli

fix(reconciler): satisfy the exhaustive and modernize linters in the record watcher
  reconciler/recordevents/source.go
  reconciler/service/service.go
Due: none

feat(dir): persist per-record policy-compliance verdicts (#2226)
  .golangci.yml
  reconciler/tasks/signature/task_test.go
  server/database/gorm/migration.go
  server/database/gorm/policy_evaluation.go
  server/database/gorm/policy_evaluation_test.go
  server/database/gorm/policy_version.go
  server/database/gorm/policy_version_test.go
  server/types/database.go
Due: server

feat(reconciler): evaluate records against content policies (#2229)
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/policy/config.go
  reconciler/tasks/policy/config_test.go
  reconciler/tasks/policy/evaluator.go
  reconciler/tasks/policy/task.go
  reconciler/tasks/policy/task_test.go
Due: cli

feat(dir): apply the policy gate to reads that fetch a record by CID (#2237)
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
  server/controller/policy_gate.go
  server/controller/policy_gate_test.go
  server/controller/store.go
  server/database/gorm/policy_gate.go
  server/database/gorm/policy_gate_test.go
  server/store/oci/internal.go
  server/types/database.go
  server/types/store.go
Due: server

feat(dir): serve only records that comply with every enforced policy (#2235)
  server/database/gorm/catalog.go
  server/database/gorm/filter_values.go
  server/database/gorm/gorm.go
  server/database/gorm/policy_gate.go
  server/database/gorm/policy_gate_test.go
  server/database/gorm/record.go
  server/types/database.go
Due: server

feat(dir): apply the policy gate to the peer RPC (#2238)
  server/controller/policy_gate.go
  server/routing/routing.go
  server/routing/routing_remote.go
  server/routing/rpc/rpc.go
  server/routing/rpc/rpc_test.go
  server/routing/test_utils.go
  server/server.go
  server/types/database.go
Due: server

feat(dir): gate explicit-CID publication and identity status lookups (#2241)
  server/controller/identity.go
  server/controller/identity_test.go
  server/controller/policy_gate_test.go
  server/publication/worker.go
  server/publication/worker_test.go
Due: server

feat(dir): grant registry credentials only to peer nodes named by SPIFFE ID (#2246)
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-federation-aws-eks.md
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values-openshift.yaml
  install/charts/dir/values.yaml
  install/openshift-install.md
  server/authz/README.md
  server/authz/authorizer.go
  server/authz/authorizer_test.go
  server/authz/interceptor.go
  server/authz/interceptor_test.go
  server/authz/model.conf
  server/authz/peer_identity_test.go
  server/authz/policy_examples_test.go
  server/authz/testdata/peer_identity_policies.csv
Due: server

feat(dir): enforce content policies per kind of read, with a shadow mode (#2248)
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/database/gorm/gorm.go
  server/database/gorm/policy_gate.go
  server/database/gorm/policy_gate_test.go
  server/database/gorm/policy_modes_test.go
  server/metrics/policy_gate.go
  server/metrics/policy_gate_test.go
  server/policy/config/config.go
  server/policy/config/config_test.go
  server/policy/enforcement/resolver.go
  server/policy/enforcement/resolver_test.go
  server/policy_enforcement.go
  server/policy_enforcement_test.go
  server/server.go
  server/types/database.go
Due: server, cli

feat(dir): enforce a policy first once its verdicts cover the records (#2249)
  install/charts/dir/apiserver/values.yaml
  server/database/gorm/migration.go
  server/database/gorm/policy_backfill.go
  server/database/gorm/policy_backfill_test.go
  server/database/gorm/policy_evaluation.go
  server/metrics/policy_gate.go
  server/metrics/policy_gate_test.go
  server/policy/enforcement/resolver.go
  server/policy/enforcement/resolver_test.go
  server/types/database.go
Due: server

feat(dir): serve excluded records to named auditors, and the enforcement runbook (#2253)
  api/policy/v1/policy_audit_service.pb.go
  api/policy/v1/policy_audit_service_grpc.pb.go
  api/policy/v1/policy_evaluation.pb.go
  docs/content/dir/dir-content-policy-enforcement.md
  docs/mkdocs/mkdocs.yml
  proto/agntcy/dir/policy/v1/policy_audit_service.proto
  proto/agntcy/dir/policy/v1/policy_evaluation.proto
  proto/buf.gen.yaml
  server/authz/README.md
  server/authz/authorizer.go
  server/authz/peer_identity_test.go
  server/authz/policy_examples_test.go
  server/authz/testdata/peer_identity_policies.csv
  server/controller/policy_audit.go
  server/controller/policy_audit_test.go
  server/database/gorm/policy_gate.go
  server/database/gorm/policy_modes_test.go
  server/policy_enforcement.go
  server/policy_enforcement_test.go
  server/server.go
Due: server

feat(reconciler): evaluate records against OPA and CEL policies (#2266)
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-content-policy-enforcement.md
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/policy/validator_evaluator.go
  reconciler/tasks/policy/validator_evaluator_test.go
  server/README.md
  server/validators/cel.go
  server/validators/config/config.go
  server/validators/config/config_test.go
  server/validators/opa.go
  server/validators/policies_test.go
  server/validators/registry.go
Due: server

test(dir): check that a node serves a record only once its policy passes it (#2267)
  .github/workflows/reusable-test-e2e.yaml
  tests/Taskfile.yml
  tests/e2e/README.md
  tests/e2e/policy/01_enforcement_test.go
  tests/e2e/policy/config/config.go
  tests/e2e/policy/policy_suite_test.go
  tests/e2e/policy/testenv/default/Taskfile.testenv.yml
  tests/e2e/policy/testenv/default/dir-daemon-config.yaml
  tests/e2e/policy/testenv/default/test-config.yaml
  tests/e2e/shared/config/config.go
Due: none

feat(reconciler): index and evaluate a record as soon as it is pushed (#2271)
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  cli/cmd/daemon/start.go
  docs/content/dir/dir-content-policy-enforcement.md
  install/charts/dir/apiserver/values.yaml
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/main.go
  reconciler/recordevents/config.go
  reconciler/recordevents/source.go
  reconciler/recordevents/source_test.go
  reconciler/recordevents/watch.go
  reconciler/recordevents/watch_test.go
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/indexer/task.go
  reconciler/tasks/indexer/task_test.go
  reconciler/tasks/policy/task.go
  server/server.go
  tests/e2e/README.md
  tests/e2e/policy/01_enforcement_test.go
  tests/e2e/policy/testenv/default/dir-daemon-config.yaml
Due: server, cli

refactor(dir): refactor scan severities
  api/catalog/v1/catalog.go
  api/security/v1/severity.go
  api/security/v1/severity_test.go
  cli/cmd/search/filters.go
  reconciler/tasks/scan/task.go
  server/database/gorm/record.go
  server/database/gorm/record_exclude.go
  server/ingest/ingest.go
  utils/scanner/scanner.go
Due: api, server, cli

refactor(dir): refactor scan severities (#2274)
  api/catalog/v1/catalog.go
  api/security/v1/severity.go
  api/security/v1/severity_test.go
  cli/cmd/search/filters.go
  reconciler/tasks/scan/task.go
  server/database/gorm/record.go
  server/database/gorm/record_exclude.go
  server/ingest/ingest.go
  utils/scanner/scanner.go
Due: api, server, cli

feat(reconciler): evaluate a candidate policy without storing anything
  reconciler/tasks/policy/dryrun.go
  reconciler/tasks/policy/dryrun_test.go
Due: none

test(dir): check that a dry run reports what a policy would exclude and changes nothing
  tests/e2e/policy/02_dry_run_test.go
  tests/e2e/policy/config/config.go
  tests/e2e/policy/testenv/default/test-config.yaml
Due: none

feat(dir): try a candidate content policy before deploying it
  cli/cmd/daemon/daemon.go
  cli/cmd/daemon/policy.go
  cli/cmd/daemon/policy_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-content-policy-enforcement.md
  reconciler/dry_run.go
  reconciler/dryrun/candidate.go
  reconciler/dryrun/dryrun.go
  reconciler/dryrun/dryrun_test.go
  reconciler/dryrun/flags.go
  reconciler/dryrun/open.go
  reconciler/dryrun/report.go
  reconciler/go.mod
  reconciler/main.go
Due: cli

fix(reconciler): satisfy the whitespace and embedded-literal linters in the dry-run tests
  reconciler/dryrun/dryrun_test.go
  reconciler/tasks/policy/dryrun_test.go
Due: none

fix(reconciler): set the promoted Insecure field in the store config literal
  reconciler/dryrun/dryrun_test.go
Due: none

fix(dir): align the tags of the policy suite's daemon settings
  tests/e2e/policy/config/config.go
Due: none

fix(dir): satisfy testifylint and wsl in the dry-run command's tests
  cli/cmd/daemon/policy_test.go
  reconciler/dryrun/dryrun_test.go
Due: cli

fix(dir): wait for the policy to be enforced before the dry-run E2E reads
  tests/e2e/policy/02_dry_run_test.go
Due: none

test(reconciler): cover the standalone dry-run subcommand
  reconciler/dry_run_test.go
Due: none

docs(dir): add the OpenSSF Best Practices badge to the README
  README.md
Due: none

docs(dir): add the OpenSSF Best Practices badge to the README (#2276)
  README.md
Due: none

feat(cli): read Sigstore sign/verify settings from client context
  cli/cmd/import/import.go
  cli/cmd/push/push.go
  cli/cmd/sign/options.go
  cli/cmd/sign/options_test.go
  cli/cmd/sign/sign.go
  cli/cmd/sign/sign_test.go
  cli/cmd/verify/options.go
  cli/cmd/verify/options_test.go
  cli/cmd/verify/verify.go
  cli/config/sigstore.go
  client/config/config.go
  client/config/config_test.go
  client/config/sigstore.go
  client/config/sigstore_test.go
  docs/content/dir/dir-cli-reference.md
Due: client, cli

fix(cli): warn when config relaxes verify and address review
  cli/cmd/context/context_test.go
  cli/cmd/context/show.go
  cli/cmd/import/import.go
  cli/cmd/import/sign_test.go
  cli/cmd/push/push.go
  cli/cmd/push/sign_test.go
  cli/cmd/sign/options.go
  cli/cmd/sign/options_test.go
  cli/cmd/sign/sign.go
  cli/cmd/verify/options.go
  cli/cmd/verify/options_test.go
  cli/cmd/verify/verify.go
  cli/config/sigstore.go
  client/config/sigstore.go
  client/config/sigstore_test.go
  docs/content/dir/dir-cli-reference.md
Due: client, cli

docs(dir): document identity and ownership claims
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-identity.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-sdk-go.md
  docs/content/llms.txt
  docs/mkdocs/mkdocs.yml
Due: none

chore: editorial review
  docs/content/dir/dir-component-identity.md
Due: none

docs(dir): document identity and ownership claims (#2289)
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-identity.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-sdk-go.md
  docs/content/llms.txt
  docs/mkdocs/mkdocs.yml
Due: none

feat(dir): add AGNTCY identity claims and badge verification
  client/utils/identity/evidence.go
  client/utils/identity/resolvers/agntcy/protocol.go
  client/utils/identity/resolvers/agntcy/resolver.go
  client/utils/identity/resolvers/agntcy/resolver_test.go
  client/utils/identity/resolvers/resolvers.go
  docs/content/dir/dir-component-identity-agntcy.md
  docs/content/dir/dir-component-identity.md
  docs/mkdocs/mkdocs.yml
  reconciler/tasks/identity/agntcy_test.go
  reconciler/tasks/identity/config.go
  reconciler/tasks/identity/resolve.go
  reconciler/tasks/identity/task.go
  server/cmd/agntcy-identity-verifier/main.go
  server/cmd/agntcy-identity-verifier/main_test.go
  server/controller/identity_test.go
  server/database/gorm/catalog.go
  server/database/gorm/identity_claims.go
  server/database/gorm/record.go
  server/database/identity_expiry_test.go
  server/go.mod
  server/go.sum
  server/types/identity.go
Due: client, server

feat(dir): add prune-untrusted job
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/service/service.go
  reconciler/tasks/prune/config.go
  reconciler/tasks/prune/config_test.go
  reconciler/tasks/prune/task.go
  reconciler/tasks/prune/task_test.go
  server/database/database_test.go
  server/database/gorm/record.go
  server/types/search.go
Due: server, cli

feat(dir): try a candidate content policy before deploying it (#2275)
  cli/cmd/daemon/daemon.go
  cli/cmd/daemon/policy.go
  cli/cmd/daemon/policy_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-content-policy-enforcement.md
  reconciler/dry_run.go
  reconciler/dry_run_test.go
  reconciler/dryrun/candidate.go
  reconciler/dryrun/dryrun.go
  reconciler/dryrun/dryrun_test.go
  reconciler/dryrun/flags.go
  reconciler/dryrun/open.go
  reconciler/dryrun/report.go
  reconciler/go.mod
  reconciler/main.go
  reconciler/tasks/policy/dryrun.go
  reconciler/tasks/policy/dryrun_test.go
  tests/e2e/policy/02_dry_run_test.go
  tests/e2e/policy/config/config.go
  tests/e2e/policy/testenv/default/test-config.yaml
Due: cli

feat(dir): add prune-untrusted job (#2220)
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/service/service.go
  reconciler/tasks/prune/config.go
  reconciler/tasks/prune/config_test.go
  reconciler/tasks/prune/task.go
  reconciler/tasks/prune/task_test.go
  server/database/database_test.go
  server/database/gorm/record.go
  server/types/search.go
Due: server, cli

feat(cli): read Sigstore sign/verify settings from client context (#2260)
  cli/cmd/context/context_test.go
  cli/cmd/context/show.go
  cli/cmd/import/import.go
  cli/cmd/import/sign_test.go
  cli/cmd/push/push.go
  cli/cmd/push/sign_test.go
  cli/cmd/sign/options.go
  cli/cmd/sign/options_test.go
  cli/cmd/sign/sign.go
  cli/cmd/sign/sign_test.go
  cli/cmd/verify/options.go
  cli/cmd/verify/options_test.go
  cli/cmd/verify/verify.go
  cli/config/sigstore.go
  client/config/config.go
  client/config/config_test.go
  client/config/sigstore.go
  client/config/sigstore_test.go
  docs/content/dir/dir-cli-reference.md
Due: client, cli
