Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat(sdk/python): add events listen grpc call
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/models/__init__.py
  sdk/dir-py/agntcy/dir_sdk/models/events_v1.py
Due: none

fix(sdk/python): fix typos
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

fix(sdk/js): use correct worker file
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/test/listen_worker.cjs
  sdk/dir-js/test/listen_worker.ts
Due: none

fix(sdk/python): add missing line
  sdk/dir-py/agntcy/dir_sdk/models/__init__.py
Due: none

chore(sdk/js): remove comment
  sdk/dir-js/test/client.test.ts
Due: none

feat(sdk/python): add events test
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

feat(sdk/python): add publication tests
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

feat: update spec
  DAG.md
  api/core/v1/cid.go
  api/core/v1/object.pb.go
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  proto/agntcy/dir/core/v1/object.proto
  proto/agntcy/dir/store/v1/store_service.proto
  schema.md
  server/store/oci/annotations.go
  server/store/oci/annotations_test.go
  server/store/oci/constants.go
  server/store/oci/integration_test.go
  server/store/oci/internal.go
  server/store/oci/manifest.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/testdata/oci/blobs/sha256/315f5bdb76d078c43b8ac0064e4a0164612b1fce77c869345bfc94c75894edd3
  server/store/oci/testdata/oci/blobs/sha256/61c451bfa70850f1429b1d68b7456d822aaeda7bafd9af715520df44570e7a92
  server/store/oci/testdata/oci/blobs/sha256/d1892552597a3e1ec7e6f18ba053a0c9275e8ee8f8755307bdd1ee200799ca06
  server/store/oci/testdata/oci/index.json
  server/store/oci/testdata/oci/oci-layout
  server/types/store.go
Due: api, server

feat(sdk): add missing grpc calls to sdk (#709)
  Taskfile.yml
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/models/events_v1.ts
  sdk/dir-js/src/models/index.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-js/test/listen_worker.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  sdk/dir-py/agntcy/dir_sdk/models/__init__.py
  sdk/dir-py/agntcy/dir_sdk/models/events_v1.py
Due: none

release(dir): prepare release v0.5.2
  CHANGELOG.md
Due: none

release(dir): prepare release v0.5.2 (#719)
  CHANGELOG.md
Due: none

feat: update spec
  DAG.md
  api/core/v1/object.pb.go
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  proto/agntcy/dir/core/v1/object.proto
  proto/agntcy/dir/store/v1/store_service.proto
  server/store/oci/manifest.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/testdata/oci/blobs/sha256/61c451bfa70850f1429b1d68b7456d822aaeda7bafd9af715520df44570e7a92
  server/store/oci/testdata/oci/blobs/sha256/d1892552597a3e1ec7e6f18ba053a0c9275e8ee8f8755307bdd1ee200799ca06
  server/store/oci/testdata/oci/blobs/sha256/e6b4c6700918e9048a240bb93f63565fb75ed4b613c83934ae319dfb49a846ea
  server/store/oci/testdata/oci/index.json
Due: server

feat: add update strategy to helm chart
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

feat: add update strategy to helm chart (#720)
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

release(dir/helm): release v0.5.2 (#721)
  CHANGELOG.md
Due: none

feat: update spec
  DAG.md
  api/core/v1/cid.go
  api/core/v1/object.pb.go
  api/store/v1/object.pb.go
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  proto/agntcy/dir/store/v1/object.proto
  proto/agntcy/dir/store/v1/store_service.proto
  server/store/oci/manifest.go
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/testdata/oci/blobs/sha256/1286c060c01710ae8fb79a1f60620c8baf9e22fe2abfbafaa7a43109984e1b75
  server/store/oci/testdata/oci/blobs/sha256/85561c57f38f82aedff3beed810d03e8271a524de108551ee7ce1bf18e83ecbf
  server/store/oci/testdata/oci/index.json
  server/store/oci/utils.go
  server/types/store.go
Due: api, server

feat(dirctl): add SPIFFE CSI driver support and auto home-dir volume
  install/charts/dirctl/templates/cronjob.yaml
  install/charts/dirctl/values.yaml
Due: none

fix: apply same improvements to apiserver chart for consistency
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

feat(dir/dirctl): add SPIFFE CSI driver support and auto home-dir volume (#724)
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dirctl/templates/cronjob.yaml
  install/charts/dirctl/values.yaml
Due: none

chore: update brew formula version (#723)
  HomebrewFormula/dirctl.rb
Due: none

release(dir): prepare release v0.5.3
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

Prepare cli for version v0.5.3
  cli/go.mod
  e2e/go.mod
  hub/go.mod
Due: cli

Prepare directory for version v0.5.3
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

docs: update CHANGELOG
  CHANGELOG.md
Due: none

docs: update versions in README
  README.md
Due: none

release(dir/helm): prepare release/v0.5.3 (#729)
  CHANGELOG.md
  README.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

chore(dir): turn off go workspace for go toolchain
  Taskfile.yml
Due: none

fix(dir): turn off workspace for unit test separately
  Taskfile.yml
Due: none

chore: update brew formula version (#731)
  HomebrewFormula/dirctl.rb
Due: none

feat: update spec
  DAG.md
  STORAGE.md
  api/store/v1/object.pb.go
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  proto/agntcy/dir/store/v1/object.proto
  proto/agntcy/dir/store/v1/store_service.proto
  server/store/oci/oci.go
  server/store/oci/oci_test.go
  server/store/oci/testdata/oci/blobs/sha256/1c803ac0142c896cc20f3f4f75511f52538a9c42bf1877606c3ed88f74422fbe
  server/store/oci/testdata/oci/index.json
  server/types/store.go
Due: server

fix(client): add retry logic for X509-SVID availability in SPIRE auth
  client/options.go
Due: client

chore(dir): turn off go workspace for go toolchain (#732)
  Taskfile.yml
Due: none

fix: linter issues
  client/options.go
Due: client

fix(client): add retry logic for X509-SVID availability in SPIRE auth (#735)
  client/options.go
Due: client

release(dir): prepare release v0.5.4
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

Prepare directory for version v0.5.4
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

docs: update CHANGELOG and README
  CHANGELOG.md
  README.md
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
