Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

chore(dir): bump dir-import, dir-mcp, dir-runtime (#1821)
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

fix(routing): support URL-form directory and OCI addresses in search
  server/routing/internal/p2p/host.go
  server/routing/routing_remote.go
Due: server

feat(cli/sync): route --stdin sync to /dir/ or /oci/ address from routing results
  cli/cmd/sync/sync.go
  cli/cmd/sync/sync_test.go
Due: cli

feat(dir): provide oci address in discovery response (#1820)
  cli/cmd/sync/sync.go
  cli/cmd/sync/sync_test.go
  server/config/config.go
  server/routing/config/config.go
  server/routing/internal/p2p/host.go
  server/routing/internal/p2p/options.go
  server/routing/internal/p2p/server.go
  server/routing/routing_remote.go
Due: server, cli

feat(reconciler): bind Azure OpenAI keys
  install/charts/dir/apiserver/templates/external-secret.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

feat(install/charts): handle llm key secret
  install/charts/dir/apiserver/templates/external-secret.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

feat(reconciler): bind Azure OpenAI keys (#1823)
  install/charts/dir/apiserver/templates/external-secret.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

chore(docs): update Discord invite link
  docs/content/community.md
Due: none

chore(docs): update Discord invite link (#1825)
  docs/content/community.md
Due: none

chore(docs): fix front-page Discord widget link
  docs/content/index.md
Due: none

chore(docs): fix front-page Discord widget link (#1826)
  docs/content/index.md
Due: none

chore(reconciler): pin cisco scanner package versions
  Taskfile.deps.yml
  Taskfile.vars.yml
  docker-bake.hcl
  reconciler/Dockerfile
Due: none

chore: add a2a scanner to reconciler
  Taskfile.vars.yml
  docker-bake.hcl
  reconciler/Dockerfile
Due: none

fix(skill): patch sync flow in agent skill
  .skill/SKILL.md
  .skill/references/sync.md
Due: none

fix: patch delete confirmation
  .skill/references/sync.md
Due: none

chore: set scanner version defaults in bake
  Taskfile.vars.yml
  docker-bake.hcl
Due: none

chore(reconciler): pin cisco scanner package versions (#1833)
  Taskfile.deps.yml
  Taskfile.vars.yml
  docker-bake.hcl
  reconciler/Dockerfile
Due: none

fix(skill): patch sync flow in agent skill (#1834)
  .skill/SKILL.md
  .skill/references/sync.md
Due: none

fix(dir): downgrade mcp-scanner, skill-scanner
  Taskfile.vars.yml
  docker-bake.hcl
Due: none

chore(dir): upgrade grpc-health-probe to v0.4.53
  server/Dockerfile
Due: server

fix(dir): downgrade mcp-scanner, skill-scanner (#1836)
  Taskfile.vars.yml
  docker-bake.hcl
Due: none

fix(reconciler): normalize remote directory URL into gRPC dial target
  reconciler/tasks/regsync/credentials.go
  reconciler/tasks/regsync/credentials_test.go
Due: none

chore(dir): upgrade grpc-health-probe to v0.4.53 (#1837)
  server/Dockerfile
Due: server

fix(dir): bump scanner versions
  Taskfile.vars.yml
  docker-bake.hcl
Due: none

fix(dir): bump scanner versions (#1840)
  Taskfile.vars.yml
  docker-bake.hcl
Due: none

fix(reconciler): normalize remote directory URL into gRPC dial target (#1839)
  reconciler/tasks/regsync/credentials.go
  reconciler/tasks/regsync/credentials_test.go
Due: none

release(dir): prepare server release 1.6.0
  CHANGELOG.md
  README.md
  cli/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  tests/go.mod
  versions.yaml
Due: cli

docs: update contributors list
  CONTRIBUTORS.md
Due: none

docs: update contributors list (#1835)
  CONTRIBUTORS.md
Due: none

release(dir): prepare server release 1.6.0 (#1822)
  CHANGELOG.md
  README.md
  cli/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  tests/go.mod
  versions.yaml
Due: cli

docs: restrict contributors file to actual copyright-holding employers
  CONTRIBUTORS.md
Due: none

docs: restrict contributors file to actual copyright-holding employers (#1842)
  CONTRIBUTORS.md
Due: none

docs: restore Modular and Infosys as legitimate contributors
  CONTRIBUTORS.md
Due: none

docs: restore Modular and Infosys as legitimate contributors (#1843)
  CONTRIBUTORS.md
Due: none

docs: map manual contributors to git history for dir
  CONTRIBUTORS.md
Due: none

docs: map manual contributors to git history for dir (#1844)
  CONTRIBUTORS.md
Due: none

docs: remove Oracle and AWS; Morgan is Red Hat
  CONTRIBUTORS.md
Due: none

docs: remove Oracle and AWS; Morgan is Red Hat (#1845)
  CONTRIBUTORS.md
Due: none

docs: add Oracle and Dell to CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: none
