Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat: add push record tool
  e2e/mcp/01_protocol_test.go
  mcp/README.md
  mcp/go.mod
  mcp/go.sum
  mcp/main.go
  mcp/prompts/create_record.go
  mcp/prompts/push_record.go
  mcp/prompts/validate_record.go
  mcp/tools/push_record.go
Due: none

feat(dir/install): zot configuration and authentication in helm chart
  Taskfile.yml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/zot-config-pvc.yaml
  install/charts/dir/values.yaml
Due: none

feat: add tasks for generating and cleaning up htpasswd credentials
  Taskfile.yml
Due: none

fix client resource leaking and context issues
  cli/cmd/root.go
  client/README.md
  client/client.go
  client/client_test.go
  client/options.go
  client/routing.go
  client/routing_test.go
  client/spiffe_test.go
  e2e/client/01_client_test.go
  e2e/client/02_events_test.go
Due: client, cli

chore: bump zot to latest
  Taskfile.yml
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/zot-0.1.81.tgz
  install/charts/dir/apiserver/charts/zot-0.1.87.tgz
  server/go.mod
  server/go.sum
  server/sync/worker.go
  utils/go.mod
  utils/go.sum
  utils/zot/config.go
  utils/zot/config_test.go
  utils/zot/credentials.go
  utils/zot/credentials_test.go
Due: client, server, cli

fix: update apiserver admin policy to use dynamic username
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/values.yaml
Due: none

feat(dir/install): zot configuration and authentication in helm chart (#576)
  Taskfile.yml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/zot-config-pvc.yaml
  install/charts/dir/values.yaml
Due: none

chore: bump zot to latest (#578)
  Taskfile.yml
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/zot-0.1.81.tgz
  install/charts/dir/apiserver/charts/zot-0.1.87.tgz
  server/go.mod
  server/go.sum
  server/sync/worker.go
  utils/go.mod
  utils/go.sum
  utils/zot/config.go
  utils/zot/config_test.go
  utils/zot/credentials.go
  utils/zot/credentials_test.go
Due: client, server, cli

feat: add unit tests
  mcp/go.mod
  mcp/prompts/create_record_test.go
  mcp/prompts/push_record_test.go
  mcp/prompts/validate_record_test.go
  mcp/tools/get_schema_test.go
  mcp/tools/list_versions_test.go
  mcp/tools/validate_record_test.go
Due: none

feat: change prompts parameters
  mcp/README.md
  mcp/main.go
Due: none

feat: add panic recovery middleware and integrate it into server (#573)
  server/middleware/recovery/handler.go
  server/middleware/recovery/handler_test.go
  server/middleware/recovery/options.go
  server/middleware/recovery/server.go
  server/middleware/recovery/server_test.go
  server/server.go
Due: server

fix context handling and error propagation
  cli/cmd/root.go
  client/options.go
  e2e/client/01_client_test.go
  e2e/client/02_events_test.go
Due: client, cli

fix: go.mod
  mcp/go.mod
  mcp/go.sum
Due: none

ci: add glob npm
  .github/workflows/container-security-scan.yml
Due: none

ci: fix zot version
  .github/workflows/container-security-scan.yml
Due: none

fix(dir): bump zot version
  install/docker/docker-compose.yml
Due: none

ci(dir): fix zot version (#579)
  .github/workflows/container-security-scan.yml
  install/docker/docker-compose.yml
Due: none

feat(dir/server): implement simple health check server
  .gitignore
  server/go.mod
  server/go.sum
  server/healthcheck/healthcheck.go
  server/server.go
Due: server

feat(dir/server): add database readiness check
  server/database/sqlite/sqlite.go
  server/server.go
  server/types/database.go
Due: server

feat(dir/server): add readiness checks for sync and publication services
  server/publication/publication.go
  server/server.go
  server/sync/sync.go
Due: server

feat(dir): add push record tool (#574)
  e2e/mcp/01_protocol_test.go
  mcp/README.md
  mcp/go.mod
  mcp/go.sum
  mcp/main.go
  mcp/prompts/create_record.go
  mcp/prompts/create_record_test.go
  mcp/prompts/push_record.go
  mcp/prompts/push_record_test.go
  mcp/prompts/validate_record.go
  mcp/prompts/validate_record_test.go
  mcp/tools/get_schema_test.go
  mcp/tools/list_versions_test.go
  mcp/tools/push_record.go
  mcp/tools/validate_record_test.go
Due: none

feat(dir/server): add readiness checks for store service
  server/server.go
  server/store/cache/cache.go
  server/store/cache/cache_test.go
  server/store/eventswrap/eventswrap.go
  server/store/eventswrap/eventswrap_test.go
  server/store/oci/oci.go
  server/types/store.go
  utils/zot/zot.go
  utils/zot/zot_test.go
Due: server

feat(dir/server): add readiness checks for routing service
  server/routing/pubsub/manager.go
  server/routing/routing.go
  server/routing/routing_local_test.go
  server/routing/routing_remote.go
  server/server.go
  server/types/routing.go
Due: server

feat(dir/server): enhance health checks with initial delay and thresholds for apiserver
  install/charts/dir/apiserver/templates/deployment.yaml
Due: none

refactor(e2e/network): remove warm-up phase from network test suite
  e2e/network/network_suite_test.go
Due: none

refactor(e2e/network): update tests to use ShouldEventuallyContain for improved reliability
  e2e/network/01_deploy_test.go
  e2e/network/04_gossipsub_test.go
Due: none

chore(dir): update spire version in taskfile and security scan workflow
  .github/workflows/container-security-scan.yml
  Taskfile.yml
Due: none

test: add unit tests for health check functionality
  server/healthcheck/healthcheck.go
  server/healthcheck/healthcheck_test.go
Due: server

chore: add generated api
  hub/api/v1alpha1/record.pb.go
  hub/api/v1alpha1/record_dir_service.pb.go
  hub/api/v1alpha1/record_dir_service.pb.gw.go
  hub/api/v1alpha1/record_dir_service_grpc.pb.go
  hub/api/v1alpha1/record_hub_service.pb.go
  hub/api/v1alpha1/record_hub_service.pb.gw.go
  hub/api/v1alpha1/record_hub_service_grpc.pb.go
Due: none

add options unit tests
  client/go.mod
  client/options_test.go
  mcp/tools/push_record.go
Due: client

chore(dir): update spire version in taskfile and security scan workflow (#583)
  .github/workflows/container-security-scan.yml
  Taskfile.yml
Due: none

feat: refactor to use new apis
  hub/client/hub/client.go
  hub/cmd/hub.go
  hub/cmd/pull/pull.go
  hub/cmd/push/push.go
  hub/service/agent.go
Due: none

feat(dir): add comprehensive CodeQL security workflows for dir
  .github/workflows/codeql-quick-scan.yml
  .github/workflows/codeql.yml
Due: none

fix(dir): improve CodeQL Go build process to ensure code analysis
  .github/workflows/codeql-quick-scan.yml
  .github/workflows/codeql.yml
Due: none

fix(dir): simplify CodeQL Go build process using Task commands
  .github/workflows/codeql-quick-scan.yml
  .github/workflows/codeql.yml
Due: none

feat(dir): enhance CodeQL workflows with multi-language support
  .github/workflows/codeql-quick-scan.yml
  .github/workflows/codeql.yml
Due: none

fix(dir): use proven local build approach for CodeQL Go analysis
  .github/workflows/codeql-quick-scan.yml
  .github/workflows/codeql.yml
Due: none

fix(dir): simplify CodeQL Go build with direct package builds on actually building Go code that CodeQL can analyze
  .github/workflows/codeql.yml
Due: none

unify --output flag for cli commands
  cli/cmd/events/listen.go
  cli/cmd/routing/info.go
  cli/cmd/routing/search.go
  cli/cmd/sync/sync.go
  cli/presenter/output.go
  cli/presenter/output_test.go
  cli/presenter/presenter.go
  cli/presenter/presenter_test.go
Due: cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
