Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(dir): add ingest trigger
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/controller/store.go
  server/go.mod
  server/go.sum
  server/ingest/ingest.go
  server/ingest/ingest_test.go
  server/ingest/source.go
  server/ingest/source_test.go
  server/policy/config/config.go
  server/policy/engine.go
  server/policy/engine_test.go
  server/server.go
Due: server

feat(cli): track dirctl init's install in the manifest
  CHANGELOG.md
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/cmd/init/context.go
  cli/cmd/install/manifest.go
  cli/internal/agentinstall/record.go
  cli/internal/agentinstall/record_test.go
  cli/internal/dirpkg/dirpkg.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

feat(cli): dirctl install upgrade
  CHANGELOG.md
  cli/cmd/install/install.go
  cli/cmd/install/upgrade.go
  cli/cmd/install/upgrade_test.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/agentcfg/skill_folder_test.go
  cli/internal/agentinstall/orphan.go
  cli/internal/agentinstall/orphan_test.go
  cli/internal/agentinstall/record.go
  cli/internal/agentinstall/record_test.go
  cli/internal/agentinstall/upgrade_test.go
  cli/internal/pkgstate/pkgstate.go
  docs/content/dir/dir-cli-reference.md
Due: cli

feat(cli): resolve a bare name to the highest version
  CHANGELOG.md
  cli/util/reference/reference.go
  cli/util/reference/reference_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

fix(cli): honour --context when installing the built-in MCP entry
  CHANGELOG.md
  cli/cmd/init/agents.go
  cli/cmd/install/upgrade.go
  cli/cmd/root.go
  cli/config/config.go
  cli/internal/dirpkg/dirpkg.go
  cli/internal/dirpkg/dirpkg_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

docs(cli): correct the bare-name resolution in command help
  cli/cmd/info/info.go
  cli/cmd/naming/verify.go
  cli/cmd/pull/pull.go
  cli/util/reference/reference.go
Due: cli

fix(cli): say when an upgrade moves only the version
  cli/cmd/install/upgrade.go
  cli/cmd/install/upgrade_test.go
Due: cli

fix(cli): upgrade each row to the target it resolved to
  cli/cmd/install/upgrade.go
  cli/cmd/install/upgrade_test.go
Due: cli

fix(cli): project the OIDC audience into the MCP entry
  cli/internal/dirpkg/dirpkg.go
  cli/internal/dirpkg/dirpkg_test.go
Due: cli

fix(cli): init --remove clears what the rows record
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/cmd/install/manifest.go
  cli/internal/pkgstate/pkgstate.go
Due: cli

docs(cli): drop an orphan table header from the init section
  docs/content/dir/dir-cli-reference.md
Due: none

feat(cli/dir): dirctl install upgrade, builtin record tracking, and highest-version name resolution (#2156)
  CHANGELOG.md
  cli/cmd/info/info.go
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/cmd/init/context.go
  cli/cmd/install/install.go
  cli/cmd/install/manifest.go
  cli/cmd/install/upgrade.go
  cli/cmd/install/upgrade_test.go
  cli/cmd/naming/verify.go
  cli/cmd/pull/pull.go
  cli/cmd/root.go
  cli/config/config.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/agentcfg/skill_folder_test.go
  cli/internal/agentinstall/orphan.go
  cli/internal/agentinstall/orphan_test.go
  cli/internal/agentinstall/record.go
  cli/internal/agentinstall/record_test.go
  cli/internal/agentinstall/upgrade_test.go
  cli/internal/dirpkg/dirpkg.go
  cli/internal/dirpkg/dirpkg_test.go
  cli/internal/pkgstate/pkgstate.go
  cli/internal/pkgstate/pkgstate_test.go
  cli/util/reference/reference.go
  cli/util/reference/reference_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

chore(tests): remove duplicate dir-importer dependency
  tests/go.mod
Due: none

fix(api): satisfy catalog lint
  api/catalog/v1/catalog.go
Due: api

test(e2e): parse catalog wire data with SDK
  api/catalog/v1/catalog_test.go
  api/catalog/v1/models.pb.go
  proto/agntcy/dir/catalog/v1/models.proto
  server/gateway/static/_app/immutable/entry/app.BdcPpQFD.js
  server/gateway/static/_app/immutable/entry/app.BhLOuJw7.js
  server/gateway/static/_app/immutable/nodes/2.BhdK8VO4.js
  server/gateway/static/_app/immutable/nodes/2.DIl6rWWX.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
  tests/e2e/local/18_ai_catalog_sdk_test.go
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
Due: api, server

chore(github): add net.zenitheye/ to import records
  .github/workflows/scripts/import-records.json
Due: none

chore(dir): upgrade otlplog to v0.21.0
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

fix(e2e): align catalog SDK interface and fixtures
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  api/catalog/v1/models.pb.go
  proto/agntcy/dir/catalog/v1/models.proto
  tests/e2e/local/18_ai_catalog_sdk_test.go
  tests/e2e/shared/testdata/ai_catalog_projection_record.json
  tests/e2e/shared/testdata/embed.go
Due: api

chore(dir): upgrade otlplog to v0.21.0 (#2167)
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

test(e2e): normalize catalog trust metadata
  tests/e2e/local/18_ai_catalog_sdk_test.go
Due: none

chore(dir): bump postgres version in Docker Compose files
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

chore(dir): bump postgres version in Docker Compose files (#2168)
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

feat(ci): raise import matrix max-parallel to 3 (fixes #2047)
  .github/workflows/import-records.yaml
Due: none

feat(ci): raise import matrix max-parallel to 3 (fixes #2047) (#2075)
  .github/workflows/import-records.yaml
Due: none

test(e2e): validate AI Catalog endpoints with Go SDK (#2110)
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  api/catalog/v1/models.pb.go
  proto/agntcy/dir/catalog/v1/models.proto
  server/controller/ai_finder.go
  server/gateway/static/_app/immutable/entry/app.BdcPpQFD.js
  server/gateway/static/_app/immutable/entry/app.BhLOuJw7.js
  server/gateway/static/_app/immutable/nodes/2.BhdK8VO4.js
  server/gateway/static/_app/immutable/nodes/2.DIl6rWWX.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
  tests/e2e/local/18_ai_catalog_sdk_test.go
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
  tests/e2e/shared/testdata/ai_catalog_projection_record.json
  tests/e2e/shared/testdata/catalog_skill_record.json
  tests/e2e/shared/testdata/embed.go
  tests/go.mod
  tests/go.sum
Due: api, server

release(dir): prepare api release v1.7.1
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: client, server, cli

release(dir): prepare api release v1.7.1
  versions.yaml
Due: none

release(dir): prepare api release v1.7.1 (#2176)
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
  versions.yaml
Due: client, server, cli

fix(tests): point nl-search e2e guard at the extractor manifest path
  tests/e2e/local/15_nl_search_test.go
Due: none

fix(tests): delete the nl-search record in AfterAll to avoid leaking into the shared daemon
  tests/e2e/local/15_nl_search_test.go
Due: none

fix(tests): point nl-search e2e guard at the extractor manifest path (#2099)
  tests/e2e/local/15_nl_search_test.go
Due: none

release(dir): prepare server release v1.7.1
  cli/Dockerfile
  cli/go.mod
  cli/go.sum
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/gateway/ui/package-lock.json
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: server, cli

release(dir): prepare server release v1.7.1 (#2177)
  cli/Dockerfile
  cli/go.mod
  cli/go.sum
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/gateway/ui/package-lock.json
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: server, cli

chore(dir): update changelog and readme to v1.7.1
  CHANGELOG.md
  README.md
Due: none

chore(dir): update changelog and readme to v1.7.1 (#2178)
  CHANGELOG.md
  README.md
Due: none

chore: update brew formula version (#2179)
  HomebrewFormula/dirctl/v1/v1.7/dirctl@1.7.1.rb
Due: none

fix(routing): remote search missed peers matching other queries
  server/routing/constants.go
  server/routing/search_remote.go
  server/routing/search_remote_network_test.go
  server/routing/search_remote_test.go
Due: server
