Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat(api): add GetWellKnownCatalog RPC and HTTP endpoint for AI Catalog discovery
  api/catalog/v1/agent_finder_service.pb.go
  api/catalog/v1/agent_finder_service.pb.gw.go
  api/catalog/v1/agent_finder_service_grpc.pb.go
  docs/agent-finder-testing.md
  proto/agntcy/dir/catalog/v1/agent_finder_service.proto
  server/controller/agent_finder.go
  server/controller/agent_finder_wellknown.go
  server/database/gorm/catalog.go
  server/server.go
  server/types/catalog_media.go
Due: api, server

feat(cli): introduce the dirctl doctor network analyze command
  cli/cmd/doctor/api_checks.go
  cli/cmd/doctor/api_checks_test.go
  cli/cmd/doctor/bootstrap_checks.go
  cli/cmd/doctor/bootstrap_checks_test.go
  cli/cmd/doctor/config.go
  cli/cmd/doctor/config_test.go
  cli/cmd/doctor/dht_checks.go
  cli/cmd/doctor/dht_checks_test.go
  cli/cmd/doctor/doctor.go
  cli/cmd/doctor/doctor_test.go
  cli/cmd/doctor/output.go
  cli/cmd/doctor/output_test.go
  cli/cmd/doctor/types.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  client/config/config.go
  client/config/config_test.go
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  reconciler/tasks/regsync/credentials.go
  tests/go.mod
  tests/go.sum
Due: client, cli

fix: deps tidy
  cli/go.mod
Due: cli

feat(cli): introduce the dirctl doctor network diagnose command (#1515)
  cli/cmd/doctor/api_checks.go
  cli/cmd/doctor/api_checks_test.go
  cli/cmd/doctor/bootstrap_checks.go
  cli/cmd/doctor/bootstrap_checks_test.go
  cli/cmd/doctor/config.go
  cli/cmd/doctor/config_test.go
  cli/cmd/doctor/dht_checks.go
  cli/cmd/doctor/dht_checks_test.go
  cli/cmd/doctor/doctor.go
  cli/cmd/doctor/doctor_test.go
  cli/cmd/doctor/output.go
  cli/cmd/doctor/output_test.go
  cli/cmd/doctor/types.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  client/config/config.go
  client/config/config_test.go
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  reconciler/tasks/regsync/credentials.go
  tests/go.mod
  tests/go.sum
Due: client, cli

feat(signature): add Signature field to PerSignatureResult and update related functions for signature handling
  client/utils/verify/fetcher.go
  reconciler/tasks/signature/task.go
  server/database/gorm/catalog.go
  server/database/gorm/catalog_test.go
  server/database/gorm/signature.go
Due: client, server

feat(agent-finder): add mcp, a2a and skill examples
  client/utils/verify/fetcher.go
  docs/agent-finder/a2a/0-original-a2a.json
  docs/agent-finder/a2a/1-oasf-a2a.json
  docs/agent-finder/a2a/2-catalog-a2a.json
  docs/agent-finder/a2a/import-search-sign-verify-get.txt
  docs/agent-finder/mcp/0-original-mcp.json
  docs/agent-finder/mcp/1-oasf-mcp.json
  docs/agent-finder/mcp/2-calatog-mcp.json
  docs/agent-finder/mcp/sync-verify-get.txt
  docs/agent-finder/skill/0-skill.md
  docs/agent-finder/skill/1-oasf-skill.json
  docs/agent-finder/skill/2-catalog-skill.json
  docs/agent-finder/skill/import-search-sign-verify-get.txt
Due: client

feat(UI): add UI for browsing AI catalog
  server/gateway/gateway.go
  server/gateway/static/index.html
Due: server

feat(UI): add card details popup
  server/gateway/static/index.html
Due: server

style(UI): use Agntcy logo and colors
  server/gateway/static/index.html
Due: server

fix(agent-finder): normalize identity format in trust manifests
  docs/agent-finder/a2a/2-catalog-a2a.json
  docs/agent-finder/mcp/2-calatog-mcp.json
  docs/agent-finder/skill/2-catalog-skill.json
  server/database/gorm/signature.go
  server/database/gorm/signature_test.go
Due: server

feat(UI): better agent skill support
  server/gateway/static/index.html
Due: server

feat(UI): add dynamic sidebar height and tag search filter
  server/gateway/static/index.html
Due: server

fix(UI): fetch all entries, implement pagination
  server/gateway/static/index.html
Due: server

release(dir): prepare api release v1.4.0
  versions.yaml
Due: none

release(dir): prepare api release v1.4.0
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  server/go.mod
  tests/go.mod
Due: client, server, cli

fix(dir): handle mTLS healthchecks in e2e tests (#1550)
  tests/e2e/client/client_suite_test.go
  tests/e2e/daemon/daemon_suite_test.go
  tests/e2e/local/local_suite_test.go
  tests/e2e/network/network_suite_test.go
  tests/e2e/shared/utils/common.go
Due: none

docs(dir): update release document
  RELEASE.md
Due: none

release(dir): prepare api release v1.4.0 (#1551)
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  server/go.mod
  tests/go.mod
  versions.yaml
Due: client, server, cli

release(dir): prepare server release v1.4.0
  versions.yaml
Due: none

release(dir): prepare server release v1.4.0
  cli/go.mod
  reconciler/go.mod
  tests/go.mod
Due: cli

feat(UI): add verified badge and trust manifest details
  server/gateway/static/index.html
Due: server

feat(UI): add fake stats and improve detail view layout
  server/gateway/static/index.html
Due: server

feat(agent-finder): add GetAgent and ExportAgent methods to AgentFinderService
  api/catalog/v1/agent_finder_service.pb.go
  api/catalog/v1/agent_finder_service.pb.gw.go
  api/catalog/v1/agent_finder_service_grpc.pb.go
  api/exportfmt/a2a.go
  api/exportfmt/a2a_test.go
  api/exportfmt/batch.go
  api/exportfmt/batch_test.go
  api/exportfmt/exportfmt.go
  api/exportfmt/exportfmt_test.go
  api/exportfmt/mcp.go
  api/exportfmt/mcp_test.go
  api/exportfmt/oasf.go
  api/exportfmt/skill.go
  api/exportfmt/skill_test.go
  api/go.mod
  api/go.sum
  cli/cmd/export/export.go
  cli/cmd/export/format/format.go
  cli/cmd/export/format/format_test.go
  cli/go.mod
  docs/agent-finder-testing.md
  proto/agntcy/dir/catalog/v1/agent_finder_service.proto
  server/controller/agent_finder.go
  server/controller/agent_finder_test.go
  server/database/gorm/record.go
  server/gateway/gateway.go
  server/gateway/gateway_test.go
  server/go.mod
  server/server.go
  server/types/search.go
Due: api, server, cli

release(dir): prepare server release v1.4.0
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

docs: update dependencies
  RELEASE.md
Due: none

feat(UI): add status filter for trusted/verified agents
  server/gateway/static/index.html
Due: server

release(dir): prepare server release v1.4.0 (#1554)
  cli/go.mod
  cli/go.sum
  reconciler/go.mod
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: cli

feat(UI): add export download buttons to detail view
  server/gateway/static/index.html
Due: server

docs: update doc
  RELEASE.md
Due: none

docs(dir): update release document (#1552)
  RELEASE.md
Due: none

feat(ownership): add SPIFFE-based signing and signature verification
  api/ownership/v1/claim.pb.go
  api/ownership/v1/sign.go
  api/ownership/v1/sign_test.go
  cli/cmd/ownership/ownership.go
  proto/agntcy/dir/ownership/v1/claim.proto
  reconciler/tasks/ownership/config.go
  reconciler/tasks/ownership/task.go
  server/controller/store.go
  tests/e2e/local/14_ownership_signing_test.go
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/shared/utils/cli.go
  tests/e2e/shared/utils/sign.go
Due: api, server, cli

feat(dir): add ownership claim referrer, search, and CLI (v1)
  api/core/v1/referrer_types.go
  api/core/v1/rules.pb.go
  api/ownership/v1/claim.go
  api/ownership/v1/claim.pb.go
  api/search/v1/record_query.pb.go
  cli/cmd/daemon/config.go
  cli/cmd/ownership/ownership.go
  cli/cmd/root.go
  cli/cmd/search/filters.go
  proto/agntcy/dir/core/v1/rules.proto
  proto/agntcy/dir/ownership/v1/claim.proto
  proto/agntcy/dir/search/v1/record_query.proto
  proto/buf.gen.yaml
  reconciler/config/config.go
  reconciler/service/service.go
  reconciler/tasks/ownership/config.go
  reconciler/tasks/ownership/task.go
  reconciler/tasks/signature/task_test.go
  server/controller/store.go
  server/database/gorm/gorm.go
  server/database/gorm/record.go
  server/database/utils/utils.go
  server/store/oci/types.go
  server/types/database.go
  server/types/search.go
  tests/e2e/local/13_ownership_search_test.go
  tests/e2e/shared/utils/cli.go
Due: api, server, cli

fix(cli): completion context skip
  cli/cmd/root.go
  cli/cmd/root_test.go
Due: cli

fix(cli): completion context skip (#1566)
  cli/cmd/root.go
  cli/cmd/root_test.go
Due: cli

fix(dir): fix brew formula v1.4
  HomebrewFormula/dirctl/dirctl.rb
Due: none

fix(dir): fix brew formula v1.4 (#1567)
  HomebrewFormula/dirctl/dirctl.rb
Due: none

chore: update brew formula version (#1568)
  HomebrewFormula/dirctl/v1/v1.4/dirctl@1.4.0.rb
Due: none

chore(dir): revert fix brew formula v1.4 (#1567)
  HomebrewFormula/dirctl/dirctl.rb
Due: none

chore(dir): revert fix brew formula v1.4 (#1567) (#1569)
  HomebrewFormula/dirctl/dirctl.rb
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
