Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat: add CLI runner for trust ranking demo
  scripts/run_trust_ranking.py
Due: none

chore: make trust ranking ordering deterministic
  extensions/trust_ranking/reference_ranker.py
Due: none

docs: add root README framing for trust ranking PoC
  README.md
Due: none

docs: refine trust ranking reference and example output
  extensions/trust_ranking/REFERENCE.md
Due: none

docs: link trust ranking reference document
  README.md
Due: none

test: add basic unit tests for reference trust ranker
  extensions/trust_ranking/tests/test_reference_ranker.py
Due: none

feat(dir): add optional trust ranking reference extension
  README.md
  examples/directory_sample.json
  extensions/trust_ranking/README.md
  extensions/trust_ranking/REFERENCE.md
  extensions/trust_ranking/interface.py
  extensions/trust_ranking/reference_ranker.py
  extensions/trust_ranking/tests/test_reference_ranker.py
  scripts/run_trust_ranking.py
Due: none

chore(dir): minimize README changes
  README.md
  extensions/trust_ranking/README.md
Due: none

fix(example): update search method to searchCIDs in example.js
  sdk/examples/example-js/example.js
Due: none

feat(sdk): add example verification for Python and JavaScript SDKs in Taskfile.yml
  Taskfile.yml
Due: none

fix(example): update search request to use SearchCIDsRequest in Python example
  Taskfile.yml
  sdk/examples/example-py/example.py
Due: none

fix(dir/sdk): fix JS SDK example and add example validation to CI (#794)
  Taskfile.yml
  sdk/examples/example-js/example.js
  sdk/examples/example-py/example.py
Due: none

feat: set schema url via config only
  api/core/v1/record.go
  api/core/v1/record_test.go
  importer/enricher/mcphost.json
  install/charts/dir/values.yaml
  mcp/README.md
  mcp/server/server.go
  mcp/server/server_test.go
  mcp/tools/validate_record_test.go
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/server.go
  server/server_test.go
Due: api, server

chore: fix example records
  sdk/examples/example-js/example.js
  sdk/examples/example-py/example.py
Due: none

feat(dir/server): validation configuration (#785)
  api/core/v1/record.go
  api/core/v1/record_test.go
  importer/enricher/mcphost.json
  install/charts/dir/values.yaml
  mcp/README.md
  mcp/server/server.go
  mcp/server/server_test.go
  mcp/tools/validate_record_test.go
  sdk/examples/example-js/example.js
  sdk/examples/example-py/example.py
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/server.go
  server/server_test.go
Due: api, server

feat: validate -all in batches
  cli/cmd/validate/validate.go
Due: cli

feat: `-all` flag for `dirctl validate`
  cli/README.md
  cli/cmd/validate/options.go
  cli/cmd/validate/validate.go
  cli/cmd/validate/validate_test.go
Due: cli

chore: update readmes for `task server:start`
  README.md
  client/README.md
  sdk/dir-js/README.md
  sdk/dir-py/README.md
Due: client

feat(cli): add `validate` for local record validation
  cli/README.md
  cli/cmd/root.go
  cli/cmd/validate/options.go
  cli/cmd/validate/validate.go
  cli/cmd/validate/validate_test.go
Due: cli

push example
  Taskfile.yml
  examples/merkledag/client.go
  examples/merkledag/data.go
  examples/merkledag/go.mod
  examples/merkledag/go.sum
  examples/merkledag/main.go
  examples/merkledag/oci/README.md
  examples/merkledag/oci/registry.go
  examples/merkledag/oci/types.go
  examples/merkledag/oci/v1/domain.go
  examples/merkledag/oci/v1/handlers.go
  examples/merkledag/oci/v1/locator.go
  examples/merkledag/oci/v1/metadata.go
  examples/merkledag/oci/v1/module.go
  examples/merkledag/oci/v1/skill.go
  examples/merkledag/store/blobs/sha256/005639c26171f076dca448cfcf2302cae065307985fea6fc48c0919ca7ee6771
  examples/merkledag/store/blobs/sha256/013ddbb29c78fdda27d3201a81528fa1e2d3742955013d1f9b34af8d7d7ad7b8
  examples/merkledag/store/blobs/sha256/24ce8252d11427e38497f2b47195f12e182f760872c3e026037a694b33262fee
  examples/merkledag/store/blobs/sha256/3080b66404eb82e9a1db517b653f3ef895d218a01cbb0074fbd223e194ad6aa7
  examples/merkledag/store/blobs/sha256/953ab79ba1b219a3f17f99b5091cdc1fdbe5e89f7c67e75ae43b8e0e10e95c52
  examples/merkledag/store/blobs/sha256/c2f3a32f665e9e54bc283bb302615899348f829b71d0c410285f10d8bb29eb3c
  examples/merkledag/store/blobs/sha256/f2ba4553663d61cd4720acdabfd8961ea1d9898244e629d9a09c8d4c98f8fcd5
  examples/merkledag/store/index.json
  examples/merkledag/store/oci-layout
  examples/merkledag/testdata/pulled_record.json
  examples/merkledag/testdata/record_080.json
Due: none

feat: test validation with example records
  cli/cmd/validate/testdata/record_invalid.json
  cli/cmd/validate/testdata/record_valid.json
  cli/cmd/validate/testdata/record_valid_for_non_strict.json
  cli/cmd/validate/testdata/record_valid_for_schema.json
  cli/cmd/validate/validate_test.go
Due: cli

chore: remove NODE_AUTH_TOKEN from SDK release tasks and update workflow permissions
  .github/workflows/ci.yaml
  .github/workflows/reusable-release-sdk.yaml
  .github/workflows/reusable-release.yaml
  Taskfile.yml
  sdk/dir-js/.npmrc
Due: none

docs: update RELEASE.md to include manual SDK package publishing steps and clean up workflow configurations
  .github/workflows/ci.yaml
  .github/workflows/reusable-release-sdk.yaml
  .github/workflows/reusable-release.yaml
  RELEASE.md
  Taskfile.yml
Due: none

feat(server/config): add RegistryType support and default handling for OCI registry configuration
  server/config/config.go
  server/store/oci/config/config.go
Due: server

feat(server/store): enhance IsReady method to support generic OCI registries connectivity checks
  server/store/oci/oci.go
Due: server

refactor(server): rename zot verification methods to signature verification
  server/controller/sign.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/signatures.go
  server/types/store.go
Due: server

feat(server/store): update public key upload logic for Zot registry
  server/store/oci/referrers.go
  server/store/oci/signatures.go
Due: server

feat: remove --all, add input from stdin to dirctl validate
  cli/README.md
  cli/cmd/validate/options.go
  cli/cmd/validate/testdata/record_valid_for_non_strict.json
  cli/cmd/validate/validate.go
  cli/cmd/validate/validate_test.go
Due: cli

fix(server/store/oci): improve error handling during manifest deletion in remote repositories
  Taskfile.yml
  server/store/oci/internal.go
Due: server

feat(server/store/oci): add tested registry types
  server/store/oci/config/config.go
  server/store/oci/oci.go
  server/store/oci/signatures.go
Due: server

feat(server/store/oci): validate and log warnings for experimental registry types
  server/config/config_test.go
  server/store/oci/config/config.go
  server/store/oci/oci.go
Due: server

feat(gui): implement initial flutter dashboard with mcp integration
  .gitignore
  Taskfile.yml
  gui/.gitignore
  gui/.metadata
  gui/README.md
  gui/analysis_options.yaml
  gui/cors_proxy.py
  gui/lib/main.dart
  gui/lib/mcp/client.dart
  gui/lib/mcp/model.dart
  gui/lib/services/ai_service.dart
  gui/lib/services/gemini_wrapper.dart
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/widgets/record_card.dart
  gui/pubspec.lock
  gui/pubspec.yaml
  gui/test/mcp/client_test.dart
  gui/test/mcp_integration_test.dart
  gui/test/services/ai_service_test.dart
  gui/test/ui/chat_screen_test.dart
Due: none

chore(gui): remove cors_proxy.py and add macos build task
  Taskfile.yml
  gui/cors_proxy.py
Due: none

chore(gui): add copyright headers to flutter files
  gui/analysis_options.yaml
  gui/lib/main.dart
  gui/lib/mcp/client.dart
  gui/lib/mcp/model.dart
  gui/lib/services/ai_service.dart
  gui/lib/services/gemini_wrapper.dart
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/widgets/record_card.dart
  gui/pubspec.yaml
  gui/test/mcp/client_test.dart
  gui/test/mcp_integration_test.dart
  gui/test/services/ai_service_test.dart
  gui/test/ui/chat_screen_test.dart
Due: none

ci: use paths-ignore to skip full run on non-code changes
  .github/workflows/ci.yaml
Due: none

fix(gui): fix syntax errors and update tests for ApiService
  gui/.metadata
  gui/lib/mcp/client.dart
  gui/test/mcp/client_test.dart
  gui/test/services/ai_service_test.dart
  gui/test/ui/chat_screen_test.dart
Due: none

ci: use paths-ignore to skip full run on non-code changes (#806)
  .github/workflows/ci.yaml
Due: none

feat(release): migrate js sdk to npm trusted publishers and decouple sdk releases from ci (#800)
  .github/workflows/ci.yaml
  .github/workflows/reusable-release-sdk.yaml
  .github/workflows/reusable-release.yaml
  RELEASE.md
  Taskfile.yml
  sdk/dir-js/.npmrc
Due: none

feat(cli): dirctl validate (#793)
  README.md
  cli/README.md
  cli/cmd/root.go
  cli/cmd/validate/options.go
  cli/cmd/validate/testdata/record_invalid.json
  cli/cmd/validate/testdata/record_valid.json
  cli/cmd/validate/testdata/record_valid_for_non_strict.json
  cli/cmd/validate/testdata/record_valid_for_schema.json
  cli/cmd/validate/validate.go
  cli/cmd/validate/validate_test.go
  client/README.md
  sdk/dir-js/README.md
  sdk/dir-py/README.md
Due: client, cli

refactor: code review
  server/store/oci/internal.go
Due: server

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
