Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat(gateway): surface security scan results in the AI Finder UI (#1760)
  api/catalog/v1/catalog.go
  server/database/gorm/catalog.go
  server/database/gorm/record.go
  server/gateway/static/_app/immutable/assets/0.-ZFJDsCK.css
  server/gateway/static/_app/immutable/assets/0.Bh8mRVAR.css
  server/gateway/static/_app/immutable/chunks/B0kElV95.js
  server/gateway/static/_app/immutable/chunks/BBEufOfa.js
  server/gateway/static/_app/immutable/chunks/BpqAFKsC.js
  server/gateway/static/_app/immutable/chunks/BvF_8YFY.js
  server/gateway/static/_app/immutable/chunks/BzzQN20o.js
  server/gateway/static/_app/immutable/chunks/CFxqcZwB.js
  server/gateway/static/_app/immutable/chunks/CwQddPBI.js
  server/gateway/static/_app/immutable/chunks/D5OVXhOq.js
  server/gateway/static/_app/immutable/chunks/DIJHpNDS.js
  server/gateway/static/_app/immutable/chunks/Da3xB4LP.js
  server/gateway/static/_app/immutable/chunks/Dg6A3w0c.js
  server/gateway/static/_app/immutable/chunks/Dv8eJwHb.js
  server/gateway/static/_app/immutable/entry/app.DiJwkkG0.js
  server/gateway/static/_app/immutable/entry/app.F6WSXxLQ.js
  server/gateway/static/_app/immutable/entry/start.C53OMLnh.js
  server/gateway/static/_app/immutable/entry/start.CeNzErKI.js
  server/gateway/static/_app/immutable/nodes/0.DyW2xHcX.js
  server/gateway/static/_app/immutable/nodes/0.vPkGD6gi.js
  server/gateway/static/_app/immutable/nodes/1.DON0qOd7.js
  server/gateway/static/_app/immutable/nodes/1.U9C4-TLX.js
  server/gateway/static/_app/immutable/nodes/2.C-Nu7IFs.js
  server/gateway/static/_app/immutable/nodes/2.k5BMu-HB.js
  server/gateway/static/_app/immutable/nodes/3.D7sEmdfF.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/ScanBadge.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: api, server

feat(reconciler): provision scanner CLIs in image
  install/charts/dir/values.yaml
  install/docker/reconciler.env
  reconciler/Dockerfile
Due: none

docs: add scanner requirements
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-deployment-local.md
Due: none

feat(dir): expand MCP scanner coverage with yara/readiness and remote runner
  reconciler/tasks/scan/task.go
  server/database/gorm/scan.go
  utils/scanner/mcp.go
  utils/scanner/remote.go
  utils/scanner/remote_test.go
Due: server

test(dir): cover RemoteRunner exec paths, MCPRunner.Run, and scan task runner wiring
  reconciler/tasks/scan/task_test.go
  utils/scanner/fakecli_test.go
  utils/scanner/mcp_test.go
  utils/scanner/remote_test.go
  utils/scanner/testdata/fakecli/main.go
Due: none

fix(dir): read MCP connections/subfolder from module data directly
  utils/scanner/mcp.go
  utils/scanner/mcp_test.go
  utils/scanner/remote.go
  utils/scanner/remote_test.go
Due: none

feat(proto/search): add SORT_MODE_RELEVANCE and RECORD_QUERY_TYPE_FREE_TEXT
  api/search/v1/record_query.pb.go
  api/search/v1/search_service.pb.go
  proto/agntcy/dir/search/v1/record_query.proto
  proto/agntcy/dir/search/v1/search_service.proto
Due: none

feat(cli): seed a default local context in dirctl init
  cli/cmd/init/context.go
  cli/cmd/init/context_test.go
  cli/cmd/init/run.go
  client/config/config.go
  client/config/config_test.go
Due: client, cli

fix(config): atomic config writes; scope SaveContext doc to known sections
  client/config/config.go
  client/config/config_test.go
Due: client

feat(server/search): implement DESCRIPTION filter
  server/database/gorm/catalog.go
  server/database/gorm/record.go
  server/database/utils/utils.go
  server/types/search.go
Due: server

feat(search): add natural-language search to dirctl
  cli/cmd/search/nlsearch.go
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  cli/internal/nlsearch/decompose.go
  server/controller/search.go
Due: server, cli

feat(cli): seed a default local context in dirctl init (#1764)
  cli/cmd/init/context.go
  cli/cmd/init/context_test.go
  cli/cmd/init/run.go
  client/config/config.go
  client/config/config_test.go
Due: client, cli

feat: add mcp-claudecode export format for Claude Code (#1766)
  api/exportfmt/exportfmt.go
  api/exportfmt/exportfmt_test.go
  api/exportfmt/mcp_claudecode.go
  api/exportfmt/mcp_claudecode_test.go
  cli/cmd/export/batch.go
  cli/cmd/export/batch_mcp_claudecode.go
  cli/cmd/export/batch_mcp_claudecode_test.go
  cli/cmd/export/export.go
  cli/cmd/export/format_test.go
  cli/cmd/export/options.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
Due: api, cli

test(search): add e2e test for natural-language search
  .github/workflows/reusable-test-e2e.yaml
  tests/e2e/local/15_nl_search_test.go
  tests/e2e/shared/testdata/directory-record.json
  tests/e2e/shared/testdata/embed.go
  tests/modules/Taskfile.setup-dir-node.yml
Due: none

refactor(cli): solving dupl lint failures
  api/exportfmt/exportfmt_test.go
  cli/cmd/export/batch.go
  cli/cmd/export/batch_mcp_claudecode.go
  cli/cmd/export/batch_mcp_claudecode_test.go
  cli/cmd/export/batch_mcp_cursor.go
  cli/cmd/export/batch_mcp_cursor_test.go
  cli/cmd/export/batch_test.go
Due: api, cli

refactor(api): solving dupl lint errors
  api/exportfmt/mcp.go
  api/exportfmt/mcp_claudecode.go
  api/exportfmt/mcp_cursor.go
Due: api

chore(ci): disable daemon external test
  .github/workflows/reusable-test-e2e.yaml
Due: none

chore(ci): disable daemon external test (#1778)
  .github/workflows/reusable-test-e2e.yaml
Due: none

fix: comment failing test
  tests/e2e/daemon/01_daemon_test.go
Due: none

feat(dir): batch install
  api/exportfmt/exportfmt_test.go
  api/exportfmt/skill_bundle_extract.go
  api/exportfmt/tar_iterator.go
  cli/cmd/install/apply.go
  cli/cmd/install/apply_test.go
  cli/cmd/install/batch.go
  cli/cmd/install/batch_test.go
  cli/cmd/install/derive.go
  cli/cmd/install/derive_test.go
  cli/cmd/install/flags.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/options.go
  cli/cmd/install/uninstall.go
  cli/cmd/search/filters.go
  cli/internal/agentcfg/format_grouped.go
  cli/internal/agentcfg/format_grouped_test.go
  cli/internal/agentcfg/paths.go
  cli/internal/agentcfg/paths_test.go
  cli/internal/agentcfg/plan.go
  cli/internal/agentcfg/plan_test.go
  cli/internal/agentcfg/registry.go
  cli/internal/agentcfg/result.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/agentcfg/skill_engine_test.go
  cli/internal/agentcfg/summary.go
  cli/internal/agentcfg/summary_test.go
  cli/util/records/records.go
  cli/util/records/records_test.go
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
Due: api, cli

feat(dir): add mcp-cursor export format (#1767)
  api/exportfmt/exportfmt.go
  api/exportfmt/exportfmt_test.go
  api/exportfmt/mcp.go
  api/exportfmt/mcp_claudecode.go
  api/exportfmt/mcp_cursor.go
  api/exportfmt/mcp_cursor_test.go
  cli/cmd/export/batch.go
  cli/cmd/export/batch_mcp_claudecode.go
  cli/cmd/export/batch_mcp_cursor.go
  cli/cmd/export/batch_mcp_cursor_test.go
  cli/cmd/export/batch_test.go
  cli/cmd/export/export.go
  cli/cmd/export/format_test.go
  cli/cmd/export/options.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
Due: api, cli

feat(search): add natural-language query support to dirctl search and SearchService (#1770)
  .github/workflows/reusable-test-e2e.yaml
  api/search/v1/record_query.pb.go
  api/search/v1/search_service.pb.go
  cli/cmd/search/nlsearch.go
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  cli/internal/nlsearch/decompose.go
  proto/agntcy/dir/search/v1/record_query.proto
  proto/agntcy/dir/search/v1/search_service.proto
  server/controller/search.go
  server/database/gorm/catalog.go
  server/database/gorm/record.go
  server/database/utils/utils.go
  server/types/search.go
  tests/e2e/daemon/01_daemon_test.go
  tests/e2e/local/15_nl_search_test.go
  tests/e2e/shared/testdata/directory-record.json
  tests/e2e/shared/testdata/embed.go
  tests/modules/Taskfile.setup-dir-node.yml
Due: server, cli

feat(dir): batch install (#1763)
  api/exportfmt/exportfmt_test.go
  api/exportfmt/skill_bundle_extract.go
  api/exportfmt/tar_iterator.go
  cli/cmd/install/apply.go
  cli/cmd/install/apply_test.go
  cli/cmd/install/batch.go
  cli/cmd/install/batch_test.go
  cli/cmd/install/derive.go
  cli/cmd/install/derive_test.go
  cli/cmd/install/flags.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/install/options.go
  cli/cmd/install/uninstall.go
  cli/cmd/search/filters.go
  cli/internal/agentcfg/format_grouped.go
  cli/internal/agentcfg/format_grouped_test.go
  cli/internal/agentcfg/paths.go
  cli/internal/agentcfg/paths_test.go
  cli/internal/agentcfg/plan.go
  cli/internal/agentcfg/plan_test.go
  cli/internal/agentcfg/registry.go
  cli/internal/agentcfg/result.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/agentcfg/skill_engine_test.go
  cli/internal/agentcfg/summary.go
  cli/internal/agentcfg/summary_test.go
  cli/util/records/records.go
  cli/util/records/records_test.go
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
Due: api, cli

chore: adding community section
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

feat(reconciler): bundle scanners in image and document scan task setup (#1773)
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-deployment-local.md
  install/charts/dir/values.yaml
  install/docker/reconciler.env
  reconciler/Dockerfile
Due: none

chore: gh widget
  .gitignore
  docs/content/index.md
  docs/content/javascripts/dir-repobeats-data.js
  docs/content/javascripts/dir-repobeats.js
  docs/content/stylesheets/dir-landing.css
  docs/mkdocs/hooks.py
  docs/mkdocs/mkdocs.yml
Due: none

chore: banner community button
  docs/content/index.md
Due: none

feat(search): tweak minimum taxonomy score
  cli/internal/nlsearch/decompose.go
Due: cli

feat(search): nl routing search
  cli/cmd/routing/nlsearch.go
  cli/cmd/routing/search.go
Due: cli

fix: verify
  proto/buf.lock
Due: none

refactor: hide extractor debug logs
  cli/internal/extractor/load.go
Due: cli

chore(docs): community section in the main page (#1782)
  .gitignore
  docs/content/index.md
  docs/content/javascripts/dir-repobeats-data.js
  docs/content/javascripts/dir-repobeats.js
  docs/content/stylesheets/dir-landing.css
  docs/mkdocs/hooks.py
  docs/mkdocs/mkdocs.yml
Due: none

chore(dir): update buf.lock
  proto/buf.lock
Due: none

chore(dir): update buf.lock (#1784)
  proto/buf.lock
Due: none

ci(codeql): use official taskfile action
  .github/workflows/codeql.yml
Due: none

fix(dir): update oasf tests after v1.1.0 release
  server/skill/skill.go
  tests/test_utils/oasf_100.go
Due: server

fix(dir): update all oasf component
  tests/integration/server/push_test.go
  tests/test_utils/gofakeit.go
  tests/test_utils/oasf_110.go
Due: none

fix(dir): update oasf test skill values (#1785)
  server/skill/skill.go
  tests/integration/server/push_test.go
  tests/test_utils/gofakeit.go
  tests/test_utils/oasf_110.go
Due: server

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
