Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(client): add identity.v1 claim signing and verification
  api/identity/v1/claim.go
  api/identity/v1/claim_test.go
  client/go.mod
  client/go.sum
  client/utils/identity/sign.go
  client/utils/identity/sign_verify_test.go
  client/utils/identity/verify.go
  client/utils/jws/jws.go
  client/utils/jws/jws_test.go
  client/utils/jws/signer.go
Due: api, client

fix(client): address review feedback on claim signing
  client/utils/identity/sign.go
  client/utils/identity/sign_verify_test.go
  client/utils/jws/jws_test.go
  client/utils/jws/signer.go
Due: client

fix(tests): match timeout status code in event stream timeout test
  tests/e2e/client/02_events_test.go
Due: none

fix(tests): match timeout status code in event stream timeout test (#2255)
  tests/e2e/client/02_events_test.go
Due: none

feat(client): add identity.v1 claim signing and verification (#2223)
  api/identity/v1/claim.go
  api/identity/v1/claim_test.go
  client/go.mod
  client/go.sum
  client/utils/identity/sign.go
  client/utils/identity/sign_verify_test.go
  client/utils/identity/verify.go
  client/utils/jws/jws.go
  client/utils/jws/jws_test.go
  client/utils/jws/signer.go
Due: api, client

test(client): merge claimtest into testutil
  client/utils/identity/resolvers/did/did_test.go
  client/utils/identity/resolvers/dns/dns_test.go
  client/utils/identity/resolvers/internal/claimtest/claimtest.go
  client/utils/identity/resolvers/spiffe/spiffe_test.go
  client/utils/identity/resolvers/wellknown/wellknown_test.go
  client/utils/identity/sign_verify_test.go
  client/utils/internal/testutil/testutil.go
  client/utils/jws/jws_test.go
  client/utils/jws/keys_test.go
Due: client

feat(client): add identity key resolvers and safefetch
  client/go.mod
  client/utils/identity/resolvers/did.go
  client/utils/identity/resolvers/did_test.go
  client/utils/identity/resolvers/dns.go
  client/utils/identity/resolvers/dns_test.go
  client/utils/identity/resolvers/e2e_test.go
  client/utils/identity/resolvers/resolvers.go
  client/utils/identity/resolvers/resolvers_test.go
  client/utils/identity/resolvers/spiffe.go
  client/utils/identity/resolvers/spiffe_test.go
  client/utils/identity/resolvers/wellknown.go
  client/utils/identity/resolvers/wellknown_test.go
  utils/safefetch/fetch.go
  utils/safefetch/fetch_test.go
Due: client

test(client): share crypto fixtures across jws, identity and resolvers
  client/utils/identity/resolvers/did/did_test.go
  client/utils/identity/resolvers/dns/dns_test.go
  client/utils/identity/resolvers/e2e_test.go
  client/utils/identity/resolvers/internal/claimtest/claimtest.go
  client/utils/identity/resolvers/internal/testutil/testutil.go
  client/utils/identity/resolvers/spiffe/spiffe_test.go
  client/utils/identity/resolvers/wellknown/wellknown_test.go
  client/utils/identity/sign_verify_test.go
  client/utils/internal/testutil/testutil.go
  client/utils/jws/jws_test.go
  client/utils/jws/keys_test.go
Due: client

refactor(client): move key helpers into jws and drop the shared keyutil
  client/utils/identity/resolvers/did/did.go
  client/utils/identity/resolvers/dns/dns.go
  client/utils/identity/resolvers/dns/dns_test.go
  client/utils/identity/resolvers/internal/keyutil/keyutil.go
  client/utils/identity/resolvers/spiffe/spiffe.go
  client/utils/identity/resolvers/wellknown/wellknown.go
  client/utils/jws/keys.go
  client/utils/jws/keys_test.go
Due: client

refactor(client): split identity resolvers into one package per scheme
  client/utils/identity/resolvers/did/did.go
  client/utils/identity/resolvers/did/did_test.go
  client/utils/identity/resolvers/dns/dns.go
  client/utils/identity/resolvers/dns/dns_test.go
  client/utils/identity/resolvers/e2e_test.go
  client/utils/identity/resolvers/internal/keyutil/keyutil.go
  client/utils/identity/resolvers/internal/testutil/testutil.go
  client/utils/identity/resolvers/resolvers.go
  client/utils/identity/resolvers/resolvers_test.go
  client/utils/identity/resolvers/spiffe/spiffe.go
  client/utils/identity/resolvers/spiffe/spiffe_test.go
  client/utils/identity/resolvers/spiffe_test.go
  client/utils/identity/resolvers/wellknown/wellknown.go
  client/utils/identity/resolvers/wellknown/wellknown_test.go
Due: client

fix(client): address review feedback on identity resolvers
  client/utils/identity/resolvers/did/did.go
  client/utils/identity/resolvers/did/did_test.go
  client/utils/jws/jws.go
  client/utils/jws/jws_test.go
  client/utils/jws/keys.go
  client/utils/jws/keys_test.go
  utils/safefetch/fetch.go
  utils/safefetch/fetch_test.go
Due: client

fix(client): address second round of review feedback on resolvers
  client/utils/identity/resolvers/did/did.go
  client/utils/identity/resolvers/did/did_test.go
  client/utils/jws/jws.go
  client/utils/jws/jws_test.go
  client/utils/jws/keys_test.go
  utils/safefetch/fetch.go
  utils/safefetch/fetch_test.go
Due: client

test(client): build the small RSA fixture from primes
  client/utils/internal/testutil/testutil.go
Due: client

Revert "test(client): build the small RSA fixture from primes"
  client/utils/internal/testutil/testutil.go
Due: client

feat(client): add identity key resolvers and safefetch (#2242)
  client/go.mod
  client/utils/identity/resolvers/did/did.go
  client/utils/identity/resolvers/did/did_test.go
  client/utils/identity/resolvers/dns/dns.go
  client/utils/identity/resolvers/dns/dns_test.go
  client/utils/identity/resolvers/resolvers.go
  client/utils/identity/resolvers/spiffe/spiffe.go
  client/utils/identity/resolvers/spiffe/spiffe_test.go
  client/utils/identity/resolvers/wellknown/wellknown.go
  client/utils/identity/resolvers/wellknown/wellknown_test.go
  client/utils/identity/sign_verify_test.go
  client/utils/internal/testutil/testutil.go
  client/utils/jws/jws.go
  client/utils/jws/jws_test.go
  client/utils/jws/keys.go
  client/utils/jws/keys_test.go
  utils/safefetch/fetch.go
  utils/safefetch/fetch_test.go
Due: client

feat(cli): read Sigstore sign/verify settings from client context
  cli/cmd/import/import.go
  cli/cmd/push/push.go
  cli/cmd/sign/options.go
  cli/cmd/sign/options_test.go
  cli/cmd/sign/sign.go
  cli/cmd/sign/sign_test.go
  cli/cmd/verify/options.go
  cli/cmd/verify/options_test.go
  cli/cmd/verify/verify.go
  cli/config/sigstore.go
  client/config/config.go
  client/config/config_test.go
  client/config/sigstore.go
  client/config/sigstore_test.go
  docs/content/dir/dir-cli-reference.md
Due: client, cli

fix(client): disable gRPC service config resolution
  client/client.go
Due: client

fix(client): disable gRPC service config resolution (#2269)
  client/client.go
Due: client

refactor(search): drop claim exclusion and the false verified forms
  api/search/v1/record_query.pb.go
  cli/cmd/search/filters.go
  cli/cmd/search/filters_test.go
  cli/cmd/search/search.go
  docs/content/dir/dir-cli-reference.md
  proto/agntcy/dir/search/v1/record_query.proto
  server/database/gorm/identity_claims.go
  server/database/identity_claims_test.go
  server/database/utils/utils.go
  server/database/utils/utils_test.go
  server/types/search.go
Due: server, cli

fix(server): address review of the claims API
  server/controller/identity.go
  server/controller/identity_test.go
  server/database/gorm/identity_claims.go
  server/database/gorm/identity_claims_test.go
  server/database/gorm/migration.go
  server/types/search.go
Due: server

refactor(server): keep IdentityService independent of NamingService
  server/controller/identity.go
  server/controller/naming.go
Due: server

revert(server): drop the LOWER(subject) index
  server/database/gorm/identity_claims.go
  server/database/gorm/identity_claims_test.go
  server/database/gorm/migration.go
Due: server

feat(server): add claims storage, identity status API and claim search filters
  api/identity/v1/identity_service.pb.go
  api/identity/v1/identity_service_grpc.pb.go
  api/search/v1/record_query.pb.go
  cli/cmd/search/filters.go
  cli/cmd/search/filters_test.go
  cli/cmd/search/search.go
  docs/content/dir/dir-cli-reference.md
  proto/agntcy/dir/identity/v1/identity_service.proto
  proto/agntcy/dir/search/v1/record_query.proto
  reconciler/tasks/signature/task_test.go
  server/controller/identity.go
  server/controller/identity_test.go
  server/controller/naming.go
  server/database/gorm/identity_claims.go
  server/database/gorm/migration.go
  server/database/gorm/record.go
  server/database/identity_claims_test.go
  server/database/utils/utils.go
  server/database/utils/utils_test.go
  server/server.go
  server/types/database.go
  server/types/identity.go
  server/types/search.go
Due: server, cli

fix(client): satisfy the linter in New
  client/client.go
Due: client

test(e2e): enable the identity task in the external daemon environment
  tests/e2e/daemon/04_identity_verification_test.go
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
Due: none

fix(reconciler): harden the identity task
  reconciler/tasks/identity/resolve.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
  utils/safefetch/fetch.go
Due: none

test(e2e): cover claim verification end to end
  tests/e2e/daemon/04_identity_verification_test.go
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/21_identity_test.go
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
Due: none

feat(reconciler): add identity claim verification task
  cli/cmd/daemon/daemon.config.yaml
  client/utils/identity/sign_verify_test.go
  client/utils/identity/verify.go
  docs/content/dir/dir-cli-reference.md
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/go.mod
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/identity/config.go
  reconciler/tasks/identity/resolve.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
  reconciler/tasks/signature/task_test.go
  server/database/gorm/identity_claims.go
  server/database/identity_claims_test.go
  server/types/database.go
  tests/e2e/daemon/04_identity_verification_test.go
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/go.mod
Due: client, server, cli

refactor(reconciler): key the resolver cache by an OCI digest
  reconciler/tasks/identity/resolve.go
Due: none

test(e2e): cover verified owners in search and the AI Finder
  tests/e2e/local/21_identity_test.go
Due: none

test(e2e): an unknown CID has no identity status
  tests/e2e/daemon/03_identity_test.go
Due: none

refactor(client,cli): load the claim subject from the record annotations
  cli/cmd/identity/claim.go
  cli/cmd/identity/identity.go
  cli/cmd/identity/identity_test.go
  client/go.mod
  client/identity.go
  client/identity_test.go
  docs/content/dir/dir-cli-reference.md
  tests/e2e/daemon/03_identity_test.go
  tests/e2e/local/21_identity_test.go
Due: client, cli

fix(client,cli): address review of the identity commands
  cli/cmd/identity/identity_test.go
  cli/cmd/identity/resolve.go
  cli/cmd/identity/status.go
  client/identity.go
  client/identity_test.go
Due: client, cli

feat(client): add identity SDK and dirctl identity commands
  api/core/v1/rules.pb.go
  cli/cmd/identity/claim.go
  cli/cmd/identity/identity.go
  cli/cmd/identity/identity_test.go
  cli/cmd/identity/resolve.go
  cli/cmd/identity/signer.go
  cli/cmd/identity/status.go
  cli/cmd/root.go
  cli/go.mod
  client/client.go
  client/identity.go
  client/identity_test.go
  docs/content/dir/dir-cli-reference.md
  proto/agntcy/dir/core/v1/rules.proto
  tests/e2e/daemon/03_identity_test.go
  tests/e2e/local/21_identity_test.go
Due: client, cli

fix(reconciler,client): address review of the identity task
  client/utils/identity/resolvers/spiffe/spiffe.go
  client/utils/identity/resolvers/spiffe/spiffe_test.go
  client/utils/identity/sign_verify_test.go
  client/utils/identity/verify.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
  tests/e2e/daemon/04_identity_verification_test.go
Due: client

chore(deps): bump brace-expansion to 5.0.12 [security]
  server/gateway/ui/package-lock.json
Due: server

feat(server): add claims storage, identity status API and claim search filters (#2257)
  api/identity/v1/identity_service.pb.go
  api/identity/v1/identity_service_grpc.pb.go
  api/search/v1/record_query.pb.go
  cli/cmd/search/filters.go
  cli/cmd/search/filters_test.go
  cli/cmd/search/search.go
  client/client.go
  docs/content/dir/dir-cli-reference.md
  proto/agntcy/dir/identity/v1/identity_service.proto
  proto/agntcy/dir/search/v1/record_query.proto
  reconciler/tasks/signature/task_test.go
  server/controller/identity.go
  server/controller/identity_test.go
  server/database/gorm/identity_claims.go
  server/database/gorm/migration.go
  server/database/gorm/record.go
  server/database/identity_claims_test.go
  server/database/utils/utils.go
  server/database/utils/utils_test.go
  server/server.go
  server/types/database.go
  server/types/identity.go
  server/types/search.go
Due: client, server, cli

feat(client): add identity SDK and dirctl identity commands (#2261)
  api/core/v1/rules.pb.go
  cli/cmd/identity/claim.go
  cli/cmd/identity/identity.go
  cli/cmd/identity/identity_test.go
  cli/cmd/identity/resolve.go
  cli/cmd/identity/signer.go
  cli/cmd/identity/status.go
  cli/cmd/root.go
  cli/go.mod
  client/client.go
  client/go.mod
  client/identity.go
  client/identity_test.go
  docs/content/dir/dir-cli-reference.md
  proto/agntcy/dir/core/v1/rules.proto
  tests/e2e/daemon/03_identity_test.go
  tests/e2e/local/21_identity_test.go
Due: client, cli
