Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

chore(dir): pin down mcphost pkg deps as newer are broken
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
Due: cli

chore(dir): update security scan image versions
  .github/workflows/container-security-scan.yml
Due: none

chore(dir): update docker compose zot version
  install/docker/docker-compose.yml
Due: none

fix(dir): licensei violation
  .licensei.toml
Due: none

chore(dir): fix quic vuln
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  server/routing/handler.go
  server/routing/internal/p2p/options.go
  server/routing/routing_remote.go
  utils/go.mod
  utils/go.sum
Due: client, server, cli

fix(sdk): add secure temporary file creation
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/client/client.ts
  sdk/examples/example-js/package-lock.json
Due: none

fix(sdk): use sanatized command for execution
  sdk/dir-js/test/client.test.ts
Due: none

fix(sdk): remove unused import module
  sdk/examples/example-py/example.py
Due: none

fix(docs): use only explicit return
  docs/research/integrations/importer.py
Due: none

fix: go.mod tidy
  auth/authprovider/go.mod
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  cli/go.sum
  client/go.mod
Due: client, cli

chore(dir): fix security issues (#821)
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  docs/research/integrations/importer.py
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/test/client.test.ts
  sdk/examples/example-js/package-lock.json
  sdk/examples/example-py/example.py
  server/go.mod
  server/go.sum
  server/routing/handler.go
  server/routing/internal/p2p/options.go
  server/routing/routing_remote.go
  utils/go.mod
  utils/go.sum
Due: client, server, cli

fix: linter errors
  auth/cmd/envoy-authz/test/mock-directory.go
  cli/cmd/auth/login.go
  client/oauth_device.go
  client/oauth_web.go
  client/options.go
  client/token_cache.go
Due: client, cli

fix: chart lock
  install/charts/dir/apiserver/Chart.lock
Due: none

feat: add client unit tests
  client/github_test.go
  client/options_test.go
  client/token_cache_test.go
Due: client

feat: add unit tests for device and web flows
  client/oauth_device_test.go
  client/oauth_web_test.go
Due: client

chore: update golang to 1.25.6 in dockerfiles
  auth/cmd/envoy-authz/Dockerfile
  auth/cmd/envoy-authz/test/Dockerfile.mock
Due: none

feat: Add DID Auth support
  server/authn/config/config.go
  server/authn/crypto.go
  server/authn/did.go
  server/authn/service.go
  server/go.mod
  server/go.sum
Due: server

fix(sdk): update python packages
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-py/uv.lock
Due: none

refactor: keep only GitHub provider now
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/envoy-authz/Chart.yaml
  install/charts/envoy-authz/templates/configmap-authz.yaml
  install/charts/envoy-authz/values.yaml
Due: none

fix(sdk): update python packages (#824)
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-py/uv.lock
Due: none

fix: unit tests with oasf-server v0.7.3, v0.8.2 update
  cli/cmd/validate/testdata/record_valid_for_non_strict.json
  cli/cmd/validate/validate_test.go
Due: cli

fix: disabling API validation temporarily in e2e tests
  Taskfile.yml
Due: none

fix(cli): unit tests with oasf-server update (#827)
  Taskfile.yml
  cli/cmd/validate/testdata/record_valid_for_non_strict.json
  cli/cmd/validate/validate_test.go
Due: cli

feat: record name reverification initial commit
  api/core/v1/referrer_types.go
  api/naming/v1/name_verification.go
  cli/cmd/naming/verify.go
  server/config/config.go
  server/config/config_test.go
  server/controller/naming.go
  server/database/sqlite/name_verification.go
  server/database/sqlite/sqlite.go
  server/naming/config/config.go
  server/naming/provider.go
  server/naming/types.go
  server/reverification/config/config.go
  server/reverification/scheduler.go
  server/reverification/service.go
  server/reverification/types/types.go
  server/reverification/worker.go
  server/server.go
  server/store/config/config.go
  server/store/oci/types.go
  server/types/adapters/record.go
  server/types/database.go
  server/types/name_verification.go
Due: api, server, cli

fix: linter
  server/config/config.go
  server/database/sqlite/name_verification.go
  server/reverification/service.go
Due: server

format
  server/authn/crypto.go
  server/authn/did.go
  server/authn/service.go
Due: server

Add did auth mode in dir-js
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/client/did.ts
Due: none

refactor: address PR comments
  server/controller/naming.go
  server/database/sqlite/naming.go
  server/reverification/config/config.go
  server/reverification/worker.go
  server/types/adapters/record.go
Due: server

fix: review comments
  cli/README.md
  cli/cmd/auth/login.go
Due: cli

refactor: move dirctl naming check logic to dirctl naming verify command
  cli/cmd/naming/check.go
  cli/cmd/naming/naming.go
  cli/cmd/naming/verify.go
Due: cli

fix(dir): updating nested dependencies for dir chart
  .github/workflows/reusable-release-helm.yaml
Due: none

refactor: remove name verification triggering from client
  cli/cmd/sign/sign.go
  client/naming.go
  proto/agntcy/dir/naming/v1/naming_service.proto
  server/controller/naming.go
  server/controller/store.go
  server/database/sqlite/naming.go
  server/database/sqlite/record.go
  server/reverification/scheduler.go
  server/reverification/types/types.go
  server/reverification/worker.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/referrers.go
  server/types/database.go
  server/types/store.go
Due: client, server, cli

fix: run task gen
  api/naming/v1/naming_service.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
Due: none

fix: change DB struct
  cli/cmd/naming/naming.go
  server/controller/store.go
  server/database/sqlite/naming.go
  server/database/sqlite/record.go
  server/reverification/scheduler.go
  server/reverification/types/types.go
  server/reverification/worker.go
  server/types/database.go
Due: server, cli

refactor: remove comment
  cli/cmd/sign/sign.go
Due: cli

fix(cli): set tls with cert virification
  client/options.go
Due: client

refactor: revert some dead code
  server/controller/store.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/referrers.go
  server/types/store.go
Due: server

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
