Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

fix(cli): local registry default port fix
  api/store/v1/sync_service.pb.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  proto/agntcy/dir/store/v1/sync_service.proto
  server/store/oci/config/config.go
  server/store/oci/config/config_test.go
  server/store/oci/oci_test.go
Due: server, cli

fix(cli): skip auth for local commands (#1471)
  cli/cmd/root.go
  cli/cmd/root_test.go
Due: cli

fix(cli): local registry default port fix (#1473)
  api/store/v1/sync_service.pb.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  proto/agntcy/dir/store/v1/sync_service.proto
  server/store/oci/config/config.go
  server/store/oci/config/config_test.go
  server/store/oci/oci_test.go
Due: server, cli

feat(dir): add integration tests for server
  .github/workflows/reusable-test-e2e.yaml
  Taskfile.deps.yml
  Taskfile.vars.yml
  server/config/config.go
  server/database/database.go
  server/server.go
  tests/Taskfile.yml
  tests/go.mod
  tests/go.sum
  tests/integration/README.md
  tests/integration/server/README.md
  tests/integration/server/integration_server_suite_test.go
  tests/integration/server/push_test.go
  tests/integration/server/setup.go
  tests/integration/server/testenv/Taskfile.testenv.yml
  tests/integration/server/testenv/docker-compose.yml
  tests/integration/server/testenv/test-config.yaml
  tests/test_utils/gofakeit.go
  tests/test_utils/oasf_100.go
Due: server

feat(dir): add integration tests for server (#1093)
  .github/workflows/reusable-test-e2e.yaml
  Taskfile.deps.yml
  Taskfile.vars.yml
  server/config/config.go
  server/database/database.go
  server/server.go
  tests/Taskfile.yml
  tests/go.mod
  tests/go.sum
  tests/integration/README.md
  tests/integration/server/README.md
  tests/integration/server/integration_server_suite_test.go
  tests/integration/server/push_test.go
  tests/integration/server/setup.go
  tests/integration/server/testenv/Taskfile.testenv.yml
  tests/integration/server/testenv/docker-compose.yml
  tests/integration/server/testenv/test-config.yaml
  tests/test_utils/gofakeit.go
  tests/test_utils/oasf_100.go
Due: server

docs(helm): clarify auto-resolve behavior in chart values comments
  install/charts/dir/values.yaml
Due: none

feat(dir): add ownership claim referrer, search, and CLI (v1)
  api/core/v1/referrer_types.go
  api/core/v1/rules.pb.go
  api/ownership/v1/claim.go
  api/ownership/v1/claim.pb.go
  api/search/v1/record_query.pb.go
  cli/cmd/ownership/ownership.go
  cli/cmd/root.go
  cli/cmd/search/filters.go
  proto/agntcy/dir/core/v1/rules.proto
  proto/agntcy/dir/ownership/v1/claim.proto
  proto/agntcy/dir/search/v1/record_query.proto
  reconciler/config/config.go
  reconciler/service/service.go
  reconciler/tasks/ownership/config.go
  reconciler/tasks/ownership/task.go
  reconciler/tasks/signature/task_test.go
  server/controller/store.go
  server/database/gorm/gorm.go
  server/database/gorm/record.go
  server/database/utils/utils.go
  server/store/oci/types.go
  server/types/database.go
  server/types/search.go
  tests/e2e/local/14_ownership_search_test.go
  tests/e2e/shared/utils/cli.go
Due: api, server, cli

test: fix naming test
  tests/e2e/local/09_naming_test.go
  tests/e2e/local/config/config.go
  tests/e2e/local/testenv/kind/Taskfile.testenv.yml
  tests/e2e/local/testenv/kind/test-config.yaml
  tests/e2e/local/testenv/local/docker-compose.yaml
  tests/e2e/local/testenv/local/test-config.yaml
Due: none

feat: client config resolver
  client/config/config.go
  client/config/config_test.go
Due: client

feat: wire context resolution into cli
  cli/cmd/options.go
  cli/cmd/root.go
  cli/cmd/root_test.go
  cli/config/config.go
Due: cli

feat: add cli context commands
  cli/cmd/context/context.go
  cli/cmd/context/context_test.go
  cli/cmd/context/current.go
  cli/cmd/context/list.go
  cli/cmd/context/set.go
  cli/cmd/context/show.go
  cli/cmd/context/validate.go
  cli/cmd/root.go
  cli/cmd/root_test.go
  cli/config/config.go
  client/config/config.go
  client/config/config_test.go
Due: client, cli

feat: add pompt and status integration
  cli/cmd/context/context.go
  cli/cmd/context/context_test.go
  cli/cmd/context/current.go
  cli/cmd/context/show.go
  cli/cmd/root_test.go
  client/config/config.go
  client/config/config_test.go
Due: client, cli

feat: add auth and token handling
  cli/cmd/auth/auth.go
  cli/cmd/auth/status_logout_test.go
  cli/cmd/context/context_test.go
  cli/cmd/context/show.go
  client/config/config.go
  client/config/config_test.go
Due: client, cli

test: fix naming test (#1491)
  tests/e2e/local/09_naming_test.go
  tests/e2e/local/config/config.go
  tests/e2e/local/testenv/kind/Taskfile.testenv.yml
  tests/e2e/local/testenv/kind/test-config.yaml
  tests/e2e/local/testenv/local/docker-compose.yaml
  tests/e2e/local/testenv/local/test-config.yaml
Due: none

chore(docker-bake): remove sdks-test target from configuration
  docker-bake.hcl
Due: none

chore(labels): remove SDK-related labels from configuration
  .github/labels.yml
  .github/workflows/lint-pr-title.yaml
Due: none

chore(docs): update README for version 1.3.0 of Docker images and Helm charts
  README.md
Due: none

chore(workflows): update default dirctl version to v1.3.0 in demo-dir and import-records workflows
  .github/workflows/demo-dir.yaml
  .github/workflows/import-records.yaml
Due: none

chore(Taskfile): remove deprecated GOLANG_PROTOBUF_REGISTRATION_CONFLICT warning
  Taskfile.yml
Due: none

refactor(dir): cleanup and v1.3.0 release alignment (#1495)
  .github/labels.yml
  .github/workflows/demo-dir.yaml
  .github/workflows/import-records.yaml
  .github/workflows/lint-pr-title.yaml
  README.md
  Taskfile.yml
  docker-bake.hcl
Due: none

feat(client/cli): reusable client configuration (#1496)
  cli/cmd/auth/auth.go
  cli/cmd/auth/status_logout_test.go
  cli/cmd/context/context.go
  cli/cmd/context/context_test.go
  cli/cmd/context/current.go
  cli/cmd/context/list.go
  cli/cmd/context/set.go
  cli/cmd/context/show.go
  cli/cmd/context/validate.go
  cli/cmd/options.go
  cli/cmd/root.go
  cli/cmd/root_test.go
  cli/config/config.go
  client/config/config.go
  client/config/config_test.go
Due: client, cli

feat(dir/cli): add output dir option to import command
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

chore(workflows): add TODOs for future JSON output support in import records workflow
  .github/workflows/import-records.yaml
Due: none

chore(deps): update dir-importer module version
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

docs(helm): clarify auto-resolve behavior in chart values comments (#1477)
  install/charts/dir/values.yaml
Due: none

refactor(dir/reconciler): enhance credential negotiation by introducing client config builder from context
  reconciler/tasks/regsync/credentials.go
  reconciler/tasks/regsync/credentials_test.go
Due: none

feat(dir): add ownership claim referrer, search, and CLI (v1)
  api/core/v1/referrer_types.go
  api/core/v1/rules.pb.go
  api/ownership/v1/claim.go
  api/ownership/v1/claim.pb.go
  api/search/v1/record_query.pb.go
  cli/cmd/daemon/config.go
  cli/cmd/ownership/ownership.go
  cli/cmd/root.go
  cli/cmd/search/filters.go
  proto/agntcy/dir/core/v1/rules.proto
  proto/agntcy/dir/ownership/v1/claim.proto
  proto/agntcy/dir/search/v1/record_query.proto
  proto/buf.gen.yaml
  reconciler/config/config.go
  reconciler/service/service.go
  reconciler/tasks/ownership/config.go
  reconciler/tasks/ownership/task.go
  reconciler/tasks/signature/task_test.go
  server/controller/store.go
  server/database/gorm/gorm.go
  server/database/gorm/record.go
  server/database/utils/utils.go
  server/store/oci/types.go
  server/types/database.go
  server/types/search.go
  tests/e2e/local/13_ownership_search_test.go
  tests/e2e/shared/utils/cli.go
Due: api, server, cli

feat(dir/cli): add output dir option to import command (#1498)
  .github/workflows/import-records.yaml
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

refactor: code review
  reconciler/tasks/regsync/credentials.go
  reconciler/tasks/regsync/credentials_test.go
Due: none

refactor(dir/reconciler): enhance credential negotiation by introducing client config builder from context (#1499)
  reconciler/tasks/regsync/credentials.go
  reconciler/tasks/regsync/credentials_test.go
Due: none

feat(api): add low-level object/kv store apis
  api/go.mod
  api/go.sum
  api/store/v2/kv_service.pb.go
  api/store/v2/kv_service_grpc.pb.go
  api/store/v2/object.go
  api/store/v2/object.pb.go
  api/store/v2/objstore_service.pb.go
  api/store/v2/objstore_service_grpc.pb.go
  cli/cmd/import/config.go
  proto/agntcy/dir/store/v2/kv_service.proto
  proto/agntcy/dir/store/v2/object.proto
  proto/agntcy/dir/store/v2/objstore_service.proto
  proto/buf.gen.yaml
  server/controller/objstore.go
  server/controller/objstore_test.go
  server/controller/packaging/record.go
  server/controller/packaging/types.go
  server/go.mod
  server/routing/routing_local_test.go
  server/server.go
  server/store/cache/cache.go
  server/store/cache/cache_test.go
  server/store/eventswrap/eventswrap.go
  server/store/eventswrap/eventswrap_test.go
  server/store/oci/oci.go
  server/types/store.go
Due: api, server, cli

chore: referrer apis check
  api/store/v2/object.pb.go
  api/store/v2/objstore_service.pb.go
  api/store/v2/objstore_service_grpc.pb.go
  client/go.mod
  proto/agntcy/dir/store/v2/object.proto
  proto/agntcy/dir/store/v2/objstore_service.proto
  server/controller/objstore.go
  server/controller/objstore_test.go
Due: client, server

chore: patch objects across v2store
  server/controller/objstore.go
  server/controller/objstore_test.go
  server/controller/packaging/record.go
  server/go.mod
  server/go.sum
  server/store/packaging/record.go
  server/store/packaging/types.go
Due: server

chore: fix linting
  api/store/v2/object.go
  server/controller/objstore.go
  server/controller/objstore_test.go
  server/store/packaging/record.go
Due: api, server

chore: cleanup deps
  api/go.mod
  api/go.sum
Due: api

refactor(tests/e2e/daemon): improve runtime workflow tests by adjusting context usage and timeout settings
  tests/e2e/daemon/01_daemon_test.go
Due: none

refactor(tests/e2e/daemon): improve runtime workflow tests by adjusting context usage and timeout settings (#1513)
  tests/e2e/daemon/01_daemon_test.go
Due: none

chore(deps): upgrade Go version to 1.26.3 across all modules
  Taskfile.vars.yml
  api/go.mod
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: api, client, server, cli

chore(deps): update Go version to 1.26.3 in Dockerfiles for cli, reconciler, and server
  cli/Dockerfile
  reconciler/Dockerfile
  server/Dockerfile
Due: server, cli

feat(cli): introduce the dirctl doctor network analyze command
  cli/cmd/doctor/api_checks.go
  cli/cmd/doctor/bootstrap_checks.go
  cli/cmd/doctor/config.go
  cli/cmd/doctor/dht_checks.go
  cli/cmd/doctor/doctor.go
  cli/cmd/doctor/doctor_test.go
  cli/cmd/doctor/output.go
  cli/cmd/doctor/types.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  client/config/config.go
  client/config/config_test.go
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  tests/go.mod
  tests/go.sum
Due: client, cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
