Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(reconciler): add identity claim verification task (#2262)
  cli/cmd/daemon/daemon.config.yaml
  client/utils/identity/resolvers/spiffe/spiffe.go
  client/utils/identity/resolvers/spiffe/spiffe_test.go
  client/utils/identity/sign_verify_test.go
  client/utils/identity/verify.go
  docs/content/dir/dir-cli-reference.md
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/go.mod
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/identity/config.go
  reconciler/tasks/identity/resolve.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
  reconciler/tasks/signature/task_test.go
  server/database/gorm/identity_claims.go
  server/database/identity_claims_test.go
  server/types/database.go
  tests/e2e/daemon/04_identity_verification_test.go
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/21_identity_test.go
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/go.mod
  utils/safefetch/fetch.go
Due: client, server, cli

chore(deps): bump brace-expansion to 5.0.12 [security] (#2272)
  server/gateway/ui/package-lock.json
Due: server

fix(docs): exclude okta.com from the link check
  docs/lychee.toml
Due: none

fix(docs): exclude okta.com from the link check (#2273)
  docs/lychee.toml
Due: none

feat(dir): add prune-untrusted job
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/service/service.go
  reconciler/tasks/pruneuntrusted/config.go
  reconciler/tasks/pruneuntrusted/config_test.go
  reconciler/tasks/pruneuntrusted/task.go
  reconciler/tasks/pruneuntrusted/task_test.go
Due: cli

feat(dir): persist per-record policy-compliance verdicts
  server/database/gorm/migration.go
  server/database/gorm/policy_evaluation.go
  server/database/gorm/policy_evaluation_test.go
  server/types/database.go
Due: server

fix(dir): raise interfacebloat's cap and drop an unparam'd test argument
  .golangci.yml
  server/database/gorm/policy_evaluation_test.go
Due: server

fix(reconciler): implement the new PolicyEvaluationDatabaseAPI methods on fakeSignatureDB
  reconciler/tasks/signature/task_test.go
Due: none

feat(dir): give verdicts an id, page the evaluation query, register versions
  reconciler/tasks/signature/task_test.go
  server/database/gorm/migration.go
  server/database/gorm/policy_evaluation.go
  server/database/gorm/policy_evaluation_test.go
  server/database/gorm/policy_version.go
  server/database/gorm/policy_version_test.go
  server/types/database.go
Due: server

fix(dir): retry records whose last policy evaluation failed
  server/database/gorm/policy_evaluation.go
  server/database/gorm/policy_evaluation_test.go
  server/types/database.go
Due: server

fix(dir): use the actual interfacebloat settings key
  .golangci.yml
Due: none

feat(reconciler): evaluate records against content policies
  reconciler/tasks/policy/config.go
  reconciler/tasks/policy/config_test.go
  reconciler/tasks/policy/evaluator.go
  reconciler/tasks/policy/task.go
  reconciler/tasks/policy/task_test.go
Due: none

feat(reconciler): make the policy task's parameters configurable
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/service/service.go
  reconciler/service/service_test.go
Due: cli

fix(reconciler): move the policy task's settings to policy_evaluation
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/service/service.go
Due: cli

feat(dir): serve only records that comply with every enforced policy
  server/database/gorm/catalog.go
  server/database/gorm/filter_values.go
  server/database/gorm/gorm.go
  server/database/gorm/policy_gate.go
  server/database/gorm/policy_gate_test.go
  server/database/gorm/record.go
  server/types/database.go
Due: server

fix(dir): exempt the direct-fetch gate's gRPC statuses from wrapcheck
  server/controller/policy_gate.go
  server/controller/policy_gate_test.go
Due: server

feat(reconciler): evaluate in batches and register the policy version
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/tasks/policy/config.go
  reconciler/tasks/policy/task.go
  reconciler/tasks/policy/task_test.go
Due: cli

feat(dir): apply the policy gate to reads that fetch a record by CID
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
  server/controller/policy_gate.go
  server/controller/policy_gate_test.go
  server/controller/store.go
  server/database/gorm/policy_gate.go
  server/database/gorm/policy_gate_test.go
  server/store/oci/internal.go
  server/types/database.go
  server/types/store.go
Due: server

feat(dir): grant registry credentials only to peer nodes named by SPIFFE ID
  server/authz/README.md
  server/authz/authorizer.go
  server/authz/authorizer_test.go
  server/authz/interceptor.go
  server/authz/model.conf
  server/authz/peer_identity_test.go
  server/authz/testdata/peer_identity_policies.csv
Due: server

feat(dir): apply the policy gate to the peer RPC
  server/controller/policy_gate.go
  server/routing/routing.go
  server/routing/routing_remote.go
  server/routing/rpc/rpc.go
  server/routing/rpc/rpc_test.go
  server/routing/test_utils.go
  server/server.go
  server/types/database.go
Due: server

feat(dir): gate explicit-CID publication and identity status lookups
  server/controller/identity.go
  server/controller/identity_test.go
  server/controller/policy_gate_test.go
  server/publication/worker.go
  server/publication/worker_test.go
Due: server

fix(dir): name the real SyncService in the default authz policies
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-federation-aws-eks.md
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values-openshift.yaml
  install/charts/dir/values.yaml
  install/openshift-install.md
  server/authz/policy_examples_test.go
Due: server

feat(dir): enforce content policies per kind of read, with a shadow mode
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/database/gorm/gorm.go
  server/database/gorm/policy_gate.go
  server/database/gorm/policy_gate_test.go
  server/database/gorm/policy_modes_test.go
  server/policy/config/config.go
  server/policy/config/config_test.go
  server/policy_enforcement.go
  server/policy_enforcement_test.go
  server/server.go
  server/types/database.go
Due: server, cli

test(dir): check registry credentials through the authz interceptor
  server/authz/interceptor_test.go
  server/authz/peer_identity_test.go
Due: server

feat(dir): report what the content-policy gate excludes
  server/metrics/policy_gate.go
  server/metrics/policy_gate_test.go
  server/policy_enforcement.go
  server/policy_enforcement_test.go
  server/server.go
Due: server

feat(dir): follow the policy versions the reconciler registers
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/policy/config/config.go
  server/policy/config/config_test.go
  server/policy/enforcement/resolver.go
  server/policy/enforcement/resolver_test.go
  server/policy_enforcement.go
  server/policy_enforcement_test.go
  server/types/database.go
Due: server, cli

fix(dir): open the database outside server.New
  server/policy_enforcement.go
  server/server.go
Due: server

feat(dir): enforce a policy first once its verdicts cover the records
  install/charts/dir/apiserver/values.yaml
  server/database/gorm/migration.go
  server/database/gorm/policy_backfill.go
  server/database/gorm/policy_backfill_test.go
  server/database/gorm/policy_evaluation.go
  server/metrics/policy_gate.go
  server/metrics/policy_gate_test.go
  server/policy/enforcement/resolver.go
  server/policy/enforcement/resolver_test.go
  server/types/database.go
Due: server

test(dir): check the server opens the configured database
  server/policy_enforcement_test.go
Due: server

docs(dir): add the content policy enforcement runbook
  docs/content/dir/dir-content-policy-enforcement.md
  docs/mkdocs/mkdocs.yml
Due: none

feat(dir): serve excluded records to named auditors, audit-logged
  server/authz/README.md
  server/authz/authorizer.go
  server/authz/peer_identity_test.go
  server/authz/policy_examples_test.go
  server/authz/testdata/peer_identity_policies.csv
  server/controller/policy_audit.go
  server/controller/policy_audit_test.go
  server/database/gorm/policy_gate.go
  server/database/gorm/policy_modes_test.go
  server/policy_enforcement.go
  server/policy_enforcement_test.go
  server/server.go
Due: server

feat(api): add the policy audit service
  api/policy/v1/policy_audit_service.pb.go
  api/policy/v1/policy_audit_service_grpc.pb.go
  api/policy/v1/policy_evaluation.pb.go
  proto/agntcy/dir/policy/v1/policy_audit_service.proto
  proto/agntcy/dir/policy/v1/policy_evaluation.proto
  proto/buf.gen.yaml
Due: none

test(dir): check every value openDatabase returns on failure
  server/policy_enforcement_test.go
Due: server

docs(dir): name the policy evaluation task's Helm key in the runbook
  docs/content/dir/dir-content-policy-enforcement.md
Due: none

docs(dir): update the enforcement runbook for automatic versions
  docs/content/dir/dir-content-policy-enforcement.md
Due: none

test(dir): cover how policy audit calls and database setup fail
  server/controller/policy_audit_test.go
  server/policy_enforcement_test.go
Due: server

feat(reconciler): evaluate records with the configured policies
  docs/content/dir/dir-content-policy-enforcement.md
  reconciler/service/service.go
  reconciler/service/service_test.go
  reconciler/tasks/policy/validator_evaluator.go
  reconciler/tasks/policy/validator_evaluator_test.go
Due: none

feat(dir): let an OPA or CEL validator define a content policy
  docs/content/dir/dir-component-records-validation.md
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/README.md
  server/validators/cel.go
  server/validators/config/config.go
  server/validators/config/config_test.go
  server/validators/opa.go
  server/validators/policies_test.go
  server/validators/registry.go
Due: server

fix(reconciler): drop a repeated word from the evaluator's comment
  reconciler/tasks/policy/validator_evaluator.go
Due: none

test(dir): check that a node serves a record only once its policy passes it
  .github/workflows/reusable-test-e2e.yaml
  tests/Taskfile.yml
  tests/e2e/README.md
  tests/e2e/policy/01_enforcement_test.go
  tests/e2e/policy/config/config.go
  tests/e2e/policy/policy_suite_test.go
  tests/e2e/policy/testenv/default/Taskfile.testenv.yml
  tests/e2e/policy/testenv/default/dir-daemon-config.yaml
  tests/e2e/policy/testenv/default/test-config.yaml
  tests/e2e/shared/config/config.go
Due: none
