Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(dir): always build images locally
  Taskfile.yml
  server/Taskfile.yml
Due: server

fix(dir): correct uv dependency status file path
  bin/Taskfile.yml
Due: none

refactor(dir): run helm repo add once at task run
  Taskfile.yml
Due: none

refactor(dir): split up tasks
  .gitignore
  Taskfile.vars.yml
  Taskfile.yml
  bin/Taskfile.yml
  cli/Taskfile.yml
  e2e/Taskfile.yml
  gui/Taskfile.yml
  install/Taskfile.yml
  mcp/Taskfile.yml
  proto/Taskfile.yml
  runtime/Taskfile.yml
  sdk/Taskfile.yml
  server/Taskfile.yml
Due: server, cli

fix(dir): rename deploy tasks to test-env
  e2e/Taskfile.yml
  install/Taskfile.yml
  sdk/Taskfile.yml
  server/README.md
Due: server

fix(dir): helm repo update on ci
  Taskfile.yml
Due: none

fix(dir): rename dirctl-bin to dirctl
  bin/Taskfile.yml
  install/Taskfile.yml
Due: none

chore(dir): update binaries versions
  Taskfile.vars.yml
Due: none

fix(dir): add missing deps
  bin/Taskfile.yml
Due: none

fix(dir): extract only trivy bin from tarball
  bin/Taskfile.yml
Due: none

feat(dir): add deps cleanup to reduce docker ctx size at build
  bin/Taskfile.yml
Due: none

ci(e2e): fix bin directory creation
  .github/workflows/reusable-test-e2e.yaml
Due: none

fix(dir): add linter fixes
  client/token_cache.go
  client/token_cache_test.go
Due: client

chore(dir): remove unused hub variable
  Taskfile.vars.yml
Due: none

fix(dir): move helm:gen under install
  Taskfile.yml
  install/Taskfile.yml
Due: none

fix(dir): move deps:tidy to main taskfile
  Taskfile.yml
  bin/Taskfile.yml
Due: none

fix(dir): update go version everywhere
  .github/workflows/ci.yaml
  .github/workflows/gui-ci.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  api/go.mod
  api/go.sum
  auth/authprovider/go.mod
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/Dockerfile
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/test/Dockerfile.mock
  cli/Dockerfile
  cli/go.mod
  client/go.mod
  client/go.sum
  e2e/go.mod
  go.work.disabled
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/Dockerfile
  reconciler/go.mod
  reconciler/go.sum
  runtime/api/go.mod
  runtime/discovery/Dockerfile
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/Dockerfile
  runtime/server/go.mod
  runtime/store/go.mod
  runtime/utils/go.mod
  server/Dockerfile
  server/go.mod
  server/go.sum
  utils/go.mod
Due: api, client, server, cli

delete(testdata): remove unused record_warnings_080.json file
  tests/e2e/shared/testdata/embed.go
  tests/e2e/shared/testdata/record_warnings_080.json
Due: none

feat(tests): add MCP protocol end-to-end tests task and add to ci
  .github/workflows/reusable-test-e2e.yaml
  tests/Taskfile.yml
  tests/e2e/README.md
  tests/e2e/local/09_naming_test.go
  tests/e2e/mcp/01_protocol_test.go
Due: none

refactor(tests): add tests module
  tests/e2e/README.md
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: none

feat: add security scanner
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/config/config.go
  importer/mcp/importer.go
  importer/pipeline/dedup.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
  importer/pipeline/pusher.go
  importer/pipeline/pusher_test.go
  importer/scanner/behavioral.go
  importer/scanner/config/config.go
  importer/scanner/config/config_test.go
  importer/scanner/registry.go
  importer/scanner/scanner.go
  importer/scanner/types.go
  importer/types/importer.go
Due: cli

feat: add security scanner
  cli/cmd/import/options.go
  importer/scanner/behavioral.go
  importer/scanner/config/config.go
  importer/scanner/config/config_test.go
  importer/scanner/registry.go
  importer/scanner/supplychain.go
  importer/scanner/types.go
Due: cli

feat: add security scanner
  Taskfile.yml
  cli/cmd/import/options.go
  importer/config/config.go
  importer/mcp/importer.go
  importer/mcpscanner/behavioral.go
  importer/mcpscanner/config/config.go
  importer/mcpscanner/config/config_test.go
  importer/mcpscanner/registry.go
  importer/mcpscanner/scanner.go
  importer/mcpscanner/types.go
  importer/scanner/supplychain.go
Due: cli

feat: add security scanner
  importer/mcpscanner/scanner.go
Due: none

feat: add security scanner
  cli/cmd/import/options.go
  importer/config/config.go
  importer/mcp/importer.go
  importer/mcpscanner/behavioral.go
  importer/mcpscanner/registry.go
  importer/scanner/behavioral/register.go
  importer/scanner/behavioral/scanner.go
  importer/scanner/config/config.go
  importer/scanner/config/config_test.go
  importer/scanner/factory.go
  importer/scanner/orchestrator.go
  importer/scanner/remote/register.go
  importer/scanner/remote/scanner.go
  importer/scanner/static/register.go
  importer/scanner/static/scanner.go
  importer/scanner/types.go
Due: cli

feat: importer security scanner
  Taskfile.yml
Due: none

refactor(tests): check server readiness check in mcp tests
  install/docker/docker-compose.yml
  tests/Taskfile.yml
  tests/e2e/mcp/mcp_suite_test.go
Due: none

fix(taskfile): test paths
  Taskfile.vars.yml
Due: none

chore(sdk): update deps (#1028)
  sdk/dir-js/package-lock.json
Due: none

chore: remove go.work.disabled file
  go.work.disabled
Due: none

docs: update README to include new sections
  README.md
Due: none

docs: update README refs from ADS to Directory and update Golang version
  README.md
Due: none

chore: update docker/login-action to v4.0.0 in workflow files
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
Due: none

feat: importer security scanner
  Taskfile.yml
  importer/Taskfile.yml
  importer/mcp/importer.go
  importer/scanner/behavioral/behavioral.go
  importer/scanner/behavioral/register.go
  importer/scanner/factory/factory.go
  importer/scanner/remote/register.go
  importer/scanner/remote/scanner.go
  importer/scanner/scanner.go
  importer/scanner/static/register.go
  importer/scanner/static/scanner.go
  importer/scanner/types/types.go
Due: none

refactor(dir): documentation and repo cleanup (#1032)
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
  README.md
  go.work.disabled
Due: none

feat: importer security scanner
  importer/scanner/scanner.go
Due: none

feat(dir): multiprovider OIDC-based external authorization module
  auth/authzserver/config.go
  auth/authzserver/go.mod
  auth/authzserver/model.conf
  auth/authzserver/oidc_server.go
  auth/authzserver/oidc_server_test.go
  auth/authzserver/payload.go
  auth/authzserver/payload_test.go
  auth/authzserver/rbac.go
  auth/authzserver/rbac_test.go
  auth/authzserver/server.go
  auth/cmd/envoy-authz/TESTING.md
  auth/cmd/envoy-authz/config.yaml
  auth/cmd/envoy-authz/docker-compose.yml
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  auth/cmd/envoy-authz/main.go
  auth/cmd/envoy-authz/test/config.test.yaml
  auth/cmd/envoy-authz/test/envoy.yaml
  auth/cmd/envoy-authz/test/mock-directory.go
  auth/cmd/envoy-authz/test/test.sh
Due: none
