Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat(sdk-py): add oidc options
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
Due: none

feat(sdk-py): add oauth example to python sdk example
  sdk/examples/example-py/example.py
Due: none

feat: client credentials flow
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/examples/example-py/example.py
Due: none

feat(sdk-py): add oauth support
  sdk/dir-py/agntcy/dir_sdk/client/__init__.py
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
  sdk/dir-py/agntcy/dir_sdk/client/oauth_pkce.py
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-py/pyproject.toml
  sdk/examples/example-py/uv.lock
Due: none

fix(sdk-py): remove duplicate grpc auth
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

feat(sdk-py): add tests for oauth
  sdk/dir-py/agntcy/dir_sdk/client/test_oauth_pkce.py
Due: none

fix(importer): revert import command type in workflow (#1238)
  .github/workflows/import-records.yaml
  importer/dedup/dedup.go
Due: none

refactor: oidc flows and cache
  sdk/dir-py/README.md
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
  sdk/dir-py/agntcy/dir_sdk/client/oauth_pkce.py
  sdk/dir-py/agntcy/dir_sdk/client/test_oidc_auth.py
  sdk/dir-py/agntcy/dir_sdk/client/token_cache.py
  sdk/examples/example-py/example_interactive_oidc.py
Due: none

refactor(tests): remove e2e-production tests and update README
  tests/README.md
  tests/Taskfile.yml
  tests/e2e-production/README.md
  tests/e2e-production/placeholder_test.go
Due: none

chore(deps): update python docker tag to v3.14
  sdk/examples/example-py/.python-version
Due: none

chore(deps): update docker.io/bitnami/postgresql:latest docker digest to c30c796
  tests/e2e/daemon/docker-compose.yaml
Due: none

chore(deps): add "postgresql" to matchPackageNames in renovate.json for PostgreSQL group
  renovate.json
Due: none

chore(deps): add zot and update go-spiffe package pattern in renovate.json
  renovate.json
Due: none

docs: update README to include usage instructions for dirctl daemon
  README.md
Due: none

docs: update README to reflect changes in usage instructions for Docker Compose and Helm Chart
  README.md
Due: none

docs: add link to Getting Started documentation in README for platform support and configuration details
  README.md
Due: none

refactor(workflow): only test external setup in reusable-test-e2e.yaml
  .github/workflows/reusable-test-e2e.yaml
Due: none

feat(ci): add cross-platform testing workflow
  .github/workflows/ci.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
Due: none

fix(taskfile): update GO_MODULES commands for cross-platform compatibility
  Taskfile.vars.yml
Due: none

feat(cli/daemon): pin routing port
  cli/cmd/daemon/daemon.config.yaml
Due: cli

feat(cli/daemon): add routing bootstrap peers config
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
Due: cli

feat(cli/daemon): add key path configuration and ensure key file generation
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/start.go
Due: cli

chore: expose runtime components as packages
  runtime/discovery/cmd/main.go
  runtime/discovery/discovery.go
  runtime/server/cmd/main.go
  runtime/server/database/db.go
  runtime/server/server.go
Due: none

chore: add sqlite runtime driver
  runtime/discovery/config/config.go
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/config/config.go
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/config/config.go
  runtime/store/go.mod
  runtime/store/go.sum
  runtime/store/sql/sqlite.go
  runtime/store/sql/store.go
  runtime/store/sql/workload.go
  runtime/store/store.go
Due: none

chore: wire in runtime daemon components
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon.go
  cli/cmd/daemon/start.go
  cli/go.mod
  cli/go.sum
  runtime/discovery/cmd/main.go
  runtime/discovery/config/config.go
  runtime/discovery/discovery.go
  runtime/discovery/resolver/a2a/resolver.go
  runtime/discovery/resolver/oasf/config.go
  runtime/discovery/resolver/oasf/resolver.go
  runtime/discovery/runtime/docker/adapter.go
  runtime/discovery/runtime/docker/config.go
  runtime/install/examples/docker-compose.yml
  runtime/server/cmd/main.go
  runtime/server/config/config.go
  runtime/server/database/db.go
  runtime/server/server.go
  runtime/store/config/config.go
  runtime/store/sql/sqlite.go
  runtime/store/store.go
  server/server.go
  tests/go.mod
  tests/go.sum
Due: server, cli

chore: switch to disabled-by-default runtime daemon
  cli/cmd/daemon/daemon.config.yaml
Due: cli

chore: fix docs
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  runtime/store/sql/store.go
Due: cli

chore: add sample daemon tests for runtime discovery
  tests/e2e/daemon/01_daemon_test.go
  tests/e2e/daemon/daemon.config.external.yaml
  tests/e2e/daemon/docker-compose.yaml
Due: none

chore: prepare daemon runtime tests
  cli/go.mod
  cli/go.sum
  client/client.go
  client/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  server/go.mod
  tests/e2e/daemon/01_daemon_test.go
  tests/e2e/daemon/daemon.config.external.yaml
  tests/e2e/daemon/docker-compose.yaml
  tests/go.mod
  tests/go.sum
Due: client, server, cli

chore: add sample daemon tests for runtime discovery
  client/client.go
  client/runtime.go
  runtime/discovery/resolver/oasf/resolver.go
  tests/e2e/daemon/01_daemon_test.go
Due: client

chore: add sample daemon tests for runtime discovery
  tests/e2e/daemon/01_daemon_test.go
Due: none

chore: fix runtime tests with optional e2e cases
  tests/Taskfile.yml
  tests/e2e/daemon/01_daemon_test.go
  tests/e2e/daemon/docker-compose.yaml
  tests/e2e/daemon/workload.a2a-card.json
Due: none

chore: fix runtime client fetcher method
  client/runtime.go
Due: client

Potential fix for code scanning alert no. 364: Unused import
  sdk/examples/example-py/example.py
Due: none

fix(dir/py): use milliseconds in cached token timestamps
  sdk/dir-py/agntcy/dir_sdk/client/token_cache.py
Due: none

chore(sdk-py): remove separate oauth tests
  sdk/dir-py/agntcy/dir_sdk/client/test_oauth_pkce.py
Due: none

chore(sdk): clean up testing code
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
  sdk/examples/example-py/example.py
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
