Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix: resolveContextByServerAddress collected matching context names
  reconciler/tasks/regsync/credentials.go
Due: none

feat(cli): auth status refresh expired tokens
  cli/cmd/auth/logout.go
  cli/cmd/auth/status.go
  cli/cmd/auth/status_logout_test.go
  client/oidc_grpc.go
Due: client, cli

fix: linter issues
  reconciler/tasks/regsync/credentials.go
Due: none

fix: optionally allow unknown fields and skip them in config
  cli/cmd/auth/auth.go
  client/config/config.go
  client/config/config_test.go
Due: client, cli

fix: add AllowUnknownFields for context and reconciler
  cli/cmd/context/show.go
  cli/cmd/root.go
  client/config/config.go
  client/config/config_test.go
  reconciler/tasks/regsync/credentials.go
  reconciler/tasks/regsync/credentials_test.go
Due: client, cli

feat: record ranking
  api/core/v1/ranking.pb.go
  api/routing/v1/routing_service.pb.go
  api/search/v1/search_service.pb.go
  cli/cmd/daemon/config.go
  cli/cmd/routing/search.go
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  cli/presenter/ranking.go
  proto/agntcy/dir/core/v1/ranking.proto
  proto/agntcy/dir/routing/v1/routing_service.proto
  proto/agntcy/dir/search/v1/search_service.proto
  server/config/config.go
  server/config/config_test.go
  server/controller/search.go
  server/controller/search_test.go
  server/database/database_test.go
  server/database/gorm/record.go
  server/ranking/config/config.go
  server/ranking/ranking.go
  server/ranking/ranking_test.go
  server/ranking/signals.go
  server/ranking/sort.go
  server/routing/routing.go
  server/routing/routing_remote.go
  server/routing/test_utils.go
  server/server.go
  server/types/record.go
  server/types/search.go
  tests/e2e/daemon/02_ranking_test.go
Due: server, cli

test: fix
  cli/cmd/routing/search.go
Due: cli

feat(cli): auth status refresh expired tokens (#1516)
  cli/cmd/auth/auth.go
  cli/cmd/auth/logout.go
  cli/cmd/auth/status.go
  cli/cmd/auth/status_logout_test.go
  cli/cmd/context/show.go
  cli/cmd/root.go
  client/config/config.go
  client/config/config_test.go
  client/oidc_grpc.go
  reconciler/tasks/regsync/credentials.go
  reconciler/tasks/regsync/credentials_test.go
Due: client, cli

feat: support batch publish via dirctl routing publish
  cli/cmd/routing/publish.go
Due: cli

refactor(cli, server): unify store configuration by removing 'oci' prefix and updating related references
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  cli/cmd/daemon/start.go
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/controller/sync.go
  server/routing/test_utils.go
  server/store/config/config.go
  server/store/store.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
  tests/integration/server/setup.go
  tests/integration/server/testenv/test-config.yaml
Due: server, cli

refactor(dir/server): remove verification configuration from store config
  cli/cmd/daemon/daemon.config.yaml
  server/config/config.go
  server/config/config_test.go
  server/naming/config/config.go
  server/store/config/config.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
Due: server, cli

fix: set context config
  client/config/config.go
Due: client

fix(tests): log errors in test suite initializer
  tests/e2e/client/client_suite_test.go
Due: none

fix(tests): log errors in test suite initializer (#1523)
  tests/e2e/client/client_suite_test.go
Due: none

feat(cli): support batch publish via dirctl routing publish (#1526)
  cli/cmd/routing/publish.go
  client/config/config.go
Due: client, cli

feat(cli): support batch unpublish
  cli/cmd/routing/unpublish.go
Due: cli

feat(cli): support batch unpublish (#1530)
  cli/cmd/routing/unpublish.go
Due: cli

refactor(config): consolidate daemon, server and reconciler configurations into a unified schema
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  cli/cmd/daemon/start.go
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/main.go
  reconciler/service/service.go
  server/cmd/main.go
  server/config/config.go
  server/config/config_test.go
  server/config/future/server.config.yml
  server/config/testdata/connection_custom.yml
  server/config/testdata/connection_defaults.yml
  server/controller/sync.go
  server/publication/publication.go
  server/routing/routing.go
  server/routing/routing_remote.go
  server/routing/test_utils.go
  server/server.go
  server/server_test.go
  server/store/store.go
  server/types/api.go
  tests/integration/server/setup.go
  tests/integration/server/testenv/test-config.yaml
Due: server, cli

feat(api): add low-level object/kv store apis
  api/go.mod
  api/go.sum
  api/store/v2/kv_service.pb.go
  api/store/v2/kv_service_grpc.pb.go
  api/store/v2/object.go
  api/store/v2/object.pb.go
  api/store/v2/objstore_service.pb.go
  api/store/v2/objstore_service_grpc.pb.go
  cli/cmd/import/config.go
  proto/agntcy/dir/store/v2/kv_service.proto
  proto/agntcy/dir/store/v2/object.proto
  proto/agntcy/dir/store/v2/objstore_service.proto
  proto/buf.gen.yaml
  server/controller/objstore.go
  server/controller/objstore_test.go
  server/controller/packaging/record.go
  server/controller/packaging/types.go
  server/go.mod
  server/routing/routing_local_test.go
  server/server.go
  server/store/cache/cache.go
  server/store/cache/cache_test.go
  server/store/eventswrap/eventswrap.go
  server/store/eventswrap/eventswrap_test.go
  server/store/oci/oci.go
  server/types/store.go
Due: api, server, cli

feat: resolve referrers
  server/controller/objstore.go
  server/controller/objstore_test.go
  server/store/packaging/record.go
  server/store/packaging/referrer.go
Due: server

chore: fix linting
  api/store/v2/object.go
  server/controller/objstore.go
  server/controller/objstore_test.go
  server/store/packaging/record.go
Due: api, server

feat: add generic referrers
  api/store/v2/object.pb.go
  api/store/v2/objstore_service.pb.go
  api/store/v2/objstore_service_grpc.pb.go
  proto/agntcy/dir/store/v2/object.proto
  proto/agntcy/dir/store/v2/objstore_service.proto
  server/controller/objstore.go
  server/store/packaging/record.go
  server/store/packaging/referrer.go
Due: server

chore: patch objects across v2store
  server/controller/objstore.go
  server/controller/objstore_test.go
  server/controller/packaging/record.go
  server/go.mod
  server/go.sum
  server/store/packaging/record.go
  server/store/packaging/types.go
Due: server

chore: cleanup deps
  api/go.mod
  api/go.sum
Due: api

chore: referrer apis check
  api/store/v2/object.pb.go
  api/store/v2/objstore_service.pb.go
  api/store/v2/objstore_service_grpc.pb.go
  proto/agntcy/dir/store/v2/object.proto
  proto/agntcy/dir/store/v2/objstore_service.proto
  server/controller/objstore.go
  server/controller/objstore_test.go
Due: server

feat: fix kv store
  api/store/v2/kv_service.pb.go
  api/store/v2/kv_service_grpc.pb.go
  proto/agntcy/dir/store/v2/kv_service.proto
Due: none

refactor(config): unify apiserver and reconciler configurations under a shared schema
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values-openshift.yaml
  install/charts/dir/values.yaml
Due: none

refactor(config): update apiserver and reconciler environment variable prefixes to a unified schema
  install/charts/dir/apiserver/templates/routing-service.yaml
  install/docker/apiserver.env
  install/docker/reconciler.env
  server/README.md
  server/Taskfile.yml
  tests/e2e/client/testenv/kind/dir-chart-values.yaml
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/kind/dir-chart-values-bootstrap.yaml
  tests/e2e/network/testenv/kind/dir-chart-values-peer1.yaml
  tests/e2e/network/testenv/kind/dir-chart-values-peer2.yaml
  tests/e2e/network/testenv/kind/dir-chart-values-peer3.yaml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
Due: server

feat: add initial boilerplate for AI catalog PoC
  proto/agntcy/dir/catalog/v1/models.proto
  server/database/gorm/catalog.go
  server/database/gorm/module.go
  server/database/gorm/record.go
  server/database/gorm/signature.go
Due: server

feat(proto/catalog): add protobuf definitions for AI catalog and well-known catalog
  api/catalog/v1/models.pb.go
  proto/agntcy/dir/catalog/v1/models.proto
  proto/buf.gen.yaml
Due: none

refactor(server/database): update current db model to include required ai catalog fields
  server/database/gorm/catalog.go
  server/database/gorm/module.go
  server/database/gorm/record.go
  server/database/gorm/signature.go
  server/types/signature.go
Due: server

feat(server/database): convert records onto AI Catalog entries
  server/database/gorm/catalog.go
  server/database/gorm/catalog_test.go
  server/database/gorm/module.go
  server/database/gorm/record.go
Due: server

feat(server/database): enhance catalog entry generation with trust manifest support
  server/database/gorm/catalog.go
  server/database/gorm/catalog_test.go
  server/database/gorm/module.go
  server/database/gorm/record.go
  server/database/gorm/signature.go
Due: server

fix(server/database): update media types
  server/database/gorm/catalog.go
  server/database/gorm/catalog_test.go
  server/types/catalog_media.go
Due: server

feat(proto): add AgentFinderService with ListAgents RPC and REST mapping
  api/catalog/v1/agent_finder_service.pb.go
  api/catalog/v1/agent_finder_service.pb.gw.go
  api/catalog/v1/agent_finder_service_grpc.pb.go
  api/go.mod
  api/go.sum
  proto/agntcy/dir/catalog/v1/agent_finder_service.proto
  proto/buf.gen.yaml
  proto/buf.lock
  proto/buf.yaml
Due: api

feat(gateway): implement in-process HTTP gateway for gRPC services
  cli/cmd/daemon/daemon.config.yaml
  server/config/config.go
  server/gateway/gateway.go
  server/go.mod
  server/go.sum
  server/server.go
Due: server, cli

feat(controller): implement Agent Finder API with filtering, paging, and ordering capabilities
  cli/cmd/daemon/daemon.config.yaml
  reconciler/tasks/signature/task_test.go
  server/controller/agent_finder.go
  server/controller/agent_finder_filter.go
  server/controller/agent_finder_paging.go
  server/database/gorm/catalog.go
  server/database/gorm/catalog_test.go
  server/database/gorm/record.go
  server/types/database.go
  server/types/search.go
Due: server, cli

docs(agent-finder): add local testing guide for Agent Finder API
  docs/agent-finder-testing.md
Due: none

fix(dir): handle mTLS healthchecks in e2e tests
  tests/e2e/client/client_suite_test.go
  tests/e2e/daemon/daemon_suite_test.go
  tests/e2e/local/local_suite_test.go
  tests/e2e/network/network_suite_test.go
  tests/e2e/shared/utils/common.go
Due: none
