Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix(sdk/python): use stronger connection
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

fix(sdk/python): fix default tls verify skip value
  sdk/dir-py/agntcy/dir_sdk/client/config.py
Due: none

feat: add OASF 0.8.0 support
  api/core/v1/oasf.go
  e2e/client/01_client_test.go
  e2e/client/02_events_test.go
  e2e/client/03_ratelimit_test.go
  e2e/local/01_storage_test.go
  e2e/local/06_events_test.go
  e2e/mcp/01_protocol_test.go
  e2e/shared/testdata/embed.go
  e2e/shared/testdata/record_080.json
  server/types/adapters/oasf_v1alpha2.go
  server/types/adapters/record.go
Due: api, server

feat: add OASF 0.8.0 support
  e2e/client/02_events_test.go
Due: none

feat: add OASF 0.8.0 support
  e2e/client/02_events_test.go
  e2e/client/03_ratelimit_test.go
  e2e/local/06_events_test.go
Due: none

feat(dir): add OASF 0.8.0 support (#640)
  api/core/v1/oasf.go
  e2e/client/01_client_test.go
  e2e/client/02_events_test.go
  e2e/local/01_storage_test.go
  e2e/mcp/01_protocol_test.go
  e2e/shared/testdata/embed.go
  e2e/shared/testdata/record_080.json
  server/types/adapters/oasf_v1alpha2.go
  server/types/adapters/record.go
Due: api, server

feat: add verifiable client tls checks
  client/options.go
Due: client

feat: add additional tls
  cli/cmd/options.go
  client/config.go
  client/options.go
  docs/research/token/fetcher.sh
  docs/research/token/fetcher.yaml
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
  sdk/examples/example-py/example.py
  sdk/examples/example-py/uv.lock
Due: client, cli

chore: add 'triage/ready-for-review' label
  .github/labels.yml
Due: none

chore(ci): update ignore patterns in workflows for generated files
  .github/workflows/codeql.yml
  .github/workflows/pr.yaml
Due: none

fix: drain input channel on early exit to prevent blocking
  client/streaming/bidi_stream.go
  client/streaming/client_stream.go
Due: client

updated the help text for all CLI commands with --output flag examples
  HELP_TEXT_UPDATE_SUMMARY.md
  cli/cmd/delete/delete.go
  cli/cmd/info/info.go
  cli/cmd/pull/pull.go
  cli/cmd/push/push.go
  cli/cmd/routing/info.go
  cli/cmd/routing/list.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/search.go
  cli/cmd/routing/unpublish.go
  cli/cmd/search/search.go
  cli/cmd/sign/sign.go
  cli/cmd/sync/sync.go
  cli/cmd/verify/verify.go
  mcp/go.mod
Due: cli

fix(dir/client): push stream hanging when more than one error occurs (#644)
  .github/workflows/codeql.yml
  .github/workflows/pr.yaml
  client/streaming/bidi_stream.go
  client/streaming/client_stream.go
Due: client

release: update version to v0.5.0-rc.3
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

release: update dependencies to v0.5.0-rc.3
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

chore: add 'triage/ready-for-review' label (#643)
  .github/labels.yml
Due: none

chore: fix hub dependencies
  hub/go.mod
  hub/go.sum
  mcp/go.mod
Due: none

release(dir): prepare v0.5.0 rc.3 (#645)
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  hub/go.sum
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

feat(dir/cli): unify CLI Output Formats with --output Flag and Add JSONL Support (#587)
  HELP_TEXT_UPDATE_SUMMARY.md
  cli/README.md
  cli/cmd/delete/delete.go
  cli/cmd/events/events.go
  cli/cmd/events/listen.go
  cli/cmd/events/listen_test.go
  cli/cmd/info/info.go
  cli/cmd/pull/pull.go
  cli/cmd/push/push.go
  cli/cmd/routing/info.go
  cli/cmd/routing/info_test.go
  cli/cmd/routing/list.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/search.go
  cli/cmd/routing/unpublish.go
  cli/cmd/search/search.go
  cli/cmd/sign/sign.go
  cli/cmd/sync/sync.go
  cli/cmd/sync/sync_test.go
  cli/cmd/verify/verify.go
  cli/go.mod
  cli/presenter/output.go
  cli/presenter/output_test.go
  cli/presenter/presenter.go
  cli/presenter/presenter_test.go
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  e2e/local/03_routing_test.go
  e2e/local/04_signature_test.go
  e2e/local/06_events_test.go
  e2e/local/06_import_test.go
  e2e/network/01_deploy_test.go
  e2e/network/02_sync_test.go
  e2e/network/03_search_test.go
  e2e/network/04_gossipsub_test.go
  e2e/shared/utils/cli.go
Due: cli

feat(importer): add LLM enricher package and update dependencies
  cli/cmd/import/import.go
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/config/config.go
  importer/enricher/enricher.go
  importer/enricher/mcphost.json
  importer/go.mod
  importer/go.sum
  importer/mcp/importer.go
  importer/mcp/transformer.go
  importer/mcp/transformer_test.go
Due: cli

fix: change default transformer concurrency from 5 to 1 due to llm limitations
  importer/config/config.go
Due: none

feat(transformer): add context timeout for record enrichment in MCP transformer
  importer/mcp/transformer.go
Due: none

feat(importer/enricher): implement record enrichment with skills and domains as separate prompts
  importer/enricher/enricher.go
Due: none

feat: add enricher debug
  importer/enricher/enricher.go
  importer/go.mod
  importer/mcp/transformer.go
Due: none

refactor(importer/enricher): update skill enrichment process with improved JSON output and debug mode
  importer/enricher/enricher.go
  importer/enricher/mcphost.json
  importer/mcp/transformer.go
  importer/pipeline/pusher.go
  importer/types/factory/factory_test.go
Due: none

feat(importer/enricher): enhance skill enrichment process with structured JSON output and confidence filtering
  importer/enricher/enricher.go
Due: none

feat(importer/pipeline): implement sequential record pushing to handle validation errors
  importer/config/config.go
  importer/pipeline/pusher.go
Due: none

docs: add enricher to cli usage
  cli/README.md
  hub/go.mod
  hub/go.sum
  importer/enricher/enricher.go
  importer/go.mod
  importer/mcp/transformer.go
Due: cli

feat: implement grpc connection management
  install/charts/dir/apiserver/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/config/testdata/connection_custom.yml
  server/config/testdata/connection_defaults.yml
  server/server.go
  server/server_test.go
Due: server

feat(transformer): add default skills placeholder in OASF record conversion
  importer/mcp/transformer.go
Due: none

feat: implement grpc connection management (#647)
  install/charts/dir/apiserver/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/config/testdata/connection_custom.yml
  server/config/testdata/connection_defaults.yml
  server/server.go
  server/server_test.go
Due: server

refactor(importer/enricher): simplify and clarify prompt template for skill selection process
  importer/enricher/enricher.go
Due: none

chore: update license exclusions in .licensei.toml to include gonum.org
  .licensei.toml
  importer/enricher/enricher.go
Due: none

feat: add domain name and domain id to local search
  api/search/v1/record_query.pb.go
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  e2e/network/03_search_test.go
  mcp/go.mod
  mcp/prompts/search_records.go
  mcp/prompts/search_records_test.go
  mcp/tools/search.go
  mcp/tools/search_test.go
  proto/agntcy/dir/search/v1/record_query.proto
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.js
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.py
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.pyi
  server/database/sqlite/domain.go
  server/database/sqlite/record.go
  server/database/sqlite/record_test.go
  server/database/sqlite/sqlite.go
  server/database/utils/utils.go
  server/types/search.go
Due: server, cli

fix: tests
  e2e/local/02_search_test.go
  e2e/network/03_search_test.go
  e2e/shared/utils/cli.go
  e2e/shared/utils/common.go
  server/database/sqlite/record_test.go
Due: server

fix: tests
  e2e/local/02_search_test.go
  e2e/shared/testdata/record_070.json
Due: none

fix: overwrite RecordQueryType_name
  api/search/v1/record_query.go
  e2e/shared/testdata/record_080.json
  mcp/prompts/search_records.go
Due: api

feat(enricher): enhance LLM enrichment with customizable prompt templates and improved configuration options
  cli/README.md
  cli/cmd/import/import.go
  importer/config/config.go
  importer/enricher/enricher.go
  importer/enricher/enricher.prompt.md
  importer/mcp/transformer.go
Due: cli

feat(dir/importer): enrich records with skills using llm (#646)
  .licensei.toml
  cli/README.md
  cli/cmd/import/import.go
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/config/config.go
  importer/enricher/enricher.go
  importer/enricher/enricher.prompt.md
  importer/enricher/mcphost.json
  importer/go.mod
  importer/go.sum
  importer/mcp/importer.go
  importer/mcp/transformer.go
  importer/mcp/transformer_test.go
  importer/pipeline/pusher.go
  importer/types/factory/factory_test.go
Due: cli

feat(dir): add local search over domain (#650)
  api/search/v1/record_query.go
  api/search/v1/record_query.pb.go
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  e2e/local/02_search_test.go
  e2e/shared/testdata/record_070.json
  e2e/shared/testdata/record_080.json
  e2e/shared/utils/cli.go
  e2e/shared/utils/common.go
  mcp/prompts/search_records.go
  mcp/prompts/search_records_test.go
  mcp/tools/search.go
  mcp/tools/search_test.go
  proto/agntcy/dir/search/v1/record_query.proto
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.js
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.py
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.pyi
  server/database/sqlite/domain.go
  server/database/sqlite/record.go
  server/database/sqlite/record_test.go
  server/database/sqlite/sqlite.go
  server/database/utils/utils.go
  server/types/search.go
Due: api, server, cli
