Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

test: add end-to-end tests for import command functionality
  cli/cmd/import/import.go
  e2e/local/06_import_test.go
  e2e/shared/utils/cli.go
  importer/config/config.go
  importer/mcp/client.go
  importer/mcp/converter.go
Due: cli

feat: add import command
  cli/cmd/import/import.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  client/client.go
  e2e/go.mod
  e2e/go.sum
  importer/config/config.go
  importer/mcp/client.go
  importer/mcp/converter.go
  importer/mcp/importer.go
Due: client, cli

test: add unit test task for Importer module
  Taskfile.yml
Due: none

refactor: code review
  importer/config/config.go
  importer/config/config_test.go
  importer/mcp/fetcher.go
  importer/mcp/fetcher_test.go
  importer/mcp/importer.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
  importer/pipeline/pusher.go
Due: none

refactor: code review
  importer/go.mod
  importer/mcp/transformer.go
Due: none

refactor: code review
  importer/mcp/transformer.go
  importer/pipeline/pipeline.go
Due: none

fix: licensei
  .licensei.toml
Due: none

fix: linter errors
  e2e/mcp/01_protocol_test.go
  mcp/go.mod
Due: none

fix: linter errors
  .licensei.toml
Due: none

fix review issues
  cli/cmd/events/listen.go
  client/events.go
  client/streaming/server_stream.go
  e2e/client/02_events_test.go
  server/controller/sign_events_test.go
  server/events/builder_test.go
  server/events/bus.go
  server/events/bus_test.go
  server/events/events_test.go
  server/events/safe_test.go
  server/routing/routing_events_test.go
  server/store/eventswrap/eventswrap_test.go
  server/sync/sync_events_test.go
Due: client, server, cli

refactor: code review
  cli/cmd/import/import.go
  importer/config/config.go
  importer/config/config_test.go
  importer/mcp/importer.go
  importer/mcp/importer_test.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
  importer/types/factory.go
  importer/types/factory_test.go
Due: cli

removed unnecessary coupling between EventBuilder and EventBus
  server/events/builder.go
  server/events/builder_test.go
  server/events/safe.go
  server/events/safe_test.go
Due: server

refactor: code review
  cli/cmd/import/import.go
  importer/mcp/register.go
  importer/types/factory.go
  importer/types/factory/factory.go
  importer/types/factory/factory_test.go
  importer/types/factory_test.go
  importer/types/importer.go
Due: cli

rename mock interface test file
  server/events/mock_interface_test.go
Due: none

refactor store interfaces
  cli/cmd/events/events.go
  cli/cmd/events/listen.go
  server/controller/sign.go
  server/controller/store.go
  server/store/oci/oci.go
  server/sync/monitor/monitor.go
  server/types/store.go
Due: server, cli

refactor eventswrap
  server/store/eventswrap/eventswrap.go
Due: server

feat(dir/importer): mcp registry importer (#544)
  Taskfile.yml
  cli/cmd/import/import.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  e2e/local/06_import_test.go
  e2e/shared/utils/cli.go
  importer/config/config.go
  importer/config/config_test.go
  importer/go.mod
  importer/go.sum
  importer/mcp/fetcher.go
  importer/mcp/fetcher_test.go
  importer/mcp/importer.go
  importer/mcp/importer_test.go
  importer/mcp/register.go
  importer/mcp/transformer.go
  importer/mcp/transformer_test.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
  importer/pipeline/pusher.go
  importer/types/factory.go
  importer/types/factory/factory.go
  importer/types/factory/factory_test.go
  importer/types/factory_test.go
  importer/types/importer.go
  importer/types/interface.go
  importer/types/types.go
Due: cli

feat: add JSON log handler to logger
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/apiserver.env
  utils/logging/config.go
  utils/logging/config_test.go
  utils/logging/logging.go
  utils/logging/logging_test.go
Due: none

add logging middleware
  .licensei.toml
  server/go.mod
  server/go.sum
  server/middleware/logging/interceptor.go
  server/middleware/logging/interceptor_test.go
Due: server

feat: enable runtime module search for imported mcp servers
  importer/go.mod
  importer/mcp/transformer.go
Due: none

docs: add import command to cli docs
  cli/README.md
Due: cli

refactor(dir/server): store Capability Interfaces Refactoring (#562)
  cli/cmd/events/events.go
  cli/cmd/events/listen.go
  server/controller/sign.go
  server/controller/store.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/oci.go
  server/sync/monitor/monitor.go
  server/types/store.go
Due: server, cli

implementing the logging configuration options
  server/middleware/logging/interceptor_test.go
  server/middleware/logging/options.go
  server/middleware/logging/options_test.go
Due: server

feat(dir): add create and validate record tools (#465)
  e2e/mcp/01_protocol_test.go
  e2e/mcp/mcp_suite_test.go
  mcp/README.md
  mcp/go.mod
  mcp/go.sum
  mcp/main.go
  mcp/tools/get_schema.go
  mcp/tools/list_versions.go
  mcp/tools/validate_record.go
Due: none

feat: add mcp import cronjob configuration to dirctl values.yaml
  install/charts/dirctl/values.yaml
Due: none

grpc logging integration into server
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/apiserver.env
  mcp/go.mod
  server/config/config.go
  server/middleware/logging/server.go
  server/middleware/logging/server_test.go
  server/server.go
Due: server

cover options with unit tests
  server/middleware/logging/options.go
  server/middleware/logging/options_test.go
Due: server

refactor(dir/python): use local proto stubs
  Taskfile.yml
  proto/buf.gen.yaml
  sdk/dir-py/.gitignore
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
Due: none

refactor(sdk/javascript): use local generated stubs
  Taskfile.yml
  proto/buf.gen.yaml
  sdk/dir-js/.gitignore
  sdk/dir-js/api-extractor.json
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/models/core_v1.ts
  sdk/dir-js/src/models/routing_v1.ts
  sdk/dir-js/src/models/search_v1.ts
  sdk/dir-js/src/models/sign_v1.ts
  sdk/dir-js/src/models/store_v1.ts
Due: none

fix(sdk): remove error ignore from task
  Taskfile.yml
Due: none

fix(sdk): rename task name for api:gen fix
  Taskfile.yml
Due: none

refactor(sdk): use local generated proto stubs (#569)
  Taskfile.yml
  proto/buf.gen.yaml
  sdk/dir-js/.gitignore
  sdk/dir-js/api-extractor.json
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/models/core_v1.ts
  sdk/dir-js/src/models/routing_v1.ts
  sdk/dir-js/src/models/search_v1.ts
  sdk/dir-js/src/models/sign_v1.ts
  sdk/dir-js/src/models/store_v1.ts
  sdk/dir-py/.gitignore
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
Due: none

feat(dir/cli,dir/install): add mcp importer to cli docs and to dirctl cronjobs (#568)
  cli/README.md
  importer/go.mod
  importer/mcp/transformer.go
  install/charts/dirctl/values.yaml
Due: cli

fix: code review issues, context cancellation error flooding
  install/docker/apiserver.env
  server/middleware/logging/options.go
  server/routing/pubsub/manager.go
Due: server

feat(dir/server): add Structured gRPC Request/Response Logging Interceptor (#566)
  .licensei.toml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/apiserver.env
  mcp/go.mod
  server/config/config.go
  server/go.mod
  server/go.sum
  server/middleware/logging/interceptor.go
  server/middleware/logging/interceptor_test.go
  server/middleware/logging/options.go
  server/middleware/logging/options_test.go
  server/middleware/logging/server.go
  server/middleware/logging/server_test.go
  server/routing/pubsub/manager.go
  server/server.go
  utils/logging/config.go
  utils/logging/config_test.go
  utils/logging/logging.go
  utils/logging/logging_test.go
Due: server

feat: add panic recovery middleware and integrate it into server
  server/middleware/recovery/handler.go
  server/middleware/recovery/handler_test.go
  server/middleware/recovery/options.go
  server/middleware/recovery/server.go
  server/middleware/recovery/server_test.go
  server/server.go
Due: server

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
