Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix(cli): register cloud KMS providers (#1892)
  .licensei.toml
  cli/cmd/sign/kms_providers.go
  cli/cmd/sign/kms_providers_test.go
  cli/go.mod
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
  tests/go.mod
Due: cli

fix(routing): allow republish interval override via environment
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  server/config/config.go
  server/config/config_test.go
Due: server, cli

docs: restore dirctl install project scope
  docs/content/dir/dir-cli-reference.md
Due: none

fix(dir): index artifact.media_type in database
  api/core/adapters/oasf_v1.go
  api/core/adapters/objects.go
  api/core/types/record.go
  server/database/catalog_test.go
  server/database/database_test.go
  server/database/gorm/module.go
  server/database/gorm/module_test.go
Due: api, server

fix(routing): allow republish interval override via environment (#1912)
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  server/config/config.go
  server/config/config_test.go
Due: server, cli

fix(routing): allow advertised routing addresses to be set via environment
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
Due: cli

fix(dir): index artifact.media_type in database (#1911)
  api/core/adapters/oasf_v1.go
  api/core/adapters/objects.go
  api/core/types/record.go
  server/database/catalog_test.go
  server/database/database_test.go
  server/database/gorm/module.go
  server/database/gorm/module_test.go
Due: api, server

fix(routing): allow advertised routing addresses to be set via environment (#1913)
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
Due: cli

fix(dir): fix type filter handling for skills
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder.go
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
  server/types/catalog.go
  server/types/database.go
Due: api, server

fix(dir): fix type filter handling for skills (#1902)
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder.go
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
  server/types/catalog.go
  server/types/database.go
Due: api, server

fix(cli): avoid blocking on non-interactive key passwords (#1891)
  cli/cmd/sign/options.go
  cli/cmd/sign/sign.go
  cli/cmd/sign/sign_test.go
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-features-scenarios.md
Due: cli

fix(reconciler): allow local registry credentials to be set via environment
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
Due: cli

fix: linter issues
  cli/cmd/daemon/daemon_test.go
Due: cli

fix(dir): fix ListAgent's tags filter
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
  server/types/catalog.go
Due: server

fix(dir): fix ListAgent's tags filter (#1916)
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
  server/types/catalog.go
Due: server

fix(reconciler): allow local registry credentials to be set via environment (#1915)
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
Due: cli

fix: 404 page
  docs/content/404.html
  docs/content/javascripts/dir-repobeats-data.js
  docs/scripts/deploy_root_files.sh
Due: none

fix: 404 page (#1921)
  docs/content/404.html
  docs/content/javascripts/dir-repobeats-data.js
  docs/scripts/deploy_root_files.sh
Due: none

release(dir): prepare api release v1.6.2
  versions.yaml
Due: none

release(dir): prepare api release v1.6.2
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: client, server, cli

fix: stop concatenating per-module versions into RELEASE_VERSION
  Taskfile.vars.yml
Due: none

refactor: scope RELEASE_VERSION to the api module-set
  Taskfile.vars.yml
Due: none

chore(deps): align and bump zot and postgresql across all environments
  Taskfile.vars.yml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/docker-compose.yml
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

chore(deps): align and bump zot and postgresql across all environments (#1923)
  Taskfile.vars.yml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/docker-compose.yml
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

fix(dir): backfill new column artifact_media_type
  server/database/gorm/migrations/002_backfill_artifact_media_type.go
Due: server

release(dir/api): prepare v1.6.2 (#1922)
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
  versions.yaml
Due: client, server, cli

fix(ci): stop concatenating per-module versions into RELEASE_VERSION (#1910)
  Taskfile.vars.yml
Due: none

fix(dir): backfill new column artifact_media_type (#1924)
  server/database/gorm/migrations/002_backfill_artifact_media_type.go
Due: server

fix(dir): fix AI Catalog pagination
  server/gateway/static/_app/immutable/entry/app.BWptuy2e.js
  server/gateway/static/_app/immutable/entry/app.D-kfLsUI.js
  server/gateway/static/_app/immutable/nodes/0.D6f4vWqR.js
  server/gateway/static/_app/immutable/nodes/0.SWV3q6k5.js
  server/gateway/static/_app/immutable/nodes/2.D5dNcNgY.js
  server/gateway/static/_app/immutable/nodes/2.y66trQ44.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/CatalogHeader.svelte
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/header-stats.svelte.ts
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

release(dir): prepare server release v1.6.2
  versions.yaml
Due: none

release(dir): prepare server release v1.6.2
  cli/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  tests/go.mod
Due: cli

chore(dir): bump dir-* dependencies to latest
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

chore: update version in changelog and readme
  CHANGELOG.md
  README.md
Due: none

fix(dir): fix AI Catalog pagination (#1917)
  server/gateway/static/_app/immutable/entry/app.BWptuy2e.js
  server/gateway/static/_app/immutable/entry/app.D-kfLsUI.js
  server/gateway/static/_app/immutable/nodes/0.D6f4vWqR.js
  server/gateway/static/_app/immutable/nodes/0.SWV3q6k5.js
  server/gateway/static/_app/immutable/nodes/2.D5dNcNgY.js
  server/gateway/static/_app/immutable/nodes/2.y66trQ44.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/CatalogHeader.svelte
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/header-stats.svelte.ts
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

chore(release): prepare server release v1.6.2 (#1926)
  CHANGELOG.md
  README.md
  cli/go.mod
  cli/go.sum
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: cli

feat(dir): separate filter counts & total counts on AI catalog UI
  server/gateway/static/_app/immutable/assets/0.CDdpV59d.css
  server/gateway/static/_app/immutable/assets/0.D-6N7bNh.css
  server/gateway/static/_app/immutable/entry/app.BsGn0wxn.js
  server/gateway/static/_app/immutable/entry/app.D-kfLsUI.js
  server/gateway/static/_app/immutable/nodes/0.DF9D16_f.js
  server/gateway/static/_app/immutable/nodes/2.CvUONM7p.js
  server/gateway/static/_app/immutable/nodes/2.D5dNcNgY.js
  server/gateway/static/index.html
  server/gateway/ui/src/routes/+page.svelte
Due: server

feat(dir): separate filter counts & total counts on AI catalog UI (#1927)
  server/gateway/static/_app/immutable/assets/0.CDdpV59d.css
  server/gateway/static/_app/immutable/assets/0.D-6N7bNh.css
  server/gateway/static/_app/immutable/entry/app.BsGn0wxn.js
  server/gateway/static/_app/immutable/entry/app.D-kfLsUI.js
  server/gateway/static/_app/immutable/nodes/0.DF9D16_f.js
  server/gateway/static/_app/immutable/nodes/2.CvUONM7p.js
  server/gateway/static/_app/immutable/nodes/2.D5dNcNgY.js
  server/gateway/static/index.html
  server/gateway/ui/src/routes/+page.svelte
Due: server

chore: update brew formula version (#1930)
  HomebrewFormula/dirctl/v1/v1.6/dirctl@1.6.2.rb
Due: none

feat(cli): add dirctl daemon config init command
  cli/cmd/daemon/config_init.go
  cli/cmd/daemon/config_init_test.go
  cli/cmd/daemon/daemon.go
  docs/content/dir/dir-cli-reference.md
Due: cli

fix(catalog): use decimal pagination tokens
  server/controller/ai_finder_paging.go
  server/controller/ai_finder_test.go
  server/gateway/static/_app/immutable/entry/app.BsGn0wxn.js
  server/gateway/static/_app/immutable/entry/app.CehxT47Y.js
  server/gateway/static/_app/immutable/nodes/2.CbQJ0XIc.js
  server/gateway/static/_app/immutable/nodes/2.CvUONM7p.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
Due: server
