Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

chore: go mod itdy
  auth/cmd/envoy-authz/go.sum
Due: none

fix: config loader and casbin model
  auth/authzserver/model.conf
  auth/authzserver/server.go
  install/charts/envoy-authz/values.yaml
Due: none

refactor(api): remove requesting_node_id from RequestRegistryCredentialsRequest
  api/store/v1/sync_service.pb.go
  proto/agntcy/dir/store/v1/sync_service.proto
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.js
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.pyi
  server/controller/sync.go
  server/sync/worker.go
Due: server

fix(sync): worker authentication with remote directory
  server/go.mod
  server/sync/config/config.go
  server/sync/sync.go
  server/sync/worker.go
Due: server

feat(dir/helm): implement Casbin-based RBAC for multi-provider authentication (#845)
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/authzserver/model.conf
  auth/authzserver/rbac.go
  auth/authzserver/rbac_test.go
  auth/authzserver/server.go
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  auth/cmd/envoy-authz/main.go
  install/charts/envoy-authz/templates/configmap-authz.yaml
  install/charts/envoy-authz/templates/deployment-authz.yaml
  install/charts/envoy-authz/values.yaml
Due: none

fix(gui): bundle mcp-server in macOS build and update path resolution
  .github/workflows/gui-ci.yaml
  gui/lib/ui/chat_screen.dart
Due: none

test(gui): improve coverage and fix flaky tests
  gui/.metadata
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/settings_screen.dart
  gui/test/mcp/client_unit_test.dart
  gui/test/mcp/model_test.dart
  gui/test/services/ai_service_azure_test.dart
  gui/test/services/ai_service_openai_test.dart
  gui/test/services/ai_service_test.dart
  gui/test/services/llm_provider_test.dart
  gui/test/ui/chat_screen_test.dart
  gui/test/ui/settings_screen_test.dart
  gui/test/ui/widgets/record_card_test.dart
  gui/test/ui/widgets/search_results_widget_test.dart
Due: none

feat(gui): add Azure API version config and enable network entitlement in CI
  .github/workflows/gui-ci.yaml
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/settings_screen.dart
Due: none

feat(gui): add configuration warning banner in chat screen
  gui/lib/ui/chat_screen.dart
  gui/test/ui/chat_screen_test.dart
Due: none

feat(gui): improve MCP path resolution and settings UX
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/settings_screen.dart
Due: none

fix(dir/server/sync): worker authentication with remote directory nodes (#848)
  api/store/v1/sync_service.pb.go
  proto/agntcy/dir/store/v1/sync_service.proto
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/sync_service_pb.js
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/sync_service_pb2.pyi
  server/controller/sync.go
  server/go.mod
  server/sync/config/config.go
  server/sync/sync.go
  server/sync/worker.go
Due: server

fix(dir): spire e2e test policy
  Taskfile.yml
Due: none

feat(dir): update policies via helm values
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
Due: server

fix(dir): rename enforcer policy content yaml key
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

refactor(dir): use file based policies
  server/authz/authorizer.go
  server/authz/authorizer_test.go
  server/authz/config/config.go
  server/authz/policies.csv
  server/authz/service.go
  server/config/config_test.go
Due: server

refactor(dir): add policies to config
  server/authz/authorizer.go
  server/authz/authorizer_test.go
  server/authz/config/config.go
Due: server

refactor(dir): finalize policy and model processing
  server/authz/authorizer.go
  server/authz/authorizer_test.go
  server/authz/config/config.go
  server/authz/policies.csv
  server/authz/service.go
  server/authz/testdata/allow_all_policies.csv
  server/authz/testdata/external_pull_only_policies.csv
  server/authz/testdata/externals_only_policies.csv
  server/config/config.go
  server/config/config_test.go
Due: server

fix(dir): move authz doc to separate file
  AUTHZ.md
  SECURITY.md
Due: none

feat(dir): expand authz helm template
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

fix(dir): move doc to security.md
  README.md
  SECURITY.md
Due: none

docs(dir): add policy documentation to readme
  README.md
Due: none

feat(dir): dynamic policy for authz (#834)
  AUTHZ.md
  SECURITY.md
  Taskfile.yml
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/authz/authorizer.go
  server/authz/authorizer_test.go
  server/authz/config/config.go
  server/authz/service.go
  server/authz/testdata/allow_all_policies.csv
  server/authz/testdata/external_pull_only_policies.csv
  server/authz/testdata/externals_only_policies.csv
  server/config/config.go
  server/config/config_test.go
Due: server

feat(gui): add support for Ollama local LLM
  gui/lib/services/ai_service.dart
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/settings_screen.dart
Due: none

test(gui): improve coverage and fix flaky tests (#843)
  .github/workflows/gui-ci.yaml
  gui/.metadata
  gui/lib/services/ai_service.dart
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/settings_screen.dart
  gui/test/mcp/client_unit_test.dart
  gui/test/mcp/model_test.dart
  gui/test/services/ai_service_azure_test.dart
  gui/test/services/ai_service_openai_test.dart
  gui/test/services/ai_service_test.dart
  gui/test/services/llm_provider_test.dart
  gui/test/ui/chat_screen_test.dart
  gui/test/ui/settings_screen_test.dart
  gui/test/ui/widgets/record_card_test.dart
  gui/test/ui/widgets/search_results_widget_test.dart
Due: none

feat(gui): add Google Analytics via Measurement Protocol
  gui/GUI_GUIDE.md
  gui/analytics_config.json
  gui/lib/main.dart
  gui/lib/services/analytics_service.dart
  gui/lib/ui/chat_screen.dart
Due: none

docs(mcp): add GitHub authentication setup with PAT recommendation
  mcp/README.md
Due: none

fix(authz): resolve federation e2e authz config
  AUTHZ.md
  Taskfile.yml
Due: none

fix(authz): resolve federation e2e authz config (#854)
  AUTHZ.md
  Taskfile.yml
Due: none

feat: dirctl pull by name
  api/naming/v1/naming_service.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/pull/pull.go
  cli/util/reference/reference.go
  client/naming.go
  e2e/client/01_client_test.go
  e2e/client/02_events_test.go
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  e2e/local/08_resolve_test.go
  e2e/mcp/01_protocol_test.go
  e2e/shared/testdata/embed.go
  e2e/shared/testdata/record_080_v4.json
  e2e/shared/testdata/record_080_v5.json
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
  server/controller/naming.go
  server/database/sqlite/naming.go
  server/database/sqlite/record.go
  server/reverification/scheduler.go
  server/types/database.go
Due: client, server, cli

refactor: add pull by name to dirctl info command
  cli/cmd/info/info.go
  cli/cmd/pull/pull.go
  cli/util/reference/reference.go
  e2e/local/08_resolve_test.go
  e2e/shared/utils/cli.go
Due: cli

refactor: move Ref to core package
  api/core/v1/record.pb.go
  api/naming/v1/naming_service.pb.go
  proto/agntcy/dir/core/v1/record.proto
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.js
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.py
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  server/controller/naming.go
Due: server

refactor: change Resolve rpc signature
  api/naming/v1/naming_service.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/pull/pull.go
  client/naming.go
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
  server/controller/naming.go
Due: client, server, cli

refactor: add hash verified lookup
  cli/cmd/pull/pull.go
  cli/util/reference/reference.go
  e2e/local/08_resolve_test.go
  proto/agntcy/dir/naming/v1/naming_service.proto
Due: cli

refactor: add --verified flag to dirctl search
  api/search/v1/record_query.pb.go
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  proto/agntcy/dir/search/v1/record_query.proto
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.js
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.py
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.pyi
  server/database/sqlite/record.go
  server/database/utils/utils.go
  server/types/search.go
Due: server, cli

fix: sorting
  api/naming/v1/naming_service.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/info/info.go
  cli/cmd/pull/pull.go
  cli/util/reference/reference.go
  client/naming.go
  e2e/local/08_resolve_test.go
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
  server/controller/naming.go
  server/database/sqlite/record.go
Due: client, server, cli

feat: add name to CLI naming verify
  api/naming/v1/naming_service.pb.go
  cli/cmd/naming/verify.go
  client/naming.go
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  server/controller/naming.go
Due: client, server, cli

test: sort by created_at
  cli/go.mod
  server/controller/naming.go
  server/database/sqlite/record.go
Due: server, cli

test: fix tests
  e2e/local/08_resolve_test.go
Due: none
