Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

fix(ui): resolve tag suggestion loading races
  server/gateway/static/_app/immutable/entry/app.CKbpG_XR.js
  server/gateway/static/_app/immutable/entry/app.CfO-sDfw.js
  server/gateway/static/_app/immutable/nodes/2.BamhBAP1.js
  server/gateway/static/_app/immutable/nodes/2.BhzUFajO.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/TagFilterSection.svelte
Due: server

fix(dir): restrict extractor results
  cli/cmd/import/extractor_adapter.go
  cli/cmd/import/extractor_adapter_test.go
Due: cli

fix(scan): batch superseded referrer deletes and guard on referrer type
  reconciler/tasks/scan/referrer_test.go
  reconciler/tasks/scan/task.go
Due: none

fix(store): delete referrers by manifest descriptor, not CID tag
  server/ingest/ingest_test.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/internal.go
  server/store/oci/referrers.go
  server/store/oci/referrers_test.go
  server/types/store.go
Due: server

fix(store): stop tagging referrers with their CID
  reconciler/tasks/indexer/manifest.go
  server/store/oci/referrers.go
  server/store/oci/referrers_test.go
Due: server

fix(store): stop tagging referrers with their CID (#2108)
  reconciler/tasks/indexer/manifest.go
  reconciler/tasks/scan/referrer_test.go
  reconciler/tasks/scan/task.go
  server/ingest/ingest_test.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/internal.go
  server/store/oci/referrers.go
  server/store/oci/referrers_test.go
  server/types/store.go
Due: server

fix(dir): restrict extractor results (#2106)
  cli/cmd/import/extractor_adapter.go
  cli/cmd/import/extractor_adapter_test.go
Due: cli

test(e2e): validate AI Catalog endpoints with Go SDK
  tests/e2e/local/18_ai_catalog_sdk_test.go
  tests/e2e/shared/testdata/catalog_skill_record.json
  tests/e2e/shared/testdata/embed.go
  tests/go.mod
  tests/go.sum
Due: none

feat(ui): recommend catalog tags from a description (#2105)
  server/gateway/static/_app/immutable/assets/0.CAlm59r1.css
  server/gateway/static/_app/immutable/assets/0.D-6N7bNh.css
  server/gateway/static/_app/immutable/chunks/B9bhcfNd.js
  server/gateway/static/_app/immutable/chunks/BBm4RX7U.js
  server/gateway/static/_app/immutable/chunks/BE3mKSrw.js
  server/gateway/static/_app/immutable/chunks/BmdAKXA0.js
  server/gateway/static/_app/immutable/chunks/BvFvB0xU.js
  server/gateway/static/_app/immutable/chunks/C-S5hJo3.js
  server/gateway/static/_app/immutable/chunks/D0e8kos2.js
  server/gateway/static/_app/immutable/chunks/D5OVXhOq.js
  server/gateway/static/_app/immutable/chunks/DPGp9GGy.js
  server/gateway/static/_app/immutable/chunks/Da3xB4LP.js
  server/gateway/static/_app/immutable/chunks/DsJNZJ3t.js
  server/gateway/static/_app/immutable/entry/app.CfO-sDfw.js
  server/gateway/static/_app/immutable/entry/app.Dnr0g9V_.js
  server/gateway/static/_app/immutable/entry/start.IuC63T2i.js
  server/gateway/static/_app/immutable/entry/start.RV-5dyY6.js
  server/gateway/static/_app/immutable/nodes/0.D1TABI0x.js
  server/gateway/static/_app/immutable/nodes/0.YAJeYxhr.js
  server/gateway/static/_app/immutable/nodes/1.CWgtiKwJ.js
  server/gateway/static/_app/immutable/nodes/1.y-TS4hvm.js
  server/gateway/static/_app/immutable/nodes/2.BhzUFajO.js
  server/gateway/static/_app/immutable/nodes/2.D_54MLUH.js
  server/gateway/static/_app/immutable/nodes/3.gV4OOSVy.js
  server/gateway/static/index.html
  server/gateway/ui/Taskfile.yml
  server/gateway/ui/package-lock.json
  server/gateway/ui/package.json
  server/gateway/ui/src/lib/api.test.ts
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/TagFilterSection.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/vite.config.ts
Due: server

chore(ci): restrict GITHUB_TOKEN to least privilege (#2104)
  .github/workflows/buf-ci.yaml
  .github/workflows/build-feature.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/container-security-scan.yml
  .github/workflows/demo-dir.yaml
  .github/workflows/dependencies.yaml
  .github/workflows/docs-ci.yaml
  .github/workflows/import-records.yaml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/oidc-test.yml
  .github/workflows/post-release.yml
  .github/workflows/pr.yaml
  .github/workflows/project.yaml
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
Due: none

ci(release): attach SLSA provenance to release assets
  .github/workflows/reusable-release.yaml
Due: none

ci(release): add workflow to backfill signatures for published releases
  .github/workflows/backfill-release-signatures.yaml
  .github/workflows/scripts/backfill-release-signatures.sh
Due: none

chore(deps): enable npm and pep621 renovate managers
  renovate.json
Due: none

chore(deps): update mkdocs-material and gateway ui dependencies
  docs/mkdocs/uv.lock
  server/gateway/ui/package-lock.json
  server/gateway/ui/package.json
Due: server

chore(deps): scan npm and python dependencies and fix reported vulnerabilities (#2114)
  docs/mkdocs/uv.lock
  renovate.json
  server/gateway/ui/package-lock.json
  server/gateway/ui/package.json
Due: server

ci(release): sign release artifacts and backfill published releases (#2113)
  .github/workflows/backfill-release-signatures.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/scripts/backfill-release-signatures.sh
Due: none

test(e2e): cover the remote extractor in Kind
  .github/workflows/reusable-test-e2e.yaml
  tests/Taskfile.yml
  tests/e2e/local/19_remote_extractor_test.go
  tests/e2e/local/config/config.go
  tests/e2e/local/testenv/kind/test-config.yaml
Due: none

test(e2e): tolerate extractor startup and fix Kind naming host
  .github/workflows/reusable-test-e2e.yaml
  tests/e2e/local/19_remote_extractor_test.go
  tests/e2e/local/testenv/kind/test-config.yaml
Due: none

test(e2e): enforce AI Catalog SDK conformance
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  server/controller/ai_finder.go
  tests/e2e/local/18_ai_catalog_sdk_test.go
Due: api, server

docs(proposal): add record quality gate design notes
  proposals/README.md
  proposals/quality-gate/README.md
  proposals/quality-gate/open-questions.md
  proposals/quality-gate/policy-model.md
  proposals/quality-gate/tombstones.md
Due: none

test(e2e): cover the remote extractor in Kind (#2118)
  .github/workflows/reusable-test-e2e.yaml
  tests/Taskfile.yml
  tests/e2e/local/19_remote_extractor_test.go
  tests/e2e/local/config/config.go
  tests/e2e/local/testenv/kind/test-config.yaml
Due: none

ci(release): remove backfill release signatures workflow and script
  .github/workflows/backfill-release-signatures.yaml
  .github/workflows/scripts/backfill-release-signatures.sh
Due: none

ci(release): remove backfill release signatures workflow and script (#2115)
  .github/workflows/backfill-release-signatures.yaml
  .github/workflows/scripts/backfill-release-signatures.sh
Due: none

fix(tests): delete the nl-search record in AfterAll to avoid leaking into the shared daemon
  tests/e2e/local/15_nl_search_test.go
Due: none

feat(proto,api): add record identity/ownership verifiable claims (identity.v1)
  api/core/v1/record.go
  api/core/v1/record_annotations.go
  api/core/v1/record_identity_test.go
  api/core/v1/record_test.go
  api/core/v1/referrer_types.go
  api/core/v1/rules.pb.go
  api/go.mod
  api/go.sum
  api/identity/v1/claim.go
  api/identity/v1/claim.pb.go
  api/identity/v1/identity_service.pb.go
  api/identity/v1/identity_service_grpc.pb.go
  api/identity/v1/jws.go
  api/identity/v1/referrer.go
  api/identity/v1/referrer_test.go
  api/identity/v1/sign.go
  api/identity/v1/sign_verify_test.go
  api/identity/v1/verify.go
  api/search/v1/record_query.pb.go
  proto/agntcy/dir/core/v1/rules.proto
  proto/agntcy/dir/identity/v1/claim.proto
  proto/agntcy/dir/identity/v1/identity_service.proto
  proto/agntcy/dir/search/v1/record_query.proto
  proto/buf.gen.yaml
Due: api

feat(server): identity resolvers, claims storage, and ingest verification
  server/config/config.go
  server/config/config_test.go
  server/controller/identity.go
  server/controller/identity_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
  server/database/gorm/identity_claims.go
  server/database/gorm/identity_claims_test.go
  server/database/gorm/migration.go
  server/database/gorm/record.go
  server/database/gorm/record_exclude.go
  server/database/gorm/record_remove_test.go
  server/database/utils/utils.go
  server/go.mod
  server/identity/config/config.go
  server/identity/did/resolver.go
  server/identity/did/resolver_test.go
  server/identity/dns/resolver.go
  server/identity/dns/resolver_test.go
  server/identity/registry.go
  server/identity/spiffe/bundle.go
  server/identity/spiffe/bundle_test.go
  server/identity/wellknown/resolver.go
  server/identity/wellknown/resolver_test.go
  server/ingest/ingest.go
  server/ingest/ingest_test.go
  server/server.go
  server/types/database.go
  server/types/identity.go
  server/types/search.go
  utils/safefetch/fetch.go
  utils/safefetch/fetch_internal_test.go
  utils/safefetch/fetch_test.go
Due: server

feat(client,cli,reconciler): identity SDK, CLI commands, and re-verification task
  .skill/references/verification.md
  cli/README.md
  cli/cmd/identity/identity.go
  cli/cmd/identity/identity_test.go
  cli/cmd/root.go
  cli/cmd/search/filters.go
  cli/cmd/search/filters_test.go
  client/client.go
  client/go.mod
  client/go.sum
  client/identity.go
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-sdk-go.md
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/go.mod
  reconciler/service/service.go
  reconciler/tasks/identity/config.go
  reconciler/tasks/identity/task.go
  reconciler/tasks/identity/task_test.go
  reconciler/tasks/signature/task_test.go
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  server/controller/identity.go
  server/types/database.go
Due: client, server, cli

refactor!: remove naming.v1 domain-verification service
  api/naming/v1/name_verification.go
  api/naming/v1/name_verification.pb.go
  api/naming/v1/naming_service.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/identity/identity.go
  cli/cmd/naming/naming.go
  cli/cmd/naming/verify.go
  client/client.go
  client/identity.go
  client/naming.go
  docs/content/dir/dir-api-reference.md
  proto/agntcy/dir/naming/v1/name_verification.proto
  proto/agntcy/dir/naming/v1/naming_service.proto
  reconciler/tasks/name/config.go
  reconciler/tasks/name/config_test.go
  reconciler/tasks/name/task.go
  reconciler/tasks/signature/task_test.go
  samples/ard-over-ads/consumer/verify.go
  server/controller/naming.go
  server/database/gorm/naming.go
  server/naming/config/config.go
  server/naming/keys.go
  server/naming/name.go
  server/naming/name_test.go
  server/naming/provider.go
  server/naming/types.go
  server/naming/wellknown/config/config.go
  server/naming/wellknown/fetcher.go
  server/naming/wellknown/parser.go
  server/naming/wellknown/parser_test.go
  server/types/database.go
  server/types/naming.go
  tests/e2e/local/09_naming_test.go
Due: api, client, server, cli

refactor!: remove dirctl import and dir-importer dependency
  .github/workflows/import-records.yaml
  .github/workflows/scripts/enricher_ci.json.template
  .github/workflows/scripts/import-records-summary.sh
  .github/workflows/scripts/import-records.json
  .skill/SKILL.md
  .skill/references/authoring.md
  .skill/references/publishing.md
  api/catalog/v1/catalog.go
  cli/cmd/import/config.go
  cli/cmd/import/config_test.go
  cli/cmd/import/extractor_adapter.go
  cli/cmd/import/extractor_adapter_test.go
  cli/cmd/import/import.config.yaml
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  cli/go.mod
  cli/go.sum
  docs/content/dir/.index
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-features-scenarios.md
  docs/mkdocs/mkdocs.yml
  renovate.json
  tests/e2e/local/10_export_test.go
  tests/e2e/local/16_extractor_enricher_test.go
  tests/e2e/local/config/config.go
  tests/e2e/local/testenv/kind/test-config.yaml
  tests/e2e/local/testenv/local/test-config.yaml
  tests/e2e/shared/testdata/a2a-agent-card.json
  tests/e2e/shared/testdata/embed.go
  tests/e2e/shared/testdata/mcp-server.json
  tests/go.mod
  tests/go.sum
Due: api, cli

refactor!: remove dirctl mcp serve and dir-mcp dependency
  .github/actions/init-dirctl/README.md
  .github/actions/init-dirctl/action.yaml
  .github/actions/sign-record/README.md
  README.md
  cli/cmd/init/agents.go
  cli/cmd/init/agents_test.go
  cli/cmd/init/init.go
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/mcp/mcp.go
  cli/cmd/mcp/serve.go
  cli/internal/agentinstall/derive.go
  cli/internal/agentinstall/derive_test.go
  install/charts/dirctl/values.yaml
  server/skill/skill.go
  tests/e2e/local/14_skill_record_test.go
Due: server, cli

fix(cli): keep dirctl logs off stdout (#2016)
  cli/cli.go
  cli/cmd/daemon/start.go
  utils/logging/config.go
  utils/logging/config_test.go
  utils/logging/logging.go
  utils/logging/logging_test.go
Due: cli

test(e2e): cover POST /v1/search parity and POST /v1/extract
  tests/e2e/daemon/02_no_extractor_test.go
  tests/e2e/daemon/config/config.go
  tests/e2e/daemon/testenv/default/Taskfile.testenv.yml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/test-config.yaml
  tests/e2e/local/13_ai_finder_test.go
  tests/e2e/local/15_nl_search_test.go
  tests/e2e/local/18_ai_finder_search_test.go
  tests/e2e/local/19_remote_extractor_test.go
  tests/e2e/local/20_ai_finder_extract_test.go
  tests/e2e/local/ai_finder_http_test.go
  tests/e2e/local/config/config.go
  tests/e2e/local/local_suite_test.go
  tests/e2e/local/testenv/kind/test-config.yaml
  tests/e2e/local/testenv/local/Taskfile.testenv.yml
  tests/e2e/local/testenv/local/test-config.yaml
  tests/modules/Taskfile.setup-dir-node.yml
Due: none

test(e2e): cover POST /v1/search parity and POST /v1/extract (#2120)
  tests/e2e/daemon/02_no_extractor_test.go
  tests/e2e/daemon/config/config.go
  tests/e2e/daemon/testenv/default/Taskfile.testenv.yml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/test-config.yaml
  tests/e2e/local/13_ai_finder_test.go
  tests/e2e/local/15_nl_search_test.go
  tests/e2e/local/18_ai_finder_search_test.go
  tests/e2e/local/19_remote_extractor_test.go
  tests/e2e/local/20_ai_finder_extract_test.go
  tests/e2e/local/ai_finder_http_test.go
  tests/e2e/local/config/config.go
  tests/e2e/local/local_suite_test.go
  tests/e2e/local/testenv/kind/test-config.yaml
  tests/e2e/local/testenv/local/Taskfile.testenv.yml
  tests/e2e/local/testenv/local/test-config.yaml
  tests/modules/Taskfile.setup-dir-node.yml
Due: none

feat(search): add ListRecordValues RPC for distinct filter values
  api/search/v1/search_service.pb.go
  api/search/v1/search_service_grpc.pb.go
  proto/agntcy/dir/search/v1/search_service.proto
  reconciler/tasks/signature/task_test.go
  server/controller/search.go
  server/controller/search_test.go
  server/database/database_test.go
  server/database/gorm/record_values.go
  server/types/database.go
  server/types/search.go
Due: server

fix(search): make author values round-trip into queries
  api/search/v1/search_service.pb.go
  proto/agntcy/dir/search/v1/search_service.proto
  server/controller/search.go
  server/controller/search_test.go
  server/database/database_test.go
  server/database/gorm/filter_values.go
  server/database/gorm/record.go
  server/database/utils/wildcard.go
Due: server

refactor(search): rename ListRecordValues to ListFilterValues
  CHANGELOG.md
  api/search/v1/search_service.pb.go
  api/search/v1/search_service_grpc.pb.go
  proto/agntcy/dir/search/v1/search_service.proto
  reconciler/tasks/signature/task_test.go
  server/controller/search.go
  server/controller/search_test.go
  server/database/database_test.go
  server/database/gorm/catalog.go
  server/database/gorm/filter_values.go
  server/types/database.go
  server/types/search.go
Due: server

feat(search): return distinct authors from ListRecordValues
  api/search/v1/search_service.pb.go
  proto/agntcy/dir/search/v1/search_service.proto
  server/controller/search_test.go
  server/database/database_test.go
  server/database/gorm/record_values.go
  server/types/search.go
Due: server

refactor(search): drop VERSION from ListRecordValues field set
  api/search/v1/search_service.pb.go
  proto/agntcy/dir/search/v1/search_service.proto
  server/database/database_test.go
  server/database/gorm/record_values.go
  server/types/search.go
Due: server

refactor(catalog): derive tags from shared distinct helper, drop annotations
  CHANGELOG.md
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/gorm/catalog.go
Due: server

feat(api): search service to list filter values (#2121)
  CHANGELOG.md
  api/search/v1/search_service.pb.go
  api/search/v1/search_service_grpc.pb.go
  proto/agntcy/dir/search/v1/search_service.proto
  reconciler/tasks/signature/task_test.go
  server/controller/ai_finder_test.go
  server/controller/search.go
  server/controller/search_test.go
  server/database/catalog_test.go
  server/database/database_test.go
  server/database/gorm/catalog.go
  server/database/gorm/filter_values.go
  server/database/gorm/record.go
  server/database/utils/wildcard.go
  server/types/database.go
  server/types/search.go
Due: server

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
