Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

chore(UI): add subtext to page title
  server/gateway/static/_app/immutable/assets/0.Dtw_yxP9.css
  server/gateway/static/_app/immutable/assets/0.DwrYPS-D.css
  server/gateway/static/_app/immutable/entry/app.BIRvPg0o.js
  server/gateway/static/_app/immutable/entry/app.JvTij5KW.js
  server/gateway/static/_app/immutable/nodes/0.DK69g5DH.js
  server/gateway/static/_app/immutable/nodes/2.CT9aD27E.js
  server/gateway/static/index.html
  server/gateway/ui/src/routes/+page.svelte
Due: server

chore: updating hero-flip
  docs/content/javascripts/dir-hero-flip.js
  docs/content/stylesheets/dir-landing.css
Due: none

chore(dir): add authn service debug logs
  server/authn/service.go
Due: server

chore: lf logo mobile fix
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

chore: fixing mibile display
  docs/content/index.md
  docs/content/javascripts/dir-hero-flip.js
  docs/content/stylesheets/agntcy-docs.css
  docs/content/stylesheets/dir-landing.css
Due: none

chore: easteregg
  docs/content/javascripts/dir-hero-flip.js
Due: none

chore: updating cli demo
  docs/content/index.md
  docs/content/javascripts/dirctl-demo-data.js
  docs/content/javascripts/dirctl-terminal.js
Due: none

fix: links in the cli demo
  docs/content/index.md
  docs/content/javascripts/dirctl-terminal.js
  docs/content/stylesheets/dirctl-terminal.css
Due: none

feat(gateway/ui): align AI Catalog UI to Figma Phoenix design
  server/gateway/ui/src/app.css
  server/gateway/ui/src/app.html
  server/gateway/ui/src/lib/components/AgentCard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/DisclaimerBanner.svelte
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/MediaTypeBadge.svelte
  server/gateway/ui/src/lib/components/Pagination.svelte
  server/gateway/ui/src/lib/components/VerifiedBadge.svelte
  server/gateway/ui/src/routes/+page.svelte
Due: server

build(gateway/ui): rebuild embedded static assets for Phoenix restyle
  server/gateway/static/_app/immutable/assets/0.DwrYPS-D.css
  server/gateway/static/_app/immutable/assets/0.dJ-lwaJ4.css
  server/gateway/static/_app/immutable/entry/app.BIRvPg0o.js
  server/gateway/static/_app/immutable/entry/app.BrrY0BYs.js
  server/gateway/static/_app/immutable/nodes/0.CFgZAxSd.js
  server/gateway/static/_app/immutable/nodes/2.CT9aD27E.js
  server/gateway/static/_app/immutable/nodes/2.DAsjImm9.js
  server/gateway/static/index.html
Due: server

feat(gateway/ui): align AI Catalog UI to Figma Phoenix design (#1622)
  server/gateway/static/_app/immutable/assets/0.DwrYPS-D.css
  server/gateway/static/_app/immutable/assets/0.dJ-lwaJ4.css
  server/gateway/static/_app/immutable/entry/app.BIRvPg0o.js
  server/gateway/static/_app/immutable/entry/app.BrrY0BYs.js
  server/gateway/static/_app/immutable/nodes/0.CFgZAxSd.js
  server/gateway/static/_app/immutable/nodes/2.CT9aD27E.js
  server/gateway/static/_app/immutable/nodes/2.DAsjImm9.js
  server/gateway/static/index.html
  server/gateway/ui/src/app.css
  server/gateway/ui/src/app.html
  server/gateway/ui/src/lib/components/AgentCard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/DisclaimerBanner.svelte
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/MediaTypeBadge.svelte
  server/gateway/ui/src/lib/components/Pagination.svelte
  server/gateway/ui/src/lib/components/VerifiedBadge.svelte
  server/gateway/ui/src/routes/+page.svelte
Due: server

chore(catalog): resolve well-known identifiers and identity
  api/catalog/v1/catalog.go
  server/controller/ai_finder.go
Due: api, server

chore(catalog): resolve well-known identifiers and identity
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

fix: well known catalog tests
  server/controller/ai_finder_test.go
Due: server

chore(catalog): resolve well-known identifiers and identity (#1623)
  api/catalog/v1/catalog.go
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/controller/ai_finder.go
  server/controller/ai_finder_test.go
Due: api, server

Create CNAME
  CNAME
Due: none

chore: updating graph
  docs/content/assets/dir-graph-dark.svg
  docs/content/assets/dir-graph-light.svg
  docs/content/index.md
  docs/content/javascripts/dir-graph.js
  docs/content/stylesheets/dir-landing.css
  docs/mkdocs/mkdocs.yml
Due: none

fix: graph
  docs/content/javascripts/dir-graph.js
  docs/content/stylesheets/dir-landing.css
Due: none

fix: graph
  docs/content/stylesheets/dir-landing.css
Due: none

fix: mobile tooltip
  docs/content/javascripts/palette-tooltip-fix.js
  docs/mkdocs/mkdocs.yml
Due: none

fix(helm): drop unused federatesWith spire config for services
  install/charts/dir/apiserver/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/templates/reconciler-clusterspiffeid.yaml
  install/charts/dirctl/templates/clusterspiffeids.yaml
Due: none

fix(helm): drop unused federatesWith spire config for services (#1625)
  install/charts/dir/apiserver/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/templates/reconciler-clusterspiffeid.yaml
  install/charts/dirctl/templates/clusterspiffeids.yaml
Due: none

chore: update graph
  docs/content/index.md
  docs/content/javascripts/dir-graph.js
  docs/content/stylesheets/dir-landing.css
Due: none

chore: graph adjustments
  docs/content/javascripts/dir-graph.js
  docs/content/stylesheets/dir-landing.css
Due: none

chore(docs): major refactor of the main page (#1619)
  docs/content/assets/dir-graph-dark.svg
  docs/content/assets/dir-graph-light.svg
  docs/content/assets/landing/feature-discovery.svg
  docs/content/assets/landing/feature-federation.svg
  docs/content/assets/landing/feature-trust.svg
  docs/content/index.md
  docs/content/javascripts/dir-graph.js
  docs/content/javascripts/dir-hero-flip.js
  docs/content/javascripts/dirctl-demo-data.js
  docs/content/javascripts/dirctl-terminal.js
  docs/content/javascripts/palette-tooltip-fix.js
  docs/content/stylesheets/agntcy-docs.css
  docs/content/stylesheets/dir-landing.css
  docs/content/stylesheets/dirctl-terminal.css
  docs/mkdocs/mkdocs.yml
Due: none

chore: verifying docs
  cli/README.md
  docs/content/dir/dir-api-reference.md
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-event-streaming.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-sdk.md
  docs/content/dir/dir-validation.md
  server/README.md
Due: server, cli

chore: adding ai catalog announcement
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

perf(ui): faster AI Catalog first load with paginated initial fetch
  server/gateway/static/_app/immutable/entry/app.BrrY0BYs.js
  server/gateway/static/_app/immutable/entry/app.Cg76LPre.js
  server/gateway/static/_app/immutable/nodes/2.Ag__P2HJ.js
  server/gateway/static/_app/immutable/nodes/2.DAsjImm9.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/routes/+page.svelte
Due: server

fix(ui): re-apply latest client filters during catalog hydration
  server/gateway/ui/src/routes/+page.svelte
Due: server

fix(ui): keep first page visible when catalog hydration fails
  server/gateway/ui/src/routes/+page.svelte
Due: server

perf(ui): incrementally merge filtered agents during hydration
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

refactor(ui): type buildAgentFilterQuery with AgentFilterCriteria Pick
  server/gateway/ui/src/lib/api.ts
Due: server

chore(ui): build static files
  server/gateway/static/_app/immutable/assets/0.DVhh6woJ.css
  server/gateway/static/_app/immutable/assets/0.dJ-lwaJ4.css
  server/gateway/static/_app/immutable/entry/app.C9ou6Nj2.js
  server/gateway/static/_app/immutable/entry/app.Cg76LPre.js
  server/gateway/static/_app/immutable/nodes/0.wz3lF15w.js
  server/gateway/static/_app/immutable/nodes/2.Ag__P2HJ.js
  server/gateway/static/_app/immutable/nodes/2.DvlRsUQC.js
  server/gateway/static/index.html
Due: server

perf(ui): incrementally merge catalog tags during hydration
  server/gateway/static/_app/immutable/entry/app.BVowpp0h.js
  server/gateway/static/_app/immutable/entry/app.C9ou6Nj2.js
  server/gateway/static/_app/immutable/nodes/2.DvlRsUQC.js
  server/gateway/static/_app/immutable/nodes/2.w0UVLO9E.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

perf(ui): use larger page size during catalog hydration
  server/gateway/static/_app/immutable/entry/app.BVowpp0h.js
  server/gateway/static/_app/immutable/entry/app.dX91YWC8.js
  server/gateway/static/_app/immutable/nodes/2.DHMQbizN.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

fix(ui): stop hydration when server filter changes mid-flight
  server/gateway/static/_app/immutable/entry/app.DrBb4eN3.js
  server/gateway/static/_app/immutable/entry/app.dX91YWC8.js
  server/gateway/static/_app/immutable/nodes/2.DHMQbizN.js
  server/gateway/static/_app/immutable/nodes/2.De2Jrqva.js
  server/gateway/static/index.html
  server/gateway/ui/src/routes/+page.svelte
Due: server

perf(ui): faster AI Catalog first load with paginated initial fetch (#1638)
  server/gateway/static/_app/immutable/assets/0.DVhh6woJ.css
  server/gateway/static/_app/immutable/assets/0.dJ-lwaJ4.css
  server/gateway/static/_app/immutable/entry/app.BrrY0BYs.js
  server/gateway/static/_app/immutable/entry/app.DrBb4eN3.js
  server/gateway/static/_app/immutable/nodes/0.wz3lF15w.js
  server/gateway/static/_app/immutable/nodes/2.DAsjImm9.js
  server/gateway/static/_app/immutable/nodes/2.De2Jrqva.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

feat: add SKILL.md file
  server/server.go
  server/skill/SKILL.md
  server/skill/publisher.go
  server/skill/skill.go
  tests/e2e/local/14_skill_record_test.go
Due: server

refactor: code review
  cli/README.md
  docs/content/dir/dir-api-reference.md
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-validation.md
Due: cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
