Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

chore(ci): update importer workflow
  .github/workflows/import-records.yaml
Due: none

fix(reconciler): create nonroot home directory in container images
  reconciler/Dockerfile
Due: none

docs: add todo
  server/database/config/config.go
Due: server

fix(reconciler): create nonroot home directory in container images (#1810)
  reconciler/Dockerfile
  server/database/config/config.go
Due: server

fix(routing): AutoRelay accepts only one relay source
  server/routing/internal/p2p/server.go
Due: server

chore: bump oasf-sdk
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

test: oasf 110
  tests/e2e/local/01_storage_test.go
  tests/e2e/shared/testdata/embed.go
  tests/e2e/shared/testdata/record_110.json
Due: none

fix(cli/importer): restrict extractor to latest OASF taxonomy version
  cli/cmd/import/extractor_adapter.go
Due: cli

chore: bump dir importer
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

feat(cli/importer): bump dir importer and upgrade to OASF 1.1.0 (#1806)
  .github/workflows/import-records.yaml
  api/go.mod
  api/go.sum
  cli/cmd/import/config.go
  cli/cmd/import/config_test.go
  cli/cmd/import/extractor_adapter.go
  cli/cmd/import/import.config.yaml
  cli/cmd/import/import.go
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  tests/e2e/local/01_storage_test.go
  tests/e2e/local/10_export_test.go
  tests/e2e/shared/testdata/embed.go
  tests/e2e/shared/testdata/record_110.json
  tests/go.mod
  tests/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

feat(routing): trigger autosync from GossipSub announcements
  server/routing/autosync/autosync.go
  server/routing/autosync/autosync_test.go
  server/routing/pubsub/manager.go
  server/routing/routing_remote.go
Due: server

feat(routing): add force_reachability_private option
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/routing/config/config.go
  server/routing/internal/p2p/host.go
  server/routing/internal/p2p/options.go
  server/routing/internal/p2p/server.go
  server/routing/routing_remote.go
Due: server, cli

fix: launch AutoRelay background goroutine
  server/routing/internal/p2p/server.go
Due: server

fix(routing): force relay reachability public
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/routing/config/config.go
  server/routing/internal/p2p/host.go
  server/routing/internal/p2p/options.go
  server/routing/internal/p2p/server.go
  server/routing/routing_remote.go
Due: server, cli

refactor: revert oasf bump to 110
  server/skill/skill.go
  tests/e2e/local/01_storage_test.go
  tests/e2e/local/10_export_test.go
  tests/integration/server/push_test.go
  tests/integration/server/testenv/docker-compose.yml
  tests/test_utils/gofakeit.go
  tests/test_utils/oasf_110.go
Due: server

feat: add DIR agentskill with complete workflows
  .skill/SKILL.md
  .skill/references/authoring.md
  .skill/references/discovery.md
  .skill/references/install.md
  .skill/references/publishing.md
  .skill/references/setup.md
  .skill/references/sync.md
  .skill/references/verification.md
  server/skill/SKILL.md
Due: server

chore: add skill data
  .skill/SKILL.md
Due: none

feat: add integration-aware DIR skill
  server/skill/SKILL.md
Due: server

fix: setup resulution in background process
  .skill/references/setup.md
  .skill/references/sync.md
Due: none

refactor: use dir-importer with 100 validation
  cli/cmd/import/config.go
  cli/cmd/import/import.config.yaml
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

feat(workflows): add integration-aware DIR agent skill (#1700)
  .skill/SKILL.md
  .skill/references/authoring.md
  .skill/references/discovery.md
  .skill/references/install.md
  .skill/references/publishing.md
  .skill/references/setup.md
  .skill/references/sync.md
  .skill/references/verification.md
  server/skill/SKILL.md
Due: server

chore: updating gh pulse link
  docs/content/index.md
  docs/content/javascripts/dir-repobeats.js
Due: none

fix(tests): revert OASF schema version from 1.1.0 back to 1.0.0 (#1815)
  cli/cmd/import/config.go
  cli/cmd/import/import.config.yaml
  cli/go.mod
  cli/go.sum
  server/skill/skill.go
  tests/e2e/local/01_storage_test.go
  tests/e2e/local/10_export_test.go
  tests/go.mod
  tests/go.sum
  tests/integration/server/push_test.go
  tests/integration/server/testenv/docker-compose.yml
  tests/test_utils/gofakeit.go
  tests/test_utils/oasf_110.go
Due: server, cli

feat(search): set extractor oasf version in nl search
  cli/cmd/routing/nlsearch.go
  cli/cmd/routing/search.go
  cli/cmd/search/filters.go
  cli/cmd/search/nlsearch.go
  cli/internal/nlsearch/decompose.go
Due: cli

feat(reconciler): enable metrics task across daemon, docker, and helm configs
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/reconciler.env
Due: cli

feat(catalog): replace place holders with real metrics
  api/catalog/v1/catalog.go
  server/database/gorm/catalog.go
  server/gateway/static/_app/immutable/assets/0.Bh8mRVAR.css
  server/gateway/static/_app/immutable/assets/0.CcySkaXt.css
  server/gateway/static/_app/immutable/entry/app.B16X0335.js
  server/gateway/static/_app/immutable/entry/app.DiJwkkG0.js
  server/gateway/static/_app/immutable/nodes/0.nK0eaUw3.js
  server/gateway/static/_app/immutable/nodes/2.C-Nu7IFs.js
  server/gateway/static/_app/immutable/nodes/2.IOCHqJP8.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
Due: api, server

fix(reconciler): add git to Dockerfile
  reconciler/Dockerfile
Due: none

chore: updating background color
  docs/content/javascripts/dir-repobeats-data.js
  docs/content/stylesheets/dir-landing.css
Due: none

fix(reconciler): add git to Dockerfile (#1816)
  reconciler/Dockerfile
Due: none

feat(catalog): replace placeholder stats with real usage metrics (#1812)
  api/catalog/v1/catalog.go
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/apiserver/values.yaml
  install/docker/reconciler.env
  server/database/gorm/catalog.go
  server/gateway/static/_app/immutable/assets/0.Bh8mRVAR.css
  server/gateway/static/_app/immutable/assets/0.CcySkaXt.css
  server/gateway/static/_app/immutable/entry/app.B16X0335.js
  server/gateway/static/_app/immutable/entry/app.DiJwkkG0.js
  server/gateway/static/_app/immutable/nodes/0.nK0eaUw3.js
  server/gateway/static/_app/immutable/nodes/2.C-Nu7IFs.js
  server/gateway/static/_app/immutable/nodes/2.IOCHqJP8.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
Due: api, server, cli

feat(search): set extractor oasf version in nl search (#1813)
  cli/cmd/routing/nlsearch.go
  cli/cmd/routing/search.go
  cli/cmd/search/filters.go
  cli/cmd/search/nlsearch.go
  cli/internal/nlsearch/decompose.go
Due: cli

feat(install/charts): add missing metrics task config
  install/charts/dir/values.yaml
Due: none

feat(install/charts): add api server address to reconciler config
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/values.yaml
Due: none

refactor(install/docker): reduce task intervals
  install/docker/reconciler.env
Due: none

fix(cli/import): wrong ids for domain and skill
  cli/cmd/import/import.config.yaml
Due: cli

chore(docs): updating community section (#1817)
  docs/content/index.md
  docs/content/javascripts/dir-repobeats-data.js
  docs/content/javascripts/dir-repobeats.js
  docs/content/stylesheets/dir-landing.css
Due: none

feat(install): wire up metrics reconciler task in Helm chart (#1819)
  cli/cmd/import/import.config.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.env
Due: cli

feat(routing): nat hardening for autosync (#1808)
  cli/cmd/daemon/daemon.config.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/routing/autosync/autosync.go
  server/routing/autosync/autosync_test.go
  server/routing/config/config.go
  server/routing/internal/p2p/host.go
  server/routing/internal/p2p/options.go
  server/routing/internal/p2p/server.go
  server/routing/pubsub/manager.go
  server/routing/routing_remote.go
Due: server, cli

feat(dir): provide oci address in response
  server/config/config.go
  server/routing/config/config.go
  server/routing/internal/p2p/host.go
  server/routing/internal/p2p/options.go
  server/routing/internal/p2p/server.go
  server/routing/routing_remote.go
Due: server

chore(dir): bump dir-import, dir-mcp, dir-runtime
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
