Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

docs(dir): update navigation structure for federation documentation
  docs/content/dir/.index
  docs/mkdocs/mkdocs.yml
Due: none

docs(dir): remove CLI Import Workflow link from documentation
  docs/content/dir/dir-component-import.md
  docs/content/dir/dir-features-scenarios.md
Due: none

fix(dirctl): remove env var patch for v1.4 brew in v1.5 (#1679)
  HomebrewFormula/dirctl/dirctl.rb
  HomebrewFormula/dirctl/v1/v1.5/dirctl@1.5.0.rb
Due: none

docs(dir): move OIDC Authentication to concepts
  docs/content/dir/.index
  docs/mkdocs/mkdocs.yml
Due: none

docs(dir): reorganize concepts and deploy navigation (#1680)
  docs/content/dir/.index
  docs/content/dir/dir-component-import.md
  docs/content/dir/dir-features-scenarios.md
  docs/mkdocs/mkdocs.yml
Due: none

refactor(dir/server): remove verification configuration from store config
  cli/cmd/daemon/daemon.config.yaml
  server/config/config.go
  server/config/config_test.go
  server/naming/config/config.go
  server/store/config/config.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
Due: server, cli

refactor(cli, server): unify store configuration by removing 'oci' prefix and updating related references
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  cli/cmd/daemon/start.go
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/controller/sync.go
  server/routing/test_utils.go
  server/store/config/config.go
  server/store/store.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
  tests/integration/server/setup.go
  tests/integration/server/testenv/test-config.yaml
Due: server, cli

feat(dir): add wait check for dependencies for apiserver
  api/go.mod
  api/go.sum
  client/go.mod
  client/go.sum
  install/charts/dir/apiserver/values.yaml
  reconciler/config/config.go
  reconciler/config/config_test.go
  reconciler/go.mod
  reconciler/go.sum
  reconciler/main.go
  server/config/config.go
  server/config/config_test.go
  server/go.mod
  server/go.sum
  server/server.go
  server/startup/config/config.go
  server/startup/config/config_test.go
  server/startup/dependencies.go
  server/startup/dependencies_test.go
  utils/go.mod
  utils/go.sum
Due: api, client, server

feat: add integration-aware DIR skill
  server/skill/SKILL.md
Due: server

feat(server/database): add record_usage_metrics table for popularity tracking
  server/database/gorm/migration.go
  server/database/gorm/record.go
  server/database/gorm/usage_metrics.go
Due: server

feat(server/database): expose UsageMetricsDatabaseAPI with pull count and provider count methods
  reconciler/tasks/signature/task_test.go
  server/database/gorm/usage_metrics.go
  server/types/database.go
  server/types/usage_metrics.go
Due: server

feat(server): increment pull_count on each successful StoreService.Pull
  server/controller/store.go
Due: server

feat(server/routing): add get provider count
  api/routing/v1/routing_service.pb.go
  api/routing/v1/routing_service_grpc.pb.go
  proto/agntcy/dir/routing/v1/routing_service.proto
  server/controller/routing.go
  server/routing/routing.go
  server/types/routing.go
Due: server

feat(reconciler): add new metrics task
  cli/cmd/daemon/start.go
  reconciler/config/config.go
  reconciler/main.go
  reconciler/service/service.go
  reconciler/tasks/metrics/config.go
  reconciler/tasks/metrics/grpc.go
  reconciler/tasks/metrics/task.go
Due: cli

feat(server): track lookup counts in usage metrics
  reconciler/tasks/signature/task_test.go
  server/controller/store.go
  server/database/gorm/usage_metrics.go
  server/types/database.go
  server/types/usage_metrics.go
Due: server

feat(cli): move raw OASF retrieval to `dirctl pull`; drop `--format=oasf` from export
  cli/cmd/export/export.go
  cli/cmd/export/format_test.go
  cli/cmd/export/options.go
  cli/cmd/pull/batch.go
  cli/cmd/pull/batch_test.go
  cli/cmd/pull/options.go
  cli/cmd/pull/pull.go
  cli/presenter/output.go
  cli/presenter/output_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

feat(dir): add skill bundles
  api/catalog/v1/catalog.go
  api/catalog/v1/catalog_test.go
  api/exportfmt/exportfmt.go
  api/exportfmt/exportfmt_test.go
  api/exportfmt/skill_bundle.go
  cli/cmd/export/batch.go
  cli/cmd/export/export.go
  samples/ard-over-ads/consumer/handler.go
  server/controller/ai_finder.go
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
  server/gateway/static/_app/immutable/assets/0.-ZFJDsCK.css
  server/gateway/static/_app/immutable/assets/0.VoXJbESq.css
  server/gateway/static/_app/immutable/chunks/BBEufOfa.js
  server/gateway/static/_app/immutable/chunks/Biqbn8jJ.js
  server/gateway/static/_app/immutable/chunks/BvF_8YFY.js
  server/gateway/static/_app/immutable/chunks/BzzQN20o.js
  server/gateway/static/_app/immutable/chunks/CwQddPBI.js
  server/gateway/static/_app/immutable/chunks/D92YrJdM.js
  server/gateway/static/_app/immutable/chunks/DDjdkvHG.js
  server/gateway/static/_app/immutable/chunks/Dg6A3w0c.js
  server/gateway/static/_app/immutable/chunks/Dv8eJwHb.js
  server/gateway/static/_app/immutable/chunks/YyNjVJsa.js
  server/gateway/static/_app/immutable/chunks/lIS4feGx.js
  server/gateway/static/_app/immutable/entry/app.4EJsItyb.js
  server/gateway/static/_app/immutable/entry/app.C50Qmu8P.js
  server/gateway/static/_app/immutable/entry/start.BZBMRZRH.js
  server/gateway/static/_app/immutable/entry/start.CeNzErKI.js
  server/gateway/static/_app/immutable/nodes/0.Ldbj60Cl.js
  server/gateway/static/_app/immutable/nodes/0.vPkGD6gi.js
  server/gateway/static/_app/immutable/nodes/1.DON0qOd7.js
  server/gateway/static/_app/immutable/nodes/1.Dvlnk681.js
  server/gateway/static/_app/immutable/nodes/2.BSi8i7Gv.js
  server/gateway/static/_app/immutable/nodes/2.ChuF1HQw.js
  server/gateway/static/_app/immutable/nodes/3.CHnRurji.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/utils.ts
Due: api, server, cli

feat(search): add popularity and provider-count sort modes to SearchService
  api/search/v1/search_service.pb.go
  proto/agntcy/dir/search/v1/search_service.proto
  server/controller/search.go
  server/database/gorm/record.go
Due: server

test(e2e): search with popularity and recency sort
  tests/e2e/client/05_usage_metrics_test.go
Due: none

ci(license): skip license cache step when cache hit
  .github/workflows/ci.yaml
Due: none

ci(license): skip license cache step when cache hit (#1709)
  .github/workflows/ci.yaml
Due: none

fix(reconciler): use client SDK for authenticated apiserver gRPC connection
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/main.go
  reconciler/tasks/metrics/grpc.go
Due: none

test(e2e): add test to replicate bug
  tests/e2e/local/04_signature_test.go
Due: none

fix(client): empty signature for key signing
  client/utils/verify/fetcher.go
Due: client

fix(client): populate Signature field correctly for key-based signatures (#1710)
  client/utils/verify/fetcher.go
  tests/e2e/local/04_signature_test.go
Due: client

feat(search): track record usage metrics and add popularity sort modes (#1708)
  api/routing/v1/routing_service.pb.go
  api/routing/v1/routing_service_grpc.pb.go
  api/search/v1/search_service.pb.go
  cli/cmd/daemon/start.go
  proto/agntcy/dir/routing/v1/routing_service.proto
  proto/agntcy/dir/search/v1/search_service.proto
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/main.go
  reconciler/service/service.go
  reconciler/tasks/metrics/config.go
  reconciler/tasks/metrics/grpc.go
  reconciler/tasks/metrics/task.go
  reconciler/tasks/signature/task_test.go
  server/controller/routing.go
  server/controller/search.go
  server/controller/store.go
  server/database/gorm/migration.go
  server/database/gorm/record.go
  server/database/gorm/usage_metrics.go
  server/routing/routing.go
  server/types/database.go
  server/types/routing.go
  server/types/usage_metrics.go
  tests/e2e/client/05_usage_metrics_test.go
Due: server, cli

chore: add claude to gitignore
  .gitignore
Due: none

feat(cli): drive dirctl import from a YAML config file
  cli/cmd/import/config.go
  cli/cmd/import/config_test.go
  cli/cmd/import/enricher.json
  cli/cmd/import/import.config.yaml
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  cli/go.mod
Due: cli

ci(import-records): migrate to --config YAML for dirctl import
  .github/workflows/import-records.yaml
Due: none

test: update importer e2e tests
  tests/e2e/local/06_import_test.go
  tests/e2e/local/10_export_test.go
Due: none

docs: update importer documentation
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
Due: none
