Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

refactor(workflow/renovate): improve scheduling to fast-track vulnerability fixes (#1213)
  .github/workflows/dependencies.yaml
  renovate.json
Due: none

feat(daemon): add configuration management for the local directory
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon.go
  cli/cmd/daemon/start.go
Due: cli

refactor(dir): replace Zitadel with Dex as OIDC provider
  auth/authzserver/config.go
  auth/authzserver/oidc_server_test.go
  auth/authzserver/payload.go
  auth/authzserver/payload_test.go
  auth/authzserver/rbac_test.go
  auth/cmd/envoy-authz/TESTING.md
  auth/cmd/envoy-authz/config.yaml
  auth/cmd/envoy-authz/test/config.test.yaml
  auth/cmd/envoy-authz/test/envoy.yaml
  auth/cmd/envoy-authz/test/test.sh
  install/charts/dir/apiserver/values.yaml
  install/charts/envoy-authz/templates/configmap-envoy.yaml
  install/charts/envoy-authz/values.yaml
Due: none

feat(daemon): enhance configuration with environment variable support for credentials
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
Due: cli

feat: importer file fetcher
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/config/config.go
  importer/config/config_test.go
  importer/factory/factory.go
  importer/fetcher/file.go
  importer/fetcher/file_test.go
  importer/importer.go
Due: cli

refactor(dir): replace Zitadel with Dex as OIDC provider (#1216)
  auth/authzserver/config.go
  auth/authzserver/oidc_server_test.go
  auth/authzserver/payload.go
  auth/authzserver/payload_test.go
  auth/authzserver/rbac_test.go
  auth/cmd/envoy-authz/TESTING.md
  auth/cmd/envoy-authz/config.yaml
  auth/cmd/envoy-authz/test/config.test.yaml
  auth/cmd/envoy-authz/test/envoy.yaml
  auth/cmd/envoy-authz/test/test.sh
  install/charts/dir/apiserver/values.yaml
  install/charts/envoy-authz/templates/configmap-envoy.yaml
  install/charts/envoy-authz/values.yaml
Due: none

feat(tests): add end-to-end tests for daemon with external PostgreSQL and Zot registry support
  cli/cmd/daemon/config.go
  server/database/database.go
  server/store/oci/oci.go
  tests/Taskfile.yml
  tests/e2e/daemon/daemon.config.external.yaml
  tests/e2e/daemon/docker-compose.yaml
Due: server, cli

refactor(daemon): simplify configuration loading logic
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon.go
Due: cli

feat(daemon): implement new OCI tag lister for reconciler
  cli/cmd/daemon/start.go
Due: cli

feat(sdk): wip - add oauth authentication support
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/client/oauth-pkce.ts
Due: none

refactor(cli/client): simplify OIDC client and add device flow support
  cli/cmd/auth/auth.go
  cli/cmd/auth/login.go
  cli/cmd/auth/machine.go
  cli/cmd/options.go
  client/README.md
  client/config.go
  client/oidc.go
  client/oidc_client_credentials_test.go
  client/oidc_grpc.go
  client/oidc_grpc_test.go
  client/options.go
  client/options_test.go
  client/token_cache_test.go
Due: client, cli

fix(ci): set DIRECTORY_CLIENT_AUTH_TOKEN
  .github/workflows/oidc-test.yml
Due: none

refactor(cli/client): simplify OIDC client and add device flow support (#1220)
  .github/workflows/oidc-test.yml
  cli/cmd/auth/auth.go
  cli/cmd/auth/login.go
  cli/cmd/auth/machine.go
  cli/cmd/options.go
  client/README.md
  client/config.go
  client/oidc.go
  client/oidc_client_credentials_test.go
  client/oidc_grpc.go
  client/oidc_grpc_test.go
  client/options.go
  client/options_test.go
  client/token_cache_test.go
Due: client, cli

feat: importer file fetcher (#1217)
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/config/config.go
  importer/config/config_test.go
  importer/factory/factory.go
  importer/fetcher/file.go
  importer/fetcher/file_test.go
  importer/importer.go
Due: cli

fix: importer workflow
  .github/workflows/import-records.yaml
Due: none

feat(cli/daemon): daemon configuration file support (#1218)
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon.go
  cli/cmd/daemon/start.go
  server/database/database.go
  server/store/oci/oci.go
  tests/Taskfile.yml
  tests/e2e/daemon/daemon.config.external.yaml
  tests/e2e/daemon/docker-compose.yaml
Due: server, cli

fix(importer): workflow (#1226)
  .github/workflows/import-records.yaml
Due: none

fix(dir): remove parallel lint runs
  Taskfile.yml
Due: none

fix(dir): remove parallel lint runs (#1227)
  Taskfile.yml
Due: none

feat(config): enhance config validation to check file accessibility
  importer/enricher/config/config.go
  tests/e2e/local/06_import_test.go
Due: none

test(events): add wait in event bus metrics test
  server/events/bus_test.go
Due: server

fix(test): enhance config validation to check file accessibility (#1228)
  importer/enricher/config/config.go
  server/events/bus_test.go
  tests/e2e/local/06_import_test.go
Due: server

fix: importer flags
  .github/workflows/import-records.yaml
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/config/config.go
  importer/config/config_test.go
  importer/factory/factory.go
  importer/factory/factory_test.go
  importer/importer.go
  install/charts/dirctl/values.yaml
  tests/e2e/local/06_import_test.go
Due: cli

fix(dir): add option to override OUT_BINARY var in task
  cli/Taskfile.yml
Due: cli

docs(brew): update install and link command examples
  HomebrewFormula/README.md
Due: none

ci(brew): add inputs for testing
  .github/workflows/reusable-brew-update.yaml
Due: none

ci(brew): do not download assets for hash calculation
  .github/workflows/reusable-brew-update.yaml
Due: none

ci(brew): move file for testing
  HomebrewFormula/dirctl/v1/v1.0/dirctl@1.0.0-rc.4.rb.bak
Due: none

feat: import a2a from file
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/config/config.go
  importer/config/config_test.go
  importer/dedup/dedup.go
  importer/dedup/dedup_test.go
  importer/factory/factory.go
  importer/fetcher/a2a_file.go
  importer/fetcher/fetcher.go
  importer/fetcher/fetcher_test.go
  importer/fetcher/mcp_file.go
  importer/fetcher/mcp_file_test.go
  importer/importer.go
  importer/importer_test.go
  importer/pusher/pusher.go
  importer/transformer/transformer.go
  importer/types/source_item.go
  importer/types/source_item_test.go
  importer/types/types.go
Due: cli

fix(importer): flags (#1230)
  .github/workflows/import-records.yaml
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/config/config.go
  importer/config/config_test.go
  importer/dedup/dedup.go
  importer/dedup/dedup_test.go
  importer/factory/factory.go
  importer/factory/factory_test.go
  importer/fetcher/a2a_file.go
  importer/fetcher/fetcher.go
  importer/fetcher/fetcher_test.go
  importer/fetcher/mcp_file.go
  importer/fetcher/mcp_file_test.go
  importer/importer.go
  importer/importer_test.go
  importer/pusher/pusher.go
  importer/transformer/transformer.go
  importer/types/source_item.go
  importer/types/source_item_test.go
  importer/types/types.go
  install/charts/dirctl/values.yaml
  tests/e2e/local/06_import_test.go
Due: cli

fix(importer): revert import command type in workflow
  .github/workflows/import-records.yaml
Due: none

fix(importer/dedup): reduce batch size for record processing from 1000 to 100
  importer/dedup/dedup.go
Due: none

feat(sdk): add oauth authentucation
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/oauth_pkce.py
  sdk/examples/example-py/example.py
Due: none

chore(sdk-py): add documentation
  sdk/dir-py/README.md
Due: none

Potential fix for code scanning alert no. 364: Unused import
  sdk/examples/example-py/example.py
Due: none

chore(sdk): clean up testing code
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
  sdk/examples/example-py/example.py
Due: none

chore(sdk-py): remove separate oauth tests
  sdk/dir-py/agntcy/dir_sdk/client/test_oauth_pkce.py
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
