Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat(dir): add configurable OIDC scopes
  cli/cmd/auth/login.go
  cli/cmd/context/show.go
  cli/cmd/init/agents.go
  cli/cmd/options.go
  cli/cmd/root_test.go
  cli/config/config.go
  client/config.go
  client/config/config.go
  client/config/config_test.go
  client/oidc.go
  client/oidc_grpc_test.go
  docs/content/dir/dir-cli-reference.md
Due: client, cli

test(cli): stop the root OIDC test calling the live schema server
  cli/cmd/root_test.go
Due: cli

test(cli): state the real reason the recorded response is inlined
  cli/cmd/root_test.go
Due: cli

feat(dir): add configurable OIDC scopes (#1984)
  cli/cmd/auth/login.go
  cli/cmd/context/show.go
  cli/cmd/init/agents.go
  cli/cmd/options.go
  cli/cmd/root_test.go
  cli/config/config.go
  client/config.go
  client/config/config.go
  client/config/config_test.go
  client/oidc.go
  client/oidc_grpc_test.go
  docs/content/dir/dir-cli-reference.md
Due: client, cli

feat(routing): add publish all support
  api/routing/v1/routing_service.pb.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/publish_test.go
  proto/agntcy/dir/routing/v1/routing_service.proto
  server/controller/publication.go
  server/controller/publication_test.go
  server/publication/worker.go
  server/publication/worker_test.go
Due: server, cli

feat(cli): expose RecordQuery negation as exclude filters
  cli/cmd/search/filters.go
  cli/cmd/search/filters_test.go
  cli/cmd/search/nlsearch.go
  cli/cmd/search/search.go
  docs/content/dir/dir-cli-reference.md
  tests/e2e/local/02_search_test.go
Due: cli

feat(routing): add automatic publication
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/ingest/ingest.go
  server/ingest/ingest_test.go
  server/routing/config/config.go
  server/routing/config/config_test.go
  server/server.go
  server/server_test.go
Due: server

docs(cli): document --created-at and its exclude twin
  cli/cmd/search/filters_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

feat(cli): expose RecordQuery negation as exclude filters (#1987)
  cli/cmd/search/filters.go
  cli/cmd/search/filters_test.go
  cli/cmd/search/nlsearch.go
  cli/cmd/search/search.go
  docs/content/dir/dir-cli-reference.md
  tests/e2e/local/02_search_test.go
Due: cli

release(dir): prepare api release v1.6.3
  versions.yaml
Due: none

release(dir): prepare api release v1.6.3
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: client, server, cli

release(dir): prepare api release v1.6.3 (#1993)
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
  versions.yaml
Due: client, server, cli

fix(helm): harden policy template rendering and paginate non-destructive actions
  .github/workflows/ci.yaml
  docs/content/dir/dir-deployment-kubernetes.md
  install/charts/dirctl/ci/test-policies.sh
  install/charts/dirctl/templates/_policies.tpl
Due: none

feat(helm): add configurable policy CronJobs to the dirctl chart
  Taskfile.yml
  docs/content/dir/dir-deployment-kubernetes.md
  install/charts/dirctl/.helmignore
  install/charts/dirctl/ci/policies-values.yaml
  install/charts/dirctl/ci/test-policies.sh
  install/charts/dirctl/templates/_policies.tpl
  install/charts/dirctl/templates/cronjob.yaml
  install/charts/dirctl/values.yaml
Due: none

feat(helm): add configurable policy CronJobs to the dirctl chart (#1994)
  .github/workflows/ci.yaml
  Taskfile.yml
  docs/content/dir/dir-deployment-kubernetes.md
  install/charts/dirctl/.helmignore
  install/charts/dirctl/ci/policies-values.yaml
  install/charts/dirctl/ci/test-policies.sh
  install/charts/dirctl/templates/_policies.tpl
  install/charts/dirctl/templates/cronjob.yaml
  install/charts/dirctl/values.yaml
Due: none

release(dir): prepare server release v1.6.3
  versions.yaml
Due: none

release(dir): prepare server release v1.6.3
  cli/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  tests/go.mod
Due: cli

release(dir): prepare server release v1.6.3 (#1995)
  cli/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  tests/go.mod
  versions.yaml
Due: cli

fix(ui): remove all media type filter (#1982)
  server/gateway/static/_app/immutable/entry/app.CZz7TUU9.js
  server/gateway/static/_app/immutable/entry/app.CehxT47Y.js
  server/gateway/static/_app/immutable/nodes/2.CbQJ0XIc.js
  server/gateway/static/_app/immutable/nodes/2.RFW7vt78.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
Due: server

test(cli): reflow comment so gocheckcompilerdirectives stops reading prose as a directive
  cli/cmd/root_test.go
Due: cli

fix(ui): distinguish catalog status icons
  server/gateway/static/_app/immutable/chunks/BBm4RX7U.js
  server/gateway/static/_app/immutable/chunks/DLOukV94.js
  server/gateway/static/_app/immutable/entry/app.CZz7TUU9.js
  server/gateway/static/_app/immutable/entry/app.Pe014m_L.js
  server/gateway/static/_app/immutable/nodes/2.RFW7vt78.js
  server/gateway/static/_app/immutable/nodes/2.TyhCkzvT.js
  server/gateway/static/_app/immutable/nodes/3.BCnrz32f.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/ScanBadge.svelte
  server/gateway/ui/src/lib/components/TrustedBadge.svelte
  server/gateway/ui/src/lib/components/VerifiedBadge.svelte
Due: server

docs(dir): add guide for choosing a Directory setup (#1970)
  .gitignore
  docs/content/dir/.index
  docs/content/dir/dir-choosing-a-setup.md
  docs/content/javascripts/dir-repobeats-data.js
  docs/content/javascripts/dir-setup-chooser.js
  docs/content/stylesheets/dir-setup-chooser.css
  docs/mkdocs/hooks.py
  docs/mkdocs/mkdocs.yml
Due: none

chore: update brew formula version (#1996)
  HomebrewFormula/dirctl/v1/v1.6/dirctl@1.6.3.rb
Due: none

fix(cli): route publish all messages to stderr
  cli/cmd/routing/publish.go
Due: cli

fix(routing): publish all stored records
  api/routing/v1/routing_service.pb.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/publish_test.go
  proto/agntcy/dir/routing/v1/routing_service.proto
  server/publication/worker.go
  server/publication/worker_test.go
Due: server, cli

refactor(cli): share confirmation prompt helper
  cli/cmd/install/batch.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/publish_test.go
  cli/util/prompt/prompt.go
  cli/util/prompt/prompt_test.go
Due: cli

fix(ui): distinguish catalog status icons (#1955)
  server/gateway/static/_app/immutable/chunks/BBm4RX7U.js
  server/gateway/static/_app/immutable/chunks/DLOukV94.js
  server/gateway/static/_app/immutable/entry/app.CZz7TUU9.js
  server/gateway/static/_app/immutable/entry/app.Pe014m_L.js
  server/gateway/static/_app/immutable/nodes/2.RFW7vt78.js
  server/gateway/static/_app/immutable/nodes/2.TyhCkzvT.js
  server/gateway/static/_app/immutable/nodes/3.BCnrz32f.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/ScanBadge.svelte
  server/gateway/ui/src/lib/components/TrustedBadge.svelte
  server/gateway/ui/src/lib/components/VerifiedBadge.svelte
Due: server

feat(routing): add publish all support (#1988)
  api/routing/v1/routing_service.pb.go
  cli/cmd/install/batch.go
  cli/cmd/install/install.go
  cli/cmd/install/install_test.go
  cli/cmd/routing/publish.go
  cli/cmd/routing/publish_test.go
  cli/util/prompt/prompt.go
  cli/util/prompt/prompt_test.go
  proto/agntcy/dir/routing/v1/routing_service.proto
  server/controller/publication.go
  server/controller/publication_test.go
  server/publication/worker.go
  server/publication/worker_test.go
Due: server, cli

refactor(extractor): move OASF extractor and nlsearch from client to utils
  cli/cmd/import/config.go
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
  cli/cmd/routing/nlsearch.go
  cli/cmd/search/nlsearch.go
  client/config/extractor.go
  client/config/extractor_test.go
  client/go.mod
  reconciler/go.mod
  reconciler/go.sum
  utils/extractor/assets.go
  utils/extractor/assets_test.go
  utils/extractor/config.go
  utils/extractor/config_test.go
  utils/extractor/extractor.go
  utils/extractor/load_test.go
  utils/extractor/local.go
  utils/extractor/provision_integration_test.go
  utils/extractor/remote.go
  utils/extractor/remote_test.go
  utils/extractor/resolve.go
  utils/extractor/resolve_test.go
  utils/go.mod
  utils/go.sum
  utils/nlsearch/decompose.go
  utils/nlsearch/decompose_test.go
Due: client, cli

refactor(extractor): unify resolution and support remote import enrichment
  cli/cmd/import/config.go
  cli/cmd/import/extractor_adapter.go
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  client/config/extractor.go
  client/config/extractor_test.go
Due: client, cli

fix(extractor): shutdown ordering, resolver leak, and smoke-check timeout
  cli/cmd/init/run.go
  client/config/extractor.go
  client/config/extractor_test.go
  server/server.go
Due: client, server, cli

feat(cli): configure a remote extractor in dirctl init
  cli/cmd/init/options.go
  cli/cmd/init/run.go
  cli/cmd/init/run_test.go
Due: cli

feat(server): allow injecting an OASF extractor into the AI Finder controller
  server/controller/ai_finder.go
  server/go.mod
  server/go.sum
Due: server

feat(server): resolve OASF extractor for the gateway search path
  server/config/config.go
  server/config/config_test.go
  server/server.go
Due: server

fix(extractor): bind daemon extractor env keys, document remote_addr
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon_test.go
  cli/cmd/import/import.config.yaml
  docs/content/dir/dir-cli-reference.md
  server/config/config.go
  server/server.go
Due: server, cli

feat(extractor): default to two score tiers
  utils/extractor/extractor.go
  utils/extractor/local.go
  utils/extractor/remote.go
  utils/extractor/remote_test.go
  utils/nlsearch/decompose.go
  utils/nlsearch/decompose_test.go
Due: none

feat(skill): fix and update dir skills
  .skill/SKILL.md
  .skill/references/authoring.md
  .skill/references/setup.md
Due: none

feat(skill): fix and update dir skills (#2004)
  .skill/SKILL.md
  .skill/references/authoring.md
  .skill/references/setup.md
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
