Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

ci: migrate deprecated release actions to softprops/action-gh-release
  .github/workflows/reusable-release.yaml
Due: none

ci: fix indentation and missing runs-on in reusable-release.yaml
  .github/workflows/reusable-release.yaml
Due: none

feat(importer): add allowed tools to MCP server configuration (#1051)
  .github/workflows/import-records.yaml
  importer/enricher/mcphost.json
Due: none

feat(dir): add referrer CIDs
  api/core/v1/cid.pb.go
  api/core/v1/referrer.go
  api/store/v1/store_service.pb.go
  proto/agntcy/dir/core/v1/cid.proto
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/src/models/agntcy/dir/core/v1/cid_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/core/v1/cid_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/core/v1/cid_pb2.py
  sdk/dir-py/agntcy/dir/core/v1/cid_pb2.pyi
  sdk/dir-py/agntcy/dir/core/v1/cid_pb2_grpc.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  server/controller/store.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/referrers.go
  server/types/store.go
  tests/e2e/local/10_referrers_test.go
Due: api, server

ci(dir): remove explicit default option
  .github/workflows/ci.yaml
Due: none

ci(sdk): use oidc auth for codecov instead token
  .github/workflows/ci.yaml
  .github/workflows/gui-ci.yaml
Due: none

ci(dir): collect coverage and upload at once
  .github/workflows/ci.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.yml
Due: none

ci(dir): oops
  .github/workflows/ci.yaml
Due: none

refactor(dir): simplify coverage tasks
  Taskfile.vars.yml
  Taskfile.yml
Due: none

chore(dir): run cover on selected modules only
  Taskfile.vars.yml
  Taskfile.yml
Due: none

fix(dir): use correct values for e2e coverage
  tests/Taskfile.yml
Due: none

ci(workflow): bump softprops/action-gh-release to v2.5.0
  .github/workflows/reusable-release.yaml
Due: none

ci(dir): add commit sha input for checkouts in build ci
  .github/workflows/reusable-build.yaml
Due: none

ci(dir): extend security scanner to support more tag
  .github/workflows/container-security-scan.yml
Due: none

feat: behavioral scanner
  .github/workflows/import-records.yaml
  importer/go.mod
  importer/scanner/behavioral/behavioral.go
  importer/scanner/behavioral/behavioral_test.go
  importer/scanner/behavioral/output.go
  importer/scanner/behavioral/output_test.go
Due: none

feat: add behavioral scanner
  .github/workflows/import-records.yaml
  importer/scanner/behavioral/behavioral.go
Due: none

feat: add behavioral scanner
  importer/scanner/behavioral/behavioral.go
Due: none

feat: add behavioral scanner
  importer/scanner/behavioral/behavioral_test.go
Due: none

chore(deps): bump pyjwt from 2.11.0 to 2.12.0
  sdk/dir-py/uv.lock
  sdk/examples/example-py/uv.lock
Due: none

feat: add behavioral scanner
  importer/scanner/behavioral/behavioral.go
  importer/scanner/behavioral/behavioral_test.go
Due: none

ci(workflow): ensure draft status is maintained during asset upload
  .github/workflows/reusable-release.yaml
Due: none

ci(workflow): remove obsolete outputs from release job
  .github/workflows/reusable-release.yaml
Due: none

feat: add behavioral scanner
  cli/presenter/output_test.go
Due: cli

feat(importer): add behavioral scanner (#1043)
  .github/workflows/import-records.yaml
  cli/presenter/output_test.go
  importer/go.mod
  importer/scanner/behavioral/behavioral.go
  importer/scanner/behavioral/behavioral_test.go
  importer/scanner/behavioral/output.go
  importer/scanner/behavioral/output_test.go
Due: cli

ci(workflow): migrate deprecated release actions to softprops/action-gh-release (#1052)
  .github/workflows/reusable-release.yaml
Due: none

ci(dir): include artifacts to the e2e gh artifact
  .github/workflows/ci.yaml
  .github/workflows/reusable-test-e2e.yaml
Due: none

feat(dir): add referrer CIDs
  api/core/v1/referrer.go
  api/core/v1/referrer.pb.go
  api/store/v1/store_service.pb.go
  proto/agntcy/dir/core/v1/referrer.proto
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/src/models/agntcy/dir/core/v1/referrer_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/core/v1/referrer_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/core/v1/referrer_pb2.py
  sdk/dir-py/agntcy/dir/core/v1/referrer_pb2.pyi
  sdk/dir-py/agntcy/dir/core/v1/referrer_pb2_grpc.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  server/controller/store.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/referrers.go
  server/types/store.go
  tests/e2e/local/10_referrers_test.go
Due: api, server

chore: bump oasf-sdk version
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

feat(dir): add referrer CIDs (#1027)
  api/core/v1/referrer.go
  api/core/v1/referrer.pb.go
  api/store/v1/store_service.pb.go
  proto/agntcy/dir/core/v1/referrer.proto
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/src/models/agntcy/dir/core/v1/referrer_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/core/v1/referrer_pb.js
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/core/v1/referrer_pb2.py
  sdk/dir-py/agntcy/dir/core/v1/referrer_pb2.pyi
  sdk/dir-py/agntcy/dir/core/v1/referrer_pb2_grpc.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  server/controller/store.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/referrers.go
  server/types/store.go
  tests/e2e/local/10_referrers_test.go
Due: api, server

chore: bump oasf-sdk version (#1062)
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

feat: cli/client side OIDC flow support
  auth/authprovider/constants.go
  auth/authprovider/github/provider.go
  auth/authprovider/github/provider_test.go
  auth/authprovider/go.mod
  auth/authprovider/go.sum
  auth/authprovider/provider.go
  cli/cmd/auth/login.go
  cli/cmd/auth/status.go
  cli/cmd/options.go
  cli/go.mod
  cli/go.sum
  client/config.go
  client/github.go
  client/github_test.go
  client/go.mod
  client/go.sum
  client/oauth_device.go
  client/oauth_device_test.go
  client/oauth_web.go
  client/oauth_web_test.go
  client/oidc.go
  client/options.go
  client/options_test.go
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: client, cli

feat(tests): add production-like E2E test suite and update Taskfile (#1050)
  tests/README.md
  tests/Taskfile.yml
  tests/e2e-production/README.md
  tests/e2e-production/e2e_production_suite_test.go
  tests/e2e-production/placeholder_test.go
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
