Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(dir): add debug mode to docker install
  Taskfile.yml
  reconciler/Dockerfile
  server/Dockerfile
Due: server

refactor(verification): move signer info filtration to server
  client/go.mod
  client/sign.go
  client/verify.go
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  server/controller/sign.go
  server/go.mod
  server/go.sum
  utils/cosign/sign.go
  utils/cosign/verify.go
  utils/go.mod
  utils/go.sum
Due: client, server

feat(dir): add proto files for referrer deletion
  Taskfile.yml
  api/store/v1/store_service.pb.go
  api/store/v1/store_service_grpc.pb.go
  install/docker/docker-compose.yml
  proto/agntcy/dir/store/v1/store_service.proto
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/store/v1/store_service_pb.js
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.py
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2.pyi
  sdk/dir-py/agntcy/dir/store/v1/store_service_pb2_grpc.py
  server/controller/store.go
  server/store/oci/oci.go
  server/store/oci/referrers.go
  server/types/store.go
Due: server

feat(dir/helm): add zitadel subchart
  Taskfile.yml
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/zitadel-9.24.0.tgz
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: none

fix: add first-instance admin password field
  install/charts/dir/apiserver/values.yaml
Due: none

feat: add external secret support for zitadel
  install/charts/dir/apiserver/templates/external-secret-zitadel.yaml
  install/charts/dir/apiserver/templates/external-secret.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

refactor(verification): centralize signature verification logic in utils/verify
  client/verify.go
  reconciler/go.mod
  reconciler/main.go
  reconciler/tasks/signature/task.go
  reconciler/tasks/signature/task_test.go
  utils/verify/verify.go
Due: client

fix(dir): bump postgres version in docker compose (#1000)
  .github/workflows/container-security-scan.yml
  install/docker/docker-compose.yml
Due: none

fix: support Bitnami and standard Postgres env vars
  install/charts/dir/apiserver/values.yaml
Due: none

feat: a Job also creates the Zitadel DB on install and upgrade
  install/charts/dir/apiserver/templates/zitadel-db-setup-job.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

fix: support admin password secret
  install/charts/dir/apiserver/templates/zitadel-db-setup-job.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

feat(dir): add e2e tests for the referrer API
  e2e/local/10_referrers_test.go
  e2e/shared/testdata/cosign.pub
  e2e/shared/testdata/embed.go
Due: none

feat: add security scanner
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/config/config.go
  importer/mcp/importer.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
  importer/scanner/behavioral.go
  importer/scanner/config/config.go
  importer/scanner/config/config_test.go
  importer/scanner/scanner.go
  importer/scanner/types.go
  importer/types/importer.go
Due: cli

delete(testdata): remove unused record_warnings_080.json file
  e2e/shared/testdata/record_warnings_080.json
  tests/e2e/shared/testdata/embed.go
Due: none

feat(tests): add MCP protocol end-to-end tests task and add to ci
  .github/workflows/reusable-test-e2e.yaml
  Taskfile.yml
  docker-bake.hcl
  tests/e2e/README.md
  tests/e2e/local/09_naming_test.go
  tests/e2e/mcp/01_protocol_test.go
Due: none

chore(ci): apply suggestions from code review
  .github/workflows/gui-ci.yaml
Due: none

chore(docker): remove zot healthcheck, no curl in distroless zot container
  install/docker/docker-compose.yml
Due: none

chore(docker): add grpc-health-probe to Dockerfile for health checks
  server/Dockerfile
Due: server

refactor(dir): refactor the Dockerfile's build arguments
  Taskfile.yml
  auth/cmd/envoy-authz/Dockerfile
  cli/Dockerfile
  docker-bake.hcl
  reconciler/Dockerfile
  runtime/discovery/Dockerfile
  runtime/server/Dockerfile
  server/Dockerfile
Due: server, cli

chore(docker): wait for services to be healthy
  Taskfile.yml
Due: none

refactor(verification): remove SetRecordTrusted method
  reconciler/README.md
  reconciler/tasks/signature/task.go
  reconciler/tasks/signature/task_test.go
  server/database/gorm/record.go
  server/types/database.go
Due: server

chore(ci): update DMG and ZIP file names in GUI CI workflow (#978)
  .github/workflows/gui-ci.yaml
Due: none

refactor(dir): refactor the Dockerfile's build arguments (#1015)
  Taskfile.yml
  auth/cmd/envoy-authz/Dockerfile
  cli/Dockerfile
  docker-bake.hcl
  reconciler/Dockerfile
  runtime/discovery/Dockerfile
  runtime/server/Dockerfile
  server/Dockerfile
Due: server, cli

fix(install/docker): compose health checks (#1017)
  Taskfile.yml
  install/docker/docker-compose.yml
  server/Dockerfile
Due: server

feat(dir): add Delve debugger
  Taskfile.yml
  install/docker/docker-compose.debug.yml
  reconciler/Dockerfile
  runtime/server/Dockerfile
  server/Dockerfile
Due: server

chore(dir): update zot image version
  .github/workflows/container-security-scan.yml
  Taskfile.yml
  install/docker/docker-compose.yml
Due: none

chore(dir): update zot image version (#1022)
  .github/workflows/container-security-scan.yml
  Taskfile.yml
  install/docker/docker-compose.yml
Due: none

feat(dir): add Delve debugger (#1020)
  Taskfile.yml
  install/docker/docker-compose.debug.yml
  reconciler/Dockerfile
  runtime/server/Dockerfile
  server/Dockerfile
Due: server

fix(dir): fix reconciler debug image
  reconciler/Dockerfile
Due: none

fix(dir): fix reconciler debug image (#1024)
  reconciler/Dockerfile
Due: none

feat(dir): add e2e tests for the referrer API
  e2e/local/10_referrers_test.go
Due: none

chore(sdk): update deps
  sdk/dir-js/package-lock.json
Due: none

feat(dir): add e2e tests for the referrer API (#1003)
  e2e/local/10_referrers_test.go
Due: none

refactor(dir): use correct variable to deps status
  bin/Taskfile.yml
Due: none

fix(dir): remove internal option from deps:bin-dir
  bin/Taskfile.yml
Due: none

ci(sdk): fix bin directory creation
  .github/workflows/reusable-test-sdk.yaml
Due: none

fix(dir): move test-env tasks to e2e directory
  Taskfile.yml
  e2e/Taskfile.test-env.yml
Due: none

fix(dir): reduce repository update to once
  Taskfile.yml
Due: none
