Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

fix: title truncation and header stats
  server/gateway/static.go
  server/gateway/static/_app/immutable/entry/app.CbD0qd4x.js
  server/gateway/static/_app/immutable/entry/app.Dx6XRkjw.js
  server/gateway/static/_app/immutable/nodes/2.ChuF1HQw.js
  server/gateway/static/about.html
  server/gateway/static/index.html
  server/gateway/static_test.go
  server/gateway/ui/src/routes/+page.svelte
Due: server

fix: About page content
  server/gateway/static/_app/immutable/entry/app.Bc7goLq6.js
  server/gateway/static/_app/immutable/entry/app.CbD0qd4x.js
  server/gateway/static/_app/immutable/nodes/3.CcA9nTj8.js
  server/gateway/static/_app/immutable/nodes/3.ChZhhoM9.js
  server/gateway/static/about.html
  server/gateway/static/index.html
  server/gateway/ui/src/routes/about/+page.svelte
Due: server

fix(ui): fix About page 500 on client navigation
  server/gateway/gateway.go
  server/gateway/static/_app/immutable/entry/app.C50Qmu8P.js
  server/gateway/static/_app/immutable/entry/app.Dx6XRkjw.js
  server/gateway/static/_app/immutable/nodes/3.D2mqIe8P.js
  server/gateway/static/about.html
  server/gateway/static/index.html
  server/gateway/static_test.go
  server/gateway/ui/src/routes/about/+page.ts
Due: server

refactor(ui): agent -> AI card
  server/gateway/static/_app/immutable/entry/app.BzgCf2OR.js
  server/gateway/static/_app/immutable/entry/app.VFDz3-hk.js
  server/gateway/static/_app/immutable/nodes/0.DiHAD8B8.js
  server/gateway/static/_app/immutable/nodes/0.oQx2QRtJ.js
  server/gateway/static/_app/immutable/nodes/2.B0O4_Ro-.js
  server/gateway/static/_app/immutable/nodes/2.xRW1CJgm.js
  server/gateway/static/about.html
  server/gateway/static/index.html
  server/gateway/ui/README.md
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/AICard.svelte
  server/gateway/ui/src/lib/components/CatalogHeader.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+page.svelte
Due: server

release(dir): prepare api release v1.5.0
  versions.yaml
Due: none

release(dir): prepare api release v1.5.0
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  server/go.mod
  tests/go.mod
Due: client, server, cli

chore: updating main intro
  docs/content/index.md
  docs/content/stylesheets/dir-landing.css
Due: none

release(dir): prepare api release v1.5.0 (#1660)
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  server/go.mod
  tests/go.mod
  versions.yaml
Due: client, server, cli

chore(docs): updating intro paragraph (#1661)
  docs/content/index.md
Due: none

release(dir): prepare server release v1.5.0
  cli/go.mod
  reconciler/go.mod
  tests/go.mod
  versions.yaml
Due: cli

release(dir): prepare server release v1.5.0 (#1665)
  cli/go.mod
  reconciler/go.mod
  tests/go.mod
  versions.yaml
Due: cli

chore(dir): update go to v1.26.4
  .github/actions/build-dirctl/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yaml
  .github/workflows/oidc-test.yml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.vars.yml
  api/go.mod
  cli/Dockerfile
  cli/go.mod
  client/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  server/Dockerfile
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: api, client, server, cli

chore(dir): update go to v1.26.4 (#1668)
  .github/actions/build-dirctl/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yaml
  .github/workflows/oidc-test.yml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.vars.yml
  api/go.mod
  cli/Dockerfile
  cli/go.mod
  client/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  server/Dockerfile
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: api, client, server, cli

chore(dir): update dependencies
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

chore(docs): add sample apps to DIR
  README.md
  samples/README.md
  samples/ard-over-ads/consumer/discover.go
  samples/ard-over-ads/consumer/handler.go
  samples/ard-over-ads/consumer/verify.go
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  samples/ard-over-ads/main.go
  samples/ard-over-ads/publisher/publish.go
  samples/ard-over-ads/publisher/record.go
Due: none

fix: blogpost links
  docs/content/community.md
  samples/README.md
Due: none

chore(dir): update dependencies [skip ci]
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

fix: quickstart quite
  docs/content/dir/.index
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-quickstart.md
  docs/mkdocs/mkdocs.yml
Due: none

fix: quickstart quite
  docs/content/dir/dir-quickstart.md
Due: none

chore(dir): update dependencies (#1669)
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

fix: quickstart quite
  Taskfile.vars.yml
Due: none

chore(dir): update changelog
  CHANGELOG.md
Due: none

chore: patch changelog docs
  CHANGELOG.md
Due: none

chore(dir): update changelog (#1672)
  CHANGELOG.md
Due: none

chore(docs): patch docs and sample apps (#1667)
  README.md
  Taskfile.vars.yml
  docs/content/community.md
  docs/content/dir/.index
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-quickstart.md
  docs/mkdocs/mkdocs.yml
  samples/README.md
  samples/ard-over-ads/consumer/discover.go
  samples/ard-over-ads/consumer/handler.go
  samples/ard-over-ads/consumer/verify.go
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  samples/ard-over-ads/main.go
  samples/ard-over-ads/publisher/publish.go
  samples/ard-over-ads/publisher/record.go
Due: none

chore(dirctl): update brew formula to v1.5.0 (#1674)
  HomebrewFormula/dirctl/v1/v1.5/dirctl@1.5.0.rb
Due: none

docs(dir): update directory architecture documentation
  docs/content/dir/dir-architecture.md
Due: none

docs(dir): rename 'Features and Usage Scenarios' to 'Usage Guide' for clarity
  docs/content/dir/.index
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-features-scenarios.md
  docs/mkdocs/mkdocs.yml
Due: none

fix(helm): roll apiserver pods when ConfigMap changes
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
Due: none

docs: update README and workflow to version v1.5.0
  .github/workflows/demo-dir.yaml
  README.md
  RELEASE.md
Due: none

docs(dir): update deployment and federation guides to use dynamic versioning
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-federation-aws-eks.md
  docs/mkdocs/hooks.py
Due: none

fix(helm): roll apiserver pods when ConfigMap changes (#1675)
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
Due: none

docs(dir): add build-time doc versioning and refresh concept guides (#1676)
  .github/workflows/demo-dir.yaml
  README.md
  RELEASE.md
  docs/content/dir/.index
  docs/content/dir/dir-architecture.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-federation-aws-eks.md
  docs/mkdocs/hooks.py
  docs/mkdocs/mkdocs.yml
Due: none

refactor: remove mcphost references
  .github/workflows/import-records.yaml
  .github/workflows/scripts/enricher_ci.json.template
  cli/cmd/import/import.go
  docs/content/dir/dir-cli-reference.md
  tests/e2e/local/10_export_test.go
Due: cli

docs(dir): move concept descriptions out of usage guide
  docs/content/dir/.index
  docs/content/dir/dir-component-import.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-federation-overview.md
  docs/mkdocs/mkdocs.yml
Due: none

docs(dir): simplify CLI usage examples
  docs/content/dir/dir-features-scenarios.md
Due: none

docs(dir): restructure usage guides into lean walkthroughs (#1677)
  .github/workflows/import-records.yaml
  .github/workflows/scripts/enricher_ci.json.template
  cli/cmd/import/import.go
  docs/content/dir/.index
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
  docs/content/dir/dir-component-routing.md
  docs/content/dir/dir-component-trust-model.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-federation-overview.md
  docs/mkdocs/mkdocs.yml
  tests/e2e/local/10_export_test.go
Due: cli

fix(dirctl): remove env var patch for v1.4 brew in v1.5
  HomebrewFormula/dirctl/dirctl.rb
  HomebrewFormula/dirctl/v1/v1.5/dirctl@1.5.0.rb
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
