Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

ci: validate and push oasf records
  .github/actions/push-record/README.md
  .github/actions/push-record/action.yaml
  .github/actions/push-record/push.sh
Due: none

feat(dir/reconciler): add indexer reconciler task for search enablement (#875)
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/main.go
  reconciler/tasks/indexer/config.go
  reconciler/tasks/indexer/task.go
  reconciler/tasks/regsync/config.go
  reconciler/tasks/regsync/task.go
Due: none

feat(apiserver): add init container to wait for PostgreSQL readiness
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
Due: none

chore(config): update REGSYNC_VERSION handling in configuration files
  Taskfile.yml
  reconciler/Dockerfile
Due: none

debug
  install/charts/dir/apiserver/values.yaml
Due: none

feat: add reusable storage driver
  discovery/cmd/discovery/main.go
  discovery/cmd/server/main.go
  discovery/docker-compose.yml
  discovery/pkg/config/config.go
  discovery/pkg/config/config_test.go
  discovery/pkg/storage/config/config.go
  discovery/pkg/storage/crd/config.go
  discovery/pkg/storage/etcd/config.go
  discovery/pkg/storage/etcd/reader.go
  discovery/pkg/storage/etcd/writer.go
  discovery/pkg/storage/storage.go
Due: none

chore(deps): bump zot
  .github/workflows/container-security-scan.yml
  Taskfile.yml
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/zot-0.1.95.tgz
  install/charts/dir/apiserver/charts/zot-0.1.97.tgz
  install/docker/docker-compose.yml
Due: none

ci: validate and push oasf records
  .github/actions/push-record/push.sh
Due: none

ci: validate and push oasf records
  .github/actions/push-record/action.yaml
Due: none

ci: validate and push oasf records
  .github/actions/push-record/action.yaml
  .github/actions/validate-record/action.yaml
Due: none

chore(deps): bump zot (#879)
  .github/workflows/container-security-scan.yml
  Taskfile.yml
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/zot-0.1.95.tgz
  install/charts/dir/apiserver/charts/zot-0.1.97.tgz
  install/docker/docker-compose.yml
Due: none

feat(apiserver): update database configuration to default to PostgreSQL
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  server/database/config/config.go
Due: server

chore(apiserver): update postgresql subchart documentation for clarity
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

chore(install): add postgresql and envoy-authz chart binaries
  install/charts/dir/apiserver/charts/postgresql-18.2.3.tgz
Due: none

feat(apiserver): update database configuration to default to PostgreSQL (#876)
  Taskfile.yml
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/charts/postgresql-18.2.3.tgz
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/reconciler-deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  reconciler/Dockerfile
  server/database/config/config.go
Due: server

test: regsync
  Taskfile.yml
  scripts/record_080_ghcr.json
  scripts/record_080_zot.json
  scripts/test-sync.sh
Due: none

refactor(sync): remove registry monitoring functionality
  server/config/config.go
  server/config/config_test.go
  server/sync/config/config.go
  server/sync/monitor/config/config.go
  server/sync/monitor/monitor.go
  server/sync/monitor/types.go
  server/sync/sync.go
  server/sync/worker.go
Due: server

feat(workflow): add dir-reconciler image to container security scan
  .github/workflows/container-security-scan.yml
Due: none

feat(apiserver): enable reconciler deployment by default
  Taskfile.yml
  install/charts/dir/apiserver/values.yaml
Due: none

fix(gui): allow configuring MCP auth mode and token
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/settings_screen.dart
Due: none

fix(gui): allow runtime configuration of analytics keys
  gui/lib/services/analytics_service.dart
Due: none

fix(gui): add verbose GA4 logging for troubleshooting
  gui/lib/services/analytics_service.dart
Due: none

chore: bump oasf-sdk to 1.0.0-rc.1
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

feat: remove OASF 0.3.1 support
  api/core/v1/oasf.go
  api/core/v1/record.pb.go
  api/core/v1/record_test.go
  e2e/README.md
  e2e/client/01_client_test.go
  e2e/client/02_events_test.go
  e2e/client/03_ratelimit_test.go
  e2e/local/01_storage_test.go
  e2e/local/06_events_test.go
  e2e/mcp/01_protocol_test.go
  e2e/shared/testdata/embed.go
  e2e/shared/testdata/record_031.json
  mcp/README.md
  mcp/prompts/create_record.go
  mcp/prompts/create_record_test.go
  mcp/prompts/push_record.go
  mcp/server/server.go
  mcp/tools/get_schema.go
  mcp/tools/list_versions_test.go
  mcp/tools/validate_record.go
  proto/agntcy/dir/core/v1/record.proto
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.d.ts
  server/routing/routing_events_test.go
  server/routing/routing_local_test.go
  server/store/cache/cache_test.go
  server/store/eventswrap/eventswrap_test.go
  server/store/oci/README.md
  server/store/oci/annotations_test.go
  server/store/oci/constants.go
  server/store/oci/integration_test.go
  server/store/oci/oci_test.go
  server/types/README.md
  server/types/adapters/oasf_v1alpha0.go
  server/types/adapters/record.go
  server/types/label_test.go
Due: api, server

feat: add OASF 1.0.0-rc.1 support
  README.md
  api/core/v1/oasf.go
  api/core/v1/record.pb.go
  api/core/v1/record_test.go
  client/README.md
  docs/research/signing/agent.json
  e2e/README.md
  e2e/client/01_client_test.go
  e2e/client/02_events_test.go
  e2e/local/01_storage_test.go
  e2e/mcp/01_protocol_test.go
  e2e/shared/testdata/embed.go
  e2e/shared/testdata/record_100_rc1.json
  importer/enricher/enricher.domains.prompt.md
  importer/enricher/enricher.go
  importer/enricher/enricher.skills.prompt.md
  importer/mcp/transformer.go
  importer/mcp/transformer_test.go
  mcp/README.md
  mcp/prompts/create_record.go
  mcp/prompts/create_record_test.go
  mcp/prompts/push_record.go
  mcp/server/server.go
  mcp/tools/get_schema.go
  mcp/tools/list_versions_test.go
  mcp/tools/validate_record.go
  proto/agntcy/dir/core/v1/record.proto
  sdk/dir-js/README.md
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.d.ts
  sdk/dir-py/README.md
  server/routing/handler_test.go
  server/routing/utils.go
  server/store/cache/cache_test.go
  server/store/oci/README.md
  server/store/oci/integration_test.go
  server/types/adapters/oasf_v1.go
  server/types/adapters/record.go
Due: api, client, server

fix(gui): allow runtime configuration of GA4 analytics (#883)
  gui/lib/services/analytics_service.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/settings_screen.dart
Due: none

fix(reconciler): docker warning with regsync version
  reconciler/Dockerfile
Due: none

feat(task): add SQLite configuration for local development task
  Taskfile.yml
Due: none

fix(reconciler): docker warning with regsync version (#885)
  Taskfile.yml
  reconciler/Dockerfile
Due: none

release(dir): prepare release v1.0.0-rc.1
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

release(dir): prepare release v1.0.0-rc.1
  CHANGELOG.md
  versions.yaml
Due: none

Prepare directory for version v1.0.0-rc.1
  auth/authzserver/go.mod
  auth/cmd/envoy-authz/go.mod
  cli/go.mod
  client/go.mod
  e2e/go.mod
  importer/go.mod
  mcp/go.mod
  reconciler/go.mod
  server/go.mod
Due: client, server, cli

docs: update versions in README
  README.md
Due: none

feat: add naming service rpcs to SDKs
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/models/index.ts
  sdk/dir-js/src/models/naming_v1.ts
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  sdk/dir-py/agntcy/dir_sdk/models/__init__.py
  sdk/dir-py/agntcy/dir_sdk/models/naming_v1.py
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
