Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

feat: importer domain enrichment
  cli/README.md
  cli/cmd/import/import.go
  e2e/local/06_import_test.go
  importer/config/config.go
  importer/enricher/enricher.domains.prompt.md
  importer/enricher/enricher.go
  importer/mcp/transformer.go
Due: cli

feat: update skill enricher prompt
  importer/enricher/enricher.skills.prompt.md
Due: none

feat: update e2e test
  e2e/local/06_import_test.go
Due: none

feat(importer): enrichment with domains (#696)
  cli/README.md
  cli/cmd/import/import.go
  e2e/local/06_import_test.go
  importer/config/config.go
  importer/enricher/enricher.domains.prompt.md
  importer/enricher/enricher.go
  importer/enricher/enricher.skills.prompt.md
  importer/mcp/transformer.go
Due: cli

ci(dir): add workflow dispatch for jobs
  .github/workflows/ci.yaml
Due: none

ci(dir): apply pr comment suggestion
  .github/workflows/ci.yaml
Due: none

refactor: check header on every file
  .golangci.yml
  .licensei.toml
Due: none

refactor: check header on every file
  server/server.go
Due: server

refactor: check header on every file
  .github/workflows/ci.yaml
Due: none

feat(mcp): add import/export tools and prompts
  mcp/README.md
  mcp/prompts/export_record.go
  mcp/prompts/export_record_test.go
  mcp/prompts/import_record.go
  mcp/prompts/import_record_test.go
  mcp/server/server.go
  mcp/tools/export_record.go
  mcp/tools/export_record_test.go
  mcp/tools/import_record.go
  mcp/tools/import_record_test.go
Due: none

feat(mcp): add import/export tools and prompts (#705)
  mcp/README.md
  mcp/prompts/export_record.go
  mcp/prompts/export_record_test.go
  mcp/prompts/import_record.go
  mcp/prompts/import_record_test.go
  mcp/server/server.go
  mcp/tools/export_record.go
  mcp/tools/export_record_test.go
  mcp/tools/import_record.go
  mcp/tools/import_record_test.go
Due: none

fix(brew): use brew updater after release is public
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-release.yaml
Due: none

ci(brew): create pr only if test pass
  .github/workflows/reusable-brew-update.yaml
Due: none

ci(brew): add scope for PR title
  .github/workflows/ci.yaml
  .github/workflows/reusable-brew-update.yaml
Due: none

ci(brew): add warning for instructions
  .github/workflows/reusable-brew-update.yaml
Due: none

ci(brew): add option to fake bin hashes
  .github/workflows/reusable-brew-update.yaml
Due: none

ci(brew): use GH PAT token
  .github/workflows/reusable-brew-update.yaml
Due: none

ci(brew): remove warning body message
  .github/workflows/reusable-brew-update.yaml
Due: none

ci(brew): remove workflow inputs
  .github/workflows/reusable-brew-update.yaml
Due: none

fix(brew): use brew updater after release is public (#686)
  .github/workflows/ci.yaml
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-release.yaml
Due: none

refactor: local search
  server/controller/search.go
  server/database/sqlite/record.go
  server/database/sqlite/record_test.go
  server/database/utils/search.go
  server/database/utils/utils.go
  server/publication/worker.go
  server/types/database.go
  server/types/search.go
Due: server

fix: linter errors
  server/database/sqlite/record.go
  server/database/sqlite/record_test.go
  server/database/utils/search.go
  server/publication/worker.go
Due: server

feat: add pvc configuration to sqlite and fix unit tests
  importer/pipeline/pipeline_test.go
  install/charts/dir/apiserver/templates/database-pvc.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/routing-pvc.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  mcp/tools/get_schema_domains_test.go
  mcp/tools/get_schema_skills_test.go
Due: none

feat: add pvc configuration to sqlite and fix unit tests (#713)
  importer/pipeline/pipeline_test.go
  install/charts/dir/apiserver/templates/database-pvc.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/routing-pvc.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  mcp/tools/get_schema_domains_test.go
  mcp/tools/get_schema_skills_test.go
Due: none

release(dir): prepare release v0.5.2
  CHANGELOG.md
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  versions.yaml
Due: none

Prepare directory for version v0.5.2
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  server/go.mod
Due: client, server, cli

Prepare cli for version v0.5.2
  cli/go.mod
  e2e/go.mod
  hub/go.mod
Due: cli

release(dir): prepare release v0.5.2 (#716)
  CHANGELOG.md
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

chore: update brew formula version (#717)
  HomebrewFormula/dirctl.rb
Due: none

fix: add tmp volume when rootfs is readonly
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

fix: add tmp volume when rootfs is readonly (#718)
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

feat(sdk/js): add events test
  sdk/dir-js/test/client.test.ts
  sdk/dir-js/test/listen_worker.ts
Due: none

fix(sdk/js): fix listen worker filepath
  sdk/dir-js/test/client.test.ts
Due: none

feat(sdk/js): add events grpc method
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/models/events_v1.ts
  sdk/dir-js/src/models/index.ts
Due: none

fix(sdk/js): bump helm timeout
  Taskfile.yml
Due: none

fix(sdk/python): correct error handling on listen
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

refactor(sdk/js): use workerpool for background process
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/test/client.test.ts
  sdk/dir-js/test/listen_worker.cjs
  sdk/dir-js/test/listen_worker.ts
Due: none

feat(sdk/python): add publication grpc client
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

feat(sdk/js): add publication tests
  sdk/dir-js/test/client.test.ts
Due: none

feat(sdk/js): add publication grpc client
  sdk/dir-js/src/client/client.ts
Due: none

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
