Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

docs: update importer documentation
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-store.md
  docs/content/dir/dir-deployment-kubernetes.md
  docs/content/dir/dir-federation-aws-eks.md
Due: none

refactor(dir/server): remove verification configuration from store config
  cli/cmd/daemon/daemon.config.yaml
  server/config/config.go
  server/config/config_test.go
  server/naming/config/config.go
  server/store/config/config.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
Due: server, cli

refactor(cli, server): unify store configuration by removing 'oci' prefix and updating related references
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  cli/cmd/daemon/start.go
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/controller/sync.go
  server/routing/test_utils.go
  server/store/config/config.go
  server/store/store.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
  tests/integration/server/setup.go
  tests/integration/server/testenv/test-config.yaml
Due: server, cli

feat(cli): move raw OASF retrieval to `dirctl pull`; drop `--format=oasf` from export
  cli/cmd/export/batch.go
  cli/cmd/export/batch_test.go
  cli/cmd/export/export.go
  cli/cmd/export/format_test.go
  cli/cmd/export/options.go
  cli/cmd/pull/batch.go
  cli/cmd/pull/batch_test.go
  cli/cmd/pull/options.go
  cli/cmd/pull/pull.go
  cli/presenter/output.go
  cli/presenter/output_test.go
  cli/util/records/records.go
  cli/util/records/records_test.go
  docs/content/dir/dir-cli-reference.md
  tests/e2e/local/10_export_test.go
  tests/e2e/local/11_pull_test.go
Due: cli

feat(cli): add --config flag to dirctl import and simplify pipeline setup (#1715)
  .github/workflows/import-records.yaml
  .gitignore
  cli/cmd/import/config.go
  cli/cmd/import/config_test.go
  cli/cmd/import/enricher.json
  cli/cmd/import/import.config.yaml
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  cli/go.mod
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-import.md
  tests/e2e/local/06_import_test.go
  tests/e2e/local/10_export_test.go
Due: cli

chore: updating copyright message
  docs/content/stylesheets/agntcy-docs.css
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/overrides/partials/copyright.html
Due: none

chore: updating copyright message (#1717)
  docs/content/stylesheets/agntcy-docs.css
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/overrides/partials/copyright.html
Due: none

fix(cli): disambiguate batch filenames regardless of --all-versions
  cli/util/records/records.go
  cli/util/records/records_test.go
Due: cli

feat(cli): move raw OASF retrieval to `dirctl pull`; drop `--format=oasf` from export (#1707)
  cli/cmd/export/batch.go
  cli/cmd/export/batch_test.go
  cli/cmd/export/export.go
  cli/cmd/export/format_test.go
  cli/cmd/export/options.go
  cli/cmd/pull/batch.go
  cli/cmd/pull/batch_test.go
  cli/cmd/pull/options.go
  cli/cmd/pull/pull.go
  cli/presenter/output.go
  cli/presenter/output_test.go
  cli/util/records/records.go
  cli/util/records/records_test.go
  docs/content/dir/dir-cli-reference.md
  tests/e2e/local/10_export_test.go
  tests/e2e/local/11_pull_test.go
Due: cli

chore(dir): rename Agent Skill media type
  api/catalog/v1/catalog.go
  samples/ard-over-ads/consumer/handler.go
  server/gateway/static/_app/immutable/entry/app.C50Qmu8P.js
  server/gateway/static/_app/immutable/entry/app.aSaqx79X.js
  server/gateway/static/_app/immutable/nodes/2.BCSMw5lB.js
  server/gateway/static/_app/immutable/nodes/2.ChuF1HQw.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/MediaTypeBadge.svelte
  server/gateway/ui/src/lib/utils.ts
  tests/e2e/local/14_skill_record_test.go
Due: api, server

chore(dir): rename Agent Skill media type (#1721)
  api/catalog/v1/catalog.go
  samples/ard-over-ads/consumer/handler.go
  server/gateway/static/_app/immutable/entry/app.C50Qmu8P.js
  server/gateway/static/_app/immutable/entry/app.aSaqx79X.js
  server/gateway/static/_app/immutable/nodes/2.BCSMw5lB.js
  server/gateway/static/_app/immutable/nodes/2.ChuF1HQw.js
  server/gateway/static/index.html
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/MediaTypeBadge.svelte
  server/gateway/ui/src/lib/utils.ts
  tests/e2e/local/14_skill_record_test.go
Due: api, server

chore(dir): update dependencies
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
Due: none

chore(dir): update dependencies (#1722)
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
Due: none

test: update config imports
  reconciler/go.mod
  tests/Taskfile.yml
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
  tests/e2e/shared/utils/sign.go
  tests/go.mod
Due: none

feat(install): update config imports
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
Due: none

fix: cosign path
  tests/e2e/shared/utils/sign.go
Due: none

chore: adding 404 page
  docs/content/404.html
  docs/content/stylesheets/agntcy-docs.css
  docs/mkdocs/overrides/404.html
Due: none

feat(utils): add shared scanner package with MCP runner and RunAll orchestrator
  utils/go.mod
  utils/go.sum
  utils/scanner/mcp.go
  utils/scanner/scanner.go
  utils/scanner/scanner_test.go
Due: none

chore: adding 404 page (#1736)
  docs/content/404.html
  docs/content/stylesheets/agntcy-docs.css
  docs/mkdocs/overrides/404.html
Due: none

docs: update config
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-store.md
Due: none

test: extend unit tests
  utils/scanner/mcp_test.go
  utils/scanner/scanner_test.go
Due: none

feat(utils): add shared scanner package with MCP runner and RunAll orchestrator (#1738)
  utils/go.mod
  utils/go.sum
  utils/scanner/mcp.go
  utils/scanner/mcp_test.go
  utils/scanner/scanner.go
  utils/scanner/scanner_test.go
Due: none

feat(dir): extract skill bundles on batch export
  api/exportfmt/exportfmt_test.go
  api/exportfmt/skill_bundle_extract.go
  cli/cmd/export/batch.go
  cli/cmd/export/batch_test.go
  cli/cmd/export/export.go
Due: api, cli

feat(dir): extract skill bundles on batch export (#1741)
  api/exportfmt/exportfmt_test.go
  api/exportfmt/skill_bundle_extract.go
  cli/cmd/export/batch.go
  cli/cmd/export/batch_test.go
  cli/cmd/export/export.go
Due: api, cli

chore: install skill scanner
  Taskfile.deps.yml
Due: none

feat(proto): scanner report referrer
  api/core/v1/referrer_types.go
  api/scan/v1/scan_report.pb.go
  proto/agntcy/dir/scan/v1/scan_report.proto
  proto/buf.gen.yaml
Due: api

refactor(cli): derive install artifacts solely from record modules
  cli/cmd/install/apply.go
  cli/cmd/install/apply_test.go
  cli/cmd/install/flags.go
  cli/cmd/install/install.go
  cli/cmd/install/options.go
  cli/cmd/install/uninstall.go
  cli/internal/agentcfg/options.go
  cli/internal/agentcfg/options_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

refactor(cli): replace per-agent install flags with a single --agents flag
  cli/cmd/install/apply.go
  cli/cmd/install/apply_test.go
  cli/cmd/install/flags.go
  cli/cmd/install/flags_test.go
  cli/cmd/install/install.go
  cli/cmd/install/options.go
  cli/cmd/install/uninstall.go
  cli/internal/agentcfg/options.go
  cli/internal/agentcfg/options_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli

feat(cli): add top-level `dirctl uninstall` shorthand for `install uninstall`
  cli/cmd/install/install_test.go
  cli/cmd/install/uninstall.go
  cli/cmd/root.go
  docs/content/dir/dir-cli-reference.md
Due: cli

feat(utils): skill-scanner support
  api/exportfmt/skill_bundle_extract.go
  utils/go.mod
  utils/go.sum
  utils/scanner/skill.go
  utils/scanner/skill_test.go
Due: api

feat(api, client): push scan report referrer
  api/scan/v1/scan_report.go
  api/scan/v1/scan_report_test.go
  client/scan.go
Due: api, client

fix(cli): address install review
  cli/cmd/install/derive.go
  cli/internal/agentcfg/skill_engine.go
  cli/internal/agentcfg/skill_render.go
  cli/internal/agentcfg/skill_render_test.go
  docs/content/dir/dir-cli-reference.md
Due: cli
