Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

refactor(server/database): rename database configuration and models from sqlite to gorm
  server/config/config.go
  server/config/config_test.go
  server/controller/naming.go
  server/database/config/config.go
  server/database/gorm/domain.go
  server/database/gorm/gorm.go
  server/database/gorm/locator.go
  server/database/gorm/module.go
  server/database/gorm/naming.go
  server/database/gorm/publication.go
  server/database/gorm/record.go
  server/database/gorm/record_test.go
  server/database/gorm/skill.go
  server/database/gorm/sync.go
  server/database/sqlite/config/config.go
  server/reverification/worker.go
Due: server

feat(install): postgres support
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/external-secret.yaml
  install/charts/dir/apiserver/templates/secret.yaml
  install/charts/dir/apiserver/values.yaml
  server/config/config.go
  server/config/config_test.go
  server/database/database.go
  server/database/gorm/gorm.go
Due: server

refactor: remove redundant test tasks
  Taskfile.yml
Due: none

refactor(server/database): remove sqlite from gorm package
  server/database/database.go
  server/database/database_test.go
  server/database/gorm/gorm.go
Due: server

feat(database): add PostgreSQL support and configuration
  server/config/config.go
  server/config/config_test.go
  server/database/config/config.go
  server/database/database.go
  server/go.mod
  server/go.sum
Due: server

refactor(search): remove list wildcard support
  api/search/v1/record_query.pb.go
  cli/cmd/search/search.go
  e2e/README.md
  e2e/local/02_search_test.go
  mcp/README.md
  mcp/prompts/search_records.go
  mcp/server/server.go
  mcp/tools/search.go
  proto/agntcy/dir/search/v1/record_query.proto
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  server/database/utils/wildcard.go
  server/database/utils/wildcard_test.go
Due: server, cli

fix(ci): replace paths-ignore with conditional jobs for better workflow completion
  .github/workflows/ci.yaml
Due: none

feat(ci): add Codecov coverage uploading for GUI
  .github/workflows/gui-ci.yaml
  .gitignore
  gui/.gitignore
  gui/lib/env/env.dart
  gui/lib/services/analytics_service.dart
  gui/pubspec.yaml
Due: none

chore(docs): remove GUI_GUIDE.md
  gui/GUI_GUIDE.md
Due: none

chore: remove analytics_config.json
  gui/analytics_config.json
Due: none

docs(mcp): add GitHub authentication setup with PAT recommendation (#853)
  .github/workflows/ci.yaml
  mcp/README.md
Due: none

ci: replace json config injection with envied generation
  .github/workflows/gui-ci.yaml
  gui/.gitignore
  gui/pubspec.lock
Due: none

ci: restrict release trigger to gui* tags
  .github/workflows/gui-ci.yaml
Due: none

ci: add postgresql image to scan
  .github/workflows/container-security-scan.yml
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
Due: none

feat(dir): add postgresql support (#849)
  .github/workflows/container-security-scan.yml
  Taskfile.yml
  api/search/v1/record_query.pb.go
  cli/cmd/search/search.go
  e2e/README.md
  e2e/local/02_search_test.go
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/external-secret.yaml
  install/charts/dir/apiserver/templates/secret.yaml
  install/charts/dir/apiserver/values.yaml
  mcp/README.md
  mcp/prompts/search_records.go
  mcp/server/server.go
  mcp/tools/search.go
  proto/agntcy/dir/search/v1/record_query.proto
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  server/config/config.go
  server/config/config_test.go
  server/controller/naming.go
  server/database/config/config.go
  server/database/database.go
  server/database/database_test.go
  server/database/gorm/domain.go
  server/database/gorm/gorm.go
  server/database/gorm/locator.go
  server/database/gorm/module.go
  server/database/gorm/naming.go
  server/database/gorm/publication.go
  server/database/gorm/record.go
  server/database/gorm/skill.go
  server/database/gorm/sync.go
  server/database/sqlite/config/config.go
  server/database/utils/wildcard.go
  server/database/utils/wildcard_test.go
  server/go.mod
  server/go.sum
  server/reverification/worker.go
Due: server, cli

feat(gui): add Google Analytics via Measurement Protocol (#850)
  .github/workflows/gui-ci.yaml
  .gitignore
  gui/.gitignore
  gui/lib/env/env.dart
  gui/lib/main.dart
  gui/lib/services/analytics_service.dart
  gui/lib/ui/chat_screen.dart
  gui/pubspec.lock
  gui/pubspec.yaml
Due: none

feat: use oasf-sdk v0.0.15 validator in `dirctl validate`
  cli/README.md
  cli/cmd/validate/options.go
  cli/cmd/validate/testdata/record_invalid.json
  cli/cmd/validate/testdata/record_valid_for_schema.json
  cli/cmd/validate/testdata/record_valid_with_warnings.json
  cli/cmd/validate/validate.go
  cli/cmd/validate/validate_test.go
Due: cli

feat: remove obsolete env vars from Helm chart
  install/charts/dir/apiserver/templates/deployment.yaml
Due: none

chore: bump oasf-sdk v0.0.14 -> v0.0.15
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

feat: use new oasf-sdk validator in api package
  api/core/v1/record.go
  api/core/v1/record_test.go
Due: api

feat: use oasf-sdk v0.0.15 validator in server
  server/README.md
  server/config/config.go
  server/config/config_test.go
  server/server.go
  server/server_test.go
Due: server

fix: temp disable importer test
  e2e/local/06_import_test.go
Due: none

feat: update Taskfile with oasf-sdk v0.0.15
  Taskfile.yml
Due: none

feat: update Flutter gui with oasf-sdk v0.0.15
  gui/test/mcp_integration_test.dart
Due: none

chore: bump oasf-sdk v0.0.15 -> v0.0.16
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

chore: bump proto version with oasf-sdk v0.0.15
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli

feat: update mcp package with oasf-sdk v0.0.16
  mcp/README.md
  mcp/server/server.go
  mcp/server/server_test.go
  mcp/tools/get_schema.go
  mcp/tools/get_schema_domains.go
  mcp/tools/get_schema_domains_test.go
  mcp/tools/get_schema_skills.go
  mcp/tools/get_schema_skills_test.go
  mcp/tools/get_schema_test.go
  mcp/tools/list_versions.go
  mcp/tools/list_versions_test.go
  mcp/tools/schema_helpers.go
  mcp/tools/validate_record_test.go
Due: none

chore: ensure validity of test records
  e2e/shared/testdata/record_070_sync_v4.json
  e2e/shared/testdata/record_070_sync_v5.json
  e2e/shared/testdata/record_warnings_080.json
  server/database/database_test.go
Due: server

fix: merge conflicts after rebase
  Taskfile.yml
  gui/lib/ui/chat_screen.dart
  install/docker/apiserver.env
  mcp/README.md
Due: none

fix(ci): add write permissions and re-sign macOS app
  .github/workflows/gui-ci.yaml
Due: none

test: add http verification tests
  e2e/dns-validation/.gitkeep
  e2e/dns-validation/chart/jwks.json
  e2e/dns-validation/chart/templates/_helpers.tpl
  e2e/dns-validation/cosign.key
  e2e/dns-validation/cosign.pub
  e2e/dns-validation/test-private-key.pem
  e2e/dns-validation/test-public-key.pem
  e2e/dns-validation/test-self-certification.cert
Due: none

test(e2e): add initial dns/http for record name validation
  e2e/dns-validation/.gitkeep
  e2e/dns-validation/chart/Chart.yaml
  e2e/dns-validation/chart/jwks.json
  e2e/dns-validation/chart/templates/_helpers.tpl
  e2e/dns-validation/chart/templates/dns-configmap.yaml
  e2e/dns-validation/chart/templates/dns-deployment.yaml
  e2e/dns-validation/chart/templates/dns-service.yaml
  e2e/dns-validation/chart/templates/http-configmap.yaml
  e2e/dns-validation/chart/templates/http-deployment.yaml
  e2e/dns-validation/chart/templates/http-service.yaml
  e2e/dns-validation/chart/values.yaml
  e2e/dns-validation/test-private-key.pem
  e2e/dns-validation/test-public-key.pem
  e2e/dns-validation/test-self-certification.cert
Due: none

chore(dir): remove DNS server from helm chart
  e2e/dns-validation/chart/Chart.yaml
  e2e/dns-validation/chart/templates/dns-configmap.yaml
  e2e/dns-validation/chart/templates/dns-deployment.yaml
  e2e/dns-validation/chart/templates/dns-service.yaml
  e2e/dns-validation/chart/values.yaml
Due: none

test: add http verification tests
  Taskfile.yml
  e2e/local/01_storage_test.go
  e2e/local/02_search_test.go
  e2e/local/08_resolve_test.go
  e2e/local/09_naming_test.go
  e2e/shared/testdata/record_080_v4.json
  e2e/shared/testdata/record_080_v5.json
  e2e/shared/utils/cli.go
Due: none

fix: linter issues
  e2e/local/09_naming_test.go
Due: none

fix(ci): add write permissions and re-sign macOS app (#855)
  .github/workflows/gui-ci.yaml
Due: none

feat(import): refactor import command to support signing and move options to a separate file
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/config/config.go
  importer/mcp/importer.go
  importer/pipeline/pusher.go
Due: cli

fix: outdated commands in demo wf
  .github/workflows/demo-dir.yaml
Due: none

fix(ci): use gh cli for release uploads
  .github/workflows/gui-ci.yaml
Due: none
