Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

refactor(ci/import): handle command execution errors in import-records workflow
  .github/workflows/import-records.yaml
Due: none

ci(dir): add gh token env for gh cli
  .github/workflows/container-security-scan.yml
Due: none

ci(dir): fix repository name and owner param
  .github/workflows/container-security-scan.yml
Due: none

refactor(ci/import): handle command execution errors in import-records workflow (#938)
  .github/workflows/import-records.yaml
Due: none

ci(dir): fix postgresql image version
  .github/workflows/container-security-scan.yml
Due: none

ci(dir): add gh token env for gh cli (#939)
  .github/workflows/container-security-scan.yml
Due: none

ci(dir): add push record and validate record GH actions (#935)
  .github/actions/push-record/README.md
  .github/actions/push-record/action.yaml
  .github/actions/push-record/push.sh
  .github/actions/validate-record/README.md
  .github/actions/validate-record/action.yaml
  .github/actions/validate-record/validate.sh
Due: none

chore(ci): simplify image scanning github action
  .github/workflows/container-security-scan.yml
Due: none

chore(ci): simplify image scanning github action
  .github/workflows/container-security-scan.yml
  .github/workflows/scripts/security/generate_trivy_summary.sh
Due: none

chore(ci): simplify image scanning github action
  .github/workflows/scripts/security/generate_trivy_summary.sh
Due: none

chore(ci): simplify image security scanning github action (#940)
  .github/workflows/container-security-scan.yml
  .github/workflows/scripts/security/generate_trivy_summary.sh
Due: none

chore(dir): update e2e go.mod
  e2e/go.mod
  e2e/go.sum
Due: none

chore(dir): update api go.mod
  api/go.mod
  api/go.sum
Due: api

chore(dir): update importer go.mod
  importer/go.mod
  importer/go.sum
Due: none

chore(dir): update server go.mod
  server/go.mod
  server/go.sum
Due: server

chore(dir): update mcp go.mod
  mcp/go.mod
  mcp/go.sum
Due: none

chore(dir): update auth go.mod files
  auth/authprovider/go.mod
  auth/authprovider/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
Due: none

chore(dir): update client go.mod
  client/go.mod
  client/go.sum
Due: client

chore(dir): update utils go.mod
  utils/go.mod
  utils/go.sum
Due: none

chore(dir): update cli go.mod
  cli/go.mod
  cli/go.sum
Due: cli

chore(dir): update reconciler go.mod
  reconciler/go.mod
  reconciler/go.sum
Due: none

chore(dir): update runtime go.mod
  runtime/api/go.mod
  runtime/api/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/go.mod
  runtime/store/go.sum
Due: none

feat(dir): add deps:update to taskfile
  Taskfile.yml
Due: none

fix(dir): fallback broken packages
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  server/go.mod
  server/go.sum
Due: server, cli

fix(dir): cc-by-4.0 replaced by apache 2
  .licensei.toml
Due: none

chore(dir): update go mods (#943)
  .licensei.toml
  Taskfile.yml
  api/go.mod
  api/go.sum
  auth/authprovider/go.mod
  auth/authprovider/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/api/go.mod
  runtime/api/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/go.mod
  runtime/store/go.sum
  server/go.mod
  server/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

chore(dir): unify version number schema
  Taskfile.yml
Due: none

chore(dir): remove unused variable
  Taskfile.yml
Due: none

refactor(dir): move gui tasks
  Taskfile.yml
  gui/Taskfile.yml
Due: none

chore(dir): move server tasks to server directory
  Taskfile.vars.yml
  Taskfile.yml
  server/Taskfile.yml
Due: server

refactor(dir): move e2e tasks
  Taskfile.yml
  e2e/Taskfile.yml
Due: none

refactor(dir): move sdk tasks
  Taskfile.yml
  sdk/Taskfile.yml
Due: none

refactor(dir): move cli tasks
  Taskfile.yml
  cli/Taskfile.yml
Due: cli

refactor(dir): move deploy tasks
  Taskfile.yml
  install/Taskfile.yml
Due: none

refactor(dir): move deps tasks
  .gitignore
  Taskfile.yml
  bin/Taskfile.yml
Due: none

refactor(dir): move mcp tasks
  Taskfile.yml
  mcp/Taskfile.yml
Due: none

refactor(dir): move api tasks
  Taskfile.yml
  api/Taskfile.yml
Due: api

refactor(dir): move runtime tasks
  Taskfile.yml
  runtime/Taskfile.yml
Due: none

feat(dir/sync): simplify registry url handling and validation
  server/controller/sync.go
  utils/zot/config.go
  utils/zot/config_test.go
  utils/zot/credentials.go
  utils/zot/credentials_test.go
Due: server

refactor: code review
  server/controller/sync.go
  server/store/oci/config/config.go
Due: server
