Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(dir): re-verification service & verification storage (#826)
  api/core/v1/referrer_types.go
  api/naming/v1/name_verification.go
  api/naming/v1/naming_service.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/naming/check.go
  cli/cmd/naming/naming.go
  cli/cmd/naming/verify.go
  cli/cmd/sign/sign.go
  client/naming.go
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.py
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2.pyi
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
  server/config/config.go
  server/config/config_test.go
  server/controller/naming.go
  server/controller/store.go
  server/database/sqlite/naming.go
  server/database/sqlite/record.go
  server/database/sqlite/sqlite.go
  server/naming/config/config.go
  server/naming/provider.go
  server/naming/types.go
  server/reverification/config/config.go
  server/reverification/scheduler.go
  server/reverification/service.go
  server/reverification/types/types.go
  server/reverification/worker.go
  server/server.go
  server/store/config/config.go
  server/store/oci/types.go
  server/types/database.go
  server/types/name_verification.go
Due: api, client, server, cli

fix(helm): update helm values and documentation
  install/charts/dir/apiserver/values.yaml
  install/charts/envoy-authz/values.yaml
Due: none

feat(gui): implement Flutter dashboard with MCP integration and enhanced search UI
  gui/.metadata
  gui/lib/mcp/client.dart
  gui/lib/services/ai_service.dart
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/widgets/record_card.dart
  gui/lib/ui/widgets/search_results_widget.dart
  gui/test/widget_test.dart
  install/docker/apiserver.env
  test-agents/create_agents.sh
Due: none

refactor: remove dns name verification
  cli/cmd/naming/naming.go
  cli/cmd/naming/verify.go
  proto/agntcy/dir/naming/v1/name_verification.proto
  proto/agntcy/dir/naming/v1/naming_service.proto
  server/database/sqlite/naming.go
  server/naming/dns/config/config.go
  server/naming/dns/parser.go
  server/naming/dns/parser_test.go
  server/naming/dns/resolver.go
  server/naming/name.go
  server/naming/name_test.go
  server/naming/provider.go
  server/naming/types.go
  server/server.go
Due: server, cli

fix: run task gen
  api/naming/v1/name_verification.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  sdk/dir-js/src/models/agntcy/dir/naming/v1/name_verification_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
Due: none

refactor(dir): remove dns name verification (#833)
  api/naming/v1/name_verification.pb.go
  api/naming/v1/naming_service_grpc.pb.go
  cli/cmd/naming/naming.go
  cli/cmd/naming/verify.go
  proto/agntcy/dir/naming/v1/name_verification.proto
  proto/agntcy/dir/naming/v1/naming_service.proto
  sdk/dir-js/src/models/agntcy/dir/naming/v1/name_verification_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/naming/v1/naming_service_pb.js
  sdk/dir-py/agntcy/dir/naming/v1/naming_service_pb2_grpc.py
  server/database/sqlite/naming.go
  server/naming/dns/config/config.go
  server/naming/dns/parser.go
  server/naming/dns/parser_test.go
  server/naming/dns/resolver.go
  server/naming/name.go
  server/naming/name_test.go
  server/naming/provider.go
  server/naming/types.go
  server/server.go
Due: server, cli

refactor(client): rename Token to GitHubToken for consistency
  cli/cmd/options.go
  client/config.go
  client/options.go
  client/options_test.go
  client/token_cache.go
Due: client, cli

fix: resolve test failures, fix crash, and add data script
  gui/load_records.sh
  gui/test/ui/chat_screen_test.dart
  gui/test/widget_test.dart
Due: none

chore(deps): update go-tuf/v2 to v2.4.0 across all modules
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  utils/go.mod
  utils/go.sum
Due: client, server, cli

chore(deps): update go-tuf/v2 to v2.4.0 across all modules (#838)
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  utils/go.mod
  utils/go.sum
Due: client, server, cli

feat(gui): enhance search result cards with modules, skills overflow, and responsive layout
  gui/assets/images/a2a.svg
  gui/assets/images/agent-icon.svg
  gui/assets/images/mcp-server-icon.svg
  gui/lib/ui/widgets/search_results_widget.dart
  gui/load_records.sh
Due: none

feat(gui): ui/ux improvements for Agent Directory GUI
  gui/assets/images/logo-dark.svg
  gui/assets/images/logo-light.svg
  gui/lib/main.dart
  gui/lib/services/ai_service.dart
  gui/lib/services/gemini_wrapper.dart
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/widgets/search_results_widget.dart
  gui/pubspec.lock
  gui/pubspec.yaml
Due: none

feat(gui): additional ui/ux refinements for agent directory
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/widgets/search_results_widget.dart
Due: none

fix(gui): snackbar colors for dark mode visibility
  gui/lib/ui/widgets/search_results_widget.dart
Due: none

feat(gui): add macOS support and config improvements
  .gitignore
  gui/.metadata
  gui/load_records.sh
  gui/macos/.gitignore
  gui/macos/Flutter/Flutter-Debug.xcconfig
  gui/macos/Flutter/Flutter-Release.xcconfig
  gui/macos/Flutter/GeneratedPluginRegistrant.swift
  gui/macos/Podfile
  gui/macos/Podfile.lock
  gui/macos/Runner.xcodeproj/project.pbxproj
  gui/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  gui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  gui/macos/Runner.xcworkspace/contents.xcworkspacedata
  gui/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  gui/macos/Runner/AppDelegate.swift
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  gui/macos/Runner/Base.lproj/MainMenu.xib
  gui/macos/Runner/Configs/AppInfo.xcconfig
  gui/macos/Runner/Configs/Debug.xcconfig
  gui/macos/Runner/Configs/Release.xcconfig
  gui/macos/Runner/Configs/Warnings.xcconfig
  gui/macos/Runner/DebugProfile.entitlements
  gui/macos/Runner/Info.plist
  gui/macos/Runner/MainFlutterWindow.swift
  gui/macos/Runner/Release.entitlements
  gui/macos/RunnerTests/RunnerTests.swift
Due: none

ci: add GUI test workflow
  .github/workflows/gui-ci.yaml
Due: none

ci(gui): add macOS and Windows release build jobs
  .github/workflows/gui-ci.yaml
Due: none

fix(gui): remove macos folder from git and generate in CI
  .github/workflows/gui-ci.yaml
  .gitignore
  gui/macos/.gitignore
  gui/macos/Flutter/Flutter-Debug.xcconfig
  gui/macos/Flutter/Flutter-Release.xcconfig
  gui/macos/Flutter/GeneratedPluginRegistrant.swift
  gui/macos/Podfile
  gui/macos/Podfile.lock
  gui/macos/Runner.xcodeproj/project.pbxproj
  gui/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  gui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  gui/macos/Runner.xcworkspace/contents.xcworkspacedata
  gui/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  gui/macos/Runner/AppDelegate.swift
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  gui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  gui/macos/Runner/Base.lproj/MainMenu.xib
  gui/macos/Runner/Configs/AppInfo.xcconfig
  gui/macos/Runner/Configs/Debug.xcconfig
  gui/macos/Runner/Configs/Release.xcconfig
  gui/macos/Runner/Configs/Warnings.xcconfig
  gui/macos/Runner/DebugProfile.entitlements
  gui/macos/Runner/Info.plist
  gui/macos/Runner/MainFlutterWindow.swift
  gui/macos/Runner/Release.entitlements
  gui/macos/RunnerTests/RunnerTests.swift
Due: none

fix(ci): remove invalid --no-codesign flag from macOS build
  .github/workflows/gui-ci.yaml
Due: none

fix(ci): build mcp-server before running integration tests
  .github/workflows/gui-ci.yaml
Due: none

fix(ci): configure macOS app name and entitlements before build
  .github/workflows/gui-ci.yaml
Due: none

fix(ci): generate windows runner files in CI
  .github/workflows/gui-ci.yaml
Due: none

feat(gui): ui/ux improvements for Agent Directory GUI (#837)
  .github/workflows/gui-ci.yaml
  gui/assets/images/a2a.svg
  gui/assets/images/agent-icon.svg
  gui/assets/images/logo-dark.svg
  gui/assets/images/logo-light.svg
  gui/assets/images/mcp-server-icon.svg
  gui/lib/main.dart
  gui/lib/mcp/client.dart
  gui/lib/services/ai_service.dart
  gui/lib/services/gemini_wrapper.dart
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/widgets/record_card.dart
  gui/lib/ui/widgets/search_results_widget.dart
  gui/load_records.sh
  gui/pubspec.lock
  gui/pubspec.yaml
  gui/test/ui/chat_screen_test.dart
  gui/test/widget_test.dart
  install/docker/apiserver.env
Due: none

fix(gui): bundle mcp-server in macOS build and update path resolution
  .github/workflows/gui-ci.yaml
  gui/lib/ui/chat_screen.dart
Due: none

chore(dir): update cli go.mod
  cli/go.mod
  cli/go.sum
Due: cli

chore(dir): update authprovider go.mod
  auth/authprovider/go.mod
  auth/authprovider/go.sum
Due: none

chore(dir): update e2e go.mod
  e2e/go.mod
  e2e/go.sum
Due: none

chore(dir): update utils go.mod
  utils/go.mod
  utils/go.sum
Due: none

chore(dir): update importer go.mod
  importer/go.mod
  importer/go.sum
Due: none

chore(dir): update server go.mod
  server/go.mod
  server/go.sum
Due: server

chore(dir): update sigstore package
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  utils/go.mod
  utils/go.sum
Due: client, server, cli

chore(dir): update envoy-authz go.mod
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
Due: none

chore(dir): update client go.mod
  client/go.mod
  client/go.sum
Due: client

chore(dir): update mcp go.mod
  mcp/go.mod
  mcp/go.sum
Due: none

chore(dir): update authzserver go.mod
  auth/authzserver/go.mod
  auth/authzserver/go.sum
Due: none

test(gui): improve coverage and fix flaky tests
  gui/.metadata
  gui/lib/services/llm_provider.dart
  gui/lib/ui/chat_screen.dart
  gui/lib/ui/settings_screen.dart
  gui/test/mcp/client_unit_test.dart
  gui/test/mcp/model_test.dart
  gui/test/services/ai_service_azure_test.dart
  gui/test/services/ai_service_openai_test.dart
  gui/test/services/ai_service_test.dart
  gui/test/services/llm_provider_test.dart
  gui/test/ui/chat_screen_test.dart
  gui/test/ui/settings_screen_test.dart
  gui/test/ui/widgets/record_card_test.dart
  gui/test/ui/widgets/search_results_widget_test.dart
Due: none

chore(dir): update go packages to fix vulns (#839)
  auth/authprovider/go.mod
  auth/authprovider/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
  utils/go.mod
  utils/go.sum
Due: client, server, cli

feat(envoy-authz): implement Casbin-based RBAC for multi-provider authentication
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/authzserver/model.conf
  auth/authzserver/rbac.go
  auth/authzserver/rbac_test.go
  auth/authzserver/server.go
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  auth/cmd/envoy-authz/main.go
  install/charts/envoy-authz/templates/configmap-authz.yaml
  install/charts/envoy-authz/templates/deployment-authz.yaml
  install/charts/envoy-authz/values.yaml
Due: none
