Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

release(dir): prepare api release v1.7.0 (#2036)
  cli/go.mod
  client/go.mod
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  server/go.mod
  tests/go.mod
  utils/go.mod
  versions.yaml
Due: client, server, cli

chore(deps): update bitnami/postgresql chart to 18.8.11 and image digest
  Taskfile.vars.yml
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/docker-compose.yml
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

chore(renovate): expand zot dependency group
  renovate.json
Due: none

chore(deps): update zot go
  cli/go.mod
  cli/go.sum
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

chore(deps): update bitnami/postgresql chart to 18.8.11 and image digest (#2039)
  Taskfile.vars.yml
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/docker-compose.yml
  tests/e2e/daemon/testenv/external/docker-compose.yaml
  tests/integration/server/testenv/docker-compose.yml
Due: none

release(dir): prepare server release v1.7.0
  CHANGELOG.md
  README.md
  cli/go.mod
  cli/go.sum
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: cli

feat(scanner): map Azure OpenAI env vars into MCP scanner process
  utils/scanner/mcp_endpoint.go
Due: none

fix(scanner): make MCP endpoint analyzer selection credential-aware
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_test.go
Due: none

fix(scanner): move --raw flag after MCP behavioral subcommand
  utils/scanner/mcp.go
Due: none

feat(scanner): support array-shaped findings from mcp-scanner instructions subcommand
  utils/scanner/mcp.go
  utils/scanner/mcp_test.go
Due: none

release(dir): prepare server release v1.7.0 (#2038)
  CHANGELOG.md
  README.md
  cli/go.mod
  cli/go.sum
  reconciler/go.mod
  samples/ard-over-ads/go.mod
  samples/ard-over-ads/go.sum
  tests/go.mod
  tests/go.sum
  versions.yaml
Due: cli

chore: update brew formula version (#2042)
  HomebrewFormula/dirctl/v1/v1.7/dirctl@1.7.0.rb
Due: none

fix(scanner): route mcp-scanner results to --output file and tolerate stdout noise
  utils/scanner/mcp.go
  utils/scanner/mcp_test.go
  utils/scanner/testdata/fakecli/main.go
Due: none

fix(scanner): skip MCP source behavioral scan when LLM is not fully configured
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_test.go
  utils/scanner/mcp_test.go
Due: none

fix(reconciler): skip referrer tags in the indexer
  api/core/v1/referrer_types.go
  reconciler/go.mod
  reconciler/tasks/indexer/manifest.go
  reconciler/tasks/indexer/manifest_test.go
  reconciler/tasks/indexer/task.go
  server/store/oci/referrers.go
Due: api, server

fix(scanner): report actual analyzers run by MCP scanner subcommands
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_test.go
  utils/scanner/mcp_test.go
Due: none

fix(scanner): stabilize MCP scanner findings order and argument building
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_test.go
  utils/scanner/mcp_test.go
Due: none

fix(reconciler): skip referrer tags in the indexer (#2049)
  api/core/v1/referrer_types.go
  reconciler/go.mod
  reconciler/tasks/indexer/manifest.go
  reconciler/tasks/indexer/manifest_test.go
  reconciler/tasks/indexer/task.go
  server/store/oci/referrers.go
Due: api, server

fix(scanner): make MCP source and endpoint scans produce results (#2041)
  utils/scanner/mcp.go
  utils/scanner/mcp_endpoint.go
  utils/scanner/mcp_endpoint_test.go
  utils/scanner/mcp_test.go
  utils/scanner/testdata/fakecli/main.go
Due: none

chore(deps): update module github.com/agntcy/dir-importer to v1.5.5-0.20260819134321-525b42c65a49
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

fix(routing): fixes routng query prefixes
  server/routing/query_matching.go
  server/routing/query_matching_test.go
  server/types/label.go
  server/types/label_test.go
Due: server

test(api): gate the live-validation record test behind OASF_SCHEMA_URL
  api/core/v1/record_test.go
Due: api

test(cli): stop the validate unit tests calling a live schema service
  cli/cmd/validate/schema_server_test.go
  cli/cmd/validate/testdata/schema_response_invalid.json
  cli/cmd/validate/testdata/schema_response_valid.json
  cli/cmd/validate/testdata/schema_response_valid_with_warnings.json
  cli/cmd/validate/validate_test.go
Due: cli

test(cli): stop the validate unit tests calling a live schema service (#1953)
  api/core/v1/record_test.go
  cli/cmd/validate/schema_server_test.go
  cli/cmd/validate/testdata/schema_response_invalid.json
  cli/cmd/validate/testdata/schema_response_valid.json
  cli/cmd/validate/testdata/schema_response_valid_with_warnings.json
  cli/cmd/validate/validate_test.go
Due: api, cli

chore(deps): update go version to 1.26.7
  .github/workflows/codeql.yml
  .github/workflows/oidc-test.yml
  Taskfile.vars.yml
  api/go.mod
  cli/Dockerfile
  cli/go.mod
  client/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  server/Dockerfile
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: api, client, server, cli

chore(renovate): remove prCreation not-pending setting
  renovate.json
Due: none

chore(deps): update ghcr.io/grpc-ecosystem/grpc-health-probe docker tag to v0.4.55
  server/Dockerfile
Due: server

chore(reconciler): harden scanner image by pinning base digest, upgrading packages, and removing pip
  reconciler/Dockerfile
Due: none

chore(deps): update go version to 1.26.7 in github actions
  .github/actions/build-dirctl/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/dependencies.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
Due: none

test(cli): reuse recorded schema response fixture
  cli/cmd/root_test.go
Due: cli

test(cli): stop the root OIDC test calling the live schema server (#1985)
  cli/cmd/root_test.go
Due: cli

chore(renovate): reduce update schedule to Monday only
  renovate.json
Due: none

chore(deps): update module github.com/agntcy/dir-importer to v1.5.5-0.20260819134321-525b42c65a49 (#2051)
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

chore(deps): clear fixable CVEs from published container images (#2056)
  .github/actions/build-dirctl/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yaml
  .github/workflows/oidc-test.yml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e-cross-platform.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
  Taskfile.vars.yml
  api/go.mod
  cli/Dockerfile
  cli/go.mod
  client/go.mod
  reconciler/Dockerfile
  reconciler/go.mod
  renovate.json
  server/Dockerfile
  server/go.mod
  tests/go.mod
  utils/go.mod
Due: api, client, server, cli

chore(license): replace licensei with go-licenses
  .github/workflows/ci.yaml
  .gitignore
  .golicenses.yaml
  .licensei.toml
  Taskfile.deps.yml
  Taskfile.vars.yml
Due: none

chore(gateway): regenerate static UI assets
  server/gateway/static/_app/immutable/chunks/B9bhcfNd.js
  server/gateway/static/_app/immutable/chunks/Bjy-W4x2.js
  server/gateway/static/_app/immutable/chunks/BmdAKXA0.js
  server/gateway/static/_app/immutable/chunks/CFxqcZwB.js
  server/gateway/static/_app/immutable/chunks/DIJHpNDS.js
  server/gateway/static/_app/immutable/entry/app.C0nMlhSZ.js
  server/gateway/static/_app/immutable/entry/app.Pe014m_L.js
  server/gateway/static/_app/immutable/entry/start.C53OMLnh.js
  server/gateway/static/_app/immutable/entry/start.RV-5dyY6.js
  server/gateway/static/_app/immutable/nodes/0.D1TABI0x.js
  server/gateway/static/_app/immutable/nodes/0.DF9D16_f.js
  server/gateway/static/_app/immutable/nodes/1.CWgtiKwJ.js
  server/gateway/static/_app/immutable/nodes/1.U9C4-TLX.js
  server/gateway/static/index.html
Due: server

chore(license): replace licensei with go-licenses (#2058)
  .github/workflows/ci.yaml
  .gitignore
  .golicenses.yaml
  .licensei.toml
  Taskfile.deps.yml
  Taskfile.vars.yml
Due: none

fix: prevent orphaned search-index rows on oci delete (fixes #2066)
  server/controller/store.go
  server/controller/store_test.go
  server/store/oci/internal.go
  server/store/oci/internal_test.go
Due: server

fix: prevent orphaned search-index rows on oci delete (fixes #2066) (#2067)
  server/controller/store.go
  server/controller/store_test.go
  server/store/oci/internal.go
  server/store/oci/internal_test.go
Due: server

fix(routing): fixes routng query prefixes (#2053)
  server/routing/query_matching.go
  server/routing/query_matching_test.go
  server/types/label.go
  server/types/label_test.go
Due: server

Path conditions:
  api: any of: api/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  client: any of: client/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  server: any of: server/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
  cli: any of: cli/, but not: **/*.pb.go, **/mock_*.go, e2e/**, **/testdata/**
