Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

refactor(dir/server): remove verification configuration from store config
  cli/cmd/daemon/daemon.config.yaml
  server/config/config.go
  server/config/config_test.go
  server/naming/config/config.go
  server/store/config/config.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
Due: server, cli

refactor(cli, server): unify store configuration by removing 'oci' prefix and updating related references
  cli/cmd/daemon/config.go
  cli/cmd/daemon/daemon.config.yaml
  cli/cmd/daemon/daemon_test.go
  cli/cmd/daemon/start.go
  install/charts/dir/apiserver/templates/_helpers.tpl
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  server/config/config.go
  server/config/config_test.go
  server/controller/sync.go
  server/routing/test_utils.go
  server/store/config/config.go
  server/store/store.go
  tests/e2e/client/testenv/local/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/default/dir-daemon-config.yaml
  tests/e2e/daemon/testenv/external/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/network/testenv/local/daemon-bootstrap-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer1-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer2-config.tpl.yaml
  tests/e2e/network/testenv/local/daemon-peer3-config.tpl.yaml
  tests/integration/server/setup.go
  tests/integration/server/testenv/test-config.yaml
Due: server, cli

chore(cli/import): update enricher configuration
  cli/cmd/import/enricher.json
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  cli/go.mod
  cli/go.sum
  tests/e2e/local/10_export_test.go
  tests/go.mod
  tests/go.sum
Due: cli

chore(server): drop spiffe mtls-x509 for tls-jwt only authentication
  cli/cmd/context/context_test.go
  cli/cmd/context/show.go
  cli/cmd/doctor/config.go
  cli/cmd/doctor/config_test.go
  cli/cmd/doctor/doctor_test.go
  cli/cmd/options.go
  cli/cmd/root_test.go
  cli/config/config.go
  client/README.md
  client/config.go
  client/config/config.go
  client/config/config_test.go
  client/options.go
  client/options_test.go
  client/spiffe_test.go
  docs/openshift-install.md
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values-openshift.yaml
  install/charts/dir/values.yaml
  install/charts/dirctl/values.yaml
  install/docker/apiserver.env
  install/docker/reconciler.env
  reconciler/config/config.go
  reconciler/tasks/regsync/credentials.go
  reconciler/tasks/regsync/credentials_test.go
  server/authn/config/config.go
  server/authn/service.go
  server/authn/x509.go
  server/authz/README.md
  server/config/config.go
  server/config/config_test.go
  tests/integration/server/testenv/test-config.yaml
  utils/go.mod
  utils/go.sum
  utils/spiffe/retry.go
  utils/spiffe/retry_test.go
Due: client, server, cli

chore(deps): update dir-importer to v1.4.0
  cli/go.mod
  cli/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

fix(cli): start enricher MCP server without client auth config
  .github/workflows/import-records.yaml
  cli/cmd/import/enricher.json
  cli/cmd/root.go
Due: cli

chore(workflow): remove image_version input and update dirctl setup to build from source
  .github/workflows/import-records.yaml
Due: none

chore(cli/importer): bump dir-importer and adapt CLI to the new enricher config API (#1570)
  .github/workflows/import-records.yaml
  cli/cmd/import/enricher.json
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  tests/e2e/local/10_export_test.go
  tests/go.mod
  tests/go.sum
Due: cli

feat(proto/catalog): add models and AIFinderService
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  api/catalog/v1/models.pb.go
  api/go.mod
  api/go.sum
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  proto/agntcy/dir/catalog/v1/models.proto
  proto/buf.gen.yaml
  proto/buf.lock
  proto/buf.yaml
Due: api

feat(proto/catalog): add models and AIFinderService (#1579)
  api/catalog/v1/ai_finder_service.pb.go
  api/catalog/v1/ai_finder_service.pb.gw.go
  api/catalog/v1/ai_finder_service_grpc.pb.go
  api/catalog/v1/models.pb.go
  api/go.mod
  api/go.sum
  proto/agntcy/dir/catalog/v1/ai_finder_service.proto
  proto/agntcy/dir/catalog/v1/models.proto
  proto/buf.gen.yaml
  proto/buf.lock
  proto/buf.yaml
Due: api

feat(dir/helm): follow up prod changes
  .github/workflows/demo-dir.yaml
  .github/workflows/import-records.yaml
  .github/workflows/oidc-test.yml
  client/oidc_grpc_test.go
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: client

feat(gateway): implement HTTP gateway sidecar for gRPC services
  server/config/config.go
  server/gateway/gateway.go
  server/gateway/gateway_test.go
  server/go.mod
  server/go.sum
  server/server.go
Due: server

feat(dir/helm): follow up prod changes (#1580)
  .github/workflows/demo-dir.yaml
  .github/workflows/import-records.yaml
  .github/workflows/oidc-test.yml
  client/oidc_grpc_test.go
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
Due: client

feat(catalog): implement catalog entry retrieval and pagination
  cli/go.mod
  cli/go.sum
  reconciler/go.mod
  reconciler/go.sum
  reconciler/tasks/signature/task_test.go
  server/database/catalog_test.go
  server/database/database_test.go
  server/database/gorm/catalog.go
  server/database/gorm/module.go
  server/database/gorm/record.go
  server/go.mod
  server/go.sum
  server/types/database.go
  server/types/search.go
  tests/go.mod
  tests/go.sum
Due: server, cli

feat(ai-finder): implement AI Finder controller with filtering and pagination
  server/controller/ai_finder.go
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_paging.go
  server/controller/ai_finder_test.go
  server/server.go
Due: server

feat(tests): add AI Finder ListAgents HTTP API tests
  tests/e2e/local/13_ai_finder_test.go
  tests/e2e/local/config/config.go
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/test-config.yaml
Due: none

fix(docs): fix docs taskfile command in the CI
  .github/workflows/reusable-docs.yml
Due: none

feat(helm): add HTTP gateway to the Helm chart
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/http-gateway-ingress.yaml
  install/charts/dir/apiserver/templates/http-gateway-service.yaml
  install/charts/dir/apiserver/templates/service.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
  tests/e2e/local/testenv/kind/kind-cluster.yaml
Due: none

feat(dir/server): expose an AI Finder HTTP API over a grpc-gateway sidecar (#1582)
  cli/go.mod
  cli/go.sum
  install/charts/dir/apiserver/templates/configmap.yaml
  install/charts/dir/apiserver/templates/deployment.yaml
  install/charts/dir/apiserver/templates/http-gateway-ingress.yaml
  install/charts/dir/apiserver/templates/http-gateway-service.yaml
  install/charts/dir/apiserver/templates/service.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  reconciler/go.mod
  reconciler/go.sum
  reconciler/tasks/signature/task_test.go
  server/config/config.go
  server/controller/ai_finder.go
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_paging.go
  server/controller/ai_finder_test.go
  server/database/catalog_test.go
  server/database/database_test.go
  server/database/gorm/catalog.go
  server/database/gorm/module.go
  server/database/gorm/record.go
  server/gateway/gateway.go
  server/gateway/gateway_test.go
  server/go.mod
  server/go.sum
  server/server.go
  server/types/database.go
  server/types/search.go
  tests/e2e/local/13_ai_finder_test.go
  tests/e2e/local/config/config.go
  tests/e2e/local/testenv/kind/dir-chart-values.yaml
  tests/e2e/local/testenv/kind/kind-cluster.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
  tests/e2e/local/testenv/local/test-config.yaml
  tests/go.mod
  tests/go.sum
Due: server, cli

feat(api): add aicatalog wellknown endpoint
  server/config/config.go
  server/controller/ai_finder.go
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
  server/server.go
Due: server

feat(docs): migrating docs site to dir repo. Builds on top of e33cc0d8c5819606369323602b94d2aa85c38696
  .github/workflows/reusable-docs.yml
  docs/content/dir/architecture.md
  docs/content/dir/directory-cli-reference.md
  docs/content/dir/directory-cli.md
  docs/content/dir/directory-gui.md
  docs/content/dir/directory-mcp.md
  docs/content/dir/directory-sdk.md
  docs/content/dir/events.md
  docs/content/dir/federation-profiles.md
  docs/content/dir/federation-troubleshooting.md
  docs/content/dir/getting-started.md
  docs/content/dir/overview.md
  docs/content/dir/partner-prod-federation.md
  docs/content/dir/prod-deployment.md
  docs/content/dir/records-validation.md
  docs/content/dir/runtime.md
  docs/content/dir/scenarios.md
  docs/content/dir/trust-model.md
  docs/content/dir/validation.md
Due: none

chore: add .venv to gitignore
  .gitignore
Due: none

feat(api): add aicatalog wellknown endpoint
  cli/cmd/daemon/daemon.config.yaml
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
Due: cli

feat(api): add aicatalog wellknown endpoint (#1590)
  cli/cmd/daemon/daemon.config.yaml
  server/config/config.go
  server/controller/ai_finder.go
  server/controller/ai_finder_filter.go
  server/controller/ai_finder_test.go
  server/server.go
  tests/e2e/local/testenv/local/dir-daemon-config.yaml
Due: server, cli

fix: config unit tests
  server/config/config_test.go
Due: server

fix(api): resolve config unittests (#1592)
  server/config/config_test.go
Due: server

feat(docs): moved mkdocs config to a separate directory. Aligned workflows.
  .github/workflows/docs-ci.yaml
  .github/workflows/docs-deploy.yml
  .github/workflows/reusable-docs.yml
  .gitignore
  Taskfile.yml
  docs/README.md
  docs/Taskfile.yml
  docs/mike_version.py
  docs/mike_versions.ini
  docs/mkdocs/.python-version
  docs/mkdocs/README.md
  docs/mkdocs/hooks.py
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/overrides/partials/copyright.html
  docs/mkdocs/overrides/partials/logo.html
  docs/mkdocs/overrides/partials/nav.html
  docs/mkdocs/pyproject.toml
  docs/mkdocs/uv.lock
  docs/requirements-lint.txt
  docs/requirements.txt
Due: none

fix(docs): content updates
  docs/codespellrc
  docs/content/dir/architecture.md
  docs/content/dir/dir-cli-guide.md
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-mcp-server.md
  docs/content/dir/dir-component-runtime-discovery.md
  docs/content/dir/dir-federation-profiles.md
  docs/content/dir/dir-federation-setup.md
  docs/content/dir/dir-federation-troubleshooting.md
  docs/content/dir/dir-getting-started.md
  docs/content/dir/directory-cli-reference.md
  docs/content/dir/directory-cli.md
  docs/content/dir/directory-gui.md
  docs/content/dir/directory-mcp.md
  docs/content/dir/directory-sdk.md
  docs/content/dir/events.md
  docs/content/dir/federation-profiles.md
  docs/content/dir/federation-troubleshooting.md
  docs/content/dir/getting-started.md
  docs/content/dir/overview.md
  docs/content/dir/partner-prod-federation.md
  docs/content/dir/prod-deployment.md
  docs/content/dir/records-validation.md
  docs/content/dir/runtime.md
  docs/content/dir/scenarios.md
  docs/content/dir/trust-model.md
  docs/content/dir/validation.md
Due: none

fix(docs): content updates
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-event-streaming.md
  docs/content/dir/dir-component-gui.md
  docs/content/dir/dir-component-mcp-server.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-runtime-discovery.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-federation-aws-eks.md
  docs/content/dir/dir-federation-profiles.md
  docs/content/dir/dir-federation-setup.md
  docs/content/dir/dir-federation-troubleshooting.md
  docs/content/dir/dir-overview.md
  docs/content/dir/dir-sdk.md
  docs/content/dir/dir-validation.md
  docs/content/index.md
Due: none

feat(docs): migrate docs site to dir repo (#1591)
  .github/workflows/docs-ci.yaml
  .github/workflows/docs-deploy.yml
  .github/workflows/reusable-docs.yml
  .gitignore
  Taskfile.yml
  docs/README.md
  docs/Taskfile.yml
  docs/codespellrc
  docs/content/dir/dir-cli-guide.md
  docs/content/dir/dir-cli-reference.md
  docs/content/dir/dir-component-event-streaming.md
  docs/content/dir/dir-component-gui.md
  docs/content/dir/dir-component-mcp-server.md
  docs/content/dir/dir-component-records-validation.md
  docs/content/dir/dir-component-runtime-discovery.md
  docs/content/dir/dir-features-scenarios.md
  docs/content/dir/dir-federation-aws-eks.md
  docs/content/dir/dir-federation-profiles.md
  docs/content/dir/dir-federation-setup.md
  docs/content/dir/dir-federation-troubleshooting.md
  docs/content/dir/dir-getting-started.md
  docs/content/dir/dir-overview.md
  docs/content/dir/dir-sdk.md
  docs/content/dir/dir-validation.md
  docs/content/index.md
  docs/mike_version.py
  docs/mike_versions.ini
  docs/mkdocs/.python-version
  docs/mkdocs/README.md
  docs/mkdocs/hooks.py
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/overrides/partials/copyright.html
  docs/mkdocs/overrides/partials/logo.html
  docs/mkdocs/overrides/partials/nav.html
  docs/mkdocs/pyproject.toml
  docs/mkdocs/uv.lock
  docs/requirements-lint.txt
  docs/requirements.txt
Due: none

feat(docs): add main page, community page and re-organize the site
  docs/README.md
  docs/Taskfile.yml
  docs/content/assets/lf-horizontal-black.png
  docs/content/assets/lf-horizontal-white.png
  docs/content/assets/lf-stacked-black.png
  docs/content/assets/lf-stacked-white.png
  docs/content/community.md
  docs/content/dir/dir-overview.md
  docs/content/index.md
  docs/content/javascripts/card-links.js
  docs/content/javascripts/external-links.js
  docs/content/llms.txt
  docs/content/robots.txt
  docs/content/stylesheets/agntcy-docs.css
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/overrides/main.html
  docs/mkdocs/overrides/partials/logo.html
  docs/mkdocs/overrides/partials/nav.html
Due: none

ci: add verify step to check UI static files are up to date
  .github/workflows/ci.yaml
Due: none

feat: add UI dashboard implemented with Svelte
  Taskfile.yml
  server/gateway/gateway.go
  server/gateway/static/_app/immutable/assets/0.Dw2COYac.css
  server/gateway/static/_app/immutable/chunks/B5WpyDK1.js
  server/gateway/static/_app/immutable/chunks/DzYOLsdZ.js
  server/gateway/static/_app/immutable/chunks/kNaey6uv.js
  server/gateway/static/_app/immutable/chunks/xihTtKlq.js
  server/gateway/static/_app/immutable/entry/app.SGqifQyU.js
  server/gateway/static/_app/immutable/entry/start.tdeZzLPC.js
  server/gateway/static/_app/immutable/nodes/0.BOxaOvLm.js
  server/gateway/static/_app/immutable/nodes/1.C6j_3MYY.js
  server/gateway/static/_app/immutable/nodes/2.HqbmRsBv.js
  server/gateway/static/_app/version.json
  server/gateway/static/index.html
  server/gateway/ui/.gitignore
  server/gateway/ui/README.md
  server/gateway/ui/Taskfile.yml
  server/gateway/ui/package-lock.json
  server/gateway/ui/package.json
  server/gateway/ui/src/app.css
  server/gateway/ui/src/app.html
  server/gateway/ui/src/lib/api.ts
  server/gateway/ui/src/lib/components/AgentCard.svelte
  server/gateway/ui/src/lib/components/DetailModal.svelte
  server/gateway/ui/src/lib/components/FilterSidebar.svelte
  server/gateway/ui/src/lib/components/MediaTypeBadge.svelte
  server/gateway/ui/src/lib/components/Pagination.svelte
  server/gateway/ui/src/lib/components/StarRating.svelte
  server/gateway/ui/src/lib/components/VerifiedBadge.svelte
  server/gateway/ui/src/lib/types.ts
  server/gateway/ui/src/lib/utils.ts
  server/gateway/ui/src/routes/+layout.svelte
  server/gateway/ui/src/routes/+layout.ts
  server/gateway/ui/src/routes/+page.svelte
  server/gateway/ui/svelte.config.js
  server/gateway/ui/tsconfig.json
  server/gateway/ui/vite.config.ts
Due: server

chore: bump OASF-SDK version
  cli/go.mod
  cli/go.sum
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: server, cli

fix(ui): make SvelteKit build output deterministic
  server/gateway/static/_app/immutable/chunks/DzYOLsdZ.js
  server/gateway/static/_app/immutable/chunks/mLKf-Tym.js
  server/gateway/static/_app/immutable/entry/app.CLqLIz1B.js
  server/gateway/static/_app/immutable/entry/app.SGqifQyU.js
  server/gateway/static/_app/immutable/entry/start.BQXDC4l2.js
  server/gateway/static/_app/immutable/entry/start.tdeZzLPC.js
  server/gateway/static/_app/immutable/nodes/1.C6j_3MYY.js
  server/gateway/static/_app/immutable/nodes/1.DDtPNr4j.js
  server/gateway/static/_app/version.json
  server/gateway/static/index.html
  server/gateway/ui/svelte.config.js
Due: server
