Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

feat(dir): add validation for referrer record CIDs
  client/sign.go
  client/store.go
  server/store/oci/referrers.go
  tests/e2e/local/10_referrers_test.go
Due: client, server

feat(importer): add security scanner boilerplate (#1014)
  Taskfile.yml
  cli/cmd/import/import.go
  cli/cmd/import/options.go
  importer/Taskfile.yml
  importer/config/config.go
  importer/mcp/importer.go
  importer/pipeline/dedup.go
  importer/pipeline/pipeline.go
  importer/pipeline/pipeline_test.go
  importer/pipeline/pusher.go
  importer/pipeline/pusher_test.go
  importer/scanner/behavioral/behavioral.go
  importer/scanner/behavioral/register.go
  importer/scanner/config/config.go
  importer/scanner/config/config_test.go
  importer/scanner/factory/factory.go
  importer/scanner/scanner.go
  importer/scanner/types/types.go
  importer/types/importer.go
Due: cli

fix: linter issues
  auth/authzserver/oidc_server_test.go
  auth/authzserver/payload_test.go
  auth/cmd/envoy-authz/test/mock-directory.go
Due: none

feat(dir): add validation for referrer record CIDs (#1035)
  client/sign.go
  client/store.go
  server/store/oci/referrers.go
  tests/e2e/local/10_referrers_test.go
Due: client, server

ci(dir,sdk): update reusable actions version
  .github/actions/trigger-integrations/action.yaml
  .github/workflows/buf-ci.yaml
  .github/workflows/build-feature.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/container-security-scan.yml
  .github/workflows/demo-dir.yaml
  .github/workflows/gui-ci.yaml
  .github/workflows/import-records.yaml
  .github/workflows/post-release.yml
  .github/workflows/project.yaml
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-release-sdk.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
  .github/workflows/reusable-test.yaml
Due: none

ci(dir,sdk): update reusable actions version (#1037)
  .github/actions/trigger-integrations/action.yaml
  .github/workflows/buf-ci.yaml
  .github/workflows/build-feature.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/container-security-scan.yml
  .github/workflows/demo-dir.yaml
  .github/workflows/gui-ci.yaml
  .github/workflows/import-records.yaml
  .github/workflows/post-release.yml
  .github/workflows/project.yaml
  .github/workflows/reusable-brew-update.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-release-helm.yaml
  .github/workflows/reusable-release-sdk.yaml
  .github/workflows/reusable-release.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test-sdk.yaml
  .github/workflows/reusable-test.yaml
Due: none

feat: add OIDC support for Envoy and ext-authz helm charts
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/values.yaml
  install/charts/envoy-authz/Chart.yaml
  install/charts/envoy-authz/templates/configmap-authz.yaml
  install/charts/envoy-authz/templates/configmap-envoy.yaml
  install/charts/envoy-authz/templates/deployment-authz.yaml
  install/charts/envoy-authz/templates/deployment-envoy.yaml
  install/charts/envoy-authz/values.yaml
Due: none

chore(dir): update mcp sdk package
  cli/go.mod
  cli/go.sum
  mcp/go.mod
  mcp/go.sum
  tests/go.mod
  tests/go.sum
Due: cli

chore(dir): update packages
  api/go.mod
  api/go.sum
  auth/authprovider/go.mod
  auth/authprovider/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/api/go.mod
  runtime/api/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/go.mod
  runtime/store/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

chore(dir): fix vulnerable mcp sdk go package (#1040)
  api/go.mod
  api/go.sum
  auth/authprovider/go.mod
  auth/authprovider/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/api/go.mod
  runtime/api/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/go.mod
  runtime/store/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  utils/go.mod
  utils/go.sum
Due: api, client, server, cli

fix: chart dependencies
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/charts/envoy-authz-0.1.0.tgz
  install/charts/dir/apiserver/charts/envoy-authz-0.2.0.tgz
Due: none

feat(server/database): add signature verification schema and related methods
  server/database/gorm/gorm.go
  server/database/gorm/record.go
  server/database/gorm/signature.go
  server/types/database.go
  server/types/signature.go
Due: server

fix(reconciler): remove old reverification config and update name task config
  install/charts/dir/values.yaml
  install/docker/apiserver.env
  install/docker/reconciler.env
  tests/Taskfile.test-env.yml
  tests/Taskfile.yml
Due: none

feat(search): add support for trusted records filtering in search queries
  api/search/v1/record_query.go
  api/search/v1/record_query.pb.go
  cli/cmd/search/options.go
  cli/cmd/search/search.go
  proto/agntcy/dir/search/v1/record_query.proto
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/search/v1/record_query_pb.js
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.py
  sdk/dir-py/agntcy/dir/search/v1/record_query_pb2.pyi
  server/database/gorm/record.go
  server/database/utils/utils.go
  server/types/search.go
Due: api, server, cli

feat(reconciler): add unit tests for config and task functionalities
  reconciler/config/config_test.go
  reconciler/service/service_test.go
  reconciler/tasks/indexer/config_test.go
  reconciler/tasks/indexer/task_test.go
  reconciler/tasks/name/config_test.go
  reconciler/tasks/regsync/config_test.go
Due: none

feat(signature): implement signature verification task and caching mechanism
  api/sign/v1/sign_service.pb.go
  cli/cmd/verify/options.go
  cli/cmd/verify/verify.go
  client/go.mod
  client/utils/verify/fetcher.go
  client/verify.go
  install/charts/dir/apiserver/values.yaml
  install/charts/dir/values.yaml
  install/docker/reconciler.env
  proto/agntcy/dir/sign/v1/sign_service.proto
  reconciler/README.md
  reconciler/config/config.go
  reconciler/go.mod
  reconciler/main.go
  reconciler/tasks/indexer/task.go
  reconciler/tasks/signature/config.go
  reconciler/tasks/signature/config_test.go
  reconciler/tasks/signature/task.go
  reconciler/tasks/signature/task_test.go
  sdk/dir-js/src/client/client.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.d.ts
  sdk/dir-js/src/models/agntcy/dir/sign/v1/sign_service_pb.js
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.py
  sdk/dir-py/agntcy/dir/sign/v1/sign_service_pb2.pyi
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
  sdk/examples/example-py/uv.lock
  server/controller/sign.go
  server/server.go
  tests/e2e/network/02_sync_test.go
Due: client, server, cli

fix(store): add cache invalidation for signature verifications on referrer updates
  reconciler/tasks/signature/task_test.go
  server/controller/store.go
  server/database/gorm/signature.go
  server/types/database.go
Due: server

feat(server/sign): implement provider-based filtering for signature verification responses
  server/controller/sign.go
Due: server

test(sdk/client): verification tests to ensure consistency between local and server responses
  sdk/dir-js/package-lock.json
  sdk/dir-js/test/client.test.ts
  sdk/dir-py/agntcy/dir_sdk/client/test_client.py
Due: none

feat(signature): add certificate issuer to signature verification schema and related methods
  reconciler/tasks/signature/task.go
  server/controller/sign.go
  server/database/gorm/signature.go
  server/types/signature.go
Due: server

chore: bump SPIRE version to 1.14.2
  .github/workflows/container-security-scan.yml
  Taskfile.vars.yml
Due: none

refactor: unify scanner image list
  .github/workflows/container-security-scan.yml
  Taskfile.vars.yml
  bin/Taskfile.yml
Due: none

chore(dir): bump SPIRE to 1.14.2 and unify container scan image list (#1044)
  .github/workflows/container-security-scan.yml
  Taskfile.vars.yml
  bin/Taskfile.yml
Due: none

fix(ci): list image task path
  .github/workflows/container-security-scan.yml
Due: none

fix(ci): list image task path (#1045)
  .github/workflows/container-security-scan.yml
Due: none

ci(dir): improve codecov options
  .github/workflows/gui-ci.yaml
  .github/workflows/reusable-test-e2e.yaml
  .github/workflows/reusable-test.yaml
Due: none

chore: deps
  reconciler/go.mod
  reconciler/go.sum
  server/go.mod
  server/go.sum
Due: server

feat(server): add OCI Distribution API
  EXAMPLE.md
  install/docker/apiserver.env
  install/docker/docker-compose.yml
  server/routing/routing_local_test.go
  server/server.go
  server/store/cache/cache.go
  server/store/cache/cache_test.go
  server/store/eventswrap/eventswrap.go
  server/store/eventswrap/eventswrap_test.go
  server/store/oci/server.go
  server/types/store.go
Due: server

feat: add OCI conformance
  server/Taskfile.yml
  server/store/oci/server.go
Due: server

feat: add OCI distribution ORAS proxy
  server/Taskfile.yml
  server/server.go
  server/store/eventswrap/eventswrap.go
  server/store/oci/Untitled-1.jsonc
  server/store/oci/internal/registry/pipe.go
  server/store/oci/internal/registry/registry.go
  server/store/oci/server.go
Due: server

feat: standardize OCI proxy registry implementation
  EXAMPLE.md
  install/docker/apiserver.env
  install/docker/docker-compose.yml
  server/Taskfile.yml
  server/config/config.go
  server/config/config_test.go
  server/registry/config/config.go
  server/registry/internal/registry/pipe.go
  server/registry/internal/registry/registry.go
  server/registry/registry.go
  server/routing/routing_local_test.go
  server/server.go
  server/store/cache/cache.go
  server/store/cache/cache_test.go
  server/store/eventswrap/eventswrap.go
  server/store/eventswrap/eventswrap_test.go
  server/store/oci/Untitled-1.jsonc
  server/store/oci/server.go
  server/types/store.go
Due: server

feat: standardize OCI proxy registry implementation
  .licensei.toml
  server/registry/internal/registry/pipe.go
  server/registry/registry.go
Due: server

feat(dir): add protovalidate
  api/core/v1/record.pb.go
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  proto/agntcy/dir/core/v1/record.proto
  proto/buf.lock
  proto/buf.yaml
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.js
  sdk/dir-js/src/models/buf/validate/validate_pb.js
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.py
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.pyi
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-py/uv.lock
  server/controller/store.go
  server/go.mod
  server/go.sum
  tests/e2e/local/10_referrers_test.go
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

feat(dir): add protovalidate (#1030)
  api/core/v1/record.pb.go
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  proto/agntcy/dir/core/v1/record.proto
  proto/buf.lock
  proto/buf.yaml
  reconciler/go.mod
  reconciler/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-js/src/models/agntcy/dir/core/v1/record_pb.js
  sdk/dir-js/src/models/buf/validate/validate_pb.js
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.py
  sdk/dir-py/agntcy/dir/core/v1/record_pb2.pyi
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  sdk/examples/example-py/uv.lock
  server/controller/store.go
  server/go.mod
  server/go.sum
  tests/e2e/local/10_referrers_test.go
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

fix: importer go version
  .github/workflows/import-records.yaml
Due: none

feat(tests): add production-like E2E test suite and update Taskfile
  tests/README.md
  tests/Taskfile.yml
  tests/e2e-production/README.md
  tests/e2e-production/e2e_production_suite_test.go
  tests/e2e-production/placeholder_test.go
Due: none

fix: importer go version (#1049)
  .github/workflows/import-records.yaml
Due: none

feat: behavioral scanner
  .github/workflows/import-records.yaml
  importer/go.mod
  importer/scanner/behavioral/behavioral.go
  importer/scanner/behavioral/behavioral_test.go
  importer/scanner/behavioral/output.go
  importer/scanner/behavioral/output_test.go
Due: none

feat(importer): add allowed tools to MCP server configuration
  .github/workflows/import-records.yaml
  importer/enricher/mcphost.json
Due: none
