Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

chore(dir): update deps
  CHANGELOG.md
  api/go.mod
  api/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/api/go.mod
  runtime/api/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/go.mod
  runtime/store/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

fix(ci): enable hidden paths
  .github/workflows/reusable-release.yaml
Due: none

feat(export): add export command to export records in various formats
  cli/cmd/export/export.go
  cli/cmd/export/format/format.go
  cli/cmd/export/format/format_test.go
  cli/cmd/export/format/oasf.go
  cli/cmd/export/options.go
  cli/cmd/root.go
Due: cli

fix(reconciler): update comment
  reconciler/Dockerfile
Due: none

fix(reconciler): use busybox instead of alpine
  reconciler/Dockerfile
Due: none

chore(dir): update docker syntax version
  auth/cmd/envoy-authz/Dockerfile
  cli/Dockerfile
  runtime/discovery/Dockerfile
  runtime/server/Dockerfile
  server/Dockerfile
Due: server, cli

fix(reconciler): add ca-certificate back for https connection
  reconciler/Dockerfile
Due: none

feat(tests): add e2e test for export command
  tests/e2e/local/11_export_test.go
  tests/e2e/shared/utils/cli.go
Due: none

refactor(ci): remove server build steps from reusable release workflow
  .github/workflows/reusable-release.yaml
  server/Taskfile.yml
Due: server

fix(ci): unify dirctl path across actions and wfs
  .github/actions/build-dirctl/action.yaml
  .github/actions/publish-record/action.yaml
  .github/actions/publish-record/publish.sh
  .github/actions/push-record/action.yaml
  .github/actions/push-record/push.sh
  .github/actions/setup-dirctl/action.yaml
  .github/actions/setup-dirctl/setup-dirctl.sh
  .github/actions/sign-record/action.yaml
  .github/actions/sign-record/sign.sh
  .github/actions/validate-record/action.yaml
  .github/actions/validate-record/validate.sh
  .github/workflows/demo-dir.yaml
  .github/workflows/import-records.yaml
Due: none

fix: update dirctl path
  .github/actions/publish-record/publish.sh
  .github/actions/push-record/push.sh
  .github/actions/sign-record/sign.sh
  .github/workflows/demo-dir.yaml
Due: none

fix(ci): update to v1.2.0 and update the flags and anv vars
  .github/actions/publish-record/action.yaml
  .github/actions/publish-record/publish.sh
  .github/actions/push-record/action.yaml
  .github/actions/push-record/push.sh
  .github/actions/sign-record/action.yaml
  .github/actions/sign-record/sign.sh
  .github/workflows/demo-dir.yaml
  .github/workflows/import-records.yaml
Due: none

fix(cli): update stale auth command help text
  cli/cmd/auth/auth.go
  cli/cmd/auth/logout.go
  cli/cmd/auth/status.go
  cli/cmd/auth/status_logout_test.go
Due: cli

fix(cli): expired OIDC token related error message
  client/client_test.go
  client/oidc_grpc.go
  client/oidc_grpc_test.go
  client/options.go
  client/options_test.go
Due: client

feat(export): add SKILL.md format support
  cli/cmd/export/export.go
  cli/cmd/export/format/skill.go
  cli/cmd/export/format/skill_test.go
  cli/cmd/export/options.go
  cli/go.mod
  tests/e2e/local/11_export_test.go
  tests/e2e/shared/testdata/code-review/SKILL.md
  tests/e2e/shared/testdata/embed.go
  tests/e2e/shared/utils/cli.go
Due: cli

feat(export): add A2A format support
  cli/cmd/export/export.go
  cli/cmd/export/format/a2a.go
  cli/cmd/export/format/a2a_test.go
  cli/cmd/export/options.go
  tests/e2e/local/11_export_test.go
  tests/e2e/shared/testdata/a2a-agent-card.json
  tests/e2e/shared/testdata/embed.go
Due: cli

feat(importer): add StaticEnricher for testing and support enricher override in configuration
  importer/config/config.go
  importer/enricher/static.go
  importer/factory/factory.go
  importer/importer.go
  proto/buf.lock
  tests/e2e/local/11_export_test.go
  tests/e2e/shared/testdata/code-review/SKILL.md
  tests/go.mod
Due: none

feat(client): auto-refresh cached OIDC credentials
  client/oidc.go
  client/oidc_grpc.go
  client/oidc_grpc_test.go
  client/oidc_test.go
  client/token_cache.go
  client/token_cache_test.go
Due: client

fix: task gen
  proto/buf.lock
Due: none

chore(dir): remove SDK-specific steps of Renovate Sync workflow
  .github/workflows/dependencies.yaml
Due: none

feat(cli/export): add mcp-ghcopilot format support
  cli/cmd/export/format/a2a.go
  cli/cmd/export/format/format.go
  cli/cmd/export/format/mcp.go
  cli/cmd/export/format/mcp_test.go
  cli/cmd/export/format/oasf.go
  tests/e2e/local/11_export_test.go
  tests/e2e/shared/testdata/embed.go
  tests/e2e/shared/testdata/mcp-server.json
Due: cli

feat(dir/helm): add dedicated Envoy timeout handling for EventService/Listen
  install/charts/dir/apiserver/values.yaml
  install/charts/envoy-authz/templates/configmap-envoy.yaml
  install/charts/envoy-authz/values.yaml
Due: none

fix(workflow): update import command to use mcp-registry type
  .github/workflows/import-records.yaml
Due: none

fix(dir): fix renovate errors
  .github/workflows/dependencies.yaml
  renovate.json
Due: none

feat(importer): dedup checker to work with all supported types
  importer/dedup/dedup.go
  importer/dedup/dedup_test.go
  importer/importer.go
Due: none

refactor(server): use busybox for coverage docker base image
  server/Dockerfile
Due: server

fix(dir): use versioned tag for busybox images
  reconciler/Dockerfile
  server/Dockerfile
Due: server

chore(dir): bump zot image version
  Taskfile.vars.yml
  install/docker/docker-compose.yml
  tests/e2e/daemon/docker-compose.yaml
Due: none

feat(dir): add kind registry credential from local machine
  Taskfile.vars.yml
  tests/Taskfile.test-env.yml
Due: none

fix(e2e): run test commands multiple times in a test case
  tests/e2e/local/11_export_test.go
  tests/e2e/network/02_sync_test.go
  tests/e2e/network/03_search_test.go
  tests/e2e/network/04_gossipsub_test.go
  tests/e2e/network/05_name_resolution_test.go
Due: none

fix(e2e): add ShouldEventuallyContain to StdinCommandBuilder
  tests/e2e/network/02_sync_test.go
  tests/e2e/shared/utils/cli.go
Due: none

refactor: remove mcphost 3rd party lib
  cli/go.mod
Due: cli

feat(helm): replace envoy-authz local dep with oidc-gateway OCI chart
  api/go.mod
  api/go.sum
  auth/authzserver/go.mod
  auth/authzserver/go.sum
  auth/cmd/envoy-authz/go.mod
  auth/cmd/envoy-authz/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  importer/go.mod
  importer/go.sum
  install/charts/dir/apiserver/Chart.lock
  install/charts/dir/apiserver/Chart.yaml
  install/charts/dir/apiserver/values.yaml
  mcp/go.mod
  mcp/go.sum
  reconciler/go.mod
  reconciler/go.sum
  runtime/api/go.mod
  runtime/api/go.sum
  runtime/discovery/go.mod
  runtime/discovery/go.sum
  runtime/server/go.mod
  runtime/server/go.sum
  runtime/store/go.mod
  runtime/store/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Due: api, client, server, cli

feat(cli/search): split filter flags for search commands
  cli/cmd/search/filters.go
  cli/cmd/search/options.go
Due: cli

feat(cli/export): enhance export command with batch processing
  cli/cmd/export/export.go
  cli/cmd/export/format/batch_test.go
  cli/cmd/export/format/format.go
  cli/cmd/export/format/mcp.go
  cli/cmd/export/format/skill.go
  cli/cmd/export/options.go
Due: cli

feat(cli/export): add support for exporting all versions in batch export
  cli/cmd/export/export.go
  cli/cmd/export/format/batch.go
  cli/cmd/export/format/batch_test.go
  cli/cmd/export/format/format.go
  cli/cmd/export/format/mcp.go
  cli/cmd/export/format/skill.go
  cli/cmd/export/options.go
Due: cli

feat(cli/export): implement batch export tests
  cli/cmd/export/format/batch.go
  cli/cmd/export/format/batch_test.go
  tests/e2e/local/11_export_test.go
  tests/e2e/shared/testdata/embed.go
  tests/e2e/shared/testdata/skill_record.json
  tests/e2e/shared/utils/cli.go
  tests/e2e/shared/utils/common.go
Due: cli
