Repository agntcy/dir: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, server, cli

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    after_n_builds: 1

comment:
  layout: "header, diff, flags, components"
  hide_project_coverage: false
  require_changes: false
  require_base: false
  require_head: true
  behavior: default

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/
    - component_id: module_client
      name: client
      paths:
        - client/
    - component_id: module_server
      name: server
      paths:
        - server/
    - component_id: module_cli
      name: cli
      paths:
        - cli/

coverage:
  precision: 1
  round: nearest
  range: 40..90
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true
    changes: false

ignore:
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "e2e/**"
  - "**/testdata/**"

fix: cleaner apikey methods
  hub/cmd/pull/pull.go
  hub/cmd/push/push.go
  hub/cmd/sign/sign.go
  hub/cmd/verify/verify.go
  hub/utils/auth/auth.go
Due: none

feat: add mcp dirctl subcommand
  cli/cmd/mcp/mcp.go
  cli/cmd/mcp/serve.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  mcp/main.go
  mcp/server/server.go
Due: cli

fix: golangci-lint
  e2e/go.mod
  e2e/go.sum
  mcp/server/server.go
Due: none

chore: remove HELP_TEXT_UPDATE_SUMMARY.md
  HELP_TEXT_UPDATE_SUMMARY.md
Due: none

chore: remove HELP_TEXT_UPDATE_SUMMARY.md (#662)
  HELP_TEXT_UPDATE_SUMMARY.md
Due: none

ci: remove mcp from release artefacts
  .github/workflows/reusable-release.yaml
Due: none

feat(dir): add mcp dirctl subcommand (#660)
  .github/workflows/reusable-release.yaml
  cli/cmd/mcp/mcp.go
  cli/cmd/mcp/serve.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  e2e/go.mod
  e2e/go.sum
  mcp/main.go
  mcp/server/server.go
Due: cli

refactor: comment out mcp server docker image
  docker-bake.hcl
Due: none

refactor: comment out mcp server docker image (#663)
  docker-bake.hcl
Due: none

fix: cleaner apikey methods (#659)
  hub/cmd/pull/pull.go
  hub/cmd/push/push.go
  hub/cmd/sign/sign.go
  hub/cmd/verify/verify.go
  hub/utils/auth/auth.go
Due: none

feat: update spec
  DAG.md
Due: none

fix: sign and verify options
  hub/cmd/hub.go
  hub/cmd/sign/sign.go
  hub/cmd/verify/verify.go
Due: none

docs: update MCP server docs
  mcp/README.md
Due: none

fix: sign and verify options (#673)
  hub/cmd/hub.go
  hub/cmd/sign/sign.go
  hub/cmd/verify/verify.go
Due: none

docs: update MCP server docs
  docker-bake.hcl
Due: none

docs(dir): update MCP server docs (#674)
  docker-bake.hcl
  mcp/README.md
Due: none

refactor: remove mcp binary, dockerfile
  .github/workflows/reusable-release.yaml
  Taskfile.yml
  docker-bake.hcl
  mcp/Dockerfile
Due: none

fix(dir): add alternative dns name for cert
  Taskfile.yml
  install/charts/dir/apiserver/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/values.yaml
Due: none

feat(sdk/js): add tls grpc channel
  sdk/dir-js/src/client/client.ts
Due: none

feat(sdk/js): add tls config options
  sdk/dir-js/src/client/client.ts
Due: none

feat: add additional tls
  cli/cmd/options.go
  client/config.go
  client/options.go
  docs/research/token/fetcher.sh
  docs/research/token/fetcher.yaml
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/examples/example-py/uv.lock
Due: client, cli

fix(sdk/python): use empty string to insecure grpc
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
Due: none

feat(sdk/python): add tls variables to config
  sdk/dir-py/agntcy/dir_sdk/client/config.py
Due: none

fix(sdk): use env vars for examples
  sdk/examples/example-py/example.py
Due: none

chore(sdk/python): update example record
  sdk/examples/example-py/example.py
Due: none

feat(sdk/python): add tls grpc channel to client
  sdk/dir-py/agntcy/dir_sdk/client/client.py
Due: none

fix(sdk/js): update example record
  sdk/examples/example-js/example.js
Due: none

fix(sdk/js): use empty string for insecure grpc
  sdk/dir-js/src/client/client.ts
Due: none

fix(dir): bring back double quote
  install/charts/dir/apiserver/values.yaml
Due: none

feat(sdk): add tls grpc auth method (#649)
  Taskfile.yml
  cli/cmd/options.go
  client/config.go
  client/options.go
  docs/research/token/fetcher.sh
  docs/research/token/fetcher.yaml
  install/charts/dir/apiserver/templates/clusterspiffeids.yaml
  install/charts/dir/apiserver/values.yaml
  sdk/dir-js/src/client/client.ts
  sdk/dir-py/agntcy/dir_sdk/client/client.py
  sdk/dir-py/agntcy/dir_sdk/client/config.py
  sdk/examples/example-js/example.js
  sdk/examples/example-py/example.py
  sdk/examples/example-py/uv.lock
Due: client, cli

docs(dir): update MCP server docs (#677)
  .github/workflows/reusable-release.yaml
  Taskfile.yml
  docker-bake.hcl
  mcp/Dockerfile
  mcp/README.md
Due: none

release(dir): prepare release v0.5.0
  RELEASE.md
  Taskfile.yml
  cli/go.mod
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: client, server, cli

chore: update changelog with v0.5.0 changes
  CHANGELOG.md
  README.md
  api/LICENSE.md
  client/LICENSE.md
Due: api, client

chore: update changelog with v0.5.0 changes
  CHANGELOG.md
Due: none

release(dir): prepare release v0.5.0 (#675)
  CHANGELOG.md
  README.md
  RELEASE.md
  Taskfile.yml
  api/LICENSE.md
  cli/go.mod
  client/LICENSE.md
  client/go.mod
  e2e/go.mod
  hub/go.mod
  importer/go.mod
  mcp/go.mod
  sdk/dir-js/package-lock.json
  sdk/dir-js/package.json
  sdk/dir-py/pyproject.toml
  sdk/dir-py/uv.lock
  server/go.mod
  versions.yaml
Due: api, client, server, cli

fix(sdk): use x509 auth mode for testing
  Taskfile.yml
  e2e/sdk/Dockerfile
  e2e/sdk/chart/values.yaml
Due: none

fix(sdk): use x509 auth mode for testing (#678)
  Taskfile.yml
  e2e/sdk/Dockerfile
  e2e/sdk/chart/values.yaml
Due: none

chore: update oasf-sdk v0.0.9 -> v0.0.11
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  client/go.mod
  client/go.sum
  e2e/go.mod
  e2e/go.sum
  hub/go.mod
  hub/go.sum
  importer/go.mod
  importer/go.sum
  mcp/go.mod
  mcp/go.sum
  server/go.mod
  server/go.sum
Due: api, client, server, cli
